openapi: 3.0.2
info:
  version: 1.3.43
  title: Lane Proposals API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: Lane offers a feature-rich, end-to-end order management system for asset leasing, loans and credit companies. Our platform covers all aspects, from conducting end-to-end sales to performing dealer and partner-related tasks and marketing-related activities.
servers:
- url: https://dms-api.netsolapp.io
tags:
- name: Proposals
paths:
  /dms/order/proposal:
    post:
      tags:
      - Proposals
      summary: Create new order proposal for broker
      operationId: save_proposal_dms_order_proposal_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProposalRequestModel'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProposalResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    patch:
      tags:
      - Proposals
      summary: Update order proposal for broker
      operationId: update_proposal_dms_order_proposal_patch
      parameters:
      - required: true
        schema:
          title: Identifier
          type: string
        name: identifier
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProposalRequestModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProposalResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/order/change-proposal-status:
    patch:
      tags:
      - Proposals
      summary: Update order proposal status
      operationId: update_proposal_status_dms_order_change_proposal_status_patch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProposalStatusRequestModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/order/proposal-dashboard-analytics:
    get:
      tags:
      - Proposals
      summary: Get order proposal analytics for broker dashboard
      operationId: get_proposal_dashboard_analytics_dms_order_proposal_dashboard_analytics_get
      parameters:
      - description: Accepts only string values
        required: false
        schema:
          title: statuses
          type: array
          items:
            type: string
          description: Accepts only string values
        name: statuses
        in: query
      - required: false
        schema:
          title: Dealer Id
          type: string
        name: dealer_id
        in: query
      - required: false
        schema:
          title: Broker Id
          type: string
        name: broker_id
        in: query
      - required: false
        schema:
          title: Name
          type: string
        name: name
        in: query
      - required: false
        schema:
          title: Product Type
          type: string
        name: product_type
        in: query
      - required: false
        schema:
          title: Finance Type
          type: string
        name: finance_type
        in: query
      - required: false
        schema:
          title: Customer Name
          type: string
        name: customer_name
        in: query
      - required: false
        schema:
          title: Lender Name
          type: string
        name: lender_name
        in: query
      - required: false
        schema:
          title: Dealer Name
          type: string
        name: dealer_name
        in: query
      - required: false
        schema:
          title: Introducer Name
          type: string
        name: introducer_name
        in: query
      - required: false
        schema:
          title: Date Submitted
          type: string
        name: date_submitted
        in: query
      - required: false
        schema:
          title: Start Date
          type: string
        name: start_date
        in: query
      - required: false
        schema:
          title: End Date
          type: string
        name: end_date
        in: query
      - required: false
        schema:
          title: Finance Amount
          type: number
        name: finance_amount
        in: query
      - required: false
        schema:
          title: Updated At
          type: string
        name: updated_at
        in: query
      - required: false
        schema:
          $ref: '#/components/schemas/SortByQuickQuotation'
        name: sort_by
        in: query
      - required: false
        schema:
          $ref: '#/components/schemas/SortEnum'
        name: sort_order
        in: query
      - required: false
        schema:
          title: Updated At From
          type: string
        name: updated_at_from
        in: query
      - required: false
        schema:
          title: Updated At To
          type: string
        name: updated_at_to
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get Proposal Dashboard Analytics Dms Order Proposal Dashboard Analytics Get
                type: array
                items:
                  $ref: '#/components/schemas/ProposalDashboardAnalyticsModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
components:
  schemas:
    SortEnum:
      title: SortEnum
      enum:
      - asc
      - desc
      type: string
      description: An enumeration.
    CustomerProposalDocuments:
      title: CustomerProposalDocuments
      type: object
      properties:
        customer_reference_id:
          title: Customer Reference Id
          type: string
        external_reference_id:
          title: External Reference Id
          type: string
        document_reference_id:
          title: Document Reference Id
          type: string
        document_type:
          title: Document Type
          type: string
        content_type:
          title: Content Type
          type: string
        comment:
          title: Comment
          type: string
        category:
          title: Category
          type: string
        document:
          title: Document
          type: string
        document_name:
          title: Document Name
          type: string
        document_size:
          title: Document Size
          type: string
        document_url:
          title: Document Url
          type: string
        reason_by_system:
          title: Reason By System
          type: string
        reason_for_customer:
          title: Reason For Customer
          type: string
        document_status:
          title: Document Status
          type: string
        document_upload_indicator:
          title: Document Upload Indicator
          type: boolean
          default: false
        expires_at:
          title: Expires At
          type: string
          description: 'format: YYYY-MM-DD hh:mm:ss'
          format: date-time
        created_at:
          title: Created At
          type: string
          description: 'format: YYYY-MM-DD hh:mm:ss'
          format: date-time
        updated_at:
          title: Updated At
          type: string
          description: 'format: YYYY-MM-DD hh:mm:ss'
          format: date-time
        deleted_at:
          title: Deleted At
          type: string
          description: 'format: YYYY-MM-DD hh:mm:ss'
          format: date-time
        updated_by:
          title: Updated By
          type: string
        created_by:
          title: Created By
          type: string
        deleted_by:
          title: Deleted By
          type: string
        uploaded_by:
          title: Uploaded By
          type: string
        uploaded_at:
          title: Uploaded At
          type: string
          format: date-time
        is_deleted:
          title: Is Deleted
          type: boolean
          default: false
        identifier:
          title: Identifier
          type: string
        stipulation_code:
          title: Stipulation Code
          type: string
        is_mandatory:
          title: Is Mandatory
          type: boolean
          default: false
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
    OrderCommentsModel:
      title: OrderCommentsModel
      type: object
      properties:
        identifier:
          title: Identifier
          type: string
        order_reference_id:
          title: Order Reference Id
          type: string
        customer_id:
          title: Customer Id
          type: string
        category:
          $ref: '#/components/schemas/CommentDiaryCategory'
        comment:
          title: Comment
          type: string
        created_by:
          title: Created By
          type: string
        created_at:
          title: Created At
          type: string
          format: date-time
        updated_by:
          title: Updated By
          type: string
        updated_at:
          title: Updated At
          type: string
          format: date-time
    ProposalCustomerDetails:
      title: ProposalCustomerDetails
      type: object
      properties:
        identifier:
          title: Identifier
          type: string
        reference_id:
          title: Reference Id
          type: string
        customer_type:
          title: Customer Type
          type: string
        first_name:
          title: First Name
          type: string
        last_name:
          title: Last Name
          type: string
        email:
          title: Email
          type: string
        mobile_number:
          title: Mobile Number
          type: string
        company_registration_number:
          title: Company Registration Number
          type: string
        company_name:
          title: Company Name
          type: string
        trading_as:
          title: Trading As
          type: string
        year_business_established:
          title: Year Business Established
          type: string
        nature_of_business:
          title: Nature Of Business
          type: string
        sic_code:
          title: Sic Code
          type: string
        id_number:
          title: Id Number
          type: string
        address:
          $ref: '#/components/schemas/ProposalCustomerAddressModel'
        partners:
          title: Partners
          type: array
          items:
            $ref: '#/components/schemas/CustomerPartnerDetails'
        customer_documents:
          title: Customer Documents
          type: array
          items:
            $ref: '#/components/schemas/CustomerProposalDocuments'
    CommentDiaryCategory:
      title: CommentDiaryCategory
      enum:
      - General
      - Underwriting
      - Change Requests
      type: string
      description: An enumeration.
    ProposalRequestModel:
      title: ProposalRequestModel
      type: object
      properties:
        name:
          title: Name
          type: string
        introducer_identifier:
          title: Introducer Identifier
          type: string
        introducer_name:
          title: Introducer Name
          type: string
        dealer_id:
          title: Dealer Id
          type: integer
        lender_id:
          title: Lender Id
          type: integer
        broker_id:
          title: Broker Id
          type: integer
        start_date:
          title: Start Date
          type: string
          format: date
        end_date:
          title: End Date
          type: string
          format: date
        status:
          title: Status
          type: string
        created_by:
          title: Created By
          type: string
        selling_price:
          title: Selling Price
          type: number
        down_payment:
          title: Down Payment
          type: number
        estimated_monthly_payment:
          title: Estimated Monthly Payment
          type: number
        sum_of_advance_rentals:
          title: Sum Of Advance Rentals
          type: number
        no_of_advance_payments:
          title: No Of Advance Payments
          type: integer
        no_of_regular_payments:
          title: No Of Regular Payments
          type: integer
        rental_frequency:
          title: Rental Frequency
          type: string
        deferral_amount:
          title: Deferral Amount
          type: number
        rv_balloon_value:
          title: Rv Balloon Value
          type: number
        balloon_collection:
          title: Balloon Collection
          type: string
        calculations_type:
          title: Calculations Type
          type: string
        program_type:
          title: Program Type
          type: string
        product_type:
          title: Product Type
          type: string
        finance_type:
          title: Finance Type
          type: string
        finance_amount:
          title: Finance Amount
          type: number
        gross_profit:
          title: Gross Profit
          type: number
        due_at_signing:
          title: Due At Signing
          type: number
        comments:
          title: Comments
          type: string
        meta_data:
          title: Meta Data
          type: object
        commission_amount:
          title: Commission Amount
          type: number
        vat_treatment:
          title: Vat Treatment
          type: string
        tax_amount:
          title: Tax Amount
          type: number
        tax_amount_number:
          title: Tax Amount Number
          type: integer
        deferred_type:
          title: Deferred Type
          type: string
        reference_number:
          title: Reference Number
          type: string
        rental_mode:
          title: Rental Mode
          type: string
        rate_type:
          title: Rate Type
          type: string
        margin:
          title: Margin
          type: number
        commission_type:
          title: Commission Type
          type: string
        running_id:
          title: Running Id
          type: string
        non_vatable_amount:
          title: Non Vatable Amount
          type: number
        customer:
          $ref: '#/components/schemas/ProposalCustomerDetails'
        order_assets:
          title: Order Assets
          type: array
          items:
            $ref: '#/components/schemas/ProposalAssetsModel'
        order_fees:
          title: Order Fees
          type: array
          items:
            $ref: '#/components/schemas/QuickQuoteFeeModel'
        order_payments:
          title: Order Payments
          type: array
          items:
            $ref: '#/components/schemas/QuickQuotePaymentModel'
        order_stakeholders:
          title: Order Stakeholders
          type: array
          items:
            $ref: '#/components/schemas/OrderStakeholderBaseModel'
        order_comments:
          title: Order Comments
          type: array
          items:
            $ref: '#/components/schemas/OrderCommentsModel'
    SortByQuickQuotation:
      title: SortByQuickQuotation
      enum:
      - customer_name
      - lender_name
      - dealer_name
      - introducer_name
      - name
      - finance_type
      - product_type
      - finance_amount
      - updated_at
      - date_submitted
      - start_date
      - end_date
      - statuses
      type: string
      description: An enumeration.
    ProposalDashboardAnalyticsModel:
      title: ProposalDashboardAnalyticsModel
      type: object
      properties:
        identifier:
          title: Identifier
          type: string
        updated_at:
          title: Updated At
          type: string
          format: date
        status:
          title: Status
          type: string
        name:
          title: Name
          type: string
        product_type:
          title: Product Type
          type: string
        finance_type:
          title: Finance Type
          type: string
        customer_name:
          title: Customer Name
          type: string
        introducer_name:
          title: Introducer Name
          type: string
        lender_name:
          title: Lender Name
          type: string
        dealer_name:
          title: Dealer Name
          type: string
        date_submitted:
          title: Date Submitted
          type: string
          format: date
        finance_amount:
          title: Finance Amount
          type: string
        start_date:
          title: Start Date
          type: string
          format: date
        end_date:
          title: End Date
          type: string
          format: date
        age_in_seconds:
          title: Age In Seconds
          type: string
        company_name:
          title: Company Name
          type: string
        first_name:
          title: First Name
          type: string
        middle_name:
          title: Middle Name
          type: string
        last_name:
          title: Last Name
          type: string
        customer_type:
          title: Customer Type
          type: string
        running_id:
          title: Running Id
          type: string
    ProposalAssetsModel:
      title: ProposalAssetsModel
      type: object
      properties:
        id:
          title: Id
          type: integer
        identifier:
          title: Identifier
          type: string
        category:
          title: Category
          type: string
        asset_type:
          title: Asset Type
          type: string
        asset_sub_type:
          title: Asset Sub Type
          type: string
        supplier_name:
          title: Supplier Name
          type: string
        description:
          title: Description
          type: string
        unit_price:
          title: Unit Price
          type: string
        quantity:
          title: Quantity
          type: string
        total:
          title: Total
          type: string
        age:
          title: Age
          type: number
        condition:
          title: Condition
          type: array
          items:
            type: string
        rv_balloon_amount:
          title: Rv Balloon Amount
          type: number
    QuickQuotePaymentModel:
      title: QuickQuotePaymentModel
      type: object
      properties:
        identifier:
          title: Identifier
          type: string
        payment_number_from:
          title: Payment Number From
          type: integer
        payment_number_to:
          title: Payment Number To
          type: integer
        amount:
          title: Amount
          type: number
        payment_type:
          title: Payment Type
          type: string
        order_id:
          title: Order Id
          type: integer
    QuickQuoteFeeModel:
      title: QuickQuoteFeeModel
      type: object
      properties:
        id:
          title: Id
          type: integer
        identifier:
          title: Identifier
          type: string
        dealer_fee_name:
          title: Dealer Fee Name
          type: string
        applied_price:
          title: Applied Price
          type: number
        order_id:
          title: Order Id
          type: integer
        fee_frequency:
          title: Fee Frequency
          type: string
        fee_occurance:
          title: Fee Occurance
          type: string
        fee_first_due_date:
          title: Fee First Due Date
          type: string
    CustomerPartnerAddress:
      title: CustomerPartnerAddress
      required:
      - address_type
      type: object
      properties:
        identifier:
          title: Identifier
          type: string
        address_line_1:
          title: Address Line 1
          type: string
        address_type:
          $ref: '#/components/schemas/AddressTypes'
    OrderStakeholderBaseModel:
      title: OrderStakeholderBaseModel
      type: object
      properties:
        identifier:
          title: Identifier
          type: string
        order_identifier:
          title: Order Identifier
          type: string
        stakeholder_reference_id:
          title: Stakeholder Reference Id
          type: string
        name:
          title: Name
          type: string
        email:
          title: Email
          type: string
        role:
          title: Role
          type: string
        position:
          title: Position
          type: string
        contact_number:
          title: Contact Number
          type: string
        address_id:
          title: Address Id
          type: string
    UpdateProposalStatusRequestModel:
      title: UpdateProposalStatusRequestModel
      required:
      - identifier
      - current_status
      - next_status
      type: object
      properties:
        identifier:
          title: Identifier
          type: string
        current_status:
          $ref: '#/components/schemas/OrderProposalStatus'
        next_status:
          $ref: '#/components/schemas/OrderProposalStatus'
        created_by:
          title: Created By
          type: string
        created_at:
          title: Created At
          type: string
        updated_at:
          title: Updated At
          type: string
        comment_data:
          $ref: '#/components/schemas/OrderCommentsModel'
    OrderProposalStatus:
      title: OrderProposalStatus
      enum:
      - Draft
      - New
      - Submitted
      - Approved
      - Conditioned
      - Conditional Approval
      - Additional Info Required
      - Declined
      - Withdrawn
      - Documents Sent
      - Documents Received
      - Sent for Payout
      - Paid Out
      - Awaiting Compliance
      - Complied
      - Awaiting More
      - Fully Received
      - Deferred
      type: string
      description: An enumeration.
    CustomerPartnerDetails:
      title: CustomerPartnerDetails
      type: object
      properties:
        identifier:
          title: Identifier
          type: string
        first_name:
          title: First Name
          type: string
        last_name:
          title: Last Name
          type: string
        email:
          title: Email
          type: string
        contact_number:
          title: Contact Number
          type: string
        address:
          $ref: '#/components/schemas/CustomerPartnerAddress'
        role:
          title: Role
          type: string
    AddressTypes:
      title: AddressTypes
      enum:
      - Mailing
      - Invoice
      - Office
      - Garaging
      - DealerAddress
      - DrivingLicense
      - Billing
      - InsuranceAddress
      - Residential
      - Employment
      type: string
      description: An enumeration.
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    ProposalCustomerAddressModel:
      title: ProposalCustomerAddressModel
      type: object
      properties:
        identifier:
          title: Identifier
          type: string
        address_line_1:
          title: Address Line 1
          type: string
        address_line_2:
          title: Address Line 2
          type: string
        city:
          title: City
          type: string
        zip_code:
          title: Zip Code
          type: string
        county:
          title: County
          type: string
        move_in_date:
          title: Move In Date
          type: string
          format: date-time
    ProposalResponseModel:
      title: ProposalResponseModel
      type: object
      properties:
        name:
          title: Name
          type: string
        introducer_identifier:
          title: Introducer Identifier
          type: string
        introducer_name:
          title: Introducer Name
          type: string
        dealer_id:
          title: Dealer Id
          type: integer
        lender_id:
          title: Lender Id
          type: integer
        broker_id:
          title: Broker Id
          type: integer
        start_date:
          title: Start Date
          type: string
          format: date
        end_date:
          title: End Date
          type: string
          format: date
        status:
          title: Status
          type: string
        created_by:
          title: Created By
          type: string
        selling_price:
          title: Selling Price
          type: number
        down_payment:
          title: Down Payment
          type: number
        estimated_monthly_payment:
          title: Estimated Monthly Payment
          type: number
        sum_of_advance_rentals:
          title: Sum Of Advance Rentals
          type: number
        no_of_advance_payments:
          title: No Of Advance Payments
          type: integer
        no_of_regular_payments:
          title: No Of Regular Payments
          type: integer
        rental_frequency:
          title: Rental Frequency
          type: string
        deferral_amount:
          title: Deferral Amount
          type: number
        rv_balloon_value:
          title: Rv Balloon Value
          type: number
        balloon_collection:
          title: Balloon Collection
          type: string
        calculations_type:
          title: Calculations Type
          type: string
        program_type:
          title: Program Type
          type: string
        product_type:
          title: Product Type
          type: string
        finance_type:
          title: Finance Type
          type: string
        finance_amount:
          title: Finance Amount
          type: number
        gross_profit:
          title: Gross Profit
          type: number
        due_at_signing:
          title: Due At Signing
          type: number
        comments:
          title: Comments
          type: string
        meta_data:
          title: Meta Data
          type: object
        commission_amount:
          title: Commission Amount
          type: number
        vat_treatment:
          title: Vat Treatment
          type: string
        tax_amount:
          title: Tax Amount
          type: number
        tax_amount_number:
          title: Tax Amount Number
          type: integer
        deferred_type:
          title: Deferred Type
          type: string
        reference_number:
          title: Reference Number
          type: string
        rental_mode:
          title: Rental Mode
          type: string
        rate_type:
          title: Rate Type
          type: string
        margin:
          title: Margin
          type: number
        commission_type:
          title: Commission Type
          type: string
        running_id:
          title: Running Id
          type: string
        non_vatable_amount:
          title: Non Vatable Amount
          type: number
        identifier:
          title: Identifier
          type: string
        customer:
          $ref: '#/components/schemas/ProposalCustomerDetails'
        order_assets:
          title: Order Assets
          type: array
          items:
            $ref: '#/components/schemas/ProposalAssetsModel'
        order_fees:
          title: Order Fees
          type: array
          items:
            $ref: '#/components/schemas/QuickQuoteFeeModel'
        order_payments:
          title: Order Payments
          type: array
          items:
            $ref: '#/components/schemas/QuickQuotePaymentModel'
        order_stakeholders:
          title: Order Stakeholders
          type: array
          items:
            $ref: '#/components/schemas/OrderStakeholderBaseModel'
        order_comments:
          title: Order Comments
          type: array
          items:
            $ref: '#/components/schemas/OrderCommentsModel'
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: /signup/verify-otp
externalDocs:
  url: https://developer.appexnow.com/docs/lane/overview
  description: Product Documentation
