openapi: 3.0.2
info:
  version: 1.3.43
  title: Lane Order  Stakeholder  Management API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: Lane offers a feature-rich, end-to-end order management system for asset leasing, loans and credit companies. Our platform covers all aspects, from conducting end-to-end sales to performing dealer and partner-related tasks and marketing-related activities.
servers:
- url: https://dms-api.netsolapp.io
tags:
- name: Order  Stakeholder  Management
paths:
  /dms/order/stakeholder/:
    get:
      tags:
      - Order  Stakeholder  Management
      summary: Get order stakeholder
      operationId: get_order_stakeholder_dms_order_stakeholder__get
      parameters:
      - required: false
        schema:
          title: Identifier
          type: string
        name: identifier
        in: query
      - required: false
        schema:
          title: Order Identifier
          type: string
        name: order_identifier
        in: query
      - required: false
        schema:
          title: Stakeholder Reference Id
          type: string
        name: stakeholder_reference_id
        in: query
      - required: false
        schema:
          title: Name
          type: string
        name: name
        in: query
      - required: false
        schema:
          title: Role
          type: string
        name: role
        in: query
      - required: false
        schema:
          title: Email
          type: string
        name: email
        in: query
      - required: false
        schema:
          title: Position
          type: string
        name: position
        in: query
      - required: false
        schema:
          $ref: '#/components/schemas/SortByOrderStakeholder'
        name: sort_by
        in: query
      - required: false
        schema:
          $ref: '#/components/schemas/SortEnum'
        name: sort_order
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get Order Stakeholder Dms Order Stakeholder  Get
                type: array
                items:
                  $ref: '#/components/schemas/OrderStakeholderValidationModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - Order  Stakeholder  Management
      summary: Create new order stakeholder
      operationId: create_order_stakeholder_dms_order_stakeholder__post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderStakeholderValidationModel'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderStakeholderValidationModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - Order  Stakeholder  Management
      summary: Update order stakeholder
      operationId: delete_order_stakeholder_dms_order_stakeholder__delete
      parameters:
      - required: true
        schema:
          title: Identifier
          type: string
        name: identifier
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
      - Order  Stakeholder  Management
      summary: Update order stakeholder
      operationId: update_order_stakeholder_dms_order_stakeholder__patch
      parameters:
      - required: true
        schema:
          title: Identifier
          type: string
        name: identifier
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderStakeholderValidationModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderStakeholderValidationModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    SortByOrderStakeholder:
      title: SortByOrderStakeholder
      enum:
      - name
      - email
      - role
      - position
      type: string
      description: An enumeration.
    AddressTypes:
      title: AddressTypes
      enum:
      - Mailing
      - Invoice
      - Office
      - Garaging
      - DealerAddress
      - DrivingLicense
      - Billing
      - InsuranceAddress
      - Residential
      - Employment
      type: string
      description: An enumeration.
    SortEnum:
      title: SortEnum
      enum:
      - asc
      - desc
      type: string
      description: An enumeration.
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
    OrderStakeholderAddressModel:
      title: OrderStakeholderAddressModel
      type: object
      properties:
        address_line_1:
          title: Address Line 1
          type: string
          description: Address line one
        address_line_2:
          title: Address Line 2
          type: string
          description: Address line two
        state_name:
          title: State Name
          type: string
          description: Address state name
        zip_code:
          title: Zip Code
          type: string
          description: Zip code
        county:
          title: County
          type: string
          description: Address county
        city:
          title: City
          type: string
          description: Address city
        contact_number:
          title: Contact Number
          type: string
          description: Contact number
        verified:
          title: Verified
          type: boolean
          description: Is Address verified
        move_in_date:
          title: Move In Date
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        is_garaging:
          title: Is Garaging
          type: boolean
          description: Garaging flag
          default: false
        identifier:
          title: Identifier
          type: string
        address_type:
          $ref: '#/components/schemas/AddressTypes'
    OrderStakeholderValidationModel:
      title: OrderStakeholderValidationModel
      type: object
      properties:
        identifier:
          title: Identifier
          type: string
        order_identifier:
          title: Order Identifier
          type: string
        stakeholder_reference_id:
          title: Stakeholder Reference Id
          type: string
        name:
          title: Name
          type: string
        email:
          title: Email
          type: string
        role:
          title: Role
          type: string
        position:
          title: Position
          type: string
        contact_number:
          title: Contact Number
          type: string
        address_id:
          title: Address Id
          type: string
        stakeholder_address:
          $ref: '#/components/schemas/OrderStakeholderAddressModel'
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: /signup/verify-otp
externalDocs:
  url: https://developer.appexnow.com/docs/lane/overview
  description: Product Documentation
