openapi: 3.0.2
info:
  version: 1.3.43
  title: Lane Reference API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: Lane offers a feature-rich, end-to-end order management system for asset leasing, loans and credit companies. Our platform covers all aspects, from conducting end-to-end sales to performing dealer and partner-related tasks and marketing-related activities.
servers:
- url: https://dms-api.netsolapp.io
tags:
- name: Reference
paths:
  /dms/all-quotation-by-reference-number/:
    get:
      tags:
      - Reference
      summary: Get all quotations based on reference number
      description: Get all quotations based on reference number
      operationId: get_all_order_quotation_by_multiple_reference_number_dms_all_quotation_by_reference_number__get
      parameters:
      - required: false
        schema:
          title: Reference Number
          type: array
          items: {}
        name: reference_number
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/get-reference-data/{dealer_code}:
    get:
      tags:
      - Reference
      summary: Get Reference Data By Dealer Code
      description: This method returns the data of inventory from Configuration By Dealer Code
      operationId: get_reference_data_dms_get_reference_data__dealer_code__get
      parameters:
      - required: true
        schema:
          title: Dealer Code
          type: string
        name: dealer_code
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/configure/document-package-by-reference-id:
    get:
      tags:
      - Reference
      summary: Get document package by reference_id
      operationId: get_document_package_by_reference_id_dms_configure_document_package_by_reference_id_get
      parameters:
      - required: true
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentPackageResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/configure/all-document-packages-by-reference-id:
    get:
      tags:
      - Reference
      summary: Get document package by reference_id
      operationId: get_all_document_packages_by_reference_id_dms_configure_all_document_packages_by_reference_id_get
      parameters:
      - required: true
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      - description: Order Id
        required: false
        schema:
          title: External Order Id
          type: string
          description: Order Id
        name: external_order_id
        in: query
      - description: Document Type
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ComparisonType'
          description: Document Type
        name: document_type
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get All Document Packages By Reference Id Dms Configure All Document Packages By Reference Id Get
                type: array
                items:
                  $ref: '#/components/schemas/DocumentPackageResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
components:
  schemas:
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
    ComparisonType:
      title: ComparisonType
      enum:
      - Contract
      - noaa
      - General
      - Compliance
      type: string
      description: An enumeration.
    DocumentSignaturesModel:
      title: DocumentSignaturesModel
      required:
      - id
      - type
      type: object
      properties:
        id:
          title: Id
          type: string
        status:
          title: Status
          type: string
        type:
          title: Type
          type: string
        signer:
          title: Signer
          type: string
        signed_at:
          title: Signed At
          type: string
        x:
          title: X
          type: integer
        y:
          title: Y
          type: integer
        x_bound:
          title: X Bound
          type: integer
        y_bound:
          title: Y Bound
          type: integer
        width:
          title: Width
          type: integer
        height:
          title: Height
          type: integer
        page:
          title: Page
          type: integer
        date_field_id:
          title: Date Field Id
          type: string
    DocumentPackageResponseModel:
      title: DocumentPackageResponseModel
      type: object
      properties:
        identifier:
          title: Identifier
          type: string
        order_id:
          title: Order Id
          type: string
        reference_id:
          title: Reference Id
          type: string
        type:
          title: Type
          type: string
        status:
          title: Status
          type: string
        created_at:
          title: Created At
          type: string
          format: date-time
        updated_at:
          title: Updated At
          type: string
          format: date-time
        documents:
          title: Documents
          type: array
          items:
            $ref: '#/components/schemas/DocumentsModel'
    ErrorDetailModel:
      title: ErrorDetailModel
      required:
      - detail
      type: object
      properties:
        detail:
          $ref: '#/components/schemas/ErrorModel'
    DocumentsModel:
      title: DocumentsModel
      type: object
      properties:
        identifier:
          title: Identifier
          type: string
        title:
          title: Title
          type: string
        template:
          title: Template
          type: string
        data:
          title: Data
          type: object
        meta_data:
          title: Meta Data
          type: object
        status:
          title: Status
          type: string
        last_viewed_at:
          title: Last Viewed At
          type: string
          format: date-time
        signatures:
          title: Signatures
          type: array
          items:
            $ref: '#/components/schemas/DocumentSignaturesModel'
        created_at:
          title: Created At
          type: string
          format: date-time
        updated_at:
          title: Updated At
          type: string
          format: date-time
        generated_document_uri:
          title: Generated Document Uri
          type: string
    ErrorModel:
      title: ErrorModel
      type: object
      properties:
        code:
          title: Error code
          type: string
          description: Error code based on the validation, if any validation fail
        message:
          title: Error message
          type: string
          description: Error code based on the validation, if any validation fail
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: /signup/verify-otp
externalDocs:
  url: https://developer.appexnow.com/docs/lane/overview
  description: Product Documentation
