openapi: 3.0.2
info:
  version: 1.3.43
  title: Lane Fraud API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: Lane offers a feature-rich, end-to-end order management system for asset leasing, loans and credit companies. Our platform covers all aspects, from conducting end-to-end sales to performing dealer and partner-related tasks and marketing-related activities.
servers:
- url: https://dms-api.netsolapp.io
tags:
- name: Fraud
paths:
  /dms/customer/fraud-check:
    post:
      tags:
      - Fraud
      summary: Creates personal finance information
      description: Create personal finance information against customer
      operationId: add_customer_fraud_check_dms_customer_fraud_check_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FraudCheckModel'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
components:
  schemas:
    FraudCheckModel:
      title: FraudCheckModel
      required:
      - user_id
      - order_reference_number
      - reference_id
      - dealer_code
      type: object
      properties:
        user_id:
          title: User Id
          type: integer
        order_reference_number:
          title: Order Reference Number
          minLength: 1
          type: string
          description: Order Reference Id
        reference_id:
          title: Reference Id
          minLength: 1
          type: string
          description: Customer Reference Id
        dealer_code:
          title: Dealer Code
          type: string
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: /signup/verify-otp
externalDocs:
  url: https://developer.appexnow.com/docs/lane/overview
  description: Product Documentation
