openapi: 3.0.2
info:
  version: 1.3.43
  title: Lane Verifications API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: Lane offers a feature-rich, end-to-end order management system for asset leasing, loans and credit companies. Our platform covers all aspects, from conducting end-to-end sales to performing dealer and partner-related tasks and marketing-related activities.
servers:
- url: https://dms-api.netsolapp.io
tags:
- name: Verifications
paths:
  /dms/customer/license-verification:
    post:
      tags:
      - Verifications
      summary: License verification through MiTek
      description: license-verification through MiTek
      operationId: verify_license_dms_customer_license_verification_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LicenseVerificationModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
components:
  schemas:
    LicenseVerificationModel:
      title: LicenseVerificationModel
      required:
      - front_image
      - back_image
      - customer_id
      type: object
      properties:
        front_image:
          title: Front Image
          type: string
        back_image:
          title: Back Image
          type: string
        customer_id:
          title: Customer Id
          type: string
        dealer_code:
          title: Dealer Code
          type: string
        api_version:
          title: Api Version
          type: string
          default: '1.2'
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: /signup/verify-otp
externalDocs:
  url: https://developer.appexnow.com/docs/lane/overview
  description: Product Documentation
