openapi: 3.0.2
info:
  version: 1.3.43
  title: Lane Flags API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: Lane offers a feature-rich, end-to-end order management system for asset leasing, loans and credit companies. Our platform covers all aspects, from conducting end-to-end sales to performing dealer and partner-related tasks and marketing-related activities.
servers:
- url: https://dms-api.netsolapp.io
tags:
- name: Flags
paths:
  /dms/customer/status-flag:
    get:
      tags:
      - Flags
      summary: Get all customer status flag
      description: Get all customer status flag
      operationId: get_all_status_flag_dms_customer_status_flag_get
      parameters:
      - required: true
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get All Status Flag Dms Customer Status Flag Get
                type: array
                items:
                  $ref: '#/components/schemas/CustomerStatusFlagResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    post:
      tags:
      - Flags
      summary: Create customer status flag
      description: Create customer status flag
      operationId: add_status_flag_dms_customer_status_flag_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerStatusFlagModel'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerStatusFlagResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    delete:
      tags:
      - Flags
      summary: Remove customer status flag
      description: Remove customer status flag
      operationId: delete_status_dms_customer_status_flag_delete
      parameters:
      - required: true
        schema:
          title: Identifier
          type: string
        name: identifier
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerDeleteModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      deprecated: true
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/remove-status-flag:
    patch:
      tags:
      - Flags
      summary: Remove customer status flag
      description: Remove customer status flag
      operationId: delete_status_flag_dms_customer_remove_status_flag_patch
      parameters:
      - required: true
        schema:
          title: Identifier
          type: string
        name: identifier
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteRequestModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerDeleteModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
components:
  schemas:
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    CustomerStatusFlagResponseModel:
      title: CustomerStatusFlagResponseModel
      type: object
      properties:
        reference_id:
          title: Reference Id
          type: string
        flag_name:
          title: Flag Name
          type: string
        category:
          title: Category
          type: string
        identifier:
          title: Identifier
          type: string
        created_by:
          title: Created By
          type: string
        updated_by:
          title: Updated By
          type: string
        is_active:
          title: Is Active
          type: boolean
        is_deleted:
          title: Is Deleted
          type: boolean
        created_at:
          title: Created At
          type: string
          format: date-time
        updated_at:
          title: Updated At
          type: string
          format: date-time
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
    CustomerDeleteModel:
      title: CustomerDeleteModel
      required:
      - success
      type: object
      properties:
        success:
          title: Success
          type: boolean
    CustomerStatusFlagModel:
      title: CustomerStatusFlagModel
      required:
      - reference_id
      - flag_name
      - category
      - created_by
      type: object
      properties:
        reference_id:
          title: Reference Id
          type: string
        flag_name:
          title: Flag Name
          minLength: 1
          type: string
        category:
          title: Category
          minLength: 1
          type: string
        identifier:
          title: Identifier
          minLength: 1
          type: string
        created_by:
          title: Created By
          type: string
    DeleteRequestModel:
      title: DeleteRequestModel
      required:
      - deleted_by
      type: object
      properties:
        deleted_by:
          title: Deleted By
          type: string
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: /signup/verify-otp
externalDocs:
  url: https://developer.appexnow.com/docs/lane/overview
  description: Product Documentation
