openapi: 3.0.2
info:
  version: 1.3.43
  title: Lane Index  Wrapper API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: Lane offers a feature-rich, end-to-end order management system for asset leasing, loans and credit companies. Our platform covers all aspects, from conducting end-to-end sales to performing dealer and partner-related tasks and marketing-related activities.
servers:
- url: https://dms-api.netsolapp.io
tags:
- name: Index  Wrapper
paths:
  /dms/company/by-tenant-id/{tenant_id}:
    get:
      tags:
      - Index  Wrapper
      summary: Find Company By Tenant Id
      operationId: find_company_by_tenant_id_dms_company_by_tenant_id__tenant_id__get
      parameters:
      - required: true
        schema:
          title: Tenant Id
          type: integer
        name: tenant_id
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/inventory/reference-data-by-dealer-code/{dealer_code}:
    get:
      tags:
      - Index  Wrapper
      summary: Get Inventory Reference Data
      operationId: get_inventory_reference_data_dms_inventory_reference_data_by_dealer_code__dealer_code__get
      parameters:
      - required: true
        schema:
          title: Dealer Code
          type: string
        name: dealer_code
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/dealer/preference-by-dealer-code/{dealer_code}:
    get:
      tags:
      - Index  Wrapper
      summary: Get Dealer Preference By Dealer Code
      operationId: get_dealer_preference_by_dealer_code_dms_dealer_preference_by_dealer_code__dealer_code__get
      parameters:
      - required: true
        schema:
          title: Dealer Code
          type: string
        name: dealer_code
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/integration/configuration/{dealer_code}/{integration_type}/{provider_name}:
    get:
      tags:
      - Index  Wrapper
      summary: Get Hubex Configuration By Provider Name
      operationId: get_hubex_configuration_by_provider_name_dms_integration_configuration__dealer_code___integration_type___provider_name__get
      parameters:
      - required: true
        schema:
          title: Dealer Code
          type: string
        name: dealer_code
        in: path
      - required: true
        schema:
          title: Integration Type
          type: string
        name: integration_type
        in: path
      - required: true
        schema:
          title: Provider Name
          type: string
        name: provider_name
        in: path
      - required: true
        schema:
          title: Company Id
          type: string
        name: company_id
        in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/vehicle-detail/{vin}:
    get:
      tags:
      - Index  Wrapper
      summary: Get Vehicle Detail By Vin
      operationId: get_vehicle_detail_by_vin_dms_vehicle_detail__vin__get
      parameters:
      - required: true
        schema:
          title: Vin
          type: string
        name: vin
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/dealer/profile/{dealer_code}:
    get:
      tags:
      - Index  Wrapper
      summary: Get Dealer Profile By Dealer Code
      operationId: get_dealer_profile_by_dealer_code_dms_dealer_profile__dealer_code__get
      parameters:
      - required: true
        schema:
          title: Dealer Code
          type: string
        name: dealer_code
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/vehicle/{vin}:
    get:
      tags:
      - Index  Wrapper
      summary: Get Vehicle By Vin
      operationId: get_vehicle_by_vin_dms_vehicle__vin__get
      parameters:
      - required: true
        schema:
          title: Vin
          type: string
        name: vin
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/dealer/fee/dealer-code/{dealer_code}:
    get:
      tags:
      - Index  Wrapper
      summary: Get All Dealer Fee By Code
      operationId: get_all_dealer_fee_by_code_dms_dealer_fee_dealer_code__dealer_code__get
      parameters:
      - required: true
        schema:
          title: Dealer Code
          type: string
        name: dealer_code
        in: path
      - required: false
        schema:
          title: State Code
          type: string
        name: state_code
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/asset-usage/active:
    get:
      tags:
      - Index  Wrapper
      summary: Get Active Asset Usages
      operationId: get_active_asset_usages_dms_asset_usage_active_get
      parameters:
      - required: true
        schema:
          title: Company Id
          type: string
        name: company_id
        in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
components:
  schemas:
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: /signup/verify-otp
externalDocs:
  url: https://developer.appexnow.com/docs/lane/overview
  description: Product Documentation
