openapi: 3.0.2
info:
  version: 1.3.43
  title: Lane Order  Calculations API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: Lane offers a feature-rich, end-to-end order management system for asset leasing, loans and credit companies. Our platform covers all aspects, from conducting end-to-end sales to performing dealer and partner-related tasks and marketing-related activities.
servers:
- url: https://dms-api.netsolapp.io
tags:
- name: Order  Calculations
paths:
  /dms/quote/calculate-nfa:
    post:
      tags:
      - Order  Calculations
      summary: Calculate NFA [Net Financed Amount]
      description: Calculate NFA [Net Financed Amount]
      operationId: calculate_nfa_dms_quote_calculate_nfa_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NFACalculationParams'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalculateNFAResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
components:
  schemas:
    NFACalculationParams:
      title: NFACalculationParams
      required:
      - per_unit_selling_price
      - dealer_id
      - options
      - fees
      - fni_products
      - taxes
      - insurance
      type: object
      properties:
        per_unit_selling_price:
          title: Per Unit Selling Price
          type: number
          description: Per Unit Asset Selling Price
        dealer_id:
          title: Dealer Id
          type: integer
          description: System Generated Dealer Id
        quantity:
          title: Quantity
          type: integer
          description: Quantity of Financed Equipment/Assets
        down_payment:
          title: Down Payment
          type: number
          description: Asset Total Down payment
        options:
          title: Options
          type: array
          items:
            $ref: '#/components/schemas/OptionsRequestModel'
          description: Options applied on asset
        fees:
          title: Fees
          type: array
          items:
            $ref: '#/components/schemas/FeeRequestModel'
          description: Fees
        fni_products:
          title: Fni Products
          type: array
          items:
            $ref: '#/components/schemas/FinanceAndInsuranceRequestModel'
          description: F&I Products
        trade_in_amount:
          title: Trade In Amount
          type: number
          description: Trade-in amount
        taxes:
          title: Taxes
          type: array
          items:
            $ref: '#/components/schemas/TaxesRequestModel'
          description: Taxes
        insurance:
          title: Insurance
          type: array
          items:
            $ref: '#/components/schemas/InsuranceRequestModel'
          description: Insurance
    FinanceAndInsuranceRequestModel:
      title: FinanceAndInsuranceRequestModel
      type: object
      properties:
        fni_product_name:
          title: Fni Product Name
          type: string
        fni_product_amount:
          title: Fni Product Amount
          type: number
        amount_handling:
          title: Amount Handling
          type: string
        is_taxable:
          title: Is Taxable
          type: boolean
          default: false
    FeeRequestModel:
      title: FeeRequestModel
      type: object
      properties:
        fee_name:
          title: Fee Name
          type: string
        fee_amount:
          title: Fee Amount
          type: number
        fee_handling:
          title: Fee Handling
          type: string
        is_taxable:
          title: Is Taxable
          type: boolean
        tax_in_capital:
          title: Tax In Capital
          type: boolean
          default: true
        vendor:
          title: Vendor
          type: string
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
    CalculateNFAResponseModel:
      title: CalculateNFAResponseModel
      required:
      - net_financed_amount
      type: object
      properties:
        net_financed_amount:
          title: Net Financed Amount
          type: number
          description: Net Financed amount calculated
    OptionsRequestModel:
      title: OptionsRequestModel
      type: object
      properties:
        option_name:
          title: Option Name
          type: string
        option_amount:
          title: Option Amount
          type: number
        rv_amount_on_option:
          title: Rv Amount On Option
          type: number
        amount_handling:
          title: Amount Handling
          type: string
    TaxesRequestModel:
      title: TaxesRequestModel
      type: object
      properties:
        tax_name:
          title: Tax Name
          type: string
        tax_amount:
          title: Tax Amount
          type: number
        amount_handling:
          title: Amount Handling
          type: string
    InsuranceRequestModel:
      title: InsuranceRequestModel
      type: object
      properties:
        insurance_name:
          title: Insurance Name
          type: string
        insurance_amount:
          title: Insurance Amount
          type: number
        amount_handling:
          title: Amount Handling
          type: string
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: /signup/verify-otp
externalDocs:
  url: https://developer.appexnow.com/docs/lane/overview
  description: Product Documentation
