openapi: 3.0.2
info:
  version: 1.3.43
  title: Lane Integrations API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: Lane offers a feature-rich, end-to-end order management system for asset leasing, loans and credit companies. Our platform covers all aspects, from conducting end-to-end sales to performing dealer and partner-related tasks and marketing-related activities.
servers:
- url: https://dms-api.netsolapp.io
tags:
- name: Integrations
paths:
  /dms/integration/company:
    get:
      tags:
      - Integrations
      summary: Get All Company Integration
      operationId: get_all_company_integration_dms_integration_company_get
      parameters:
      - required: true
        schema:
          title: Company Id
          type: string
        name: company_id
        in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/integration/by_provider_name/{dealer_code}/{integration_type}/{provider_name}:
    get:
      tags:
      - Integrations
      summary: Get Integration By Provider Name
      operationId: get_integration_by_provider_name_dms_integration_by_provider_name__dealer_code___integration_type___provider_name__get
      parameters:
      - required: true
        schema:
          title: Dealer Code
          type: string
        name: dealer_code
        in: path
      - required: true
        schema:
          title: Integration Type
          type: string
        name: integration_type
        in: path
      - required: true
        schema:
          title: Provider Name
          type: string
        name: provider_name
        in: path
      - required: true
        schema:
          title: Company Id
          type: string
        name: company_id
        in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/integration/configuration/{dealer_code}/{integration_type}/{provider_name}:
    get:
      tags:
      - Integrations
      summary: Get Hubex Configuration By Provider Name
      operationId: get_hubex_configuration_by_provider_name_dms_integration_configuration__dealer_code___integration_type___provider_name__get
      parameters:
      - required: true
        schema:
          title: Dealer Code
          type: string
        name: dealer_code
        in: path
      - required: true
        schema:
          title: Integration Type
          type: string
        name: integration_type
        in: path
      - required: true
        schema:
          title: Provider Name
          type: string
        name: provider_name
        in: path
      - required: true
        schema:
          title: Company Id
          type: string
        name: company_id
        in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
components:
  schemas:
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: /signup/verify-otp
externalDocs:
  url: https://developer.appexnow.com/docs/lane/overview
  description: Product Documentation
