openapi: 3.0.2
info:
  version: 1.3.43
  title: Lane Insurance API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: Lane offers a feature-rich, end-to-end order management system for asset leasing, loans and credit companies. Our platform covers all aspects, from conducting end-to-end sales to performing dealer and partner-related tasks and marketing-related activities.
servers:
- url: https://dms-api.netsolapp.io
tags:
- name: Insurance
paths:
  /dms/customer/insurance-information:
    get:
      tags:
      - Insurance
      summary: Get customer insurance information by customer reference id and order reference number
      description: Get customer insurance information by customer reference id and order reference number
      operationId: get_insurance_info_by_order_and_customer_reference_number_dms_customer_insurance_information_get
      parameters:
      - description: provide valid reference_id
        required: true
        schema:
          title: Reference Id
          minLength: 1
          type: string
          description: provide valid reference_id
        name: reference_id
        in: query
      - description: provide valid order_reference_id
        required: true
        schema:
          title: Order Reference Id
          minLength: 1
          type: string
          description: provide valid order_reference_id
        name: order_reference_id
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsuranceInformationResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    post:
      tags:
      - Insurance
      summary: Create customer insurance information
      description: Create customer insurance information
      operationId: create_insurance_information_dms_customer_insurance_information_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InsuranceInformationWithAddressesModel'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsuranceInformationResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    delete:
      tags:
      - Insurance
      summary: Delete single customer insurance information
      description: Delete single customer insurance information
      operationId: delete_insurance_information_dms_customer_insurance_information_delete
      parameters:
      - required: true
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      deprecated: true
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    patch:
      tags:
      - Insurance
      summary: Updates customer insurance information
      description: Updates customer insurance information
      operationId: update_insurance_information_dms_customer_insurance_information_patch
      parameters:
      - required: true
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      - required: false
        schema:
          title: Order Reference Id
          type: string
        name: order_reference_id
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InsuranceInformationUpdateModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsuranceInformationResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/update-insurance-information:
    patch:
      tags:
      - Insurance
      summary: Updates customer insurance information
      description: Updates customer insurance information
      operationId: update_insurance_dms_customer_update_insurance_information_patch
      parameters:
      - required: true
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      - required: false
        schema:
          title: Order Reference Id
          type: string
        name: order_reference_id
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InsuranceInformationUpdateModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsuranceInformationResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/insurance-information-history:
    get:
      tags:
      - Insurance
      summary: Get customer insurance information history
      description: Get customer insurance information history
      operationId: get_insurance_information_history_dms_customer_insurance_information_history_get
      parameters:
      - required: true
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      - required: true
        schema:
          title: Page Number
          type: integer
        name: page_number
        in: query
      - required: true
        schema:
          title: Page Size
          minimum: 1
          type: integer
        name: page_size
        in: query
      - description: 'Format: YYYY-MM-DD'
        required: false
        schema:
          title: From Date
          type: string
          description: 'Format: YYYY-MM-DD'
          format: date
        name: from_date
        in: query
      - description: 'Format: YYYY-MM-DD'
        required: false
        schema:
          title: To Date
          type: string
          description: 'Format: YYYY-MM-DD'
          format: date
        name: to_date
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsuranceInfoPaginationResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      deprecated: true
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/insurance-information-by-customer:
    get:
      tags:
      - Insurance
      summary: Get customer insurance information by customer reference id
      description: Get customer insurance information by customer reference id
      operationId: get_insurance_information_by_reference_id_dms_customer_insurance_information_by_customer_get
      parameters:
      - required: true
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsuranceInformationResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/insurance-information-by-order:
    get:
      tags:
      - Insurance
      summary: Get customer insurance information by order reference number
      description: Get customer insurance information by order reference number
      operationId: get_insurance_information_by_order_reference_number_dms_customer_insurance_information_by_order_get
      parameters:
      - required: true
        schema:
          title: Order Reference Id
          type: string
        name: order_reference_id
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsuranceInformationResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/insurance-information/document-history:
    get:
      tags:
      - Insurance
      summary: Get customer insurance information document history
      description: Get customer insurance information document history
      operationId: get_insurance_documents_dms_customer_insurance_information_document_history_get
      parameters:
      - description: provide valid reference_id
        required: true
        schema:
          title: Reference Id
          minLength: 1
          type: string
          description: provide valid reference_id
        name: reference_id
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get Insurance Documents Dms Customer Insurance Information Document History Get
                type: array
                items:
                  $ref: '#/components/schemas/InsuranceDocumentsResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/delete-insurance-information:
    patch:
      tags:
      - Insurance
      summary: Delete single customer insurance information
      description: Delete single customer insurance information
      operationId: delete_insurance_info_dms_customer_delete_insurance_information_patch
      parameters:
      - required: true
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteRequestModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/insurance-information/add-document:
    post:
      tags:
      - Insurance
      summary: Add insurance document
      description: Add insurance document
      operationId: add_insurance_document_dms_customer_insurance_information_add_document_post
      parameters:
      - required: true
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InsuranceDocumentsModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Add Insurance Document Dms Customer Insurance Information Add Document Post
                type: array
                items:
                  $ref: '#/components/schemas/InsuranceDocumentsResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/insurance-information/remove-document:
    delete:
      tags:
      - Insurance
      summary: 'Delete insurance document '
      description: 'Delete insurance document '
      operationId: remove_insurance_document_depreceted_dms_customer_insurance_information_remove_document_delete
      parameters:
      - required: true
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      - required: true
        schema:
          title: Identifier
          type: string
        name: identifier
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      deprecated: true
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/insurance-information/remove-insurance-document:
    patch:
      tags:
      - Insurance
      summary: 'Delete insurance document '
      description: 'Delete insurance document '
      operationId: remove_insurance_document_dms_customer_insurance_information_remove_insurance_document_patch
      parameters:
      - required: true
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      - required: true
        schema:
          title: Identifier
          type: string
        name: identifier
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteRequestModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/configure/insurance:
    post:
      tags:
      - Insurance
      summary: Add insurance
      description: Add insurance information
      operationId: create_insurance_information_dms_configure_insurance_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InsuranceInformationWithAddressesModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsuranceInformationResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/insurance/add-insurance:
    post:
      tags:
      - Insurance
      summary: Add Insurance
      description: Storing Transaction id
      operationId: add_insurance_dms_insurance_add_insurance_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InsuranceProviderRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
components:
  schemas:
    CustomerAddressWithoutAddressTypeModel:
      title: CustomerAddressWithoutAddressTypeModel
      type: object
      properties:
        address_line_1:
          title: Address Line 1
          type: string
          description: Address line one
        address_line_2:
          title: Address Line 2
          type: string
          description: Address line two
        state_name:
          title: State Name
          type: string
          description: Address state name
        zip_code:
          title: Zip Code
          type: string
          description: Zip code
        county:
          title: County
          type: string
          description: Address county
        city:
          title: City
          type: string
          description: Address city
        contact_number:
          title: Contact Number
          type: string
          description: Contact number
        verified:
          title: Verified
          type: boolean
          description: Is Address verified
        move_in_date:
          title: Move In Date
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        is_garaging:
          title: Is Garaging
          type: boolean
          description: Garaging flag
          default: false
        identifier:
          title: Identifier
          minLength: 1
          type: string
    InsuranceDocumentsModel:
      title: InsuranceDocumentsModel
      required:
      - content_type
      - name
      - file_size
      type: object
      properties:
        document:
          title: Document
          type: string
        content_type:
          title: Content Type
          minLength: 1
          type: string
          description: 'format: application/pdf, image/png '
        name:
          title: Name
          minLength: 1
          type: string
        file_size:
          title: File Size
          minLength: 1
          type: string
        created_by:
          title: Created By
          type: string
        doucment_reference_id:
          title: Doucment Reference Id
          type: string
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
    InsuranceInformationResponseModel:
      title: InsuranceInformationResponseModel
      type: object
      properties:
        order_reference_id:
          title: Order Reference Id
          type: string
        reference_id:
          title: Reference Id
          type: string
        insurer_name:
          title: Insurer Name
          type: string
        agent_phone:
          title: Agent Phone
          type: string
        subscription_id:
          title: Subscription Id
          type: string
        agent_name:
          title: Agent Name
          type: string
        policy_number:
          title: Policy Number
          type: string
        start_date:
          title: Start Date
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        expiration_date:
          title: Expiration Date
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        deductible_comprehensive:
          title: Deductible Comprehensive
          type: number
        deductible_collision:
          title: Deductible Collision
          type: number
        created_by:
          title: Created By
          type: string
        identifier:
          title: Identifier
          type: string
        is_verified:
          title: Is Verified
          type: boolean
          default: false
        insurance_documents:
          title: Insurance Documents
          type: array
          items:
            $ref: '#/components/schemas/InsuranceDocumentsResponseModel'
        insurer_address:
          $ref: '#/components/schemas/CustomerAddressWithoutAddressTypeModel'
        status:
          $ref: '#/components/schemas/InsuranceDetailStatus'
        is_active:
          title: Is Active
          type: boolean
        is_deleted:
          title: Is Deleted
          type: boolean
        created_at:
          title: Created At
          type: string
          format: date-time
        updated_at:
          title: Updated At
          type: string
          format: date-time
        updated_by:
          title: Updated By
          type: string
        deleted_at:
          title: Deleted At
          type: string
          format: date
        deleted_by:
          title: Deleted By
          type: string
    InsuranceInformationWithAddressesModel:
      title: InsuranceInformationWithAddressesModel
      required:
      - created_by
      type: object
      properties:
        order_reference_id:
          title: Order Reference Id
          type: string
        reference_id:
          title: Reference Id
          type: string
        insurer_name:
          title: Insurer Name
          type: string
        agent_phone:
          title: Agent Phone
          type: string
        subscription_id:
          title: Subscription Id
          type: string
        agent_name:
          title: Agent Name
          type: string
        policy_number:
          title: Policy Number
          type: string
        start_date:
          title: Start Date
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        expiration_date:
          title: Expiration Date
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        deductible_comprehensive:
          title: Deductible Comprehensive
          type: number
        deductible_collision:
          title: Deductible Collision
          type: number
        created_by:
          title: Created By
          type: string
        identifier:
          title: Identifier
          type: string
        is_verified:
          title: Is Verified
          type: boolean
          default: false
        insurance_documents:
          title: Insurance Documents
          type: array
          items:
            $ref: '#/components/schemas/InsuranceDocumentsModel'
        insurer_address:
          $ref: '#/components/schemas/CustomerAddressWithoutAddressTypeModel'
    ResponseModel:
      title: ResponseModel
      required:
      - success
      type: object
      properties:
        success:
          title: Success
          type: boolean
    DeleteRequestModel:
      title: DeleteRequestModel
      required:
      - deleted_by
      type: object
      properties:
        deleted_by:
          title: Deleted By
          type: string
    InsuranceInformationUpdateModel:
      title: InsuranceInformationUpdateModel
      required:
      - updated_by
      type: object
      properties:
        order_reference_id:
          title: Order Reference Id
          type: string
        insurer_name:
          title: Insurer Name
          type: string
        agent_phone:
          title: Agent Phone
          type: string
        subscription_id:
          title: Subscription Id
          type: string
        agent_name:
          title: Agent Name
          type: string
        status:
          $ref: '#/components/schemas/InsuranceDetailStatus'
        policy_number:
          title: Policy Number
          type: string
        start_date:
          title: Start Date
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        expiration_date:
          title: Expiration Date
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        deductible_comprehensive:
          title: Deductible Comprehensive
          type: number
        deductible_collision:
          title: Deductible Collision
          type: number
        is_verified:
          title: Is Verified
          type: boolean
          default: false
        updated_by:
          title: Updated By
          type: string
        insurer_address:
          $ref: '#/components/schemas/AddressBasicModel'
        insurance_documents:
          title: Insurance Documents
          type: array
          items:
            $ref: '#/components/schemas/InsuranceDocumentsModel'
    InsuranceDocumentsResponseModel:
      title: InsuranceDocumentsResponseModel
      type: object
      properties:
        document_uri:
          title: Document Uri
          type: string
        content_type:
          title: Content Type
          type: string
        name:
          title: Name
          type: string
        file_size:
          title: File Size
          type: string
        identifier:
          title: Identifier
          type: string
        is_active:
          title: Is Active
          type: boolean
        created_by:
          title: Created By
          type: string
        created_at:
          title: Created At
          type: string
          format: date
        deleted_at:
          title: Deleted At
          type: string
          format: date
        deleted_by:
          title: Deleted By
          type: string
    InsuranceDetailStatus:
      title: InsuranceDetailStatus
      enum:
      - Verified
      - Unverified
      - Expired
      type: string
      description: An enumeration.
    InsuranceInfoPaginationResponse:
      title: InsuranceInfoPaginationResponse
      type: object
      properties:
        result:
          title: Result
          type: array
          items:
            $ref: '#/components/schemas/InsuranceInformationResponseModel'
        page_number:
          title: Page Number
          type: integer
        page_size:
          title: Page Size
          type: integer
        total_pages:
          title: Total Pages
          type: integer
        total_results:
          title: Total Results
          type: integer
    AddressBasicModel:
      title: AddressBasicModel
      type: object
      properties:
        address_line_1:
          title: Address Line 1
          type: string
          description: Address line one
        address_line_2:
          title: Address Line 2
          type: string
          description: Address line two
        state_name:
          title: State Name
          type: string
          description: Address state name
        zip_code:
          title: Zip Code
          type: string
          description: Zip code
        county:
          title: County
          type: string
          description: Address county
        city:
          title: City
          type: string
          description: Address city
        contact_number:
          title: Contact Number
          type: string
          description: Contact number
        verified:
          title: Verified
          type: boolean
          description: Is Address verified
        move_in_date:
          title: Move In Date
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        is_garaging:
          title: Is Garaging
          type: boolean
          description: Garaging flag
          default: false
    InsuranceProviderRequest:
      title: InsuranceProviderRequest
      type: object
      properties:
        order_id:
          title: Order Id
          type: string
          description: Order Reference Id
        transactionId:
          title: Transactionid
          type: string
          description: Transaction Id
        carrierName:
          title: Carriername
          type: string
          description: Insurer Name
        policyExpirationDate:
          title: Policyexpirationdate
          type: string
          description: Expiration Date
          format: date
        policyDocumentUrl:
          title: Policydocumenturl
          type: string
          description: Policy Document Url
        insuranceCardUrl:
          title: Insurancecardurl
          type: string
          description: Insurance Card Url
        contactNumber:
          title: Contactnumber
          type: string
          description: Contact Number
        policyNumber:
          title: Policynumber
          type: string
          description: Policy Number
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: /signup/verify-otp
externalDocs:
  url: https://developer.appexnow.com/docs/lane/overview
  description: Product Documentation
