openapi: 3.0.2
info:
  version: 1.3.43
  title: Lane Disclaimer API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: Lane offers a feature-rich, end-to-end order management system for asset leasing, loans and credit companies. Our platform covers all aspects, from conducting end-to-end sales to performing dealer and partner-related tasks and marketing-related activities.
servers:
- url: https://dms-api.netsolapp.io
tags:
- name: Disclaimer
paths:
  /dms/configure/all-disclaimer:
    get:
      tags:
      - Disclaimer
      summary: Get all Disclaimers
      operationId: get_all_disclaimer_dms_configure_all_disclaimer_get
      parameters:
      - required: false
        schema:
          title: Disclaimer Status
          type: string
        name: disclaimer_status
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get All Disclaimer Dms Configure All Disclaimer Get
                type: array
                items:
                  $ref: '#/components/schemas/DisclaimerResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
components:
  schemas:
    DisclaimerResponseModel:
      title: DisclaimerResponseModel
      type: object
      properties:
        version:
          title: Version
          type: string
        name:
          title: Name
          type: string
        identifier:
          title: Identifier
          type: string
        description:
          title: Description
          type: string
        type:
          title: Type
          type: string
        applicable_for:
          title: Applicable For
          type: string
        required_by:
          title: Required By
          type: string
        status:
          title: Status
          type: string
        change_type:
          title: Change Type
          type: string
        created_at:
          title: Created At
          type: string
          format: date-time
        created_by:
          title: Created By
          type: string
        updated_at:
          title: Updated At
          type: string
          format: date-time
        updated_by:
          title: Updated By
          type: string
        effectiveDate:
          title: Effectivedate
          type: string
          format: date-time
        meta_data:
          title: Meta Data
          type: object
        disclaimer_accord:
          title: Disclaimer Accord
          type: boolean
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: /signup/verify-otp
externalDocs:
  url: https://developer.appexnow.com/docs/lane/overview
  description: Product Documentation
