openapi: 3.2.0
info:
  version: 1.3.43
  title: Lane Add API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: Lane offers a feature-rich, end-to-end order management system for asset leasing, loans and credit companies. Our platform covers all aspects, from conducting end-to-end sales to performing dealer and partner-related tasks and marketing-related activities.
servers:
- url: https://dms-api.netsolapp.io
tags:
- name: Add
paths:
  /dms/add-payment-details/:
    post:
      tags:
      - Add
      summary: Add Payment Details from dealer side
      operationId: add_payment_details_dms_add_payment_details__post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddPaymentDetails'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
components:
  schemas:
    PaymentMethodType:
      title: PaymentMethodType
      enum:
      - card
      - ach_debit
      - cheque
      type: string
      description: An enumeration.
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
    AddPaymentDetails:
      title: AddPaymentDetails
      required:
      - amount
      - reference_number
      type: object
      properties:
        amount:
          title: Amount
          type: number
        reference_number:
          title: Reference Number
          type: string
        payment_method_type:
          allOf:
          - $ref: '#/components/schemas/PaymentMethodType'
          default: cheque
        cheque_number:
          title: Cheque Number
          type: string
        payment_date:
          title: Payment Date
          type: string
          format: date-time
        order_payment_detail_id:
          title: Order Payment Detail Id
          type: integer
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: /signup/verify-otp
externalDocs:
  url: https://developer.appexnow.com/docs/lane/overview
  description: Product Documentation
