openapi: 3.0.2
info:
  version: 1.3.43
  title: Lane Inventory API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: Lane offers a feature-rich, end-to-end order management system for asset leasing, loans and credit companies. Our platform covers all aspects, from conducting end-to-end sales to performing dealer and partner-related tasks and marketing-related activities.
servers:
- url: https://dms-api.netsolapp.io
tags:
- name: Inventory
paths:
  /dms/get-inventory:
    get:
      tags:
      - Inventory
      summary: Get Filtered Inventory
      description: 'This will get filtered inventory '
      operationId: get_filtered_inventory_dms_get_inventory_get
      parameters:
      - required: true
        schema:
          title: Dealer Code
          type: string
        name: dealer_code
        in: query
      - required: true
        schema:
          title: Page Number
          minimum: 0
          type: integer
        name: page_number
        in: query
      - required: true
        schema:
          title: Page Size
          minimum: 0
          type: integer
        name: page_size
        in: query
      - required: false
        schema:
          title: Make Model
          type: string
        name: make_model
        in: query
      - required: false
        schema:
          title: Stock Number
          type: string
        name: stock_number
        in: query
      - required: false
        schema:
          title: Vin
          type: string
        name: vin
        in: query
      - required: false
        schema:
          title: Mileage
          type: string
        name: mileage
        in: query
      - required: false
        schema:
          title: Msrp
          type: string
        name: msrp
        in: query
      - required: false
        schema:
          title: Internet Price
          type: string
        name: internet_price
        in: query
      - required: false
        schema:
          title: Internet Price From
          type: integer
        name: internet_price_from
        in: query
      - required: false
        schema:
          title: Internet Price To
          type: integer
        name: internet_price_to
        in: query
      - required: false
        schema:
          title: Vehicle Status
          type: string
        name: vehicle_status
        in: query
      - required: false
        schema:
          title: Listing Status
          type: string
        name: listing_status
        in: query
      - required: false
        schema:
          title: Daily Update
          type: array
          items:
            type: boolean
        name: daily_update
        in: query
      - required: false
        schema:
          title: Asset Condition
          type: string
        name: asset_condition
        in: query
      - required: false
        schema:
          title: Year From
          type: integer
        name: year_from
        in: query
      - required: false
        schema:
          title: Year To
          type: integer
        name: year_to
        in: query
      - required: false
        schema:
          title: Order By Price
          type: string
        name: order_by_price
        in: query
      - required: false
        schema:
          title: Multiple Asset Condition
          type: array
          items: {}
        name: multiple_asset_condition
        in: query
      - required: false
        schema:
          title: Multiple Asset Make
          type: array
          items: {}
        name: multiple_asset_make
        in: query
      - required: false
        schema:
          title: Multiple Asset Model
          type: array
          items: {}
        name: multiple_asset_model
        in: query
      - required: false
        schema:
          title: Multiple Asset Trim
          type: array
          items: {}
        name: multiple_asset_trim
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/inventory/reference-data-by-dealer-code/{dealer_code}:
    get:
      tags:
      - Inventory
      summary: Get Inventory Reference Data
      operationId: get_inventory_reference_data_dms_inventory_reference_data_by_dealer_code__dealer_code__get
      parameters:
      - required: true
        schema:
          title: Dealer Code
          type: string
        name: dealer_code
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/inventory/filter:
    get:
      tags:
      - Inventory
      summary: Get Inventory Data
      operationId: get_inventory_data_dms_inventory_filter_get
      parameters:
      - required: true
        schema:
          title: Dealer Code
          type: string
        name: dealer_code
        in: query
      - required: true
        schema:
          title: Page Number
          minimum: 0
          type: integer
        name: page_number
        in: query
      - required: true
        schema:
          title: Page Size
          minimum: 0
          type: integer
        name: page_size
        in: query
      - required: false
        schema:
          title: Internet Price From
          type: integer
        name: internet_price_from
        in: query
      - required: false
        schema:
          title: Internet Price To
          type: integer
        name: internet_price_to
        in: query
      - required: false
        schema:
          title: Vehicle Status
          type: string
        name: vehicle_status
        in: query
      - required: false
        schema:
          title: Listing Status
          type: string
        name: listing_status
        in: query
      - required: false
        schema:
          title: Vin
          type: string
        name: vin
        in: query
      - required: false
        schema:
          title: Mileage
          type: string
        name: mileage
        in: query
      - required: false
        schema:
          title: Asset Condition
          type: string
        name: asset_condition
        in: query
      - required: false
        schema:
          title: Year From
          type: integer
        name: year_from
        in: query
      - required: false
        schema:
          title: Year To
          type: integer
        name: year_to
        in: query
      - required: false
        schema:
          title: Order By Price
          type: string
        name: order_by_price
        in: query
      - required: false
        schema:
          title: Multiple Asset Make
          type: array
          items: {}
        name: multiple_asset_make
        in: query
      - required: false
        schema:
          title: Multiple Asset Model
          type: array
          items: {}
        name: multiple_asset_model
        in: query
      - required: false
        schema:
          title: Multiple Asset Trim
          type: array
          items: {}
        name: multiple_asset_trim
        in: query
      - required: false
        schema:
          title: Multiple Asset Condition
          type: array
          items: {}
        name: multiple_asset_condition
        in: query
      - required: false
        schema:
          title: Stock Number
          type: string
        name: stock_number
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
components:
  schemas:
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: /signup/verify-otp
externalDocs:
  url: https://developer.appexnow.com/docs/lane/overview
  description: Product Documentation
