openapi: 3.0.2
info:
  version: 1.3.43
  title: Lane Plaid API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: Lane offers a feature-rich, end-to-end order management system for asset leasing, loans and credit companies. Our platform covers all aspects, from conducting end-to-end sales to performing dealer and partner-related tasks and marketing-related activities.
servers:
- url: https://dms-api.netsolapp.io
tags:
- name: Plaid
paths:
  /dms/plaid-link-token/:
    post:
      tags:
      - Plaid
      summary: Create Link Token
      description: Creates a link token which is required when initialing Link. Once Link is initialized, it returns a public token.
      operationId: create_plaid_link_token_dms_plaid_link_token__post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePlaidLinkToken'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaidLinkTokenResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
components:
  schemas:
    PlaidLinkTokenResponseModel:
      title: PlaidLinkTokenResponseModel
      required:
      - link_token
      - expiration
      - request_id
      type: object
      properties:
        link_token:
          title: Link Token
          type: string
          description: Link Token
        expiration:
          title: Expiration
          type: string
          description: Expiration
        request_id:
          title: Request Id
          type: string
          description: Request Id
    CreatePlaidLinkToken:
      title: CreatePlaidLinkToken
      required:
      - user_id
      type: object
      properties:
        user_id:
          title: User Id
          anyOf:
          - type: string
          - type: integer
          description: A unique ID representing the end user. Typically this will be a user ID from your application.
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: /signup/verify-otp
externalDocs:
  url: https://developer.appexnow.com/docs/lane/overview
  description: Product Documentation
