openapi: 3.0.2
info:
  version: 1.3.43
  title: Lane Lead- Management API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: Lane offers a feature-rich, end-to-end order management system for asset leasing, loans and credit companies. Our platform covers all aspects, from conducting end-to-end sales to performing dealer and partner-related tasks and marketing-related activities.
servers:
- url: https://dms-api.netsolapp.io
tags:
- name: Lead- Management
paths:
  /dms/lead/{dealer_id}:
    get:
      tags:
      - Lead- Management
      summary: Get dealer's lead
      description: This method will get a dealer's leads
      operationId: get_leads_dms_lead__dealer_id__get
      parameters:
      - required: true
        schema:
          title: Dealer Id
          type: integer
        name: dealer_id
        in: path
      - required: false
        schema:
          title: Year Make Model Trim
          type: string
        name: year_make_model_trim
        in: query
      - required: false
        schema:
          title: Lead Status
          type: string
        name: lead_status
        in: query
      - required: false
        schema:
          title: Lead Id
          type: string
        name: lead_id
        in: query
      - required: false
        schema:
          title: Email Address
          type: string
        name: email_address
        in: query
      - required: false
        schema:
          title: First Name
          type: string
        name: first_name
        in: query
      - required: false
        schema:
          title: Last Name
          type: string
        name: last_name
        in: query
      - required: false
        schema:
          title: Contact Number
          type: string
        name: contact_number
        in: query
      - required: false
        schema:
          title: Preferred Communication
          type: string
        name: preferred_communication
        in: query
      - required: false
        schema:
          title: Vin
          type: string
        name: vin
        in: query
      - required: false
        schema:
          title: Stock
          type: string
        name: stock
        in: query
      - required: false
        schema:
          title: Created At
          type: string
        name: created_at
        in: query
      - required: false
        schema:
          title: Last Updated At
          type: string
        name: last_updated_at
        in: query
      - required: false
        schema:
          title: Last Synced Status
          type: string
        name: last_synced_status
        in: query
      - required: false
        schema:
          title: Lead Source
          type: string
        name: lead_source
        in: query
      - required: false
        schema:
          title: Page
          type: integer
          default: 1
        name: page
        in: query
      - required: false
        schema:
          title: Page Size
          type: integer
          default: 10
        name: page_size
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/lead/change-status/{lead_id}:
    patch:
      tags:
      - Lead- Management
      summary: Update exisitng lead status
      description: This method will update exisitng lead status along with any other param update
      operationId: change_status_dms_lead_change_status__lead_id__patch
      parameters:
      - required: true
        schema:
          title: Lead Id
          type: integer
        name: lead_id
        in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeadModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
components:
  schemas:
    LeadModel:
      title: LeadModel
      type: object
      properties:
        id:
          title: Id
          type: integer
        slug:
          title: Slug
          type: string
        key_id:
          title: Key Id
          type: integer
        dealer_id:
          title: Dealer Id
          type: integer
        data:
          $ref: '#/components/schemas/LeadData'
        status:
          title: Status
          type: string
        reference_id:
          title: Reference Id
          type: string
    LeadData:
      title: LeadData
      type: object
      properties:
        vehicle_details:
          title: Vehicle Details
          type: object
          description: Vehicle Details
        customer_details:
          title: Customer Details
          type: object
          description: Customer Details
        vehicle_search_criteria:
          title: Vehicle Search Criteria
          type: object
          description: Vehicle Search Criteria
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: /signup/verify-otp
externalDocs:
  url: https://developer.appexnow.com/docs/lane/overview
  description: Product Documentation
