openapi: 3.0.2
info:
  version: 1.3.43
  title: Lane Customer  Document API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: Lane offers a feature-rich, end-to-end order management system for asset leasing, loans and credit companies. Our platform covers all aspects, from conducting end-to-end sales to performing dealer and partner-related tasks and marketing-related activities.
servers:
- url: https://dms-api.netsolapp.io
tags:
- name: Customer  Document
paths:
  /dms/customer/documents/{customer_reference_id}:
    patch:
      tags:
      - Customer  Document
      summary: Update customer document by identifier
      operationId: get_customer_document_dms_customer_documents__customer_reference_id__patch
      parameters:
      - required: true
        schema:
          title: Customer Reference Id
          type: string
        name: customer_reference_id
        in: path
      requestBody:
        content:
          application/json:
            schema:
              title: Item
              type: array
              items:
                $ref: '#/components/schemas/CustomerDocumentUpdateDMSModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
components:
  schemas:
    CustomerDocumentUpdateDMSModel:
      title: CustomerDocumentUpdateDMSModel
      required:
      - customer_reference_id
      - content_type
      - updated_by
      type: object
      properties:
        customer_reference_id:
          title: Customer Reference Id
          type: string
        document:
          title: Document
          type: string
        document_name:
          title: Document Name
          type: string
        document_size:
          title: Document Size
          type: string
        comment:
          title: Comment
          type: string
        category:
          $ref: '#/components/schemas/StipulationCategory'
        content_type:
          title: Content Type
          type: string
        uploaded_by:
          title: Uploaded By
          type: string
        uploaded_at:
          title: Uploaded At
          type: string
          format: date-time
        updated_by:
          title: Updated By
          type: string
        expires_at:
          title: Expires At
          type: string
          description: 'format: YYYY-MM-DD hh:mm:ss'
          format: date-time
        document_reference_id:
          title: Document Reference Id
          type: string
        id:
          title: Id
          type: integer
        identifier:
          title: Identifier
          type: string
        document_type:
          title: Document Type
          type: string
        created_by:
          title: Created By
          type: string
        document_status:
          title: Document Status
          type: string
        external_reference_id:
          title: External Reference Id
          type: string
        stipulation_code:
          title: Stipulation Code
          type: string
        document_upload_indicator:
          title: Document Upload Indicator
          type: boolean
          default: false
    StipulationCategory:
      title: StipulationCategory
      enum:
      - STIP
      - NON_STIP
      type: string
      description: An enumeration.
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: /signup/verify-otp
externalDocs:
  url: https://developer.appexnow.com/docs/lane/overview
  description: Product Documentation
