openapi: 3.0.2
info:
  version: 1.3.43
  title: Lane Lender API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: Lane offers a feature-rich, end-to-end order management system for asset leasing, loans and credit companies. Our platform covers all aspects, from conducting end-to-end sales to performing dealer and partner-related tasks and marketing-related activities.
servers:
- url: https://dms-api.netsolapp.io
tags:
- name: Lender
paths:
  /dms/order/approve-order-by-lender/{reference_number}/{lender_id}:
    patch:
      tags:
      - Lender
      summary: Update Order Status and Lender Id
      description: Update the order status to approve and replace lender id
      operationId: approve_order_by_lender_dms_order_approve_order_by_lender__reference_number___lender_id__patch
      parameters:
      - required: true
        schema:
          title: Reference Number
          type: string
        name: reference_number
        in: path
      - required: true
        schema:
          title: Lender Id
          type: integer
        name: lender_id
        in: path
      - required: false
        schema:
          title: Order Status
          type: string
        name: order_status
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/stipulation/stipulation-by-lender:
    get:
      tags:
      - Lender
      summary: Get Financial Stipulation
      operationId: get_order_fee_by_id_dms_stipulation_stipulation_by_lender_get
      parameters:
      - required: true
        schema:
          title: Company Id
          type: integer
        name: company_id
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get Order Fee By Id Dms Stipulation Stipulation By Lender Get
                type: array
                items:
                  $ref: '#/components/schemas/StipulationResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    StipulationResponseModel:
      title: StipulationResponseModel
      type: object
      properties:
        stipulation_code:
          title: Stipulation Code
          type: string
        stipulation_type:
          title: Stipulation Type
          type: string
        parameter:
          title: Parameter
          type: string
        description:
          title: Description
          type: string
        document_code:
          title: Document Code
          type: string
        assignee:
          title: Assignee
          type: string
        lender_id:
          title: Lender Id
          type: integer
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: /signup/verify-otp
externalDocs:
  url: https://developer.appexnow.com/docs/lane/overview
  description: Product Documentation
