openapi: 3.0.2
info:
  version: 1.3.43
  title: Lane Reference_number API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: Lane offers a feature-rich, end-to-end order management system for asset leasing, loans and credit companies. Our platform covers all aspects, from conducting end-to-end sales to performing dealer and partner-related tasks and marketing-related activities.
servers:
- url: https://dms-api.netsolapp.io
tags:
- name: Reference_number
paths:
  /dms/configure/order-to-quotation/{identifier}/{reference_number}:
    patch:
      tags:
      - Reference_number
      summary: Convert specific Order to Quotation
      description: Update order record from application to quotation
      operationId: convert_order_to_quotation_dms_configure_order_to_quotation__identifier___reference_number__patch
      parameters:
      - required: true
        schema:
          title: Identifier
        name: identifier
        in: path
      - required: true
        schema:
          title: Reference Number
        name: reference_number
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/order/order_information/{reference_number}:
    get:
      tags:
      - Reference_number
      summary: Get order by order status
      description: Get order by order status
      operationId: get_order_information_dms_order_order_information__reference_number__get
      parameters:
      - required: true
        schema:
          title: Reference Number
          type: string
        name: reference_number
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/order/order_insurance_documents/{reference_number}:
    get:
      tags:
      - Reference_number
      summary: Get order insurance documents by order ID
      description: Get order insurance documents by order ID
      operationId: get_order_insurance_documents_dms_order_order_insurance_documents__reference_number__get
      parameters:
      - required: true
        schema:
          title: Reference Number
          type: string
        name: reference_number
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: /signup/verify-otp
externalDocs:
  url: https://developer.appexnow.com/docs/lane/overview
  description: Product Documentation
