openapi: 3.0.2
info:
  version: 1.3.43
  title: Lane Credit API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: Lane offers a feature-rich, end-to-end order management system for asset leasing, loans and credit companies. Our platform covers all aspects, from conducting end-to-end sales to performing dealer and partner-related tasks and marketing-related activities.
servers:
- url: https://dms-api.netsolapp.io
tags:
- name: Credit
paths:
  /dms/order/credit-decision:
    get:
      tags:
      - Credit
      summary: Get credit decision
      description: Get credit decision
      operationId: get_credit_decision_dms_order_credit_decision_get
      parameters:
      - required: true
        schema:
          title: Reference Number
          type: string
        name: reference_number
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    post:
      tags:
      - Credit
      summary: Add credit decision
      description: Add credit decision
      operationId: create_credit_decision_dms_order_credit_decision_post
      parameters:
      - required: true
        schema:
          title: Reference Number
          type: string
        name: reference_number
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderCreditDecisionModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderCreditDecisionResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /dms/order/update-credit-approver-decision/{reference_number}:
    patch:
      tags:
      - Credit
      summary: Update decision status after receiving decision from credit approver
      description: Update an configured quotation
      operationId: update_credit_approver_decision_dms_order_update_credit_approver_decision__reference_number__patch
      parameters:
      - required: true
        schema:
          title: Reference Number
          type: string
        name: reference_number
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderQuotationModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/credit-request:
    post:
      tags:
      - Credit
      summary: Mock Credit Approver Request
      description: Mock Request
      operationId: get_credit_approver_request_dms_credit_request_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditOrderRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/credit-ratings:
    get:
      tags:
      - Credit
      summary: Get All Credit Rating
      operationId: get_all_credit_rating_dms_credit_ratings_get
      parameters:
      - required: true
        schema:
          title: Company Id
          type: string
        name: company_id
        in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
components:
  schemas:
    CustomerAddressWithoutAddressTypeModel:
      title: CustomerAddressWithoutAddressTypeModel
      type: object
      properties:
        address_line_1:
          title: Address Line 1
          type: string
          description: Address line one
        address_line_2:
          title: Address Line 2
          type: string
          description: Address line two
        state_name:
          title: State Name
          type: string
          description: Address state name
        zip_code:
          title: Zip Code
          type: string
          description: Zip code
        county:
          title: County
          type: string
          description: Address county
        city:
          title: City
          type: string
          description: Address city
        contact_number:
          title: Contact Number
          type: string
          description: Contact number
        verified:
          title: Verified
          type: boolean
          description: Is Address verified
        move_in_date:
          title: Move In Date
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        is_garaging:
          title: Is Garaging
          type: boolean
          description: Garaging flag
          default: false
        identifier:
          title: Identifier
          minLength: 1
          type: string
    TradeInCheckList:
      title: TradeInCheckList
      type: object
      properties:
        question:
          title: Question
          type: string
        answer:
          title: Answer
          type: string
        trade_in_id:
          title: Trade In Id
          type: integer
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
    InsuranceInformationWithAddressesModel:
      title: InsuranceInformationWithAddressesModel
      required:
      - created_by
      type: object
      properties:
        order_reference_id:
          title: Order Reference Id
          type: string
        reference_id:
          title: Reference Id
          type: string
        insurer_name:
          title: Insurer Name
          type: string
        agent_phone:
          title: Agent Phone
          type: string
        subscription_id:
          title: Subscription Id
          type: string
        agent_name:
          title: Agent Name
          type: string
        policy_number:
          title: Policy Number
          type: string
        start_date:
          title: Start Date
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        expiration_date:
          title: Expiration Date
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        deductible_comprehensive:
          title: Deductible Comprehensive
          type: number
        deductible_collision:
          title: Deductible Collision
          type: number
        created_by:
          title: Created By
          type: string
        identifier:
          title: Identifier
          type: string
        is_verified:
          title: Is Verified
          type: boolean
          default: false
        insurance_documents:
          title: Insurance Documents
          type: array
          items:
            $ref: '#/components/schemas/InsuranceDocumentsModel'
        insurer_address:
          $ref: '#/components/schemas/CustomerAddressWithoutAddressTypeModel'
    OrderQuotationResponseModel:
      title: OrderQuotationResponseModel
      required:
      - status
      - reference_number
      - order_asset_number
      - identifier
      type: object
      properties:
        id:
          title: Id
          type: integer
        dealer_id:
          title: Dealer Id
          type: integer
        lender_id:
          title: Lender Id
          type: integer
        broker_id:
          title: Broker Id
          type: integer
        company_id:
          title: Company Id
          type: integer
        name:
          title: Name
          type: string
        contract_term:
          title: Contract Term
          type: integer
        allowed_usage:
          title: Allowed Usage
          type: integer
        credit_rating:
          title: Credit Rating
          type: string
        apr:
          title: Apr
          type: number
        estimated_monthly_payment:
          title: Estimated Monthly Payment
          type: number
        annual_usage:
          title: Annual Usage
          type: number
          default: 0
        due_at_signing:
          title: Due At Signing
          type: number
        is_payment_updated:
          title: Is Payment Updated
          type: boolean
          default: false
        selling_price:
          title: Selling Price
          type: number
        down_payment:
          title: Down Payment
          type: number
        down_payment_lease:
          title: Down Payment Lease
          type: number
        tax_amount:
          title: Tax Amount
          type: number
        tax_amount_number:
          title: Tax Amount Number
          type: number
        deferred_type:
          title: Deferred Type
          type: string
        rv_balloon_percentage:
          title: Rv Balloon Percentage
          type: number
        rv_balloon_value:
          title: Rv Balloon Value
          type: number
        balloon_collection:
          title: Balloon Collection
          type: string
        fp_id:
          title: Fp Id
          type: integer
        vehicle_id:
          title: Vehicle Id
          type: integer
        msrp:
          title: Msrp
          type: number
        schedule_option:
          title: Schedule Option
          type: string
        asset_usage:
          title: Asset Usage
          type: string
        calcuation_method:
          title: Calcuation Method
          type: string
        order_stage:
          title: Order Stage
          type: string
        finance_type:
          title: Finance Type
          type: string
        order_fees:
          title: Order Fees
          type: array
          items:
            $ref: '#/components/schemas/OrderFeeCreateModel'
        order_options:
          title: Order Options
          type: array
          items:
            anyOf:
            - $ref: '#/components/schemas/OrderOptionCreateModel'
            - $ref: '#/components/schemas/Option'
        order_fnI:
          title: Order Fni
          type: array
          items:
            anyOf:
            - $ref: '#/components/schemas/OrderFinancialInsuranceProductCreateModel'
            - $ref: '#/components/schemas/FinancialInsurance'
        order_tradein:
          $ref: '#/components/schemas/OrderTradeInCreateModel'
        appointment_details:
          $ref: '#/components/schemas/libdms__models__CreateAppointmentModel'
        finance_amount:
          title: Finance Amount
          type: number
        order_asset:
          $ref: '#/components/schemas/OrderAssetModel'
        insurance:
          $ref: '#/components/schemas/InsuranceInformationWithAddressesModel'
        payment_recieved:
          title: Payment Recieved
          type: boolean
        base_rate:
          title: Base Rate
          type: number
        rate_type:
          title: Rate Type
          type: string
        commission_type:
          title: Commission Type
          type: string
        margin:
          title: Margin
          type: number
        applicable_rate:
          title: Applicable Rate
          type: number
        invoice_status:
          $ref: '#/components/schemas/InvoiceStatus'
        rental_mode:
          title: Rental Mode
          type: string
        rental_frequency:
          title: Rental Frequency
          type: string
        running_id:
          title: Running Id
          type: string
        order_currency:
          title: Order Currency
          type: string
        commission_amount:
          title: Commission Amount
          type: number
        received_security_deposit:
          title: Received Security Deposit
          type: integer
        net_finance_amount:
          title: Net Finance Amount
          type: number
        rebate:
          title: Rebate
          type: number
        capitalized_cost_reduction:
          title: Capitalized Cost Reduction
          type: number
        monthly_deprecation:
          title: Monthly Deprecation
          type: number
        tax_on_capitalized_cost_reduction:
          title: Tax On Capitalized Cost Reduction
          type: number
        monthly_sales_use_tax:
          title: Monthly Sales Use Tax
          type: number
        sum_of_fees:
          title: Sum Of Fees
          type: number
        sum_of_periodic_interest:
          title: Sum Of Periodic Interest
          type: number
        sum_of_rentals:
          title: Sum Of Rentals
          type: number
        total_payables:
          title: Total Payables
          type: number
        non_vatable_amount:
          title: Non Vatable Amount
          type: number
        individualized_agreement:
          title: Individualized Agreement
          type: string
        base_residual_type:
          title: Base Residual Type
          type: integer
        excess_mileage_rate:
          title: Excess Mileage Rate
          type: number
        asset_rv_amount:
          title: Asset Rv Amount
          type: number
        customer_id:
          title: Customer Id
          type: integer
        status:
          title: Status
          type: string
        reference_number:
          title: Reference Number
          type: string
        order_asset_number:
          title: Order Asset Number
          type: string
        identifier:
          title: Identifier
          type: string
    CustomerAddressWithId:
      title: CustomerAddressWithId
      required:
      - address_type
      type: object
      properties:
        address_line_1:
          title: Address Line 1
          type: string
          description: Address line one
        address_line_2:
          title: Address Line 2
          type: string
          description: Address line two
        state_name:
          title: State Name
          type: string
          description: Address state name
        zip_code:
          title: Zip Code
          type: string
          description: Zip code
        county:
          title: County
          type: string
          description: Address county
        city:
          title: City
          type: string
          description: Address city
        contact_number:
          title: Contact Number
          type: string
          description: Contact number
        verified:
          title: Verified
          type: boolean
          description: Is Address verified
        move_in_date:
          title: Move In Date
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        is_garaging:
          title: Is Garaging
          type: boolean
          description: Garaging flag
          default: false
        address_type:
          $ref: '#/components/schemas/AddressTypes'
        identifier:
          title: Identifier
          minLength: 1
          type: string
        id:
          title: Id
          type: integer
    OrderOptionCreateModel:
      title: OrderOptionCreateModel
      required:
      - option_id
      - applied_price
      - rv_balloon_percentage
      type: object
      properties:
        option_id:
          title: Option Id
          type: integer
        identifier:
          title: Identifier
          type: string
        applied_price:
          title: Applied Price
          type: number
        rv_balloon_percentage:
          title: Rv Balloon Percentage
          type: number
        rv_balloon_value:
          title: Rv Balloon Value
          type: number
    CustomerAddressPreResponseModel:
      title: CustomerAddressPreResponseModel
      required:
      - address_type
      type: object
      properties:
        address_line_1:
          title: Address Line 1
          type: string
          description: Address line one
        address_line_2:
          title: Address Line 2
          type: string
          description: Address line two
        state_name:
          title: State Name
          type: string
          description: Address state name
        zip_code:
          title: Zip Code
          type: string
          description: Zip code
        county:
          title: County
          type: string
          description: Address county
        city:
          title: City
          type: string
          description: Address city
        contact_number:
          title: Contact Number
          type: string
          description: Contact number
        verified:
          title: Verified
          type: boolean
          description: Is Address verified
        move_in_date:
          title: Move In Date
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        is_garaging:
          title: Is Garaging
          type: boolean
          description: Garaging flag
          default: false
        address_type:
          $ref: '#/components/schemas/AddressTypes'
        identifier:
          title: Identifier
          type: string
        created_at:
          title: Created At
          type: string
          format: date-time
        created_by:
          title: Created By
          type: string
        updated_at:
          title: Updated At
          type: string
          format: date-time
        updated_by:
          title: Updated By
          type: string
        deleted_at:
          title: Deleted At
          type: string
          format: date-time
        deleted_by:
          title: Deleted By
          type: string
    InvoiceStatus:
      title: InvoiceStatus
      enum:
      - Active
      - Paused
      - Resumed
      type: string
      description: An enumeration.
    VehicleCondition:
      title: VehicleCondition
      enum:
      - Fair
      - Good
      - Very Good
      - Excellent
      type: string
      description: An enumeration.
    CreditOrderRequest:
      title: CreditOrderRequest
      required:
      - lender_ids
      type: object
      properties:
        result:
          title: Result
          type: array
          items:
            $ref: '#/components/schemas/OrderInformationModel'
        page_number:
          title: Page Number
          type: integer
        page_size:
          title: Page Size
          type: integer
        total_pages:
          title: Total Pages
          type: integer
        total_results:
          title: Total Results
          type: integer
        lender_ids:
          title: Lender Ids
          type: array
          items:
            type: integer
          description: list of lender ids the order will be submitted to
    OrderTradeInCreateModel:
      title: OrderTradeInCreateModel
      type: object
      properties:
        year:
          title: Year
          type: integer
        make:
          title: Make
          type: string
        model:
          title: Model
          type: string
        trim:
          title: Trim
          type: string
        mileage:
          title: Mileage
          type: integer
        vin:
          title: Vin
          type: string
        identifier:
          title: Identifier
          type: string
        condition:
          $ref: '#/components/schemas/VehicleCondition'
        trade_in_amount:
          title: Trade In Amount
          type: number
        is_customer_titled:
          title: Is Customer Titled
          type: boolean
        loan_lease_balance:
          title: Loan Lease Balance
          type: boolean
        lender_contract_number:
          title: Lender Contract Number
          type: string
        lender_name:
          title: Lender Name
          type: string
        lender_address:
          title: Lender Address
          type: string
        lender_contact_number:
          title: Lender Contact Number
          type: string
        payment_type:
          $ref: '#/components/schemas/PaymentType'
        payoff_amount:
          title: Payoff Amount
          type: number
        lender_id:
          title: Lender Id
          type: integer
          description: DealerTradeIn lender id
        asset_image:
          title: Asset Image
          type: array
          items:
            type: string
        trade_in_type:
          $ref: '#/components/schemas/TradeInType'
        question_answers:
          title: Question Answers
          type: array
          items:
            $ref: '#/components/schemas/TradeInCheckList'
    InsuranceDocumentsModel:
      title: InsuranceDocumentsModel
      required:
      - content_type
      - name
      - file_size
      type: object
      properties:
        document:
          title: Document
          type: string
        content_type:
          title: Content Type
          minLength: 1
          type: string
          description: 'format: application/pdf, image/png '
        name:
          title: Name
          minLength: 1
          type: string
        file_size:
          title: File Size
          minLength: 1
          type: string
        created_by:
          title: Created By
          type: string
        doucment_reference_id:
          title: Doucment Reference Id
          type: string
    OrderFeeCreateModel:
      title: OrderFeeCreateModel
      required:
      - dealer_fee_id
      - applied_price
      type: object
      properties:
        dealer_fee_id:
          title: Dealer Fee Id
          type: integer
        applied_price:
          title: Applied Price
          type: number
        identifier:
          title: Identifier
          type: string
        vendor:
          title: Vendor
          type: string
        fee_type:
          title: Fee Type
          type: string
    Option:
      title: Option
      required:
      - option_id
      - applied_price
      - rv_balloon_percentage
      - rv_balloon_value
      type: object
      properties:
        option_id:
          title: Option Id
          type: integer
        identifier:
          title: Identifier
          type: string
        applied_price:
          title: Applied Price
          type: number
        rv_balloon_percentage:
          title: Rv Balloon Percentage
          type: number
        rv_balloon_value:
          title: Rv Balloon Value
          type: number
    LicenseInfoCustomerResponseModel:
      title: LicenseInfoCustomerResponseModel
      type: object
      properties:
        first_name:
          title: First Name
          type: string
        last_name:
          title: Last Name
          type: string
        status:
          title: Status
          type: string
        license_number:
          title: License Number
          type: string
        is_pdf_417:
          title: Is Pdf 417
          type: boolean
        issue_date:
          title: Issue Date
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        expiry_date:
          title: Expiry Date
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        date_of_birth:
          title: Date Of Birth
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        is_selfie_verified:
          title: Is Selfie Verified
          type: boolean
    OrderFinancialInsuranceProductCreateModel:
      title: OrderFinancialInsuranceProductCreateModel
      required:
      - applied_price
      - financial_insurance_id
      type: object
      properties:
        applied_price:
          title: Applied Price
          type: number
        financial_insurance_id:
          title: Financial Insurance Id
          type: integer
        form_id:
          title: Form Id
          type: integer
        rate_id:
          title: Rate Id
          type: integer
        mileage:
          title: Mileage
          type: integer
        term:
          title: Term
          type: integer
        session_id:
          title: Session Id
          type: string
        identifier:
          title: Identifier
          type: string
        is_msp:
          title: Is Msp
          type: boolean
    CustomerProfileModelResponse:
      title: CustomerProfileModelResponse
      type: object
      properties:
        prefix:
          title: Prefix
          type: string
        first_name:
          title: First Name
          type: string
        middle_name:
          title: Middle Name
          type: string
        last_name:
          title: Last Name
          type: string
        suffix:
          title: Suffix
          type: string
        ssn:
          title: Ssn
          type: string
        mobile_number:
          title: Mobile Number
          type: string
        mobile_number_verified_status:
          title: Mobile Number Verified Status
          type: boolean
          default: false
        home_number:
          title: Home Number
          type: string
        home_number_verified_status:
          title: Home Number Verified Status
          type: boolean
          default: false
        customer_type:
          title: Customer Type
          type: string
        date_of_birth:
          title: Date Of Birth
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        meta_data:
          title: Meta Data
          type: object
        stripe_customer_id:
          title: Stripe Customer Id
          type: string
        preferred_contact:
          title: Preferred Contact
          type: string
        reference_id:
          title: Reference Id
          type: string
        external_id:
          title: External Id
          type: string
        identifier:
          title: Identifier
          type: string
        email:
          title: Email
          type: string
        created_by:
          title: Created By
          type: string
        created_at:
          title: Created At
          type: string
          format: date-time
        updated_at:
          title: Updated At
          type: string
          format: date-time
        updated_by:
          title: Updated By
          type: string
        deleted_at:
          title: Deleted At
          type: string
          format: date-time
        deleted_by:
          title: Deleted By
          type: string
        customer_addresses:
          title: Customer Addresses
          type: array
          items:
            $ref: '#/components/schemas/CustomerAddressPreResponseModel'
        income_info:
          $ref: '#/components/schemas/CustomerEmploymentInfoPreResponseModel'
        payments_info:
          title: Payments Info
          type: array
          items:
            $ref: '#/components/schemas/CustomerPaymentInfoResponseModel'
        license_info:
          $ref: '#/components/schemas/LicenseInfoCustomerResponseModel'
    CustomerEmploymentInfoPreResponseModel:
      title: CustomerEmploymentInfoPreResponseModel
      type: object
      properties:
        employment_type:
          title: Employment Type
          type: string
          description: Employment type
        name:
          title: Name
          type: string
          description: Name
        phone:
          title: Phone
          type: string
          description: Phone
        employed_since:
          title: Employed Since
          type: string
          description: Employed since
          format: date
        occupation:
          title: Occupation
          type: string
          description: Occupation
        annual_employment_income:
          title: Annual Employment Income
          type: number
          description: Annual employment income
        annual_other_income:
          title: Annual Other Income
          type: number
          description: Annual other income
        source_of_other_income:
          title: Source Of Other Income
          type: string
          description: Annual other income
        created_at:
          title: Created At
          type: string
          format: date-time
        created_by:
          title: Created By
          type: string
        updated_at:
          title: Updated At
          type: string
          format: date-time
        updated_by:
          title: Updated By
          type: string
        deleted_at:
          title: Deleted At
          type: string
          format: date-time
        deleted_by:
          title: Deleted By
          type: string
    PaymentType:
      title: PaymentType
      enum:
      - Lease
      - Finance
      type: string
      description: An enumeration.
    OrderInformationModel:
      title: OrderInformationModel
      required:
      - order_info
      - customer_info
      type: object
      properties:
        order_info:
          $ref: '#/components/schemas/OrderQuotationResponseModel'
        customer_info:
          $ref: '#/components/schemas/CustomerProfileModelResponse'
    OrderAssetModel:
      title: OrderAssetModel
      type: object
      properties:
        make:
          title: Make
          type: string
        identifier:
          title: Identifier
          type: string
        model:
          title: Model
          type: string
        trim:
          title: Trim
          type: string
        year_manufacturer:
          title: Year Manufacturer
          type: string
        msrp:
          title: Msrp
          type: number
        mileage:
          title: Mileage
          type: integer
        exterior_color:
          title: Exterior Color
          type: string
        condition:
          title: Condition
          type: array
          items:
            type: string
        classification:
          title: Classification
          type: string
        engine_cylinder:
          title: Engine Cylinder
          type: string
        power_type:
          title: Power Type
          type: string
        power_figure:
          title: Power Figure
          type: string
        engine_displacement:
          title: Engine Displacement
          type: string
        fuel_type:
          title: Fuel Type
          type: string
        quantity:
          title: Quantity
          type: string
        unit_price:
          title: Unit Price
          type: string
        unit_tax:
          title: Unit Tax
          type: string
        total:
          title: Total
          type: string
        vin:
          title: Vin
          type: string
        asset_type:
          title: Asset Type
          type: string
        rv_balloon_amount:
          title: Rv Balloon Amount
          type: number
    AddressTypes:
      title: AddressTypes
      enum:
      - Mailing
      - Invoice
      - Office
      - Garaging
      - DealerAddress
      - DrivingLicense
      - Billing
      - InsuranceAddress
      - Residential
      - Employment
      type: string
      description: An enumeration.
    OrderQuotationModel:
      title: OrderQuotationModel
      type: object
      properties:
        id:
          title: Id
          type: integer
        dealer_id:
          title: Dealer Id
          type: integer
        lender_id:
          title: Lender Id
          type: integer
        broker_id:
          title: Broker Id
          type: integer
        company_id:
          title: Company Id
          type: integer
        name:
          title: Name
          type: string
        contract_term:
          title: Contract Term
          type: integer
        allowed_usage:
          title: Allowed Usage
          type: integer
        credit_rating:
          title: Credit Rating
          type: string
        apr:
          title: Apr
          type: number
        estimated_monthly_payment:
          title: Estimated Monthly Payment
          type: number
        annual_usage:
          title: Annual Usage
          type: number
          default: 0
        due_at_signing:
          title: Due At Signing
          type: number
        is_payment_updated:
          title: Is Payment Updated
          type: boolean
          default: false
        selling_price:
          title: Selling Price
          type: number
        down_payment:
          title: Down Payment
          type: number
        down_payment_lease:
          title: Down Payment Lease
          type: number
        tax_amount:
          title: Tax Amount
          type: number
        tax_amount_number:
          title: Tax Amount Number
          type: number
        deferred_type:
          title: Deferred Type
          type: string
        rv_balloon_percentage:
          title: Rv Balloon Percentage
          type: number
        rv_balloon_value:
          title: Rv Balloon Value
          type: number
        balloon_collection:
          title: Balloon Collection
          type: string
        fp_id:
          title: Fp Id
          type: integer
        vehicle_id:
          title: Vehicle Id
          type: integer
        msrp:
          title: Msrp
          type: number
        schedule_option:
          title: Schedule Option
          type: string
        asset_usage:
          title: Asset Usage
          type: string
        calcuation_method:
          title: Calcuation Method
          type: string
        order_stage:
          title: Order Stage
          type: string
        finance_type:
          title: Finance Type
          type: string
        order_fees:
          title: Order Fees
          type: array
          items:
            $ref: '#/components/schemas/OrderFeeCreateModel'
        order_options:
          title: Order Options
          type: array
          items:
            anyOf:
            - $ref: '#/components/schemas/OrderOptionCreateModel'
            - $ref: '#/components/schemas/Option'
        order_fnI:
          title: Order Fni
          type: array
          items:
            anyOf:
            - $ref: '#/components/schemas/OrderFinancialInsuranceProductCreateModel'
            - $ref: '#/components/schemas/FinancialInsurance'
        order_tradein:
          $ref: '#/components/schemas/OrderTradeInCreateModel'
        appointment_details:
          $ref: '#/components/schemas/libdms__models__CreateAppointmentModel'
        finance_amount:
          title: Finance Amount
          type: number
        order_asset:
          $ref: '#/components/schemas/OrderAssetModel'
        insurance:
          $ref: '#/components/schemas/InsuranceInformationWithAddressesModel'
        payment_recieved:
          title: Payment Recieved
          type: boolean
        base_rate:
          title: Base Rate
          type: number
        rate_type:
          title: Rate Type
          type: string
        commission_type:
          title: Commission Type
          type: string
        margin:
          title: Margin
          type: number
        applicable_rate:
          title: Applicable Rate
          type: number
        invoice_status:
          $ref: '#/components/schemas/InvoiceStatus'
        rental_mode:
          title: Rental Mode
          type: string
        rental_frequency:
          title: Rental Frequency
          type: string
        running_id:
          title: Running Id
          type: string
        order_currency:
          title: Order Currency
          type: string
        commission_amount:
          title: Commission Amount
          type: number
        received_security_deposit:
          title: Received Security Deposit
          type: integer
        net_finance_amount:
          title: Net Finance Amount
          type: number
        rebate:
          title: Rebate
          type: number
        capitalized_cost_reduction:
          title: Capitalized Cost Reduction
          type: number
        monthly_deprecation:
          title: Monthly Deprecation
          type: number
        tax_on_capitalized_cost_reduction:
          title: Tax On Capitalized Cost Reduction
          type: number
        monthly_sales_use_tax:
          title: Monthly Sales Use Tax
          type: number
        sum_of_fees:
          title: Sum Of Fees
          type: number
        sum_of_periodic_interest:
          title: Sum Of Periodic Interest
          type: number
        sum_of_rentals:
          title: Sum Of Rentals
          type: number
        total_payables:
          title: Total Payables
          type: number
        non_vatable_amount:
          title: Non Vatable Amount
          type: number
        individualized_agreement:
          title: Individualized Agreement
          type: string
        base_residual_type:
          title: Base Residual Type
          type: integer
        excess_mileage_rate:
          title: Excess Mileage Rate
          type: number
        asset_rv_amount:
          title: Asset Rv Amount
          type: number
    FinancialInsurance:
      title: FinancialInsurance
      type: object
      properties:
        applied_price:
          title: Applied Price
          type: integer
        financial_insurance_id:
          title: Financial Insurance Id
          type: integer
        identifier:
          title: Identifier
          type: string
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    OrderCreditDecisionModel:
      title: OrderCreditDecisionModel
      required:
      - order_id
      type: object
      properties:
        order_id:
          title: Order Id
          type: integer
        decision_code:
          title: Decision Code
          type: string
        description:
          title: Description
          type: string
        response_code:
          title: Response Code
          type: string
        mapped_code:
          title: Mapped Code
          type: string
        stipulation:
          title: Stipulation
          type: array
          items:
            type: object
    CustomerPaymentInfoResponseModel:
      title: CustomerPaymentInfoResponseModel
      type: object
      properties:
        type:
          title: Type
          type: string
        stripe_payment_method_id:
          title: Stripe Payment Method Id
          type: string
        access_token:
          title: Access Token
          type: string
        account_id:
          title: Account Id
          type: string
        Bank_name:
          title: Bank Name
          type: string
        last4:
          title: Last4
          type: integer
        default:
          title: Default
          type: boolean
        created_at:
          title: Created At
          type: string
          format: date-time
        created_by:
          title: Created By
          type: string
        updated_at:
          title: Updated At
          type: string
          format: date-time
        updated_by:
          title: Updated By
          type: string
        deleted_at:
          title: Deleted At
          type: string
          format: date-time
        deleted_by:
          title: Deleted By
          type: string
    TradeInType:
      title: TradeInType
      enum:
      - Manual Estimate
      - Make Model
      - Vin
      - License Plate
      type: string
      description: An enumeration.
    OrderCreditDecisionResponseModel:
      title: OrderCreditDecisionResponseModel
      required:
      - order_id
      type: object
      properties:
        order_id:
          title: Order Id
          type: integer
        decision_code:
          title: Decision Code
          type: string
        description:
          title: Description
          type: string
        response_code:
          title: Response Code
          type: string
        mapped_code:
          title: Mapped Code
          type: string
        stipulation:
          title: Stipulation
          type: array
          items:
            type: object
        created_at:
          title: Created At
          type: string
          format: date-time
        updated_at:
          title: Updated At
          type: string
          format: date-time
        created_by:
          title: Created By
          type: string
        updated_by:
          title: Updated By
          type: string
    libdms__models__CreateAppointmentModel:
      title: CreateAppointmentModel
      type: object
      properties:
        id:
          title: Id
          type: integer
        order_id:
          title: Order Id
          type: integer
        dealer_id:
          title: Dealer Id
          type: integer
        customer_id:
          title: Customer Id
          type: integer
        appointment_date:
          title: Appointment Date
          type: string
          format: date-time
        appointment_type:
          title: Appointment Type
          type: string
        appointment_status:
          title: Appointment Status
          type: string
        comments:
          title: Comments
          type: string
        address_id:
          title: Address Id
          type: integer
        dealer_code:
          title: Dealer Code
          type: string
        address_data:
          $ref: '#/components/schemas/CustomerAddressWithId'
        created_by:
          title: Created By
          type: string
        updated_by:
          title: Updated By
          type: string
        time_zone:
          title: Time Zone
          type: string
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: /signup/verify-otp
externalDocs:
  url: https://developer.appexnow.com/docs/lane/overview
  description: Product Documentation
