openapi: 3.2.0
info:
  version: 1.3.43
  title: Lane Request API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: Lane offers a feature-rich, end-to-end order management system for asset leasing, loans and credit companies. Our platform covers all aspects, from conducting end-to-end sales to performing dealer and partner-related tasks and marketing-related activities.
servers:
- url: https://dms-api.netsolapp.io
tags:
- name: Request
  description: Manage operations related to Request
paths:
  /dms/request:
    get:
      tags:
      - Request
      summary: Get Request
      operationId: get_request_dms_request_get
      parameters:
      - required: true
        schema:
          title: Request Id
          type: integer
        name: request_id
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    post:
      tags:
      - Request
      summary: Create Request
      operationId: add_request_dms_request_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestModel'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    delete:
      tags:
      - Request
      summary: Delete Request
      operationId: delete_request_dms_request_delete
      parameters:
      - required: true
        schema:
          title: Request Id
          type: integer
        name: request_id
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
      - Request
      summary: Update Request
      operationId: update_request_dms_request_patch
      parameters:
      - required: true
        schema:
          title: Request Id
          type: integer
        name: request_id
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/requests:
    get:
      tags:
      - Request
      summary: Get All Requests
      operationId: get_all_request_dms_requests_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get All Request Dms Requests Get
                type: array
                items:
                  $ref: '#/components/schemas/RequestResponseModel'
components:
  schemas:
    RequestResponseModel:
      title: RequestResponseModel
      type: object
      properties:
        request_type:
          title: Request Type
          type: string
        order_reference_number:
          title: Order Reference Number
          type: string
        request_status:
          title: Request Status
          type: string
        lender_id:
          title: Lender Id
          type: integer
        dealer_id:
          title: Dealer Id
          type: integer
        last_action_date:
          title: Last Action Date
          type: string
          format: date-time
        created_at:
          title: Created At
          type: string
          format: date-time
        updated_at:
          title: Updated At
          type: string
          format: date-time
        created_by:
          title: Created By
          type: string
        updated_by:
          title: Updated By
          type: string
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
    RequestModel:
      title: RequestModel
      type: object
      properties:
        request_type:
          title: Request Type
          type: string
        order_reference_number:
          title: Order Reference Number
          type: string
        request_status:
          title: Request Status
          type: string
        lender_id:
          title: Lender Id
          type: integer
        dealer_id:
          title: Dealer Id
          type: integer
        last_action_date:
          title: Last Action Date
          type: string
          format: date-time
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: /signup/verify-otp
externalDocs:
  url: https://developer.appexnow.com/docs/lane/overview
  description: Product Documentation
