openapi: 3.2.0
info:
  version: 1.3.43
  title: Lane History API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: Lane offers a feature-rich, end-to-end order management system for asset leasing, loans and credit companies. Our platform covers all aspects, from conducting end-to-end sales to performing dealer and partner-related tasks and marketing-related activities.
servers:
- url: https://dms-api.netsolapp.io
tags:
- name: History
  description: Manage operations related to History
paths:
  /dms/history:
    get:
      tags:
      - History
      summary: Get all customers records history
      operationId: get_customer_all_history_dms_history_get
      parameters:
      - required: true
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      - required: true
        schema:
          title: Page Number
          type: integer
        name: page_number
        in: query
      - required: true
        schema:
          title: Page Size
          minimum: 1
          type: integer
        name: page_size
        in: query
      - description: for stipulation, additional_document, insurance
        required: false
        schema:
          title: Order Reference Id
          type: string
          description: for stipulation, additional_document, insurance
        name: order_reference_id
        in: query
      - description: 'Format: YYYY-MM-DD'
        required: false
        schema:
          title: From Date
          type: string
          description: 'Format: YYYY-MM-DD'
          format: date
        name: from_date
        in: query
      - description: 'Format: YYYY-MM-DD'
        required: false
        schema:
          title: To Date
          type: string
          description: 'Format: YYYY-MM-DD'
          format: date
        name: to_date
        in: query
      - description: module
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ComparisonModule'
          description: module
        name: module_type
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoryPaginationResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/history-details:
    get:
      tags:
      - History
      summary: Get history detail
      operationId: history_detail_dms_history_details_get
      parameters:
      - required: true
        schema:
          $ref: '#/components/schemas/ComparisonModule'
        name: module_type
        in: query
      - required: true
        schema:
          title: Identifier
          type: string
        name: identifier
        in: query
      - required: false
        schema:
          title: Order Reference Id
          type: string
        name: order_reference_id
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
components:
  schemas:
    ComparisonModule:
      title: ComparisonModule
      enum:
      - CustomerProfile
      - InsuranceInformation
      - Stipulation
      - AdditionalDocument
      - StatusFlag
      - CustomerAdditionalDocument
      type: string
      description: An enumeration.
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
    HistoryResponseDetail:
      title: HistoryResponseDetail
      type: object
      properties:
        identifier:
          title: Identifier
          type: string
        created_at:
          title: Created At
          type: string
          format: date-time
        created_by:
          title: Created By
          type: string
        updated_at:
          title: Updated At
          type: string
          format: date-time
        updated_by:
          title: Updated By
          type: string
        deleted_at:
          title: Deleted At
          type: string
          format: date-time
        deleted_by:
          title: Deleted By
          type: string
        action:
          title: Action
          type: string
        order_reference_id:
          title: Order Reference Id
          type: string
        module_type:
          title: Module Type
          type: string
    HistoryPaginationResponse:
      title: HistoryPaginationResponse
      type: object
      properties:
        results:
          title: Results
          type: array
          items:
            $ref: '#/components/schemas/HistoryResponseDetail'
        page_number:
          title: Page Number
          type: integer
        page_size:
          title: Page Size
          type: integer
        total_pages:
          title: Total Pages
          type: integer
        total_results:
          title: Total Results
          type: integer
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: /signup/verify-otp
externalDocs:
  url: https://developer.appexnow.com/docs/lane/overview
  description: Product Documentation
