openapi: 3.0.2
info:
  version: 1.3.43
  title: Lane Fulfillment API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: Lane offers a feature-rich, end-to-end order management system for asset leasing, loans and credit companies. Our platform covers all aspects, from conducting end-to-end sales to performing dealer and partner-related tasks and marketing-related activities.
servers:
- url: https://dms-api.netsolapp.io
tags:
- name: Fulfillment
paths:
  /dms/stipulation/fulfillment:
    get:
      tags:
      - Fulfillment
      summary: Get All Stipulation Fulfillments
      description: Get All Stipulation Fulfillments
      operationId: get_all_stipulation_fulfillment_dms_stipulation_fulfillment_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StipulationFulfillmentResponseModel'
    post:
      tags:
      - Fulfillment
      summary: Create Stipulation Fulfillment
      description: Create Stipulation Fulfillment
      operationId: add_stipulation_fulfillment_dms_stipulation_fulfillment_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StipulationFulfillmentModel'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StipulationFulfillmentResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    delete:
      tags:
      - Fulfillment
      summary: Delete Stipulation Fulfillments
      description: Delete Stipulation Fulfillments
      operationId: delete_stipulation_fulfillment_dms_stipulation_fulfillment_delete
      parameters:
      - required: true
        schema:
          title: Stipulation Fulfillment Id
          type: integer
        name: stipulation_fulfillment_id
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
      - Fulfillment
      summary: Delete Stipulation Fulfillments
      description: Delete Stipulation Fulfillments
      operationId: update_stipulation_fulfillment_dms_stipulation_fulfillment_patch
      parameters:
      - required: true
        schema:
          title: Stipulation Fulfillment Id
          type: integer
        name: stipulation_fulfillment_id
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StipulationFulfillmentModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/stipulation/fulfillment/:
    get:
      tags:
      - Fulfillment
      summary: Get Stipulation Fulfillments
      description: Get Stipulation Fulfillments
      operationId: get_stipulation_fulfillment_dms_stipulation_fulfillment__get
      parameters:
      - required: true
        schema:
          title: Stipulation Fulfillment Id
          type: integer
        name: stipulation_fulfillment_id
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
components:
  schemas:
    StipulationFulfillmentResponseModel:
      title: StipulationFulfillmentResponseModel
      type: object
      properties:
        stipulation_id:
          title: Stipulation Id
          type: string
        stipulation_code:
          title: Stipulation Code
          type: string
        document_upload:
          title: Document Upload
          type: string
        stipulation_type:
          title: Stipulation Type
          type: string
        verification_indicator:
          title: Verification Indicator
          type: boolean
        applied_on:
          title: Applied On
          type: string
        created_at:
          title: Created At
          type: string
          format: date-time
        updated_at:
          title: Updated At
          type: string
          format: date-time
        created_by:
          title: Created By
          type: string
        updated_by:
          title: Updated By
          type: string
    StipulationFulfillmentModel:
      title: StipulationFulfillmentModel
      type: object
      properties:
        stipulation_id:
          title: Stipulation Id
          type: string
        stipulation_code:
          title: Stipulation Code
          type: string
        document_upload:
          title: Document Upload
          type: string
        stipulation_type:
          title: Stipulation Type
          type: string
        verification_indicator:
          title: Verification Indicator
          type: boolean
        applied_on:
          title: Applied On
          type: string
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: /signup/verify-otp
externalDocs:
  url: https://developer.appexnow.com/docs/lane/overview
  description: Product Documentation
