openapi: 3.0.2
info:
  version: 1.3.43
  title: Lane Customers API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: Lane offers a feature-rich, end-to-end order management system for asset leasing, loans and credit companies. Our platform covers all aspects, from conducting end-to-end sales to performing dealer and partner-related tasks and marketing-related activities.
servers:
- url: https://dms-api.netsolapp.io
tags:
- name: Customers
paths:
  /dms/customer/:
    post:
      tags:
      - Customers
      summary: Creates customer
      description: Create single customer record
      operationId: add_customer_dms_customer__post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerProfileModel'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerProfileModelResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/send-email-to-customer:
    post:
      tags:
      - Customers
      summary: send email to customer
      description: send email to customer
      operationId: send_on_boarding_email_dms_customer_send_email_to_customer_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendCustomerEmailModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/all-customers:
    get:
      tags:
      - Customers
      summary: Get all customer records
      description: Get all record against customers
      operationId: get_all_customer_dms_customer_all_customers_get
      parameters:
      - required: true
        schema:
          title: Page Number
          type: integer
        name: page_number
        in: query
      - required: true
        schema:
          title: Page Size
          minimum: 1
          type: integer
        name: page_size
        in: query
      - required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/SortEnum'
          default: asc
        name: sort
        in: query
      - required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/SortByEnum'
          default: created_at
        name: sort_by
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerProfilePaginationResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/all-customers-dynamic-search:
    post:
      tags:
      - Customers
      summary: Get all customer records dynamic search
      description: Get all customer records dynamic search
      operationId: get_all_customer_dynamic_search_dms_customer_all_customers_dynamic_search_post
      parameters:
      - required: true
        schema:
          title: Page Number
          type: integer
        name: page_number
        in: query
      - required: true
        schema:
          title: Page Size
          minimum: 1
          type: integer
        name: page_size
        in: query
      - required: false
        schema:
          $ref: '#/components/schemas/SortEnum'
        name: sort
        in: query
      - required: false
        schema:
          $ref: '#/components/schemas/SortByEnum'
        name: sort_by
        in: query
      - description: 'Format: YYYY-MM-DD'
        required: false
        schema:
          title: From Date
          type: string
          description: 'Format: YYYY-MM-DD'
          format: date
        name: from_date
        in: query
      - description: 'Format: YYYY-MM-DD'
        required: false
        schema:
          title: To Date
          type: string
          description: 'Format: YYYY-MM-DD'
          format: date
        name: to_date
        in: query
      requestBody:
        content:
          application/json:
            schema:
              title: Filters
              type: array
              items:
                $ref: '#/components/schemas/FilterModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/customer-history:
    get:
      tags:
      - Customers
      summary: Get all customers records history
      description: Get all customers records history
      operationId: get_customer_history_dms_customer_customer_history_get
      parameters:
      - required: true
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      - description: 'Format: YYYY-MM-DD'
        required: false
        schema:
          title: From Date
          type: string
          description: 'Format: YYYY-MM-DD'
          format: date
        name: from_date
        in: query
      - description: 'Format: YYYY-MM-DD'
        required: false
        schema:
          title: To Date
          type: string
          description: 'Format: YYYY-MM-DD'
          format: date
        name: to_date
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get Customer History Dms Customer Customer History Get
                type: array
                items:
                  $ref: '#/components/schemas/CustomerProfileModelResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/check-customer-by-email:
    patch:
      tags:
      - Customers
      summary: Check customer, create if does not exist
      description: Check customer, create if does not exist
      operationId: check_customer_dms_check_customer_by_email_patch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomerModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerProfileModelResponseWithID'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/update-dms-customer:
    patch:
      tags:
      - Customers
      summary: Update Dms Customer
      operationId: update_dms_customer_dms_update_dms_customer_patch
      parameters:
      - required: false
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      - required: false
        schema:
          title: Dealer Code
          type: string
        name: dealer_code
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer:
    get:
      tags:
      - Customers
      summary: Get customer record
      description: Get customer record by customer ID
      operationId: find_customer_by_reference_dms_customer_get
      parameters:
      - required: false
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      - required: false
        schema:
          title: Ssn
          type: string
        name: ssn
        in: query
      - required: false
        schema:
          title: Email
          type: string
        name: email
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerProfileModelResponseWithDisclaimer'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    delete:
      tags:
      - Customers
      summary: Deprecate customer delete enpoint. Use [delete-customer] instead
      description: Delete customer record by  customer ID
      operationId: remove_customer_deprecated_dms_customer_delete
      parameters:
      - required: true
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteRequestModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      deprecated: true
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    patch:
      tags:
      - Customers
      summary: Updates customer
      description: Update customer record by customer ID
      operationId: update_customer_dms_customer_patch
      parameters:
      - required: true
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      - required: false
        schema:
          title: Dealer Code
          type: string
        name: dealer_code
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerProfileUpdateModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerProfileModelResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/check-dms-customer:
    get:
      tags:
      - Customers
      summary: Get customer record
      description: Get customer record by customer ID
      operationId: fetch_dms_customer_dms_check_dms_customer_get
      parameters:
      - required: false
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      - required: false
        schema:
          title: Dealer Code
          type: string
        name: dealer_code
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer-by-email:
    get:
      tags:
      - Customers
      summary: Get Customer Record by email
      description: Gets a customer record by email
      operationId: find_customer_info_by_email_dms_customer_by_email_get
      parameters:
      - required: true
        schema:
          title: Email
          type: string
        name: email
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerProfileModelResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/license-info:
    get:
      tags:
      - Customers
      summary: Get license info record by reference id
      description: Get license info record by reference id
      operationId: findone_license_info_dms_customer_license_info_get
      parameters:
      - required: true
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      - required: false
        schema:
          title: Is Presigned Url Required
          type: boolean
          default: false
        name: is_presigned_url_required
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    post:
      tags:
      - Customers
      summary: Creates license information
      description: Create license information against customer
      operationId: add_license_info_dms_customer_license_info_post
      parameters:
      - required: false
        schema:
          title: Dealer Code
          type: string
        name: dealer_code
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LisenceInfoWithAdress'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicenseInfoResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    delete:
      tags:
      - Customers
      summary: Delete single license information record
      description: Delete customer license information record of customer record ID
      operationId: delete_license_by_reference_id_dms_customer_license_info_delete
      parameters:
      - required: true
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    patch:
      tags:
      - Customers
      summary: Updates License Info Record
      description: Updates a  license info setup record by license id
      operationId: update_license_info_dms_customer_license_info_patch
      parameters:
      - required: true
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      - required: false
        schema:
          title: Is Presigned Url Required
          type: boolean
          default: false
        name: is_presigned_url_required
        in: query
      - required: false
        schema:
          title: Dealer Code
          type: string
        name: dealer_code
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LisenceInfoUpdateModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicenseInfoUpdateResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customers:
    get:
      tags:
      - Customers
      summary: Gets customer names by customer reference ids
      description: Gets customer names by reference ids
      operationId: find_customer_names_dms_customers_get
      parameters:
      - required: true
        schema:
          title: Reference Ids
          type: array
          items:
            type: string
        name: reference_ids
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    post:
      tags:
      - Customers
      summary: Gets customer names by customer reference ids
      description: Gets customer names by reference ids
      operationId: find_customer_data_dms_customers_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomersParamsModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/license-info-history:
    get:
      tags:
      - Customers
      summary: Get all customer license information history
      description: Get all customer license information history
      operationId: get_license_information_history_dms_customer_license_info_history_get
      parameters:
      - required: true
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      - required: true
        schema:
          title: Page Number
          type: integer
        name: page_number
        in: query
      - required: true
        schema:
          title: Page Size
          minimum: 1
          type: integer
        name: page_size
        in: query
      - description: 'Format: YYYY-MM-DD'
        required: false
        schema:
          title: From Date
          type: string
          description: 'Format: YYYY-MM-DD'
        name: from_date
        in: query
      - description: 'Format: YYYY-MM-DD'
        required: false
        schema:
          title: To Date
          type: string
          description: 'Format: YYYY-MM-DD'
        name: to_date
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicenseInfoPaginationResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/third-party-response-history:
    get:
      tags:
      - Customers
      summary: Get third party response history
      description: Get third party response history
      operationId: get_third_part_response_history_dms_customer_third_party_response_history_get
      parameters:
      - required: true
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      - required: false
        schema:
          title: Identifier
          type: string
        name: identifier
        in: query
      - required: false
        schema:
          title: Include Images
          type: boolean
          default: false
        name: include_images
        in: query
      - required: false
        schema:
          title: Include Response
          type: boolean
          default: false
        name: include_response
        in: query
      - required: false
        schema:
          title: Type List
          type: array
          items:
            type: string
        name: type_list
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/employment-info:
    get:
      tags:
      - Customers
      summary: Get single employment information record
      description: Get employment information by customer ID
      operationId: findone_employment_info_dms_customer_employment_info_get
      parameters:
      - required: true
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmploymentInfoResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    post:
      tags:
      - Customers
      summary: Creates employment information
      description: Create employment information against customer
      operationId: add_customer_employment_info_dms_customer_employment_info_post
      parameters:
      - required: false
        schema:
          title: Dealer Code
          type: string
        name: dealer_code
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmploymentInfoCreateModelEmpTypeMendatory'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmploymentInfoResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    delete:
      tags:
      - Customers
      summary: Delete single employment information record
      description: Delete employment information record of customer employment record ID
      operationId: delete_employment_info_by_id_dms_customer_employment_info_delete
      parameters:
      - required: true
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    patch:
      tags:
      - Customers
      summary: Updates employment information
      description: Update employment information against customer
      operationId: update_customer_employment_info_dms_customer_employment_info_patch
      parameters:
      - required: true
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      - required: false
        schema:
          title: Dealer Code
          type: string
        name: dealer_code
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmploymentInfoUpdateModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmploymentInfoResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/personal-finance:
    get:
      tags:
      - Customers
      summary: Get single personal finance  information record
      description: Get personal finance  information by customer ID
      operationId: findone_personal_finance_info_dms_customer_personal_finance_get
      parameters:
      - required: true
        schema:
          title: Reference Id
          minLength: 1
          type: string
        name: reference_id
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerPersonalFinanceResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    post:
      tags:
      - Customers
      summary: Creates personal finance information
      description: Create personal finance information against customer
      operationId: add_personal_finance_info_dms_customer_personal_finance_post
      parameters:
      - required: false
        schema:
          title: Dealer Code
          type: string
        name: dealer_code
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonalFinanceModel'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerPersonalFinanceResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    delete:
      tags:
      - Customers
      summary: Delete single personal finance  information record
      description: Delete personal finance information record of customer employment record ID
      operationId: delete_personal_finance_info_by_id_dms_customer_personal_finance_delete
      parameters:
      - required: true
        schema:
          title: Reference Id
          minLength: 1
          type: string
        name: reference_id
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    patch:
      tags:
      - Customers
      summary: Updates personal finance information
      description: Update personal finance information against customer
      operationId: update_personal_finance_info_dms_customer_personal_finance_patch
      parameters:
      - required: true
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      - required: false
        schema:
          title: Dealer Code
          type: string
        name: dealer_code
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonalFinanceUpdateModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerPersonalFinanceResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/payment-information:
    get:
      tags:
      - Customers
      summary: Get customer payment information
      description: Get customer payment information
      operationId: get_customer_payment_info_by_dms_customer_payment_information_get
      parameters:
      - required: true
        schema:
          title: Reference Id
          minLength: 1
          type: string
        name: reference_id
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get Customer Payment Info By Dms Customer Payment Information Get
                type: array
                items:
                  $ref: '#/components/schemas/CustomerPaymentInformationResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    post:
      tags:
      - Customers
      summary: Create customer payment information
      description: Create customer payment information
      operationId: add_customer_payment_info_dms_customer_payment_information_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerPaymentModelTypeMandatory'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerPaymentInformationResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    delete:
      tags:
      - Customers
      summary: Delete customer payment information
      description: Delete all customer payment information
      operationId: delete_customer_payment_info_by_id_dms_customer_payment_information_delete
      parameters:
      - required: true
        schema:
          title: Reference Id
          minLength: 1
          type: string
        name: reference_id
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    patch:
      tags:
      - Customers
      summary: Update customer payment information
      description: Update customer payment information
      operationId: update_customer_payment_dms_customer_payment_information_patch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerPaymentModelTypeMandatory'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerPaymentInformationResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/signature:
    get:
      tags:
      - Customers
      summary: Gets a customer signature record by customer signature id
      description: Gets a customer signature record by customer signature id
      operationId: findone_customer_signature_dms_customer_signature_get
      parameters:
      - required: true
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerSignatureResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    post:
      tags:
      - Customers
      summary: 'Creates customer signature '
      description: 'Creates customer signature '
      operationId: add_customer_signature_dms_customer_signature_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerSignatureModel'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerSignatureResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    delete:
      tags:
      - Customers
      summary: Deprecate signature delete enpoint. Use [delete-signature] instead
      description: Delete single customer signature  record
      operationId: delete_customer_signature_deprecated_dms_customer_signature_delete
      parameters:
      - required: true
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteRequestModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      deprecated: true
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    patch:
      tags:
      - Customers
      summary: 'Updates customer signature '
      description: 'Updates customer signature '
      operationId: update_customer_signature_dms_customer_signature_patch
      parameters:
      - required: false
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      - required: false
        schema:
          title: Dealer Id
          type: string
        name: dealer_id
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerSignatureUpdateModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerSignatureResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/delete-signature:
    patch:
      tags:
      - Customers
      summary: Delete single customer signature  record
      description: Delete single customer signature  record
      operationId: delete_customer_signature_dms_customer_delete_signature_patch
      parameters:
      - required: true
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteRequestModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/signature/by-dealer-id:
    get:
      tags:
      - Customers
      summary: Gets a customer signature record by dealer id
      description: Gets a customer signature record by dealer id
      operationId: findone_customer_signature_by_dealer_dms_customer_signature_by_dealer_id_get
      parameters:
      - required: true
        schema:
          title: Dealer Id
          type: string
        name: dealer_id
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerSignatureResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/insurance-information:
    get:
      tags:
      - Customers
      summary: Get customer insurance information by customer reference id and order reference number
      description: Get customer insurance information by customer reference id and order reference number
      operationId: get_insurance_info_by_order_and_customer_reference_number_dms_customer_insurance_information_get
      parameters:
      - description: provide valid reference_id
        required: true
        schema:
          title: Reference Id
          minLength: 1
          type: string
          description: provide valid reference_id
        name: reference_id
        in: query
      - description: provide valid order_reference_id
        required: true
        schema:
          title: Order Reference Id
          minLength: 1
          type: string
          description: provide valid order_reference_id
        name: order_reference_id
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsuranceInformationResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    post:
      tags:
      - Customers
      summary: Create customer insurance information
      description: Create customer insurance information
      operationId: create_insurance_information_dms_customer_insurance_information_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InsuranceInformationWithAddressesModel'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsuranceInformationResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    delete:
      tags:
      - Customers
      summary: Delete single customer insurance information
      description: Delete single customer insurance information
      operationId: delete_insurance_information_dms_customer_insurance_information_delete
      parameters:
      - required: true
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      deprecated: true
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    patch:
      tags:
      - Customers
      summary: Updates customer insurance information
      description: Updates customer insurance information
      operationId: update_insurance_information_dms_customer_insurance_information_patch
      parameters:
      - required: true
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      - required: false
        schema:
          title: Order Reference Id
          type: string
        name: order_reference_id
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InsuranceInformationUpdateModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsuranceInformationResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/update-insurance-information:
    patch:
      tags:
      - Customers
      summary: Updates customer insurance information
      description: Updates customer insurance information
      operationId: update_insurance_dms_customer_update_insurance_information_patch
      parameters:
      - required: true
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      - required: false
        schema:
          title: Order Reference Id
          type: string
        name: order_reference_id
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InsuranceInformationUpdateModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsuranceInformationResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/insurance-information-history:
    get:
      tags:
      - Customers
      summary: Get customer insurance information history
      description: Get customer insurance information history
      operationId: get_insurance_information_history_dms_customer_insurance_information_history_get
      parameters:
      - required: true
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      - required: true
        schema:
          title: Page Number
          type: integer
        name: page_number
        in: query
      - required: true
        schema:
          title: Page Size
          minimum: 1
          type: integer
        name: page_size
        in: query
      - description: 'Format: YYYY-MM-DD'
        required: false
        schema:
          title: From Date
          type: string
          description: 'Format: YYYY-MM-DD'
          format: date
        name: from_date
        in: query
      - description: 'Format: YYYY-MM-DD'
        required: false
        schema:
          title: To Date
          type: string
          description: 'Format: YYYY-MM-DD'
          format: date
        name: to_date
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsuranceInfoPaginationResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      deprecated: true
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/insurance-information-by-customer:
    get:
      tags:
      - Customers
      summary: Get customer insurance information by customer reference id
      description: Get customer insurance information by customer reference id
      operationId: get_insurance_information_by_reference_id_dms_customer_insurance_information_by_customer_get
      parameters:
      - required: true
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsuranceInformationResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/insurance-information-by-order:
    get:
      tags:
      - Customers
      summary: Get customer insurance information by order reference number
      description: Get customer insurance information by order reference number
      operationId: get_insurance_information_by_order_reference_number_dms_customer_insurance_information_by_order_get
      parameters:
      - required: true
        schema:
          title: Order Reference Id
          type: string
        name: order_reference_id
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsuranceInformationResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/insurance-information/document-history:
    get:
      tags:
      - Customers
      summary: Get customer insurance information document history
      description: Get customer insurance information document history
      operationId: get_insurance_documents_dms_customer_insurance_information_document_history_get
      parameters:
      - description: provide valid reference_id
        required: true
        schema:
          title: Reference Id
          minLength: 1
          type: string
          description: provide valid reference_id
        name: reference_id
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get Insurance Documents Dms Customer Insurance Information Document History Get
                type: array
                items:
                  $ref: '#/components/schemas/InsuranceDocumentsResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/delete-insurance-information:
    patch:
      tags:
      - Customers
      summary: Delete single customer insurance information
      description: Delete single customer insurance information
      operationId: delete_insurance_info_dms_customer_delete_insurance_information_patch
      parameters:
      - required: true
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteRequestModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/insurance-information/add-document:
    post:
      tags:
      - Customers
      summary: Add insurance document
      description: Add insurance document
      operationId: add_insurance_document_dms_customer_insurance_information_add_document_post
      parameters:
      - required: true
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InsuranceDocumentsModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Add Insurance Document Dms Customer Insurance Information Add Document Post
                type: array
                items:
                  $ref: '#/components/schemas/InsuranceDocumentsResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/insurance-information/remove-document:
    delete:
      tags:
      - Customers
      summary: 'Delete insurance document '
      description: 'Delete insurance document '
      operationId: remove_insurance_document_depreceted_dms_customer_insurance_information_remove_document_delete
      parameters:
      - required: true
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      - required: true
        schema:
          title: Identifier
          type: string
        name: identifier
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      deprecated: true
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/insurance-information/remove-insurance-document:
    patch:
      tags:
      - Customers
      summary: 'Delete insurance document '
      description: 'Delete insurance document '
      operationId: remove_insurance_document_dms_customer_insurance_information_remove_insurance_document_patch
      parameters:
      - required: true
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      - required: true
        schema:
          title: Identifier
          type: string
        name: identifier
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteRequestModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/status-flag:
    get:
      tags:
      - Customers
      summary: Get all customer status flag
      description: Get all customer status flag
      operationId: get_all_status_flag_dms_customer_status_flag_get
      parameters:
      - required: true
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get All Status Flag Dms Customer Status Flag Get
                type: array
                items:
                  $ref: '#/components/schemas/CustomerStatusFlagResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    post:
      tags:
      - Customers
      summary: Create customer status flag
      description: Create customer status flag
      operationId: add_status_flag_dms_customer_status_flag_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerStatusFlagModel'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerStatusFlagResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    delete:
      tags:
      - Customers
      summary: Remove customer status flag
      description: Remove customer status flag
      operationId: delete_status_dms_customer_status_flag_delete
      parameters:
      - required: true
        schema:
          title: Identifier
          type: string
        name: identifier
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerDeleteModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      deprecated: true
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/remove-status-flag:
    patch:
      tags:
      - Customers
      summary: Remove customer status flag
      description: Remove customer status flag
      operationId: delete_status_flag_dms_customer_remove_status_flag_patch
      parameters:
      - required: true
        schema:
          title: Identifier
          type: string
        name: identifier
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteRequestModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerDeleteModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/comment:
    post:
      tags:
      - Customers
      summary: Create customer comment diary
      description: Create customer comment diary
      operationId: add_comment_dms_customer_comment_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerCommentDiaryModel'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerCommentDiaryResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    patch:
      tags:
      - Customers
      summary: Update customer comment diary
      description: Update customer comment diary
      operationId: update_comment_dms_customer_comment_patch
      parameters:
      - required: true
        schema:
          title: Identifier
          type: string
        name: identifier
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerCommentDiaryUpdateModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerCommentDiaryResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/comments:
    get:
      tags:
      - Customers
      summary: Get customer comment diary
      description: Get customer comment diary
      operationId: get_all_comments_dms_customer_comments_get
      parameters:
      - required: false
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      - required: false
        schema:
          title: Page Number
          type: integer
        name: page_number
        in: query
      - required: false
        schema:
          title: Page Size
          minimum: 1
          type: integer
        name: page_size
        in: query
      - required: false
        schema:
          title: Order Reference Id
          type: string
        name: order_reference_id
        in: query
      - required: false
        schema:
          title: Comment
          type: string
        name: comment
        in: query
      - description: Accepts only string values
        required: false
        schema:
          title: Comment Category
          type: array
          items:
            type: string
          description: Accepts only string values
        name: category
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerCommentDiaryPaginatedResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/license-verification:
    post:
      tags:
      - Customers
      summary: License verification through MiTek
      description: license-verification through MiTek
      operationId: verify_license_dms_customer_license_verification_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LicenseVerificationModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/fraud-check:
    post:
      tags:
      - Customers
      summary: Creates personal finance information
      description: Create personal finance information against customer
      operationId: add_customer_fraud_check_dms_customer_fraud_check_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FraudCheckModel'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/all-customers-orders-dynamic-search:
    post:
      tags:
      - Customers
      summary: Get all customer records along with its orders  dynamic search
      description: Get all customer records along with order dynamic search
      operationId: get_all_customer_order_dynamic_search_dms_customer_all_customers_orders_dynamic_search_post
      parameters:
      - required: true
        schema:
          title: Page Number
          type: integer
        name: page_number
        in: query
      - required: true
        schema:
          title: Page Size
          minimum: 1
          type: integer
        name: page_size
        in: query
      - required: false
        schema:
          $ref: '#/components/schemas/SortEnum'
        name: sort
        in: query
      - required: false
        schema:
          $ref: '#/components/schemas/SortByEnum'
        name: sort_by
        in: query
      - description: 'Format: YYYY-MM-DD'
        required: false
        schema:
          title: From Date
          type: string
          description: 'Format: YYYY-MM-DD'
          format: date
        name: from_date
        in: query
      - description: 'Format: YYYY-MM-DD'
        required: false
        schema:
          title: To Date
          type: string
          description: 'Format: YYYY-MM-DD'
          format: date
        name: to_date
        in: query
      - required: false
        schema:
          title: Is Dealer
          type: boolean
          default: true
        name: is_dealer
        in: query
      requestBody:
        content:
          application/json:
            schema:
              title: Filters
              type: array
              items:
                $ref: '#/components/schemas/FilterModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/send-order-link:
    post:
      tags:
      - Customers
      summary: send order link
      description: send order link
      operationId: send_order_link_dms_customer_send_order_link_post
      parameters:
      - required: true
        schema:
          title: Reference Number
          type: string
        name: reference_number
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customers/reference-id:
    get:
      tags:
      - Customers
      summary: Get reference id by email
      description: Retrieve the reference id associated with the given email of customer.
      operationId: get_reference_number_dms_customers_reference_id_get
      parameters:
      - required: true
        schema:
          title: Email
          type: string
        name: email
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/configure/quotation-by-customers:
    get:
      tags:
      - Customers
      summary: Get all orders of a customer
      description: Get all orders of a customer
      operationId: get_orders_by_customers_dms_configure_quotation_by_customers_get
      parameters:
      - required: true
        schema:
          title: Email
          type: string
        name: email
        in: query
      - required: false
        schema:
          title: Finance Type
          type: string
        name: finance_type
        in: query
      - required: false
        schema:
          title: Dealer Id
          type: string
        name: dealer_id
        in: query
      - required: false
        schema:
          title: Order Status
          type: string
        name: order_status
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/configure/customer-mandatory-disclaimers:
    get:
      tags:
      - Customers
      summary: Get customer mandatory Disclaimers
      operationId: get_mandatory_disclaimers_dms_configure_customer_mandatory_disclaimers_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get Mandatory Disclaimers Dms Configure Customer Mandatory Disclaimers Get
                type: array
                items:
                  $ref: '#/components/schemas/DisclaimerResponseModel'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/document:
    get:
      tags:
      - Customers
      summary: Get customer documents
      operationId: get_customer_documents_dms_customer_document_get
      parameters:
      - required: false
        schema:
          title: External Reference Id
          type: string
        name: external_reference_id
        in: query
      - required: false
        schema:
          title: Customer Reference Id
          type: string
        name: customer_reference_id
        in: query
      - required: false
        schema:
          title: Stipulation Code
          type: string
        name: stipulation_code
        in: query
      - required: false
        schema:
          title: Category
          type: string
        name: category
        in: query
      - required: false
        schema:
          title: Document Type
          type: string
        name: document_type
        in: query
      - description: Accepts only string values
        required: false
        schema:
          title: document_status
          type: array
          items:
            type: string
          description: Accepts only string values
        name: document_status
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get Customer Documents Dms Customer Document Get
                type: array
                items:
                  $ref: '#/components/schemas/CustomerDocumentWithReviewsResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    post:
      tags:
      - Customers
      summary: Creates customer document
      operationId: add_customer_document_dms_customer_document_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerDocumentModel'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerDocumentResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    delete:
      tags:
      - Customers
      summary: Delete customer document by identifier
      operationId: delete_customer_document_dms_customer_document_delete
      parameters:
      - required: true
        schema:
          title: Document Identifier
          type: string
        name: document_identifier
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerDeleteModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      deprecated: true
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    patch:
      tags:
      - Customers
      summary: Update customer document by identifier
      operationId: update_customer_document_dms_customer_document_patch
      parameters:
      - required: true
        schema:
          title: Document Identifier
          type: string
        name: document_identifier
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerDocumentUpdateModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerDocumentResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/document/status:
    get:
      tags:
      - Customers
      summary: Get customer document by identifier
      operationId: get_customer_document_identifier_dms_customer_document_status_get
      parameters:
      - required: true
        schema:
          title: Document Identifier
          type: string
        name: document_identifier
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerDocumentResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    patch:
      tags:
      - Customers
      summary: Update customer document status
      operationId: update_customer_document_status_dms_customer_document_status_patch
      parameters:
      - required: true
        schema:
          title: Document Identifier
          type: string
        name: document_identifier
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerDocumentStatus'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerDocumentResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/document-history:
    get:
      tags:
      - Customers
      summary: Get customer document history
      operationId: get_customer_document_history_dms_customer_document_history_get
      parameters:
      - required: true
        schema:
          title: Customer Reference Id
          type: string
        name: customer_reference_id
        in: query
      - required: true
        schema:
          title: Page Number
          type: integer
        name: page_number
        in: query
      - required: true
        schema:
          title: Page Size
          minimum: 1
          type: integer
        name: page_size
        in: query
      - description: 'Format: YYYY-MM-DD'
        required: false
        schema:
          title: From Date
          type: string
          description: 'Format: YYYY-MM-DD'
          format: date
        name: from_date
        in: query
      - description: 'Format: YYYY-MM-DD'
        required: false
        schema:
          title: To Date
          type: string
          description: 'Format: YYYY-MM-DD'
          format: date
        name: to_date
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerStipulationPaginationResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/documents/{customer_reference_id}:
    patch:
      tags:
      - Customers
      summary: Update customer document by identifier
      operationId: get_customer_document_dms_customer_documents__customer_reference_id__patch
      parameters:
      - required: true
        schema:
          title: Customer Reference Id
          type: string
        name: customer_reference_id
        in: path
      requestBody:
        content:
          application/json:
            schema:
              title: Item
              type: array
              items:
                $ref: '#/components/schemas/CustomerDocumentUpdateDMSModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/delete-document:
    patch:
      tags:
      - Customers
      summary: Delete customer document by identifier
      operationId: delete_customer_document_by_identifier_dms_customer_delete_document_patch
      parameters:
      - required: true
        schema:
          title: Document Identifier
          type: string
        name: document_identifier
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteRequestModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerDeleteModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/document/review:
    get:
      tags:
      - Customers
      summary: Get customer document reviews
      operationId: get_customer_document_reviews_by_identifier_dms_customer_document_review_get
      parameters:
      - required: true
        schema:
          title: Document Identifier
          type: string
        name: document_identifier
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get Customer Document Reviews By Identifier Dms Customer Document Review Get
                type: array
                items:
                  $ref: '#/components/schemas/CustomerDocumentReviewResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    post:
      tags:
      - Customers
      summary: Add customer document review
      operationId: add_customer_document_review_dms_customer_document_review_post
      parameters:
      - required: true
        schema:
          title: Document Identifier
          type: string
        name: document_identifier
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerDocumentReviewModel'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerDocumentReviewResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/document/uploading-status:
    get:
      tags:
      - Customers
      summary: Get customer document upload status
      operationId: get_customer_document_upload_status_dms_customer_document_uploading_status_get
      parameters:
      - required: true
        schema:
          title: Document Identifier
          type: string
        name: document_identifier
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerDocumentUploadStatus'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    patch:
      tags:
      - Customers
      summary: Update customer document upload status
      operationId: update_customer_document_uploading_status_dms_customer_document_uploading_status_patch
      parameters:
      - required: true
        schema:
          title: Document Identifier
          type: string
        name: document_identifier
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerDocumentUploadStatus'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerDocumentResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/document/download:
    get:
      tags:
      - Customers
      summary: Get customer document url by artifect_id
      description: Get customer document url by artifect_id
      operationId: get_customer_document_url_by_artifect_id_dms_customer_document_download_get
      parameters:
      - required: true
        schema:
          title: Artifect Id
          type: string
        name: artifect_id
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/document/download-stream:
    get:
      tags:
      - Customers
      summary: Get customer document stream by artifect_id
      description: Get customer document stream by artifect_id
      operationId: get_customer_document_stream_by_artifect_id_dms_customer_document_download_stream_get
      parameters:
      - required: true
        schema:
          title: Artifect Id
          type: string
        name: artifect_id
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/document/signature-document:
    post:
      tags:
      - Customers
      summary: Customer Document Signature
      operationId: signature_document_dms_customer_document_signature_document_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignatureCustomerDocument'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/additional-document:
    post:
      tags:
      - Customers
      summary: Creates customer document
      operationId: add_customer_additional_document_dms_customer_additional_document_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerAdditionalDocumentModel'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerDocumentResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
components:
  schemas:
    CustomerAddressWithoutAddressTypeModel:
      title: CustomerAddressWithoutAddressTypeModel
      type: object
      properties:
        address_line_1:
          title: Address Line 1
          type: string
          description: Address line one
        address_line_2:
          title: Address Line 2
          type: string
          description: Address line two
        state_name:
          title: State Name
          type: string
          description: Address state name
        zip_code:
          title: Zip Code
          type: string
          description: Zip code
        county:
          title: County
          type: string
          description: Address county
        city:
          title: City
          type: string
          description: Address city
        contact_number:
          title: Contact Number
          type: string
          description: Contact number
        verified:
          title: Verified
          type: boolean
          description: Is Address verified
        move_in_date:
          title: Move In Date
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        is_garaging:
          title: Is Garaging
          type: boolean
          description: Garaging flag
          default: false
        identifier:
          title: Identifier
          minLength: 1
          type: string
    CustomerSignatureResponseModel:
      title: CustomerSignatureResponseModel
      type: object
      properties:
        signature_image:
          title: Signature Image
          type: string
        initial_image:
          title: Initial Image
          type: string
        ip:
          title: Ip
          type: string
        reference_id:
          title: Reference Id
          type: string
        dealer_id:
          title: Dealer Id
          type: integer
        created_at:
          title: Created At
          type: string
          format: date-time
        updated_at:
          title: Updated At
          type: string
          format: date-time
        updated_by:
          title: Updated By
          type: string
        deleted_at:
          title: Deleted At
          type: string
          format: date-time
        deleted_by:
          title: Deleted By
          type: string
    CustomerProfileUpdateModel:
      title: CustomerProfileUpdateModel
      type: object
      properties:
        customer_profile:
          $ref: '#/components/schemas/CustomerUpdateModel'
        customer_addresses:
          title: Customer Addresses
          type: array
          items:
            $ref: '#/components/schemas/CustomerAddressModel'
        income_info:
          $ref: '#/components/schemas/CustomerProfileIncomeInfoModel'
    CustomerStatusFlagResponseModel:
      title: CustomerStatusFlagResponseModel
      type: object
      properties:
        reference_id:
          title: Reference Id
          type: string
        flag_name:
          title: Flag Name
          type: string
        category:
          title: Category
          type: string
        identifier:
          title: Identifier
          type: string
        created_by:
          title: Created By
          type: string
        updated_by:
          title: Updated By
          type: string
        is_active:
          title: Is Active
          type: boolean
        is_deleted:
          title: Is Deleted
          type: boolean
        created_at:
          title: Created At
          type: string
          format: date-time
        updated_at:
          title: Updated At
          type: string
          format: date-time
    CustomerProfileModelResponseWithID:
      title: CustomerProfileModelResponseWithID
      type: object
      properties:
        prefix:
          title: Prefix
          type: string
        first_name:
          title: First Name
          type: string
        middle_name:
          title: Middle Name
          type: string
        last_name:
          title: Last Name
          type: string
        suffix:
          title: Suffix
          type: string
        ssn:
          title: Ssn
          type: string
        mobile_number:
          title: Mobile Number
          type: string
        mobile_number_verified_status:
          title: Mobile Number Verified Status
          type: boolean
          default: false
        home_number:
          title: Home Number
          type: string
        home_number_verified_status:
          title: Home Number Verified Status
          type: boolean
          default: false
        customer_type:
          title: Customer Type
          type: string
        date_of_birth:
          title: Date Of Birth
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        meta_data:
          title: Meta Data
          type: object
        stripe_customer_id:
          title: Stripe Customer Id
          type: string
        preferred_contact:
          title: Preferred Contact
          type: string
        reference_id:
          title: Reference Id
          type: string
        external_id:
          title: External Id
          type: string
        identifier:
          title: Identifier
          type: string
        email:
          title: Email
          type: string
        created_by:
          title: Created By
          type: string
        created_at:
          title: Created At
          type: string
          format: date-time
        updated_at:
          title: Updated At
          type: string
          format: date-time
        updated_by:
          title: Updated By
          type: string
        deleted_at:
          title: Deleted At
          type: string
          format: date-time
        deleted_by:
          title: Deleted By
          type: string
        id:
          title: Id
          type: integer
        consent:
          title: Consent
    LicenseInfoResponseModel:
      title: LicenseInfoResponseModel
      type: object
      properties:
        first_name:
          title: First Name
          type: string
          description: First name
        last_name:
          title: Last Name
          type: string
          description: Last name
        date_of_birth:
          title: Date Of Birth
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        is_pdf_417:
          title: Is Pdf 417
          type: boolean
        license_number:
          title: License Number
          type: string
          description: license number
        issue_date:
          title: Issue Date
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        expiry_date:
          title: Expiry Date
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        front_image:
          title: Front Image
          type: string
          description: license front image
        back_image:
          title: Back Image
          type: string
          description: license back image
        status:
          title: Status
          type: string
        call_type:
          $ref: '#/components/schemas/CallType'
        selfie_image:
          title: Selfie Image
          type: string
        cropped_front_image:
          title: Cropped Front Image
          type: string
        cropped_back_image:
          title: Cropped Back Image
          type: string
        cropped_selfie_image:
          title: Cropped Selfie Image
          type: string
        is_selfie_verified:
          title: Is Selfie Verified
          type: boolean
        created_by:
          title: Created By
          type: string
        reference_id:
          title: Reference Id
          type: string
        is_active:
          title: Is Active
          type: boolean
        identifier:
          title: Identifier
          type: string
        created_at:
          title: Created At
          type: string
          format: date-time
        updated_at:
          title: Updated At
          type: string
          format: date-time
        updated_by:
          title: Updated By
          type: string
        deleted_at:
          title: Deleted At
          type: string
          format: date-time
        deleted_by:
          title: Deleted By
          type: string
        address:
          $ref: '#/components/schemas/AddressBasicModel'
    CustomerPaymentInfoResponseModel:
      title: CustomerPaymentInfoResponseModel
      type: object
      properties:
        type:
          title: Type
          type: string
        stripe_payment_method_id:
          title: Stripe Payment Method Id
          type: string
        access_token:
          title: Access Token
          type: string
        account_id:
          title: Account Id
          type: string
        Bank_name:
          title: Bank Name
          type: string
        last4:
          title: Last4
          type: integer
        default:
          title: Default
          type: boolean
        created_at:
          title: Created At
          type: string
          format: date-time
        created_by:
          title: Created By
          type: string
        updated_at:
          title: Updated At
          type: string
          format: date-time
        updated_by:
          title: Updated By
          type: string
        deleted_at:
          title: Deleted At
          type: string
          format: date-time
        deleted_by:
          title: Deleted By
          type: string
    DisclaimerResponseModel:
      title: DisclaimerResponseModel
      type: object
      properties:
        version:
          title: Version
          type: string
        name:
          title: Name
          type: string
        identifier:
          title: Identifier
          type: string
        description:
          title: Description
          type: string
        type:
          title: Type
          type: string
        applicable_for:
          title: Applicable For
          type: string
        required_by:
          title: Required By
          type: string
        status:
          title: Status
          type: string
        change_type:
          title: Change Type
          type: string
        created_at:
          title: Created At
          type: string
          format: date-time
        created_by:
          title: Created By
          type: string
        updated_at:
          title: Updated At
          type: string
          format: date-time
        updated_by:
          title: Updated By
          type: string
        effectiveDate:
          title: Effectivedate
          type: string
          format: date-time
        meta_data:
          title: Meta Data
          type: object
        disclaimer_accord:
          title: Disclaimer Accord
          type: boolean
    CustomerProfileModel:
      title: CustomerProfileModel
      type: object
      properties:
        customer_profile:
          $ref: '#/components/schemas/CustomerRequiredEmailModel'
        customer_addresses:
          title: Customer Addresses
          type: array
[...]
