openapi: 3.0.2
info:
  version: 1.3.43
  title: Lane Stipulation API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: Lane offers a feature-rich, end-to-end order management system for asset leasing, loans and credit companies. Our platform covers all aspects, from conducting end-to-end sales to performing dealer and partner-related tasks and marketing-related activities.
servers:
- url: https://dms-api.netsolapp.io
tags:
- name: Stipulation
  description: Manage operations related to Stipulation
paths:
  /dms/stipulation/fulfillment:
    get:
      tags:
      - Stipulation
      summary: Get All Stipulation Fulfillments
      description: Get All Stipulation Fulfillments
      operationId: get_all_stipulation_fulfillment_dms_stipulation_fulfillment_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StipulationFulfillmentResponseModel'
    post:
      tags:
      - Stipulation
      summary: Create Stipulation Fulfillment
      description: Create Stipulation Fulfillment
      operationId: add_stipulation_fulfillment_dms_stipulation_fulfillment_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StipulationFulfillmentModel'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StipulationFulfillmentResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    delete:
      tags:
      - Stipulation
      summary: Delete Stipulation Fulfillments
      description: Delete Stipulation Fulfillments
      operationId: delete_stipulation_fulfillment_dms_stipulation_fulfillment_delete
      parameters:
      - required: true
        schema:
          title: Stipulation Fulfillment Id
          type: integer
        name: stipulation_fulfillment_id
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
      - Stipulation
      summary: Delete Stipulation Fulfillments
      description: Delete Stipulation Fulfillments
      operationId: update_stipulation_fulfillment_dms_stipulation_fulfillment_patch
      parameters:
      - required: true
        schema:
          title: Stipulation Fulfillment Id
          type: integer
        name: stipulation_fulfillment_id
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StipulationFulfillmentModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/stipulation/fulfillment/:
    get:
      tags:
      - Stipulation
      summary: Get Stipulation Fulfillments
      description: Get Stipulation Fulfillments
      operationId: get_stipulation_fulfillment_dms_stipulation_fulfillment__get
      parameters:
      - required: true
        schema:
          title: Stipulation Fulfillment Id
          type: integer
        name: stipulation_fulfillment_id
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/stipulation/financial:
    get:
      tags:
      - Stipulation
      summary: Get Financial Stipulation
      operationId: get_financial_stipulations_dms_stipulation_financial_get
      parameters:
      - required: false
        schema:
          title: External Reference Id
          type: string
        name: external_reference_id
        in: query
      - required: false
        schema:
          title: Customer Reference Id
          type: string
        name: customer_reference_id
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get Financial Stipulations Dms Stipulation Financial Get
                type: array
                items:
                  $ref: '#/components/schemas/FinancialStipulationsResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    post:
      tags:
      - Stipulation
      summary: Create Financial Stipulation
      operationId: add_financial_stipulation_dms_stipulation_financial_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FinancialStipulationModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinancialStipulationsResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/stipulation/stipulation-by-lender:
    get:
      tags:
      - Stipulation
      summary: Get Financial Stipulation
      operationId: get_order_fee_by_id_dms_stipulation_stipulation_by_lender_get
      parameters:
      - required: true
        schema:
          title: Company Id
          type: integer
        name: company_id
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get Order Fee By Id Dms Stipulation Stipulation By Lender Get
                type: array
                items:
                  $ref: '#/components/schemas/StipulationResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
    FinancialStipulationsResponseModel:
      title: FinancialStipulationsResponseModel
      type: object
      properties:
        customer_reference_id:
          title: Customer Reference Id
          type: string
        external_reference_id:
          title: External Reference Id
          type: string
        financial_stip_type:
          title: Financial Stip Type
          type: string
        reason_by_system:
          title: Reason By System
          type: string
        reason_for_customer:
          title: Reason For Customer
          type: string
        fulfilled:
          title: Fulfilled
          type: boolean
          default: false
        condition:
          title: Condition
          type: string
        description:
          title: Description
          type: string
        stipulation_code:
          title: Stipulation Code
          type: string
        expires_at:
          title: Expires At
          type: string
          description: 'format: YYYY-MM-DD hh:mm:ss'
          format: date-time
        created_at:
          title: Created At
          type: string
          description: 'format: YYYY-MM-DD hh:mm:ss'
          format: date-time
        created_by:
          title: Created By
          type: string
        updated_at:
          title: Updated At
          type: string
          description: 'format: YYYY-MM-DD hh:mm:ss'
          format: date-time
        updated_by:
          title: Updated By
          type: string
        deleted_at:
          title: Deleted At
          type: string
          description: 'format: YYYY-MM-DD hh:mm:ss'
          format: date-time
        deleted_by:
          title: Deleted By
          type: string
        is_deleted:
          title: Is Deleted
          type: boolean
          default: false
        identifier:
          title: Identifier
          type: string
    StipulationResponseModel:
      title: StipulationResponseModel
      type: object
      properties:
        stipulation_code:
          title: Stipulation Code
          type: string
        stipulation_type:
          title: Stipulation Type
          type: string
        parameter:
          title: Parameter
          type: string
        description:
          title: Description
          type: string
        document_code:
          title: Document Code
          type: string
        assignee:
          title: Assignee
          type: string
        lender_id:
          title: Lender Id
          type: integer
    StipulationFulfillmentResponseModel:
      title: StipulationFulfillmentResponseModel
      type: object
      properties:
        stipulation_id:
          title: Stipulation Id
          type: string
        stipulation_code:
          title: Stipulation Code
          type: string
        document_upload:
          title: Document Upload
          type: string
        stipulation_type:
          title: Stipulation Type
          type: string
        verification_indicator:
          title: Verification Indicator
          type: boolean
        applied_on:
          title: Applied On
          type: string
        created_at:
          title: Created At
          type: string
          format: date-time
        updated_at:
          title: Updated At
          type: string
          format: date-time
        created_by:
          title: Created By
          type: string
        updated_by:
          title: Updated By
          type: string
    FinancialStipulationModel:
      title: FinancialStipulationModel
      required:
      - customer_reference_id
      - external_reference_id
      - financial_stip_type
      - condition
      - stipulation_code
      type: object
      properties:
        customer_reference_id:
          title: Customer Reference Id
          type: string
        external_reference_id:
          title: External Reference Id
          type: string
        financial_stip_type:
          title: Financial Stip Type
          type: string
        condition:
          title: Condition
          type: string
        stipulation_code:
          title: Stipulation Code
          maxLength: 5
          type: string
        reason_by_system:
          title: Reason By System
          type: string
        reason_for_customer:
          title: Reason For Customer
          type: string
        fulfilled:
          title: Fulfilled
          type: boolean
          default: false
        description:
          title: Description
          type: string
        expires_at:
          title: Expires At
          type: string
          description: 'format: YYYY-MM-DD hh:mm:ss'
          format: date-time
        identifier:
          title: Identifier
          minLength: 1
          type: string
        key_id:
          title: Key Id
          type: integer
    StipulationFulfillmentModel:
      title: StipulationFulfillmentModel
      type: object
      properties:
        stipulation_id:
          title: Stipulation Id
          type: string
        stipulation_code:
          title: Stipulation Code
          type: string
        document_upload:
          title: Document Upload
          type: string
        stipulation_type:
          title: Stipulation Type
          type: string
        verification_indicator:
          title: Verification Indicator
          type: boolean
        applied_on:
          title: Applied On
          type: string
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: /signup/verify-otp
externalDocs:
  url: https://developer.appexnow.com/docs/lane/overview
  description: Product Documentation
