openapi: 3.0.2
info:
  version: 1.3.43
  title: Lane Search API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: Lane offers a feature-rich, end-to-end order management system for asset leasing, loans and credit companies. Our platform covers all aspects, from conducting end-to-end sales to performing dealer and partner-related tasks and marketing-related activities.
servers:
- url: https://dms-api.netsolapp.io
tags:
- name: Search
paths:
  /dms/customer/all-customers-dynamic-search:
    post:
      tags:
      - Search
      summary: Get all customer records dynamic search
      description: Get all customer records dynamic search
      operationId: get_all_customer_dynamic_search_dms_customer_all_customers_dynamic_search_post
      parameters:
      - required: true
        schema:
          title: Page Number
          type: integer
        name: page_number
        in: query
      - required: true
        schema:
          title: Page Size
          minimum: 1
          type: integer
        name: page_size
        in: query
      - required: false
        schema:
          $ref: '#/components/schemas/SortEnum'
        name: sort
        in: query
      - required: false
        schema:
          $ref: '#/components/schemas/SortByEnum'
        name: sort_by
        in: query
      - description: 'Format: YYYY-MM-DD'
        required: false
        schema:
          title: From Date
          type: string
          description: 'Format: YYYY-MM-DD'
          format: date
        name: from_date
        in: query
      - description: 'Format: YYYY-MM-DD'
        required: false
        schema:
          title: To Date
          type: string
          description: 'Format: YYYY-MM-DD'
          format: date
        name: to_date
        in: query
      requestBody:
        content:
          application/json:
            schema:
              title: Filters
              type: array
              items:
                $ref: '#/components/schemas/FilterModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/all-customers-orders-dynamic-search:
    post:
      tags:
      - Search
      summary: Get all customer records along with its orders  dynamic search
      description: Get all customer records along with order dynamic search
      operationId: get_all_customer_order_dynamic_search_dms_customer_all_customers_orders_dynamic_search_post
      parameters:
      - required: true
        schema:
          title: Page Number
          type: integer
        name: page_number
        in: query
      - required: true
        schema:
          title: Page Size
          minimum: 1
          type: integer
        name: page_size
        in: query
      - required: false
        schema:
          $ref: '#/components/schemas/SortEnum'
        name: sort
        in: query
      - required: false
        schema:
          $ref: '#/components/schemas/SortByEnum'
        name: sort_by
        in: query
      - description: 'Format: YYYY-MM-DD'
        required: false
        schema:
          title: From Date
          type: string
          description: 'Format: YYYY-MM-DD'
          format: date
        name: from_date
        in: query
      - description: 'Format: YYYY-MM-DD'
        required: false
        schema:
          title: To Date
          type: string
          description: 'Format: YYYY-MM-DD'
          format: date
        name: to_date
        in: query
      - required: false
        schema:
          title: Is Dealer
          type: boolean
          default: true
        name: is_dealer
        in: query
      requestBody:
        content:
          application/json:
            schema:
              title: Filters
              type: array
              items:
                $ref: '#/components/schemas/FilterModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/configure/workqueue/search:
    get:
      tags:
      - Search
      summary: Search workqueue based on filters
      description: Search workqueue based on filters
      operationId: get_filter_workqueue_dms_configure_workqueue_search_get
      parameters:
      - required: true
        schema:
          title: Page Number
          type: integer
        name: page_number
        in: query
      - required: true
        schema:
          title: Page Size
          type: integer
        name: page_size
        in: query
      - required: false
        schema:
          title: Year
          type: string
        name: year
        in: query
      - required: false
        schema:
          title: Make
          type: string
        name: make
        in: query
      - required: false
        schema:
          title: Model
          type: string
        name: model
        in: query
      - required: false
        schema:
          title: Trim
          type: string
        name: trim
        in: query
      - required: false
        schema:
          title: Request Type
          type: string
        name: request_type
        in: query
      - required: false
        schema:
          title: Order Status
          type: string
        name: order_status
        in: query
      - required: false
        schema:
          title: Vin
          type: string
        name: vin
        in: query
      - required: false
        schema:
          title: Stock
          type: string
        name: stock
        in: query
      - required: false
        schema:
          title: Customer Name
          type: string
        name: customer_name
        in: query
      - required: false
        schema:
          title: Customer Type
          type: string
        name: customer_type
        in: query
      - required: false
        schema:
          title: Finance Type
          type: string
        name: finance_type
        in: query
      - required: false
        schema:
          title: Amount
          type: string
        name: amount
        in: query
      - required: false
        schema:
          title: Program
          type: string
        name: program
        in: query
      - required: false
        schema:
          title: Created At
          type: string
        name: created_at
        in: query
      - required: false
        schema:
          title: Updated At
          type: string
        name: updated_at
        in: query
      - required: false
        schema:
          title: Expiry Date
          type: string
        name: expiry_date
        in: query
      - required: false
        schema:
          title: Appointment Date
          type: string
        name: appointment_date
        in: query
      - required: false
        schema:
          title: Reference Number
          type: string
        name: reference_number
        in: query
      - required: false
        schema:
          title: Multiple Order Status
          type: array
          items: {}
        name: multiple_order_status
        in: query
      - required: false
        schema:
          title: Customer Reference Id
          type: string
        name: customer_reference_id
        in: query
      - required: false
        schema:
          title: Make Model Trim
          type: string
        name: make_model_trim
        in: query
      - required: false
        schema:
          title: Vehicle Condition
          type: string
        name: vehicle_condition
        in: query
      - required: false
        schema:
          title: Reason
          type: string
        name: reason
        in: query
      - required: false
        schema:
          title: Selling Price
          type: string
        name: selling_price
        in: query
      - required: false
        schema:
          title: Dealer Email
          type: string
        name: dealer_email
        in: query
      - required: false
        schema:
          title: Latest Order
          type: boolean
          default: false
        name: latest_order
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/contracts/search:
    get:
      tags:
      - Search
      summary: Get contracts by external order ids
      description: Get contracts by external order ids
      operationId: search_contracts_dms_contracts_search_get
      parameters:
      - description: 'Format: YYYY-MM-DDTHH:MM:SS'
        required: false
        schema:
          title: Subscription Start Date
          type: string
          description: 'Format: YYYY-MM-DDTHH:MM:SS'
          format: date-time
        name: subscription_start_date
        in: query
      - description: 'Format: YYYY-MM-DDTHH:MM:SS'
        required: false
        schema:
          title: Subscription End Date
          type: string
          description: 'Format: YYYY-MM-DDTHH:MM:SS'
          format: date-time
        name: subscription_end_date
        in: query
      - description: 'Format: YYYY-MM-DDTHH:MM:SS'
        required: false
        schema:
          title: Subscription Start Date From
          type: string
          description: 'Format: YYYY-MM-DDTHH:MM:SS'
          format: date-time
        name: subscription_start_date_from
        in: query
      - description: 'Format: YYYY-MM-DDTHH:MM:SS'
        required: false
        schema:
          title: Subscription Start Date To
          type: string
          description: 'Format: YYYY-MM-DDTHH:MM:SS'
          format: date-time
        name: subscription_start_date_to
        in: query
      - description: 'Format: YYYY-MM-DDTHH:MM:SS'
        required: false
        schema:
          title: Subscription End Date From
          type: string
          description: 'Format: YYYY-MM-DDTHH:MM:SS'
          format: date-time
        name: subscription_end_date_from
        in: query
      - description: 'Format: YYYY-MM-DDTHH:MM:SS'
        required: false
        schema:
          title: Subscription End Date To
          type: string
          description: 'Format: YYYY-MM-DDTHH:MM:SS'
          format: date-time
        name: subscription_end_date_to
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
components:
  schemas:
    SortEnum:
      title: SortEnum
      enum:
      - asc
      - desc
      type: string
      description: An enumeration.
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
    SortByEnum:
      title: SortByEnum
      enum:
      - updated_at
      - created_at
      - full_name
      - first_name
      - email
      - date_of_birth
      - mobile_number
      - state
      - reference_id
      - license_no
      - identifier
      - order_identifier
      - order_status
      - vin
      - dealer_id
      - order_updated_at
      type: string
      description: An enumeration.
    DynamicFieldModel:
      title: DynamicFieldModel
      enum:
      - prefix
      - first_name
      - middle_name
      - last_name
      - full_name
      - suffix
      - ssn
      - identifier
      - mobile_number
      - mobile_number_verified_status
      - home_number
      - home_number_verified_status
      - customer_type
      - date_of_birth
      - stripe_customer_id
      - reference_id
      - email
      - address_line_1
      - address_line_2
      - state_name
      - zip_code
      - county
      - city
      - contact_number
      - verified
      - address_type
      - license_number
      - order_identifier
      - order_status
      - stock_number
      - vin
      - dealer_id
      type: string
      description: An enumeration.
    Operators:
      title: Operators
      enum:
      - Equals
      - Not_equals
      - Less_than
      - Greater_than
      - Less_than_and_equal
      - Greater_than_and_equal
      - Is_null
      - Not_null
      - Contains
      type: string
      description: An enumeration.
    FilterModel:
      title: FilterModel
      required:
      - field
      - operator
      type: object
      properties:
        field:
          $ref: '#/components/schemas/DynamicFieldModel'
        operator:
          $ref: '#/components/schemas/Operators'
        value:
          title: Value
        and_or:
          $ref: '#/components/schemas/AndOr'
    AndOr:
      title: AndOr
      enum:
      - And
      - Or
      type: string
      description: An enumeration.
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: /signup/verify-otp
externalDocs:
  url: https://developer.appexnow.com/docs/lane/overview
  description: Product Documentation
