openapi: 3.0.2
info:
  version: 1.3.43
  title: Lane Customer API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: Lane offers a feature-rich, end-to-end order management system for asset leasing, loans and credit companies. Our platform covers all aspects, from conducting end-to-end sales to performing dealer and partner-related tasks and marketing-related activities.
servers:
- url: https://dms-api.netsolapp.io
tags:
- name: Customer
paths:
  /dms/customer/send-email-to-customer:
    post:
      tags:
      - Customer
      summary: send email to customer
      description: send email to customer
      operationId: send_on_boarding_email_dms_customer_send_email_to_customer_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendCustomerEmailModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/delete-customer:
    patch:
      tags:
      - Customer
      summary: Delete customer
      description: Delete customer record by  customer ID
      operationId: remove_customer_dms_delete_customer_patch
      parameters:
      - required: true
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteRequestModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/insurance-information-by-customer:
    get:
      tags:
      - Customer
      summary: Get customer insurance information by customer reference id
      description: Get customer insurance information by customer reference id
      operationId: get_insurance_information_by_reference_id_dms_customer_insurance_information_by_customer_get
      parameters:
      - required: true
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsuranceInformationResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/order/get-customer-order-submissions/{customer_reference_id}/{submission_status}:
    post:
      tags:
      - Customer
      summary: Get order lender submissions of customer by status and Lender ids
      description: Get order lender submission records of customer by status and lender ids
      operationId: get_customer_order_submissions_dms_order_get_customer_order_submissions__customer_reference_id___submission_status__post
      parameters:
      - required: true
        schema:
          title: Customer Reference Id
          type: string
        name: customer_reference_id
        in: path
      - required: true
        schema:
          title: Submission Status
          type: string
        name: submission_status
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
components:
  schemas:
    SendEMailCallType:
      title: SendEMailCallType
      enum:
      - create_customer
      - create_order
      type: string
      description: An enumeration.
    CustomerAddressWithoutAddressTypeModel:
      title: CustomerAddressWithoutAddressTypeModel
      type: object
      properties:
        address_line_1:
          title: Address Line 1
          type: string
          description: Address line one
        address_line_2:
          title: Address Line 2
          type: string
          description: Address line two
        state_name:
          title: State Name
          type: string
          description: Address state name
        zip_code:
          title: Zip Code
          type: string
          description: Zip code
        county:
          title: County
          type: string
          description: Address county
        city:
          title: City
          type: string
          description: Address city
        contact_number:
          title: Contact Number
          type: string
          description: Contact number
        verified:
          title: Verified
          type: boolean
          description: Is Address verified
        move_in_date:
          title: Move In Date
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        is_garaging:
          title: Is Garaging
          type: boolean
          description: Garaging flag
          default: false
        identifier:
          title: Identifier
          minLength: 1
          type: string
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
    InsuranceInformationResponseModel:
      title: InsuranceInformationResponseModel
      type: object
      properties:
        order_reference_id:
          title: Order Reference Id
          type: string
        reference_id:
          title: Reference Id
          type: string
        insurer_name:
          title: Insurer Name
          type: string
        agent_phone:
          title: Agent Phone
          type: string
        subscription_id:
          title: Subscription Id
          type: string
        agent_name:
          title: Agent Name
          type: string
        policy_number:
          title: Policy Number
          type: string
        start_date:
          title: Start Date
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        expiration_date:
          title: Expiration Date
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        deductible_comprehensive:
          title: Deductible Comprehensive
          type: number
        deductible_collision:
          title: Deductible Collision
          type: number
        created_by:
          title: Created By
          type: string
        identifier:
          title: Identifier
          type: string
        is_verified:
          title: Is Verified
          type: boolean
          default: false
        insurance_documents:
          title: Insurance Documents
          type: array
          items:
            $ref: '#/components/schemas/InsuranceDocumentsResponseModel'
        insurer_address:
          $ref: '#/components/schemas/CustomerAddressWithoutAddressTypeModel'
        status:
          $ref: '#/components/schemas/InsuranceDetailStatus'
        is_active:
          title: Is Active
          type: boolean
        is_deleted:
          title: Is Deleted
          type: boolean
        created_at:
          title: Created At
          type: string
          format: date-time
        updated_at:
          title: Updated At
          type: string
          format: date-time
        updated_by:
          title: Updated By
          type: string
        deleted_at:
          title: Deleted At
          type: string
          format: date
        deleted_by:
          title: Deleted By
          type: string
    ResponseModel:
      title: ResponseModel
      required:
      - success
      type: object
      properties:
        success:
          title: Success
          type: boolean
    DeleteRequestModel:
      title: DeleteRequestModel
      required:
      - deleted_by
      type: object
      properties:
        deleted_by:
          title: Deleted By
          type: string
    InsuranceDocumentsResponseModel:
      title: InsuranceDocumentsResponseModel
      type: object
      properties:
        document_uri:
          title: Document Uri
          type: string
        content_type:
          title: Content Type
          type: string
        name:
          title: Name
          type: string
        file_size:
          title: File Size
          type: string
        identifier:
          title: Identifier
          type: string
        is_active:
          title: Is Active
          type: boolean
        created_by:
          title: Created By
          type: string
        created_at:
          title: Created At
          type: string
          format: date
        deleted_at:
          title: Deleted At
          type: string
          format: date
        deleted_by:
          title: Deleted By
          type: string
    InsuranceDetailStatus:
      title: InsuranceDetailStatus
      enum:
      - Verified
      - Unverified
      - Expired
      type: string
      description: An enumeration.
    SendCustomerEmailModel:
      title: SendCustomerEmailModel
      required:
      - subject
      - email
      - email_type
      - dealership_name
      type: object
      properties:
        subject:
          title: Subject
          type: string
          description: Subject of Email
        email:
          title: Email
          type: string
          description: Recipient Email
          format: email
        full_name:
          title: Full Name
          type: string
          description: Customer full name
        email_type:
          allOf:
          - $ref: '#/components/schemas/SendEMailCallType'
          description: allowed values create_customer or create_order
        reference_number:
          title: Reference Number
          type: string
          description: Reference number
        dealership_name:
          title: Dealership Name
          type: string
          description: Dealership name
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: /signup/verify-otp
externalDocs:
  url: https://developer.appexnow.com/docs/lane/overview
  description: Product Documentation
