openapi: 3.0.2
info:
  version: 1.3.43
  title: Lane Disclaimers API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: Lane offers a feature-rich, end-to-end order management system for asset leasing, loans and credit companies. Our platform covers all aspects, from conducting end-to-end sales to performing dealer and partner-related tasks and marketing-related activities.
servers:
- url: https://dms-api.netsolapp.io
tags:
- name: Disclaimers
paths:
  /dms/configure/disclaimer:
    get:
      tags:
      - Disclaimers
      summary: Get Disclaimer Details by Disclaimer Name and Disclaimer Version
      operationId: get_disclaimer_details_by_id_version_dms_configure_disclaimer_get
      parameters:
      - required: true
        schema:
          title: Disclaimer Name
          type: string
        name: disclaimer_name
        in: query
      - required: true
        schema:
          title: Disclaimer Version
          type: string
        name: disclaimer_version
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisclaimerResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    post:
      tags:
      - Disclaimers
      summary: Create disclaimer
      operationId: create_disclaimer_dms_configure_disclaimer_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisclaimerModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisclaimerResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/configure/disclaimer-by-name/{name}:
    get:
      tags:
      - Disclaimers
      summary: Get Disclaimer by Name
      operationId: get_disclaimer_by_name_dms_configure_disclaimer_by_name__name__get
      parameters:
      - required: true
        schema:
          title: Name
          type: string
        name: name
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get Disclaimer By Name Dms Configure Disclaimer By Name  Name  Get
                type: array
                items:
                  $ref: '#/components/schemas/DisclaimerResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/configure/customer-mandatory-disclaimers:
    get:
      tags:
      - Disclaimers
      summary: Get customer mandatory Disclaimers
      operationId: get_mandatory_disclaimers_dms_configure_customer_mandatory_disclaimers_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get Mandatory Disclaimers Dms Configure Customer Mandatory Disclaimers Get
                type: array
                items:
                  $ref: '#/components/schemas/DisclaimerResponseModel'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/configure/disclaimer-status:
    patch:
      tags:
      - Disclaimers
      summary: Update Disclaimer status
      operationId: update_disclaimer_status_by_id_dms_configure_disclaimer_status_patch
      parameters:
      - required: true
        schema:
          title: Name
          type: string
        name: name
        in: query
      - required: true
        schema:
          title: Change Status
          type: string
        name: change_status
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Update Disclaimer Status By Id Dms Configure Disclaimer Status Patch
                type: boolean
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/configure/disclaimer-accord:
    patch:
      tags:
      - Disclaimers
      summary: Update Disclaimer accord
      operationId: update_disclaimer_accord_by_name_dms_configure_disclaimer_accord_patch
      parameters:
      - required: true
        schema:
          title: Name
          type: string
        name: name
        in: query
      - required: true
        schema:
          title: Change Accord
          type: boolean
        name: change_accord
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Update Disclaimer Accord By Name Dms Configure Disclaimer Accord Patch
                type: boolean
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/configure/disclaimer/{name}:
    patch:
      tags:
      - Disclaimers
      summary: Update Disclaimer details
      operationId: update_disclaimer_by_identifier_dms_configure_disclaimer__name__patch
      parameters:
      - required: true
        schema:
          title: Name
          type: string
        name: name
        in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisclaimerUpdateParamsModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisclaimerResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/configure/disclaimer-agreement:
    get:
      tags:
      - Disclaimers
      summary: Get Saved Disclaimer Agreement
      operationId: get_disclaimer_acceptance_agreement_dms_configure_disclaimer_agreement_get
      parameters:
      - required: true
        schema:
          title: Customer Reference Id
          type: string
        name: customer_reference_id
        in: query
      - required: false
        schema:
          title: Order Reference Id
          type: string
        name: order_reference_id
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get Disclaimer Acceptance Agreement Dms Configure Disclaimer Agreement Get
                type: array
                items:
                  $ref: '#/components/schemas/DisclaimerAcceptanceModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    post:
      tags:
      - Disclaimers
      summary: Create Disclaimer Agreement
      operationId: create_disclaimer_acceptance_dms_configure_disclaimer_agreement_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisclaimerAcceptanceParamsModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisclaimerAcceptanceModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    delete:
      tags:
      - Disclaimers
      summary: Delete Disclaimer Agreement
      operationId: remove_disclaimer_acceptance_dms_configure_disclaimer_agreement_delete
      parameters:
      - required: true
        schema:
          title: Customer Reference Id
          type: string
        name: customer_reference_id
        in: query
      - required: true
        schema:
          title: Disclaimer Name
          type: string
        name: disclaimer_name
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/configure/disclaimer-agreement-datetime:
    get:
      tags:
      - Disclaimers
      summary: Get Disclaimer Agreement Date Time by Customer ID/Order ID
      operationId: get_disclaimer_acceptance_date_time_dms_configure_disclaimer_agreement_datetime_get
      parameters:
      - required: false
        schema:
          title: Customer Reference No
          type: string
        name: customer_reference_no
        in: query
      - required: false
        schema:
          title: Order Reference Number
          type: string
        name: order_reference_number
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get Disclaimer Acceptance Date Time Dms Configure Disclaimer Agreement Datetime Get
                type: string
                format: date-time
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/configure/multiple-disclaimers:
    post:
      tags:
      - Disclaimers
      summary: Create multiple disclaimers
      operationId: create_multiple_disclaimers_dms_configure_multiple_disclaimers_post
      requestBody:
        content:
          application/json:
            schema:
              title: Disclaimers
              type: array
              items:
                $ref: '#/components/schemas/DisclaimerModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Create Multiple Disclaimers Dms Configure Multiple Disclaimers Post
                type: array
                items:
                  $ref: '#/components/schemas/DisclaimerResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
components:
  schemas:
    DisclaimerAcceptanceParamsModel:
      title: DisclaimerAcceptanceParamsModel
      type: object
      properties:
        order_reference_id:
          title: Order Reference Id
          type: string
        customer_reference_id:
          title: Customer Reference Id
          type: string
        disclaimer_name:
          title: Disclaimer Name
          type: string
        disclaimer_version:
          title: Disclaimer Version
          type: number
    DisclaimerModel:
      title: DisclaimerModel
      required:
      - name
      - description
      type: object
      properties:
        version:
          title: Version
          type: string
        name:
          title: Name
          type: string
        description:
          title: Description
          type: string
        type:
          title: Type
          type: string
        applicable_for:
          title: Applicable For
          type: string
        required_by:
          title: Required By
          type: string
        status:
          title: Status
          type: string
        change_type:
          title: Change Type
          type: string
        effectiveDate:
          title: Effectivedate
          type: string
          format: date-time
        meta_data:
          title: Meta Data
          type: object
        updated_by:
          title: Updated By
          type: string
        created_by:
          title: Created By
          type: string
        disclaimer_accord:
          title: Disclaimer Accord
          type: boolean
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
    DisclaimerUpdateParamsModel:
      title: DisclaimerUpdateParamsModel
      type: object
      properties:
        status:
          title: Status
          type: string
        description:
          title: Description
          type: string
        meta_data:
          title: Meta Data
          type: object
        updated_by:
          title: Updated By
          type: string
    DisclaimerResponseModel:
      title: DisclaimerResponseModel
      type: object
      properties:
        version:
          title: Version
          type: string
        name:
          title: Name
          type: string
        identifier:
          title: Identifier
          type: string
        description:
          title: Description
          type: string
        type:
          title: Type
          type: string
        applicable_for:
          title: Applicable For
          type: string
        required_by:
          title: Required By
          type: string
        status:
          title: Status
          type: string
        change_type:
          title: Change Type
          type: string
        created_at:
          title: Created At
          type: string
          format: date-time
        created_by:
          title: Created By
          type: string
        updated_at:
          title: Updated At
          type: string
          format: date-time
        updated_by:
          title: Updated By
          type: string
        effectiveDate:
          title: Effectivedate
          type: string
          format: date-time
        meta_data:
          title: Meta Data
          type: object
        disclaimer_accord:
          title: Disclaimer Accord
          type: boolean
    DisclaimerAcceptanceModel:
      title: DisclaimerAcceptanceModel
      type: object
      properties:
        order_reference_id:
          title: Order Reference Id
          type: string
        customer_reference_id:
          title: Customer Reference Id
          type: string
        identifier:
          title: Identifier
          type: string
        disclaimer_name:
          title: Disclaimer Name
          type: string
        disclaimer_version:
          title: Disclaimer Version
          type: string
        disclaimer_details:
          title: Disclaimer Details
          type: string
        disclaimer_acceptance_date:
          title: Disclaimer Acceptance Date
          type: string
          format: date-time
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: /signup/verify-otp
externalDocs:
  url: https://developer.appexnow.com/docs/lane/overview
  description: Product Documentation
