openapi: 3.0.2
info:
  version: 1.3.43
  title: Lane Employment API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: Lane offers a feature-rich, end-to-end order management system for asset leasing, loans and credit companies. Our platform covers all aspects, from conducting end-to-end sales to performing dealer and partner-related tasks and marketing-related activities.
servers:
- url: https://dms-api.netsolapp.io
tags:
- name: Employment
paths:
  /dms/customer/employment-info:
    get:
      tags:
      - Employment
      summary: Get single employment information record
      description: Get employment information by customer ID
      operationId: findone_employment_info_dms_customer_employment_info_get
      parameters:
      - required: true
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmploymentInfoResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    post:
      tags:
      - Employment
      summary: Creates employment information
      description: Create employment information against customer
      operationId: add_customer_employment_info_dms_customer_employment_info_post
      parameters:
      - required: false
        schema:
          title: Dealer Code
          type: string
        name: dealer_code
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmploymentInfoCreateModelEmpTypeMendatory'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmploymentInfoResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    delete:
      tags:
      - Employment
      summary: Delete single employment information record
      description: Delete employment information record of customer employment record ID
      operationId: delete_employment_info_by_id_dms_customer_employment_info_delete
      parameters:
      - required: true
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    patch:
      tags:
      - Employment
      summary: Updates employment information
      description: Update employment information against customer
      operationId: update_customer_employment_info_dms_customer_employment_info_patch
      parameters:
      - required: true
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      - required: false
        schema:
          title: Dealer Code
          type: string
        name: dealer_code
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmploymentInfoUpdateModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmploymentInfoResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
components:
  schemas:
    AddressTypes:
      title: AddressTypes
      enum:
      - Mailing
      - Invoice
      - Office
      - Garaging
      - DealerAddress
      - DrivingLicense
      - Billing
      - InsuranceAddress
      - Residential
      - Employment
      type: string
      description: An enumeration.
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
    ResponseModel:
      title: ResponseModel
      required:
      - success
      type: object
      properties:
        success:
          title: Success
          type: boolean
    AddressResponseModel:
      title: AddressResponseModel
      required:
      - address_type
      type: object
      properties:
        address_line_1:
          title: Address Line 1
          type: string
          description: Address line one
        address_line_2:
          title: Address Line 2
          type: string
          description: Address line two
        state_name:
          title: State Name
          type: string
          description: Address state name
        zip_code:
          title: Zip Code
          type: string
          description: Zip code
        county:
          title: County
          type: string
          description: Address county
        city:
          title: City
          type: string
          description: Address city
        contact_number:
          title: Contact Number
          type: string
          description: Contact number
        verified:
          title: Verified
          type: boolean
          description: Is Address verified
        move_in_date:
          title: Move In Date
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        is_garaging:
          title: Is Garaging
          type: boolean
          description: Garaging flag
          default: false
        address_type:
          $ref: '#/components/schemas/AddressTypes'
        identifier:
          title: Identifier
          type: string
        created_at:
          title: Created At
          type: string
          format: date-time
        created_by:
          title: Created By
          type: string
        updated_at:
          title: Updated At
          type: string
          format: date-time
        updated_by:
          title: Updated By
          type: string
        deleted_at:
          title: Deleted At
          type: string
          format: date-time
        deleted_by:
          title: Deleted By
          type: string
        reference_id:
          title: Reference Id
          type: string
        is_active:
          title: Is Active
          type: boolean
    EmploymentInfoCreateModelEmpTypeMendatory:
      title: EmploymentInfoCreateModelEmpTypeMendatory
      required:
      - employment_type
      - reference_id
      type: object
      properties:
        employment_type:
          title: Employment Type
          minLength: 1
          type: string
          description: Employment type
        name:
          title: Name
          type: string
          description: Name
        phone:
          title: Phone
          type: string
          description: Phone
        employed_since:
          title: Employed Since
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        occupation:
          title: Occupation
          type: string
          description: Occupation
        annual_employment_income:
          title: Annual Employment Income
          type: number
          description: Annual employment income
        annual_other_income:
          title: Annual Other Income
          type: number
          description: Annual other income
        source_of_other_income:
          title: Source Of Other Income
          type: string
          description: Annual other income
        reference_id:
          title: Reference Id
          minLength: 1
          type: string
          description: Reference ID for Employment
        address:
          $ref: '#/components/schemas/CustomerAddressModel'
    CustomerAddressModel:
      title: CustomerAddressModel
      required:
      - address_type
      type: object
      properties:
        address_line_1:
          title: Address Line 1
          type: string
          description: Address line one
        address_line_2:
          title: Address Line 2
          type: string
          description: Address line two
        state_name:
          title: State Name
          type: string
          description: Address state name
        zip_code:
          title: Zip Code
          type: string
          description: Zip code
        county:
          title: County
          type: string
          description: Address county
        city:
          title: City
          type: string
          description: Address city
        contact_number:
          title: Contact Number
          type: string
          description: Contact number
        verified:
          title: Verified
          type: boolean
          description: Is Address verified
        move_in_date:
          title: Move In Date
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        is_garaging:
          title: Is Garaging
          type: boolean
          description: Garaging flag
          default: false
        address_type:
          $ref: '#/components/schemas/AddressTypes'
        identifier:
          title: Identifier
          minLength: 1
          type: string
    CustomerUpdateAddressModel:
      title: CustomerUpdateAddressModel
      required:
      - address_type
      type: object
      properties:
        address_line_1:
          title: Address Line 1
          type: string
          description: Address line one
        address_line_2:
          title: Address Line 2
          type: string
          description: Address line two
        state_name:
          title: State Name
          type: string
          description: Address state name
        zip_code:
          title: Zip Code
          type: string
          description: Zip code
        county:
          title: County
          type: string
          description: Address county
        city:
          title: City
          type: string
          description: Address city
        contact_number:
          title: Contact Number
          type: string
          description: Contact number
        verified:
          title: Verified
          type: boolean
          description: Is Address verified
        move_in_date:
          title: Move In Date
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        is_garaging:
          title: Is Garaging
          type: boolean
          description: Garaging flag
          default: false
        address_type:
          $ref: '#/components/schemas/AddressTypes'
    EmploymentInfoUpdateModel:
      title: EmploymentInfoUpdateModel
      type: object
      properties:
        employment_type:
          title: Employment Type
          type: string
          description: Employment type
        name:
          title: Name
          type: string
          description: Name
        phone:
          title: Phone
          type: string
          description: Phone
        employed_since:
          title: Employed Since
          type: string
          description: Employed since
          format: date
        occupation:
          title: Occupation
          type: string
          description: Occupation
        annual_employment_income:
          title: Annual Employment Income
          type: number
          description: Annual employment income
        annual_other_income:
          title: Annual Other Income
          type: number
          description: Annual other income
        source_of_other_income:
          title: Source Of Other Income
          type: string
          description: Annual other income
        address:
          $ref: '#/components/schemas/CustomerUpdateAddressModel'
    EmploymentInfoResponseModel:
      title: EmploymentInfoResponseModel
      type: object
      properties:
        employment_type:
          title: Employment Type
          type: string
          description: Employment type
        name:
          title: Name
          type: string
          description: Name
        phone:
          title: Phone
          type: string
          description: Phone
        employed_since:
          title: Employed Since
          type: string
          description: Employed since
          format: date
        occupation:
          title: Occupation
          type: string
          description: Occupation
        annual_employment_income:
          title: Annual Employment Income
          type: number
          description: Annual employment income
        annual_other_income:
          title: Annual Other Income
          type: number
          description: Annual other income
        source_of_other_income:
          title: Source Of Other Income
          type: string
          description: Annual other income
        created_at:
          title: Created At
          type: string
          format: date-time
        created_by:
          title: Created By
          type: string
        updated_at:
          title: Updated At
          type: string
          format: date-time
        updated_by:
          title: Updated By
          type: string
        deleted_at:
          title: Deleted At
          type: string
          format: date-time
        deleted_by:
          title: Deleted By
          type: string
        reference_id:
          title: Reference Id
          type: string
        address:
          $ref: '#/components/schemas/AddressResponseModel'
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: /signup/verify-otp
externalDocs:
  url: https://developer.appexnow.com/docs/lane/overview
  description: Product Documentation
