openapi: 3.2.0
info:
  version: 1.3.43
  title: Lane Checks API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: Lane offers a feature-rich, end-to-end order management system for asset leasing, loans and credit companies. Our platform covers all aspects, from conducting end-to-end sales to performing dealer and partner-related tasks and marketing-related activities.
servers:
- url: https://dms-api.netsolapp.io
tags:
- name: Checks
paths:
  /dms/check-customer-by-email:
    patch:
      tags:
      - Checks
      summary: Check customer, create if does not exist
      operationId: check_customer_dms_check_customer_by_email_patch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomerModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerProfileModelResponseWithID'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/check-dms-customer:
    get:
      tags:
      - Checks
      summary: Get customer record
      description: Get customer record by customer ID
      operationId: fetch_dms_customer_dms_check_dms_customer_get
      parameters:
      - required: false
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      - required: false
        schema:
          title: Dealer Code
          type: string
        name: dealer_code
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
components:
  schemas:
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
    CustomerProfileModelResponseWithID:
      title: CustomerProfileModelResponseWithID
      type: object
      properties:
        prefix:
          title: Prefix
          type: string
        first_name:
          title: First Name
          type: string
        middle_name:
          title: Middle Name
          type: string
        last_name:
          title: Last Name
          type: string
        suffix:
          title: Suffix
          type: string
        ssn:
          title: Ssn
          type: string
        mobile_number:
          title: Mobile Number
          type: string
        mobile_number_verified_status:
          title: Mobile Number Verified Status
          type: boolean
          default: false
        home_number:
          title: Home Number
          type: string
        home_number_verified_status:
          title: Home Number Verified Status
          type: boolean
          default: false
        customer_type:
          title: Customer Type
          type: string
        date_of_birth:
          title: Date Of Birth
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        meta_data:
          title: Meta Data
          type: object
        stripe_customer_id:
          title: Stripe Customer Id
          type: string
        preferred_contact:
          title: Preferred Contact
          type: string
        reference_id:
          title: Reference Id
          type: string
        external_id:
          title: External Id
          type: string
        identifier:
          title: Identifier
          type: string
        email:
          title: Email
          type: string
        created_by:
          title: Created By
          type: string
        created_at:
          title: Created At
          type: string
          format: date-time
        updated_at:
          title: Updated At
          type: string
          format: date-time
        updated_by:
          title: Updated By
          type: string
        deleted_at:
          title: Deleted At
          type: string
          format: date-time
        deleted_by:
          title: Deleted By
          type: string
        id:
          title: Id
          type: integer
        consent:
          title: Consent
    CreateCustomerModel:
      title: CreateCustomerModel
      required:
      - dealer_id
      - email
      type: object
      properties:
        dealer_id:
          title: Dealer Id
          type: integer
          description: Dealer ID for Customer
        email:
          title: Email
          type: string
          format: email
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: /signup/verify-otp
externalDocs:
  url: https://developer.appexnow.com/docs/lane/overview
  description: Product Documentation
