openapi: 3.0.2
info:
  version: 1.3.43
  title: Lane Trim API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: Lane offers a feature-rich, end-to-end order management system for asset leasing, loans and credit companies. Our platform covers all aspects, from conducting end-to-end sales to performing dealer and partner-related tasks and marketing-related activities.
servers:
- url: https://dms-api.netsolapp.io
tags:
- name: Trim
paths:
  /dms/configure/assets-by-trim-code/{trim_code}:
    get:
      tags:
      - Trim
      summary: Get assets by trim code
      description: Get assets by trim code
      operationId: quote_comparison_dms_configure_assets_by_trim_code__trim_code__get
      parameters:
      - required: true
        schema:
          title: Trim Code
          minLength: 1
          type: string
        name: trim_code
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetsByTrimCodeResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/get-trade-in-trim/:
    post:
      tags:
      - Trim
      summary: Get all the trims from KBB
      description: This method will get all the trims from KBB
      operationId: get_trade_in_trim_dms_get_trade_in_trim__post
      parameters:
      - description: Vehicle valuation service to use
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/VehicleValuationProviders'
          description: Vehicle valuation service to use
        name: x-service-provider
        in: header
      - description: Dealer code from the header
        required: false
        schema:
          title: X-Dealer-Code
          type: string
          description: Dealer code from the header
        name: x-dealer-code
        in: header
      - description: Company ID from the dealer
        required: false
        schema:
          title: Company-Id
          type: string
          description: Company ID from the dealer
        name: company-id
        in: header
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TradeInTrim'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
components:
  schemas:
    AssetsByTrimCodeResponse:
      title: AssetsByTrimCodeResponse
      type: object
      properties:
        asset_make_id:
          title: Asset Make Id
          type: integer
        asset_model_id:
          title: Asset Model Id
          type: integer
        asset_trim_id:
          title: Asset Trim Id
          type: integer
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
    VehicleValuationProviders:
      title: VehicleValuationProviders
      enum:
      - KBB
      - JDPower
      type: string
      description: An enumeration.
    TradeInTrim:
      title: TradeInTrim
      type: object
      properties:
        trim_id:
          title: Trim Id
          type: integer
          default: 0
        year_id:
          title: Year Id
          type: integer
          default: 0
        make_id:
          title: Make Id
          type: integer
          default: 0
        model_id:
          title: Model Id
          type: integer
          default: 0
        model_year_id:
          title: Model Year Id
          type: string
          default: ''
        platform_vehicle_type:
          $ref: '#/components/schemas/PlateformVehicleType'
    PlateformVehicleType:
      title: PlateformVehicleType
      enum:
      - Car
      - NewCar
      - UsedCar
      - MotorBike
      type: string
      description: An enumeration.
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: /signup/verify-otp
externalDocs:
  url: https://developer.appexnow.com/docs/lane/overview
  description: Product Documentation
