openapi: 3.0.2
info:
  version: 1.3.43
  title: Lane Options API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: Lane offers a feature-rich, end-to-end order management system for asset leasing, loans and credit companies. Our platform covers all aspects, from conducting end-to-end sales to performing dealer and partner-related tasks and marketing-related activities.
servers:
- url: https://dms-api.netsolapp.io
tags:
- name: Options
paths:
  /dms/configure/order-options:
    post:
      tags:
      - Options
      summary: Create a new order option record
      description: Create a new order option record
      operationId: add_order_option_dms_configure_order_options_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderOptionModel'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderOptionModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/configure/order-options/{identifier}:
    get:
      tags:
      - Options
      summary: Get order option details
      description: Get order all options against an identifier
      operationId: get_order_options_by_identifier_dms_configure_order_options__identifier__get
      parameters:
      - required: true
        schema:
          title: Identifier
          type: string
        name: identifier
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get Order Options By Identifier Dms Configure Order Options  Identifier  Get
                type: array
                items:
                  $ref: '#/components/schemas/OrderOptionModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    delete:
      tags:
      - Options
      summary: Delete order option record
      description: Delete all order option records against identifier
      operationId: delete_order_option_dms_configure_order_options__identifier__delete
      parameters:
      - required: true
        schema:
          title: Identifier
          type: string
        name: identifier
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderOptionModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    patch:
      tags:
      - Options
      summary: Update an order option record
      description: Update an order option record
      operationId: update_order_option_dms_configure_order_options__identifier__patch
      parameters:
      - required: true
        schema:
          title: Identifier
          type: string
        name: identifier
        in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderOptionModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderOptionModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/dealer/option-model-name:
    get:
      tags:
      - Options
      summary: Get All Dealer Options By Model Name
      operationId: get_all_dealer_options_by_model_name_dms_dealer_option_model_name_get
      parameters:
      - required: true
        schema:
          title: Dealer Code
          type: string
        name: dealer_code
        in: query
      - required: true
        schema:
          title: Model Name
          type: string
        name: model_name
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/get-tradein-options/:
    post:
      tags:
      - Options
      summary: Get trade in options linked with vehicles
      description: This method will get all the options related to vehicle
      operationId: get_trade_in_options_dms_get_tradein_options__post
      parameters:
      - description: Vehicle valuation service to use
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/VehicleValuationProviders'
          description: Vehicle valuation service to use
        name: x-service-provider
        in: header
      - description: Dealer code from the header
        required: false
        schema:
          title: X-Dealer-Code
          type: string
          description: Dealer code from the header
        name: x-dealer-code
        in: header
      - description: Company ID from the dealer
        required: false
        schema:
          title: Company-Id
          type: string
          description: Company ID from the dealer
        name: company-id
        in: header
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TradeInOptions'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
components:
  schemas:
    OrderOptionModel:
      title: OrderOptionModel
      required:
      - order_id
      - option_id
      - applied_price
      - dealer_id
      - lender_id
      - rv_balloon_percentage
      - rv_balloon_value
      type: object
      properties:
        identifier:
          title: Identifier
          type: string
        order_id:
          title: Order Id
          type: integer
        option_id:
          title: Option Id
          type: integer
        applied_price:
          title: Applied Price
          type: number
        dealer_id:
          title: Dealer Id
          type: integer
        lender_id:
          title: Lender Id
          type: integer
        rv_balloon_percentage:
          title: Rv Balloon Percentage
          type: number
        rv_balloon_value:
          title: Rv Balloon Value
          type: number
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
    VehicleValuationProviders:
      title: VehicleValuationProviders
      enum:
      - KBB
      - JDPower
      type: string
      description: An enumeration.
    TradeInOptions:
      title: TradeInOptions
      required:
      - platform_vehicle_type
      type: object
      properties:
        platform_vehicle_type:
          title: Platform Vehicle Type
          type: string
        options_filter:
          $ref: '#/components/schemas/TradeInOptionsFilter'
    TradeInOptionsFilter:
      title: TradeInOptionsFilter
      type: object
      properties:
        vehicleId:
          title: Vehicleid
          type: integer
          default: 0
        yearId:
          title: Yearid
          type: integer
          default: 0
        makeId:
          title: Makeid
          type: integer
          default: 0
        modelId:
          title: Modelid
          type: integer
          default: 0
        trimId:
          title: Trimid
          type: integer
          default: 0
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: /signup/verify-otp
externalDocs:
  url: https://developer.appexnow.com/docs/lane/overview
  description: Product Documentation
