openapi: 3.0.2
info:
  version: 1.3.43
  title: Lane Affordability API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: Lane offers a feature-rich, end-to-end order management system for asset leasing, loans and credit companies. Our platform covers all aspects, from conducting end-to-end sales to performing dealer and partner-related tasks and marketing-related activities.
servers:
- url: https://dms-api.netsolapp.io
tags:
- name: Affordability
paths:
  /dms/affordability-check/:
    post:
      tags:
      - Affordability
      summary: Affordability Check
      operationId: affordability_check_dms_affordability_check__post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AffordabilityCheckModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/affordability-check/monthly-payment-calculation/V2/:
    post:
      tags:
      - Affordability
      summary: Monthly Payment Calculation V2
      operationId: monthly_payment_calculation_v2_dms_affordability_check_monthly_payment_calculation_V2__post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MonthlyPaymentCalculationModelV2'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
components:
  schemas:
    MonthlyPaymentCalculationModelV2:
      title: MonthlyPaymentCalculationModelV2
      required:
      - asset_make_name
      - asset_model_name
      - asset_trim_name
      - dealer_id
      - company_id
      - rental_mode
      - financed_amount
      - terms
      type: object
      properties:
        asset_make_name:
          title: Asset Make Name
          type: string
        asset_model_name:
          title: Asset Model Name
          type: string
        asset_trim_name:
          title: Asset Trim Name
          type: string
        dealer_id:
          title: Dealer Id
          type: integer
        company_id:
          title: Company Id
          type: integer
        rental_mode:
          title: Rental Mode
          type: string
        financed_amount:
          title: Financed Amount
          type: number
        terms:
          title: Terms
          type: array
          items:
            type: integer
    AffordabilityCheckModel:
      title: AffordabilityCheckModel
      required:
      - dealer_code
      - company_code
      - lender_code
      - max_payment
      - terms
      type: object
      properties:
        dealer_code:
          title: Dealer Code
          type: string
        company_code:
          title: Company Code
          type: string
          description: Company code
        lender_code:
          title: Lender Code
          type: string
        max_payment:
          title: Max Payment
          type: number
        terms:
          title: Terms
          type: integer
        credit_rating:
          title: Credit Rating
          type: string
        upfront:
          title: Upfront
          type: number
        annual_usage:
          title: Annual Usage
          type: integer
        balloon_payment:
          title: Balloon Payment
          type: number
        trade_in_amount:
          title: Trade In Amount
          type: number
        trade_in_payoff:
          title: Trade In Payoff
          type: number
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: /signup/verify-otp
externalDocs:
  url: https://developer.appexnow.com/docs/lane/overview
  description: Product Documentation
