openapi: 3.0.2
info:
  version: 1.3.43
  title: Lane Contracts API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: Lane offers a feature-rich, end-to-end order management system for asset leasing, loans and credit companies. Our platform covers all aspects, from conducting end-to-end sales to performing dealer and partner-related tasks and marketing-related activities.
servers:
- url: https://dms-api.netsolapp.io
tags:
- name: Contracts
paths:
  /dms/contracts:
    get:
      tags:
      - Contracts
      summary: Get contracts by external order ids
      description: Get contracts by external order ids
      operationId: find_contracts_dms_contracts_get
      parameters:
      - required: true
        schema:
          title: External Order Ids
          type: array
          items:
            type: string
        name: external_order_ids
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/contracts/search:
    get:
      tags:
      - Contracts
      summary: Get contracts by external order ids
      description: Get contracts by external order ids
      operationId: search_contracts_dms_contracts_search_get
      parameters:
      - description: 'Format: YYYY-MM-DDTHH:MM:SS'
        required: false
        schema:
          title: Subscription Start Date
          type: string
          description: 'Format: YYYY-MM-DDTHH:MM:SS'
          format: date-time
        name: subscription_start_date
        in: query
      - description: 'Format: YYYY-MM-DDTHH:MM:SS'
        required: false
        schema:
          title: Subscription End Date
          type: string
          description: 'Format: YYYY-MM-DDTHH:MM:SS'
          format: date-time
        name: subscription_end_date
        in: query
      - description: 'Format: YYYY-MM-DDTHH:MM:SS'
        required: false
        schema:
          title: Subscription Start Date From
          type: string
          description: 'Format: YYYY-MM-DDTHH:MM:SS'
          format: date-time
        name: subscription_start_date_from
        in: query
      - description: 'Format: YYYY-MM-DDTHH:MM:SS'
        required: false
        schema:
          title: Subscription Start Date To
          type: string
          description: 'Format: YYYY-MM-DDTHH:MM:SS'
          format: date-time
        name: subscription_start_date_to
        in: query
      - description: 'Format: YYYY-MM-DDTHH:MM:SS'
        required: false
        schema:
          title: Subscription End Date From
          type: string
          description: 'Format: YYYY-MM-DDTHH:MM:SS'
          format: date-time
        name: subscription_end_date_from
        in: query
      - description: 'Format: YYYY-MM-DDTHH:MM:SS'
        required: false
        schema:
          title: Subscription End Date To
          type: string
          description: 'Format: YYYY-MM-DDTHH:MM:SS'
          format: date-time
        name: subscription_end_date_to
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
components:
  schemas:
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: /signup/verify-otp
externalDocs:
  url: https://developer.appexnow.com/docs/lane/overview
  description: Product Documentation
