openapi: 3.0.2
info:
  version: 1.3.43
  title: Lane Dealer API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: Lane offers a feature-rich, end-to-end order management system for asset leasing, loans and credit companies. Our platform covers all aspects, from conducting end-to-end sales to performing dealer and partner-related tasks and marketing-related activities.
servers:
- url: https://dms-api.netsolapp.io
tags:
- name: Dealer
paths:
  /dms/customer/signature/by-dealer-id:
    get:
      tags:
      - Dealer
      summary: Gets a customer signature record by dealer id
      description: Gets a customer signature record by dealer id
      operationId: findone_customer_signature_by_dealer_dms_customer_signature_by_dealer_id_get
      parameters:
      - required: true
        schema:
          title: Dealer Id
          type: string
        name: dealer_id
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerSignatureResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/configure/order/status-by-dealer:
    get:
      tags:
      - Dealer
      summary: Get order status by dealer
      description: Get order status by dealer
      operationId: get_order_status_by_delaer_id_and_reference_number_dms_configure_order_status_by_dealer_get
      parameters:
      - required: true
        schema:
          title: Dealer Id
          type: integer
        name: dealer_id
        in: query
      - required: true
        schema:
          title: Reference Number
          type: string
        name: reference_number
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/dealer/find/by-tenant:
    get:
      tags:
      - Dealer
      summary: Get Dealer By Tenant Id
      operationId: get_dealer_by_tenant_id_dms_dealer_find_by_tenant_get
      parameters:
      - required: true
        schema:
          title: Tenant Id
          type: integer
        name: tenant_id
        in: query
      - required: true
        schema:
          title: Email
          type: string
        name: email
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/inventory/reference-data-by-dealer-code/{dealer_code}:
    get:
      tags:
      - Dealer
      summary: Get Inventory Reference Data
      operationId: get_inventory_reference_data_dms_inventory_reference_data_by_dealer_code__dealer_code__get
      parameters:
      - required: true
        schema:
          title: Dealer Code
          type: string
        name: dealer_code
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/dealer/preference-by-dealer-code/{dealer_code}:
    get:
      tags:
      - Dealer
      summary: Get Dealer Preference By Dealer Code
      operationId: get_dealer_preference_by_dealer_code_dms_dealer_preference_by_dealer_code__dealer_code__get
      parameters:
      - required: true
        schema:
          title: Dealer Code
          type: string
        name: dealer_code
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/dealer/profile/{dealer_code}:
    get:
      tags:
      - Dealer
      summary: Get Dealer Profile By Dealer Code
      operationId: get_dealer_profile_by_dealer_code_dms_dealer_profile__dealer_code__get
      parameters:
      - required: true
        schema:
          title: Dealer Code
          type: string
        name: dealer_code
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/dealer/fee/dealer-code/{dealer_code}:
    get:
      tags:
      - Dealer
      summary: Get All Dealer Fee By Code
      operationId: get_all_dealer_fee_by_code_dms_dealer_fee_dealer_code__dealer_code__get
      parameters:
      - required: true
        schema:
          title: Dealer Code
          type: string
        name: dealer_code
        in: path
      - required: false
        schema:
          title: State Code
          type: string
        name: state_code
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/dealer/option-model-name:
    get:
      tags:
      - Dealer
      summary: Get All Dealer Options By Model Name
      operationId: get_all_dealer_options_by_model_name_dms_dealer_option_model_name_get
      parameters:
      - required: true
        schema:
          title: Dealer Code
          type: string
        name: dealer_code
        in: query
      - required: true
        schema:
          title: Model Name
          type: string
        name: model_name
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/dealer/all-dealer-distance:
    get:
      tags:
      - Dealer
      summary: Get All Dealer Distance
      description: Get All Dealer Distance
      operationId: dealer_distance_dms_dealer_all_dealer_distance_get
      parameters:
      - required: true
        schema:
          title: Company Id
          type: integer
        name: company_id
        in: query
      - required: true
        schema:
          title: Radius
          type: integer
        name: radius
        in: query
      - required: true
        schema:
          title: Zip Code
          type: string
        name: zip_code
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DealerResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/dealer/get-associated-dealers:
    get:
      tags:
      - Dealer
      summary: Get All Dealer Distance
      description: Get All Dealer Distance
      operationId: get_associated_dealer_dms_dealer_get_associated_dealers_get
      parameters:
      - required: true
        schema:
          $ref: '#/components/schemas/EntityType'
        name: entity_type
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - OAuth2PasswordBearer: []
      - APIKeyHeader: []
  /dms/dealer/check-actively-order:
    get:
      tags:
      - Dealer
      summary: Check Dealer actively order
      description: Check Dealer actively order
      operationId: check_dealer_order_dms_dealer_check_actively_order_get
      parameters:
      - required: true
        schema:
          title: Dealer Id
          type: string
        name: dealer_id
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
components:
  schemas:
    CustomerSignatureResponseModel:
      title: CustomerSignatureResponseModel
      type: object
      properties:
        signature_image:
          title: Signature Image
          type: string
        initial_image:
          title: Initial Image
          type: string
        ip:
          title: Ip
          type: string
        reference_id:
          title: Reference Id
          type: string
        dealer_id:
          title: Dealer Id
          type: integer
        created_at:
          title: Created At
          type: string
          format: date-time
        updated_at:
          title: Updated At
          type: string
          format: date-time
        updated_by:
          title: Updated By
          type: string
        deleted_at:
          title: Deleted At
          type: string
          format: date-time
        deleted_by:
          title: Deleted By
          type: string
    EntityType:
      title: EntityType
      enum:
      - Dealer
      - Lender
      description: An enumeration.
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
    StatusResponseModel:
      title: StatusResponseModel
      type: object
      properties:
        dealer_id:
          title: Dealer Id
          type: integer
        status:
          title: Status
          type: string
    DealerResponse:
      title: DealerResponse
      type: object
      properties:
        result:
          title: Result
          type: array
          items:
            $ref: '#/components/schemas/DealerResponseModel'
    DealerResponseModel:
      title: DealerResponseModel
      required:
      - dealer_name
      - dealer_id
      - dealer_code
      - dealer_address_1
      - dealer_address_2
      - dealer_city
      - dealer_county
      - dealer_state_name
      - dealer_zip_code
      - dealer_distance
      - dealer_active
      type: object
      properties:
        dealer_name:
          title: Dealer Name
          type: string
          description: Dealer Name
        dealer_id:
          title: Dealer Id
          type: string
          description: Dealer ID
        dealer_code:
          title: Dealer Code
          type: string
          description: Dealer Code
        dealer_address_1:
          title: Dealer Address 1
          type: string
          description: Dealer Address 1
        dealer_address_2:
          title: Dealer Address 2
          type: string
          description: Dealer Address 2
        dealer_city:
          title: Dealer City
          type: string
          description: Dealer City
        dealer_county:
          title: Dealer County
          type: string
          description: Dealer Country
        dealer_state_name:
          title: Dealer State Name
          type: string
          description: Dealer State Code
        dealer_zip_code:
          title: Dealer Zip Code
          type: string
          description: Dealer Zip Code
        dealer_distance:
          title: Dealer Distance
          type: number
          description: Dealer Distance
        dealer_active:
          title: Dealer Active
          type: boolean
          description: Dealer Active Status
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: /signup/verify-otp
externalDocs:
  url: https://developer.appexnow.com/docs/lane/overview
  description: Product Documentation
