openapi: 3.2.0
info:
  version: 1.3.43
  title: Lane Submit API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: Lane offers a feature-rich, end-to-end order management system for asset leasing, loans and credit companies. Our platform covers all aspects, from conducting end-to-end sales to performing dealer and partner-related tasks and marketing-related activities.
servers:
- url: https://dms-api.netsolapp.io
tags:
- name: Submit
paths:
  /dms/submit-order:
    post:
      tags:
      - Submit
      summary: Mock Credit Approver API & Fraud Check
      description: Mock Request
      operationId: get_submit_order_dms_submit_order_post
      parameters:
      - required: true
        schema:
          title: Reference Number
          type: string
        name: reference_number
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/submitOrderRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
components:
  schemas:
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
    submitOrderRequest:
      title: submitOrderRequest
      required:
      - lender_ids
      type: object
      properties:
        lender_ids:
          title: Lender Ids
          type: array
          items:
            type: integer
          description: list of lender ids the order will be submitted to
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: /signup/verify-otp
externalDocs:
  url: https://developer.appexnow.com/docs/lane/overview
  description: Product Documentation
