openapi: 3.0.2
info:
  version: 1.3.43
  title: Lane Event_analytic API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: Lane offers a feature-rich, end-to-end order management system for asset leasing, loans and credit companies. Our platform covers all aspects, from conducting end-to-end sales to performing dealer and partner-related tasks and marketing-related activities.
servers:
- url: https://dms-api.netsolapp.io
tags:
- name: Event_analytic
paths:
  /dms/event_analytic:
    post:
      tags:
      - Event_analytic
      summary: Create Event
      operationId: create_event_dms_event_analytic_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagsAnlyticModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    TagsAnlyticModel:
      title: TagsAnlyticModel
      required:
      - session
      type: object
      properties:
        session:
          title: Session
          type: string
          format: uuid
        user_id:
          title: User Id
          type: integer
        slug:
          title: Slug
          type: string
        tenant_id:
          title: Tenant Id
          type: integer
        dealer_name:
          title: Dealer Name
          type: string
        dealer_id:
          title: Dealer Id
          type: integer
        deal_type:
          title: Deal Type
          type: string
        vin:
          title: Vin
          type: string
        vehicle_make:
          title: Vehicle Make
          type: string
        vehicle_model:
          title: Vehicle Model
          type: string
        vehicle_status:
          title: Vehicle Status
          type: string
        vehicle_year:
          title: Vehicle Year
          type: string
        event_name:
          title: Event Name
          type: string
        page_type:
          title: Page Type
          type: string
        data:
          title: Data
          anyOf:
          - type: string
          - {}
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: /signup/verify-otp
externalDocs:
  url: https://developer.appexnow.com/docs/lane/overview
  description: Product Documentation
