openapi: 3.0.2
info:
  version: 1.3.43
  title: Lane Add API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: Lane offers a feature-rich, end-to-end order management system for asset leasing, loans and credit companies. Our platform covers all aspects, from conducting end-to-end sales to performing dealer and partner-related tasks and marketing-related activities.
servers:
- url: https://dms-api.netsolapp.io
tags:
- name: Add
paths:
  /dms/customer/insurance-information/add-document:
    post:
      tags:
      - Add
      summary: Add insurance document
      description: Add insurance document
      operationId: add_insurance_document_dms_customer_insurance_information_add_document_post
      parameters:
      - required: true
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InsuranceDocumentsModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Add Insurance Document Dms Customer Insurance Information Add Document Post
                type: array
                items:
                  $ref: '#/components/schemas/InsuranceDocumentsResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/add-payment-details/:
    post:
      tags:
      - Add
      summary: Add Payment Details from dealer side
      description: Add Payment Details from dealer side
      operationId: add_payment_details_dms_add_payment_details__post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddPaymentDetails'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/insurance/add-insurance:
    post:
      tags:
      - Add
      summary: Add Insurance
      description: Storing Transaction id
      operationId: add_insurance_dms_insurance_add_insurance_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InsuranceProviderRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
components:
  schemas:
    InsuranceDocumentsModel:
      title: InsuranceDocumentsModel
      required:
      - content_type
      - name
      - file_size
      type: object
      properties:
        document:
          title: Document
          type: string
        content_type:
          title: Content Type
          minLength: 1
          type: string
          description: 'format: application/pdf, image/png '
        name:
          title: Name
          minLength: 1
          type: string
        file_size:
          title: File Size
          minLength: 1
          type: string
        created_by:
          title: Created By
          type: string
        doucment_reference_id:
          title: Doucment Reference Id
          type: string
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
    AddPaymentDetails:
      title: AddPaymentDetails
      required:
      - amount
      - reference_number
      type: object
      properties:
        amount:
          title: Amount
          type: number
        reference_number:
          title: Reference Number
          type: string
        payment_method_type:
          allOf:
          - $ref: '#/components/schemas/PaymentMethodType'
          default: cheque
        cheque_number:
          title: Cheque Number
          type: string
        payment_date:
          title: Payment Date
          type: string
          format: date-time
        order_payment_detail_id:
          title: Order Payment Detail Id
          type: integer
    InsuranceProviderRequest:
      title: InsuranceProviderRequest
      type: object
      properties:
        order_id:
          title: Order Id
          type: string
          description: Order Reference Id
        transactionId:
          title: Transactionid
          type: string
          description: Transaction Id
        carrierName:
          title: Carriername
          type: string
          description: Insurer Name
        policyExpirationDate:
          title: Policyexpirationdate
          type: string
          description: Expiration Date
          format: date
        policyDocumentUrl:
          title: Policydocumenturl
          type: string
          description: Policy Document Url
        insuranceCardUrl:
          title: Insurancecardurl
          type: string
          description: Insurance Card Url
        contactNumber:
          title: Contactnumber
          type: string
          description: Contact Number
        policyNumber:
          title: Policynumber
          type: string
          description: Policy Number
    InsuranceDocumentsResponseModel:
      title: InsuranceDocumentsResponseModel
      type: object
      properties:
        document_uri:
          title: Document Uri
          type: string
        content_type:
          title: Content Type
          type: string
        name:
          title: Name
          type: string
        file_size:
          title: File Size
          type: string
        identifier:
          title: Identifier
          type: string
        is_active:
          title: Is Active
          type: boolean
        created_by:
          title: Created By
          type: string
        created_at:
          title: Created At
          type: string
          format: date
        deleted_at:
          title: Deleted At
          type: string
          format: date
        deleted_by:
          title: Deleted By
          type: string
    PaymentMethodType:
      title: PaymentMethodType
      enum:
      - card
      - ach_debit
      - cheque
      type: string
      description: An enumeration.
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: /signup/verify-otp
externalDocs:
  url: https://developer.appexnow.com/docs/lane/overview
  description: Product Documentation
