openapi: 3.0.2
info:
  version: 1.3.43
  title: Lane Financial API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: Lane offers a feature-rich, end-to-end order management system for asset leasing, loans and credit companies. Our platform covers all aspects, from conducting end-to-end sales to performing dealer and partner-related tasks and marketing-related activities.
servers:
- url: https://dms-api.netsolapp.io
tags:
- name: Financial
paths:
  /dms/configure/update-financial-indicator/{reference_number}/{is_payment_updated}:
    patch:
      tags:
      - Financial
      summary: Update Financial Indicator
      description: Update Financial Indicator
      operationId: update_financial_indicator_dms_configure_update_financial_indicator__reference_number___is_payment_updated__patch
      parameters:
      - required: true
        schema:
          title: Reference Number
          type: string
        name: reference_number
        in: path
      - required: true
        schema:
          title: Is Payment Updated
          type: boolean
        name: is_payment_updated
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/stipulation/financial:
    get:
      tags:
      - Financial
      summary: Get Financial Stipulation
      operationId: get_financial_stipulations_dms_stipulation_financial_get
      parameters:
      - required: false
        schema:
          title: External Reference Id
          type: string
        name: external_reference_id
        in: query
      - required: false
        schema:
          title: Customer Reference Id
          type: string
        name: customer_reference_id
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get Financial Stipulations Dms Stipulation Financial Get
                type: array
                items:
                  $ref: '#/components/schemas/FinancialStipulationsResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    post:
      tags:
      - Financial
      summary: Create Financial Stipulation
      operationId: add_financial_stipulation_dms_stipulation_financial_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FinancialStipulationModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinancialStipulationsResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/financial-insurances/filter:
    get:
      tags:
      - Financial
      summary: Get Financial Insurance Product By Filter
      operationId: get_financial_insurance_product_by_filter_dms_financial_insurances_filter_get
      parameters:
      - required: true
        schema:
          title: Dealer Code
          type: string
        name: dealer_code
        in: query
      - required: true
        schema:
          title: Page Number
          minimum: 0
          type: integer
        name: page_number
        in: query
      - required: true
        schema:
          title: Page Size
          minimum: 0
          type: integer
        name: page_size
        in: query
      - required: false
        schema:
          title: Is Active
          type: boolean
        name: is_active
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
components:
  schemas:
    FinancialStipulationsResponseModel:
      title: FinancialStipulationsResponseModel
      type: object
      properties:
        customer_reference_id:
          title: Customer Reference Id
          type: string
        external_reference_id:
          title: External Reference Id
          type: string
        financial_stip_type:
          title: Financial Stip Type
          type: string
        reason_by_system:
          title: Reason By System
          type: string
        reason_for_customer:
          title: Reason For Customer
          type: string
        fulfilled:
          title: Fulfilled
          type: boolean
          default: false
        condition:
          title: Condition
          type: string
        description:
          title: Description
          type: string
        stipulation_code:
          title: Stipulation Code
          type: string
        expires_at:
          title: Expires At
          type: string
          description: 'format: YYYY-MM-DD hh:mm:ss'
          format: date-time
        created_at:
          title: Created At
          type: string
          description: 'format: YYYY-MM-DD hh:mm:ss'
          format: date-time
        created_by:
          title: Created By
          type: string
        updated_at:
          title: Updated At
          type: string
          description: 'format: YYYY-MM-DD hh:mm:ss'
          format: date-time
        updated_by:
          title: Updated By
          type: string
        deleted_at:
          title: Deleted At
          type: string
          description: 'format: YYYY-MM-DD hh:mm:ss'
          format: date-time
        deleted_by:
          title: Deleted By
          type: string
        is_deleted:
          title: Is Deleted
          type: boolean
          default: false
        identifier:
          title: Identifier
          type: string
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    FinancialStipulationModel:
      title: FinancialStipulationModel
      required:
      - customer_reference_id
      - external_reference_id
      - financial_stip_type
      - condition
      - stipulation_code
      type: object
      properties:
        customer_reference_id:
          title: Customer Reference Id
          type: string
        external_reference_id:
          title: External Reference Id
          type: string
        financial_stip_type:
          title: Financial Stip Type
          type: string
        condition:
          title: Condition
          type: string
        stipulation_code:
          title: Stipulation Code
          maxLength: 5
          type: string
        reason_by_system:
          title: Reason By System
          type: string
        reason_for_customer:
          title: Reason For Customer
          type: string
        fulfilled:
          title: Fulfilled
          type: boolean
          default: false
        description:
          title: Description
          type: string
        expires_at:
          title: Expires At
          type: string
          description: 'format: YYYY-MM-DD hh:mm:ss'
          format: date-time
        identifier:
          title: Identifier
          minLength: 1
          type: string
        key_id:
          title: Key Id
          type: integer
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: /signup/verify-otp
externalDocs:
  url: https://developer.appexnow.com/docs/lane/overview
  description: Product Documentation
