openapi: 3.0.2
info:
  version: 1.3.43
  title: Lane Changes API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: Lane offers a feature-rich, end-to-end order management system for asset leasing, loans and credit companies. Our platform covers all aspects, from conducting end-to-end sales to performing dealer and partner-related tasks and marketing-related activities.
servers:
- url: https://dms-api.netsolapp.io
tags:
- name: Changes
paths:
  /dms/order/change-proposal-status:
    patch:
      tags:
      - Changes
      summary: Update order proposal status
      operationId: update_proposal_status_dms_order_change_proposal_status_patch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProposalStatusRequestModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/lead/change-status/{lead_id}:
    patch:
      tags:
      - Changes
      summary: Update exisitng lead status
      description: This method will update exisitng lead status along with any other param update
      operationId: change_status_dms_lead_change_status__lead_id__patch
      parameters:
      - required: true
        schema:
          title: Lead Id
          type: integer
        name: lead_id
        in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeadModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
components:
  schemas:
    LeadModel:
      title: LeadModel
      type: object
      properties:
        id:
          title: Id
          type: integer
        slug:
          title: Slug
          type: string
        key_id:
          title: Key Id
          type: integer
        dealer_id:
          title: Dealer Id
          type: integer
        data:
          $ref: '#/components/schemas/LeadData'
        status:
          title: Status
          type: string
        reference_id:
          title: Reference Id
          type: string
    CommentDiaryCategory:
      title: CommentDiaryCategory
      enum:
      - General
      - Underwriting
      - Change Requests
      type: string
      description: An enumeration.
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
    LeadData:
      title: LeadData
      type: object
      properties:
        vehicle_details:
          title: Vehicle Details
          type: object
          description: Vehicle Details
        customer_details:
          title: Customer Details
          type: object
          description: Customer Details
        vehicle_search_criteria:
          title: Vehicle Search Criteria
          type: object
          description: Vehicle Search Criteria
    UpdateProposalStatusRequestModel:
      title: UpdateProposalStatusRequestModel
      required:
      - identifier
      - current_status
      - next_status
      type: object
      properties:
        identifier:
          title: Identifier
          type: string
        current_status:
          $ref: '#/components/schemas/OrderProposalStatus'
        next_status:
          $ref: '#/components/schemas/OrderProposalStatus'
        created_by:
          title: Created By
          type: string
        created_at:
          title: Created At
          type: string
        updated_at:
          title: Updated At
          type: string
        comment_data:
          $ref: '#/components/schemas/OrderCommentsModel'
    OrderCommentsModel:
      title: OrderCommentsModel
      type: object
      properties:
        identifier:
          title: Identifier
          type: string
        order_reference_id:
          title: Order Reference Id
          type: string
        customer_id:
          title: Customer Id
          type: string
        category:
          $ref: '#/components/schemas/CommentDiaryCategory'
        comment:
          title: Comment
          type: string
        created_by:
          title: Created By
          type: string
        created_at:
          title: Created At
          type: string
          format: date-time
        updated_by:
          title: Updated By
          type: string
        updated_at:
          title: Updated At
          type: string
          format: date-time
    OrderProposalStatus:
      title: OrderProposalStatus
      enum:
      - Draft
      - New
      - Submitted
      - Approved
      - Conditioned
      - Conditional Approval
      - Additional Info Required
      - Declined
      - Withdrawn
      - Documents Sent
      - Documents Received
      - Sent for Payout
      - Paid Out
      - Awaiting Compliance
      - Complied
      - Awaiting More
      - Fully Received
      - Deferred
      type: string
      description: An enumeration.
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: /signup/verify-otp
externalDocs:
  url: https://developer.appexnow.com/docs/lane/overview
  description: Product Documentation
