openapi: 3.0.2
info:
  version: 1.3.43
  title: Lane Signer_role API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: Lane offers a feature-rich, end-to-end order management system for asset leasing, loans and credit companies. Our platform covers all aspects, from conducting end-to-end sales to performing dealer and partner-related tasks and marketing-related activities.
servers:
- url: https://dms-api.netsolapp.io
tags:
- name: Signer_role
paths:
  /dms/configure/by-role/{document_package_identifier}/{document_identifier}/{signature_id}/{signer_role}:
    post:
      tags:
      - Signer_role
      summary: Sign document
      operationId: sign_document_by_role_dms_configure_by_role__document_package_identifier___document_identifier___signature_id___signer_role__post
      parameters:
      - required: true
        schema:
          title: Document Package Identifier
          type: string
        name: document_package_identifier
        in: path
      - required: true
        schema:
          title: Document Identifier
          type: string
        name: document_identifier
        in: path
      - required: true
        schema:
          title: Signature Id
          type: string
        name: signature_id
        in: path
      - required: true
        schema:
          $ref: '#/components/schemas/SignerRole'
        name: signer_role
        in: path
      - required: true
        schema:
          $ref: '#/components/schemas/DateTimeFormatEnum'
        name: date_time_format
        in: query
      - required: true
        schema:
          title: Time Zone
          type: string
        name: time_zone
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
components:
  schemas:
    SignerRole:
      title: SignerRole
      enum:
      - Dealer Admin
      - Applicant
      type: string
      description: An enumeration.
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
    DocumentsResponseModel:
      title: DocumentsResponseModel
      type: object
      properties:
        identifier:
          title: Identifier
          type: string
        pdf:
          title: Pdf
          type: string
        title:
          title: Title
          type: string
        template:
          title: Template
          type: string
        data:
          title: Data
          type: object
        meta_data:
          title: Meta Data
          type: object
        status:
          title: Status
          type: string
        last_viewed_at:
          title: Last Viewed At
          type: string
          format: date-time
        signatures:
          title: Signatures
          type: array
          items:
            $ref: '#/components/schemas/DocumentSignaturesModel'
        created_at:
          title: Created At
          type: string
          format: date-time
        updated_at:
          title: Updated At
          type: string
          format: date-time
        generated_document_uri:
          title: Generated Document Uri
          type: string
    DateTimeFormatEnum:
      title: DateTimeFormatEnum
      enum:
      - YYYY/MM/DD
      - YYYY/MM/DD HH:MM:SS
      - YYYY-MM-DD
      - YYYY-MM-DD HH:MM:SS
      - MM/DD/YYYY
      - MM/DD/YYYY HH:MM:SS
      - MM-DD-YYYY
      - MM-DD-YYYY HH:MM:SS
      - DD/MM/YYYY
      - DD/MM/YYYY HH:MM:SS
      - DD-MM-YYYY
      - DD-MM-YYYY HH:MM:SS
      - Month DD, YYYY
      - Month DD, YYYY HH:MM:SS
      - Day Month Year
      - Day Month Year HH:MM:SS
      type: string
      description: An enumeration.
    DocumentSignaturesModel:
      title: DocumentSignaturesModel
      required:
      - id
      - type
      type: object
      properties:
        id:
          title: Id
          type: string
        status:
          title: Status
          type: string
        type:
          title: Type
          type: string
        signer:
          title: Signer
          type: string
        signed_at:
          title: Signed At
          type: string
        x:
          title: X
          type: integer
        y:
          title: Y
          type: integer
        x_bound:
          title: X Bound
          type: integer
        y_bound:
          title: Y Bound
          type: integer
        width:
          title: Width
          type: integer
        height:
          title: Height
          type: integer
        page:
          title: Page
          type: integer
        date_field_id:
          title: Date Field Id
          type: string
    ErrorDetailModel:
      title: ErrorDetailModel
      required:
      - detail
      type: object
      properties:
        detail:
          $ref: '#/components/schemas/ErrorModel'
    ErrorModel:
      title: ErrorModel
      type: object
      properties:
        code:
          title: Error code
          type: string
          description: Error code based on the validation, if any validation fail
        message:
          title: Error message
          type: string
          description: Error code based on the validation, if any validation fail
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: /signup/verify-otp
externalDocs:
  url: https://developer.appexnow.com/docs/lane/overview
  description: Product Documentation
