openapi: 3.0.2
info:
  version: 1.3.43
  title: Lane Quotation API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: Lane offers a feature-rich, end-to-end order management system for asset leasing, loans and credit companies. Our platform covers all aspects, from conducting end-to-end sales to performing dealer and partner-related tasks and marketing-related activities.
servers:
- url: https://dms-api.netsolapp.io
tags:
- name: Quotation
paths:
  /dms/configure/quotation:
    get:
      tags:
      - Quotation
      summary: Get Specific quotation
      description: Get Specific quotation
      operationId: get_order_quotation_by_reference_number_dms_configure_quotation_get
      parameters:
      - required: true
        schema:
          title: Reference Number
          type: string
        name: reference_number
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderQuotationResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/configure/all-quotation/{reference_number}:
    get:
      tags:
      - Quotation
      summary: Get Specific quotation
      description: Get Specific quotation
      operationId: get_all_order_quotation_by_reference_number_dms_configure_all_quotation__reference_number__get
      parameters:
      - required: true
        schema:
          title: Reference Number
          type: string
        name: reference_number
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/configure/quotation/{identifier}:
    patch:
      tags:
      - Quotation
      summary: Update an configured quotation
      description: Update an configured quotation
      operationId: update_order_quotation_dms_configure_quotation__identifier__patch
      parameters:
      - required: true
        schema:
          title: Identifier
        name: identifier
        in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderQuotationModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderQuotationUpdateModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/configure/save-quotation:
    post:
      tags:
      - Quotation
      summary: Save a new order quotation
      description: Save a new order quotation and child objects orderoffer,         orderfee, orderoption, orderFnI, orderTradeIn
      operationId: save_quotation_dms_configure_save_quotation_post
      requestBody:
        content:
          application/json:
            schema:
              title: Quotation List
              type: array
              items:
                $ref: '#/components/schemas/OrderQuotationCreateModel'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Save Quotation Dms Configure Save Quotation Post
                type: array
                items:
                  $ref: '#/components/schemas/OrderQuotationResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/configure/order-to-quotation/{identifier}/{reference_number}:
    patch:
      tags:
      - Quotation
      summary: Convert specific Order to Quotation
      description: Update order record from application to quotation
      operationId: convert_order_to_quotation_dms_configure_order_to_quotation__identifier___reference_number__patch
      parameters:
      - required: true
        schema:
          title: Identifier
        name: identifier
        in: path
      - required: true
        schema:
          title: Reference Number
        name: reference_number
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/configure/quotation-to-order/{identifier}:
    patch:
      tags:
      - Quotation
      summary: Convert specific Quotation to Application
      description: Convert specific Quotation stage to Application and save all financial data
      operationId: convert_quotation_to_order_dms_configure_quotation_to_order__identifier__patch
      parameters:
      - required: true
        schema:
          title: Identifier
        name: identifier
        in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderQuotationUpdateModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderQuotationUpdateModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/configure/quotation-by-customers:
    get:
      tags:
      - Quotation
      summary: Get all orders of a customer
      description: Get all orders of a customer
      operationId: get_orders_by_customers_dms_configure_quotation_by_customers_get
      parameters:
      - required: true
        schema:
          title: Email
          type: string
        name: email
        in: query
      - required: false
        schema:
          title: Finance Type
          type: string
        name: finance_type
        in: query
      - required: false
        schema:
          title: Dealer Id
          type: string
        name: dealer_id
        in: query
      - required: false
        schema:
          title: Order Status
          type: string
        name: order_status
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/all-quotation-by-reference-number/:
    get:
      tags:
      - Quotation
      summary: Get all quotations based on reference number
      description: Get all quotations based on reference number
      operationId: get_all_order_quotation_by_multiple_reference_number_dms_all_quotation_by_reference_number__get
      parameters:
      - required: false
        schema:
          title: Reference Number
          type: array
          items: {}
        name: reference_number
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/configure/quick-quotation-by-identifier/{identifier}:
    get:
      tags:
      - Quotation
      summary: Get Specific quotation
      description: Get Specific quotation
      operationId: get_all_order_quotation_by_identifier_dms_configure_quick_quotation_by_identifier__identifier__get
      parameters:
      - required: true
        schema:
          title: Identifier
          type: string
        name: identifier
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuickQuotationResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/configure/quick-quotation-by-vendor:
    get:
      tags:
      - Quotation
      summary: Get all orders of a customer
      description: Get all orders of a customer
      operationId: get_orders_by_customer_data_dms_configure_quick_quotation_by_vendor_get
      parameters:
      - description: Accepts only string values
        required: false
        schema:
          title: statuses
          type: array
          items:
            type: string
          description: Accepts only string values
        name: statuses
        in: query
      - required: false
        schema:
          title: Dealer Id
          type: integer
        name: dealer_id
        in: query
      - required: false
        schema:
          title: Broker Id
          type: integer
        name: broker_id
        in: query
      - required: false
        schema:
          title: Customer Email
          type: string
        name: customer_email
        in: query
      - required: false
        schema:
          title: Customer Name
          type: string
        name: customer_name
        in: query
      - required: false
        schema:
          title: Lender Name
          type: string
        name: lender_name
        in: query
      - required: false
        schema:
          title: Dealer Name
          type: string
        name: dealer_name
        in: query
      - required: false
        schema:
          title: Contact Number
          type: string
        name: contact_number
        in: query
      - required: false
        schema:
          title: Vendor Name
          type: string
        name: vendor_name
        in: query
      - required: false
        schema:
          title: Introducer Name
          type: string
        name: introducer_name
        in: query
      - required: false
        schema:
          title: Vendor Email
          type: string
        name: vendor_email
        in: query
      - required: false
        schema:
          title: Reference Number
          type: string
        name: reference_number
        in: query
      - required: false
        schema:
          title: Name
          type: string
        name: name
        in: query
      - required: false
        schema:
          title: Finance Type
          type: string
        name: finance_type
        in: query
      - required: false
        schema:
          title: Product Type
          type: string
        name: product_type
        in: query
      - required: false
        schema:
          title: Finance Amount
          type: number
        name: finance_amount
        in: query
      - required: false
        schema:
          title: Updated At
          type: string
        name: updated_at
        in: query
      - required: false
        schema:
          title: Date Submitted
          type: string
        name: date_submitted
        in: query
      - required: false
        schema:
          title: Start Date
          type: string
        name: start_date
        in: query
      - required: false
        schema:
          title: End Date
          type: string
        name: end_date
        in: query
      - required: false
        schema:
          $ref: '#/components/schemas/SortByQuickQuotation'
        name: sort_by
        in: query
      - required: false
        schema:
          $ref: '#/components/schemas/SortEnum'
        name: sort_order
        in: query
      - required: false
        schema:
          $ref: '#/components/schemas/OrderStageTypes'
        name: order_stage
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get Orders By Customer Data Dms Configure Quick Quotation By Vendor Get
                type: array
                items:
                  $ref: '#/components/schemas/QuickQuotationResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
components:
  schemas:
    SortEnum:
      title: SortEnum
      enum:
      - asc
      - desc
      type: string
      description: An enumeration.
    CustomerAddressWithoutAddressTypeModel:
      title: CustomerAddressWithoutAddressTypeModel
      type: object
      properties:
        address_line_1:
          title: Address Line 1
          type: string
          description: Address line one
        address_line_2:
          title: Address Line 2
          type: string
          description: Address line two
        state_name:
          title: State Name
          type: string
          description: Address state name
        zip_code:
          title: Zip Code
          type: string
          description: Zip code
        county:
          title: County
          type: string
          description: Address county
        city:
          title: City
          type: string
          description: Address city
        contact_number:
          title: Contact Number
          type: string
          description: Contact number
        verified:
          title: Verified
          type: boolean
          description: Is Address verified
        move_in_date:
          title: Move In Date
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        is_garaging:
          title: Is Garaging
          type: boolean
          description: Garaging flag
          default: false
        identifier:
          title: Identifier
          minLength: 1
          type: string
    InsuranceInformationWithAddressesModel:
      title: InsuranceInformationWithAddressesModel
      required:
      - created_by
      type: object
      properties:
        order_reference_id:
          title: Order Reference Id
          type: string
        reference_id:
          title: Reference Id
          type: string
        insurer_name:
          title: Insurer Name
          type: string
        agent_phone:
          title: Agent Phone
          type: string
        subscription_id:
          title: Subscription Id
          type: string
        agent_name:
          title: Agent Name
          type: string
        policy_number:
          title: Policy Number
          type: string
        start_date:
          title: Start Date
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        expiration_date:
          title: Expiration Date
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        deductible_comprehensive:
          title: Deductible Comprehensive
          type: number
        deductible_collision:
          title: Deductible Collision
          type: number
        created_by:
          title: Created By
          type: string
        identifier:
          title: Identifier
          type: string
        is_verified:
          title: Is Verified
          type: boolean
          default: false
        insurance_documents:
          title: Insurance Documents
          type: array
          items:
            $ref: '#/components/schemas/InsuranceDocumentsModel'
        insurer_address:
          $ref: '#/components/schemas/CustomerAddressWithoutAddressTypeModel'
    TradeInCheckList:
      title: TradeInCheckList
      type: object
      properties:
        question:
          title: Question
          type: string
        answer:
          title: Answer
          type: string
        trade_in_id:
          title: Trade In Id
          type: integer
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
    CustomerAddressWithId:
      title: CustomerAddressWithId
      required:
      - address_type
      type: object
      properties:
        address_line_1:
          title: Address Line 1
          type: string
          description: Address line one
        address_line_2:
          title: Address Line 2
          type: string
          description: Address line two
        state_name:
          title: State Name
          type: string
          description: Address state name
        zip_code:
          title: Zip Code
          type: string
          description: Zip code
        county:
          title: County
          type: string
          description: Address county
        city:
          title: City
          type: string
          description: Address city
        contact_number:
          title: Contact Number
          type: string
          description: Contact number
        verified:
          title: Verified
          type: boolean
          description: Is Address verified
        move_in_date:
          title: Move In Date
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        is_garaging:
          title: Is Garaging
          type: boolean
          description: Garaging flag
          default: false
        address_type:
          $ref: '#/components/schemas/AddressTypes'
        identifier:
          title: Identifier
          minLength: 1
          type: string
        id:
          title: Id
          type: integer
    OrderQuotationResponseModel:
      title: OrderQuotationResponseModel
      required:
      - status
      - reference_number
      - order_asset_number
      - identifier
      type: object
      properties:
        id:
          title: Id
          type: integer
        dealer_id:
          title: Dealer Id
          type: integer
        lender_id:
          title: Lender Id
          type: integer
        broker_id:
          title: Broker Id
          type: integer
        company_id:
          title: Company Id
          type: integer
        name:
          title: Name
          type: string
        contract_term:
          title: Contract Term
          type: integer
        allowed_usage:
          title: Allowed Usage
          type: integer
        credit_rating:
          title: Credit Rating
          type: string
        apr:
          title: Apr
          type: number
        estimated_monthly_payment:
          title: Estimated Monthly Payment
          type: number
        annual_usage:
          title: Annual Usage
          type: number
          default: 0
        due_at_signing:
          title: Due At Signing
          type: number
        is_payment_updated:
          title: Is Payment Updated
          type: boolean
          default: false
        selling_price:
          title: Selling Price
          type: number
        down_payment:
          title: Down Payment
          type: number
        down_payment_lease:
          title: Down Payment Lease
          type: number
        tax_amount:
          title: Tax Amount
          type: number
        tax_amount_number:
          title: Tax Amount Number
          type: number
        deferred_type:
          title: Deferred Type
          type: string
        rv_balloon_percentage:
          title: Rv Balloon Percentage
          type: number
        rv_balloon_value:
          title: Rv Balloon Value
          type: number
        balloon_collection:
          title: Balloon Collection
          type: string
        fp_id:
          title: Fp Id
          type: integer
        vehicle_id:
          title: Vehicle Id
          type: integer
        msrp:
          title: Msrp
          type: number
        schedule_option:
          title: Schedule Option
          type: string
        asset_usage:
          title: Asset Usage
          type: string
        calcuation_method:
          title: Calcuation Method
          type: string
        order_stage:
          title: Order Stage
          type: string
        finance_type:
          title: Finance Type
          type: string
        order_fees:
          title: Order Fees
          type: array
          items:
            $ref: '#/components/schemas/OrderFeeCreateModel'
        order_options:
          title: Order Options
          type: array
          items:
            anyOf:
            - $ref: '#/components/schemas/OrderOptionCreateModel'
            - $ref: '#/components/schemas/Option'
        order_fnI:
          title: Order Fni
          type: array
          items:
            anyOf:
            - $ref: '#/components/schemas/OrderFinancialInsuranceProductCreateModel'
            - $ref: '#/components/schemas/FinancialInsurance'
        order_tradein:
          $ref: '#/components/schemas/OrderTradeInCreateModel'
        appointment_details:
          $ref: '#/components/schemas/libdms__models__CreateAppointmentModel'
        finance_amount:
          title: Finance Amount
          type: number
        order_asset:
          $ref: '#/components/schemas/OrderAssetModel'
        insurance:
          $ref: '#/components/schemas/InsuranceInformationWithAddressesModel'
        payment_recieved:
          title: Payment Recieved
          type: boolean
        base_rate:
          title: Base Rate
          type: number
        rate_type:
          title: Rate Type
          type: string
        commission_type:
          title: Commission Type
          type: string
        margin:
          title: Margin
          type: number
        applicable_rate:
          title: Applicable Rate
          type: number
        invoice_status:
          $ref: '#/components/schemas/InvoiceStatus'
        rental_mode:
          title: Rental Mode
          type: string
        rental_frequency:
          title: Rental Frequency
          type: string
        running_id:
          title: Running Id
          type: string
        order_currency:
          title: Order Currency
          type: string
        commission_amount:
          title: Commission Amount
          type: number
        received_security_deposit:
          title: Received Security Deposit
          type: integer
        net_finance_amount:
          title: Net Finance Amount
          type: number
        rebate:
          title: Rebate
          type: number
        capitalized_cost_reduction:
          title: Capitalized Cost Reduction
          type: number
        monthly_deprecation:
          title: Monthly Deprecation
          type: number
        tax_on_capitalized_cost_reduction:
          title: Tax On Capitalized Cost Reduction
          type: number
        monthly_sales_use_tax:
          title: Monthly Sales Use Tax
          type: number
        sum_of_fees:
          title: Sum Of Fees
          type: number
        sum_of_periodic_interest:
          title: Sum Of Periodic Interest
          type: number
        sum_of_rentals:
          title: Sum Of Rentals
          type: number
        total_payables:
          title: Total Payables
          type: number
        non_vatable_amount:
          title: Non Vatable Amount
          type: number
        individualized_agreement:
          title: Individualized Agreement
          type: string
        base_residual_type:
          title: Base Residual Type
          type: integer
        excess_mileage_rate:
          title: Excess Mileage Rate
          type: number
        asset_rv_amount:
          title: Asset Rv Amount
          type: number
        customer_id:
          title: Customer Id
          type: integer
        status:
          title: Status
          type: string
        reference_number:
          title: Reference Number
          type: string
        order_asset_number:
          title: Order Asset Number
          type: string
        identifier:
          title: Identifier
          type: string
    OrderOptionCreateModel:
      title: OrderOptionCreateModel
      required:
      - option_id
      - applied_price
      - rv_balloon_percentage
      type: object
      properties:
        option_id:
          title: Option Id
          type: integer
        identifier:
          title: Identifier
          type: string
        applied_price:
          title: Applied Price
          type: number
        rv_balloon_percentage:
          title: Rv Balloon Percentage
          type: number
        rv_balloon_value:
          title: Rv Balloon Value
          type: number
    InvoiceStatus:
      title: InvoiceStatus
      enum:
      - Active
      - Paused
      - Resumed
      type: string
      description: An enumeration.
    OrderQuotationUpdateModel:
      title: OrderQuotationUpdateModel
      required:
      - identifier
      type: object
      properties:
        id:
          title: Id
          type: integer
        dealer_id:
          title: Dealer Id
          type: integer
        lender_id:
          title: Lender Id
          type: integer
        broker_id:
          title: Broker Id
          type: integer
        company_id:
          title: Company Id
          type: integer
        name:
          title: Name
          type: string
        contract_term:
          title: Contract Term
          type: integer
        allowed_usage:
          title: Allowed Usage
          type: integer
        credit_rating:
          title: Credit Rating
          type: string
        apr:
          title: Apr
          type: number
        estimated_monthly_payment:
          title: Estimated Monthly Payment
          type: number
        annual_usage:
          title: Annual Usage
          type: number
          default: 0
        due_at_signing:
          title: Due At Signing
          type: number
        is_payment_updated:
          title: Is Payment Updated
          type: boolean
          default: false
        selling_price:
          title: Selling Price
          type: number
        down_payment:
          title: Down Payment
          type: number
        down_payment_lease:
          title: Down Payment Lease
          type: number
        tax_amount:
          title: Tax Amount
          type: number
        tax_amount_number:
          title: Tax Amount Number
          type: number
        deferred_type:
          title: Deferred Type
          type: string
        rv_balloon_percentage:
          title: Rv Balloon Percentage
          type: number
        rv_balloon_value:
          title: Rv Balloon Value
          type: number
        balloon_collection:
          title: Balloon Collection
          type: string
        fp_id:
          title: Fp Id
          type: integer
        vehicle_id:
          title: Vehicle Id
          type: integer
        msrp:
          title: Msrp
          type: number
        schedule_option:
          title: Schedule Option
          type: string
        asset_usage:
          title: Asset Usage
          type: string
        calcuation_method:
          title: Calcuation Method
          type: string
        order_stage:
          title: Order Stage
          type: string
        finance_type:
          title: Finance Type
          type: string
        order_fees:
          title: Order Fees
          type: array
          items:
            $ref: '#/components/schemas/OrderFeeCreateModel'
        order_options:
          title: Order Options
          type: array
          items:
            anyOf:
            - $ref: '#/components/schemas/OrderOptionCreateModel'
            - $ref: '#/components/schemas/Option'
        order_fnI:
          title: Order Fni
          type: array
          items:
            anyOf:
            - $ref: '#/components/schemas/OrderFinancialInsuranceProductCreateModel'
            - $ref: '#/components/schemas/FinancialInsurance'
        order_tradein:
          $ref: '#/components/schemas/OrderTradeInCreateModel'
        appointment_details:
          $ref: '#/components/schemas/libdms__models__CreateAppointmentModel'
        finance_amount:
          title: Finance Amount
          type: number
        order_asset:
          $ref: '#/components/schemas/OrderAssetModel'
        insurance:
          $ref: '#/components/schemas/InsuranceInformationWithAddressesModel'
        payment_recieved:
          title: Payment Recieved
          type: boolean
        base_rate:
          title: Base Rate
          type: number
        rate_type:
          title: Rate Type
          type: string
        commission_type:
          title: Commission Type
          type: string
        margin:
          title: Margin
          type: number
        applicable_rate:
          title: Applicable Rate
          type: number
        invoice_status:
          $ref: '#/components/schemas/InvoiceStatus'
        rental_mode:
          title: Rental Mode
          type: string
        rental_frequency:
          title: Rental Frequency
          type: string
        running_id:
          title: Running Id
          type: string
        order_currency:
          title: Order Currency
          type: string
        commission_amount:
          title: Commission Amount
          type: number
        received_security_deposit:
          title: Received Security Deposit
          type: integer
        net_finance_amount:
          title: Net Finance Amount
          type: number
        rebate:
          title: Rebate
          type: number
        capitalized_cost_reduction:
          title: Capitalized Cost Reduction
          type: number
        monthly_deprecation:
          title: Monthly Deprecation
          type: number
        tax_on_capitalized_cost_reduction:
          title: Tax On Capitalized Cost Reduction
          type: number
        monthly_sales_use_tax:
          title: Monthly Sales Use Tax
          type: number
        sum_of_fees:
          title: Sum Of Fees
          type: number
        sum_of_periodic_interest:
          title: Sum Of Periodic Interest
          type: number
        sum_of_rentals:
          title: Sum Of Rentals
          type: number
        total_payables:
          title: Total Payables
          type: number
        non_vatable_amount:
          title: Non Vatable Amount
          type: number
        individualized_agreement:
          title: Individualized Agreement
          type: string
        base_residual_type:
          title: Base Residual Type
          type: integer
        excess_mileage_rate:
          title: Excess Mileage Rate
          type: number
        asset_rv_amount:
          title: Asset Rv Amount
          type: number
        identifier:
          title: Identifier
          type: string
        changeVehicleStatus:
          title: Changevehiclestatus
          type: boolean
          default: true
    VehicleCondition:
      title: VehicleCondition
      enum:
      - Fair
      - Good
      - Very Good
      - Excellent
      type: string
      description: An enumeration.
    InsuranceDocumentsModel:
      title: InsuranceDocumentsModel
      required:
      - content_type
      - name
      - file_size
      type: object
      properties:
        document:
          title: Document
          type: string
        content_type:
          title: Content Type
          minLength: 1
          type: string
          description: 'format: application/pdf, image/png '
        name:
          title: Name
          minLength: 1
          type: string
        file_size:
          title: File Size
          minLength: 1
          type: string
        created_by:
          title: Created By
          type: string
        doucment_reference_id:
          title: Doucment Reference Id
          type: string
    OrderTradeInCreateModel:
      title: OrderTradeInCreateModel
      type: object
      properties:
        year:
          title: Year
          type: integer
        make:
          title: Make
          type: string
        model:
          title: Model
          type: string
        trim:
          title: Trim
          type: string
        mileage:
          title: Mileage
          type: integer
        vin:
          title: Vin
          type: string
        identifier:
          title: Identifier
          type: string
        condition:
          $ref: '#/components/schemas/VehicleCondition'
        trade_in_amount:
          title: Trade In Amount
          type: number
        is_customer_titled:
          title: Is Customer Titled
          type: boolean
        loan_lease_balance:
          title: Loan Lease Balance
          type: boolean
        lender_contract_number:
          title: Lender Contract Number
          type: string
        lender_name:
          title: Lender Name
          type: string
        lender_address:
          title: Lender Address
          type: string
        lender_contact_number:
          title: Lender Contact Number
          type: string
        payment_type:
          $ref: '#/components/schemas/PaymentType'
        payoff_amount:
          title: Payoff Amount
          type: number
        lender_id:
          title: Lender Id
          type: integer
          description: DealerTradeIn lender id
        asset_image:
          title: Asset Image
          type: array
          items:
            type: string
        trade_in_type:
          $ref: '#/components/schemas/TradeInType'
        question_answers:
          title: Question Answers
          type: array
          items:
            $ref: '#/components/schemas/TradeInCheckList'
    SortByQuickQuotation:
      title: SortByQuickQuotation
      enum:
      - customer_name
      - lender_name
      - dealer_name
      - introducer_name
      - name
      - finance_type
      - product_type
      - finance_amount
      - updated_at
      - date_submitted
      - start_date
      - end_date
      - statuses
      type: string
      description: An enumeration.
    OrderFeeCreateModel:
      title: OrderFeeCreateModel
      required:
      - dealer_fee_id
      - applied_price
      type: object
      properties:
        dealer_fee_id:
          title: Dealer Fee Id
          type: integer
        applied_price:
          title: Applied Price
          type: number
        identifier:
          title: Identifier
          type: string
        vendor:
          title: Vendor
          type: string
        fee_type:
          title: Fee Type
          type: string
    Option:
      title: Option
      required:
      - option_id
      - applied_price
      - rv_balloon_percentage
      - rv_balloon_value
      type: object
      properties:
        option_id:
          title: Option Id
          type: integer
        identifier:
          title: Identifier
          type: string
        applied_price:
          title: Applied Price
          type: number
        rv_balloon_percentage:
          title: Rv Balloon Percentage
          type: number
        rv_balloon_value:
          title: Rv Balloon Value
          type: number
    QuickQuoteCustomerModel:
      title: QuickQuoteCustomerModel
      type: object
      properties:
        company_name:
          title: Company Name
          type: string
        first_name:
          title: First Name
          type: string
        last_name:
          title: Last Name
          type: string
        mobile_number:
          title: Mobile Number
          type: string
        customer_type:
          title: Customer Type
          type: string
        identifier:
          title: Identifier
          minLength: 1
          type: string
        email:
          title: Email
          type: string
          format: email
        reference_id:
          title: Reference Id
          type: string
    QuickQuotePaymentModel:
      title: QuickQuotePaymentModel
      type: object
      properties:
        identifier:
          title: Identifier
          type: string
        payment_number_from:
          title: Payment Number From
          type: integer
        payment_number_to:
          title: Payment Number To
          type: integer
        amount:
          title: Amount
          type: number
        payment_type:
          title: Payment Type
          type: string
        order_id:
          title: Order Id
          type: integer
    OrderStageTypes:
      title: OrderStageTypes
      enum:
      - Quotation
      - Application
      type: string
      description: An enumeration.
    QuickQuoteFeeModel:
      title: QuickQuoteFeeModel
      type: object
      properties:
        id:
          title: Id
          type: integer
        identifier:
          title: Identifier
          type: string
        dealer_fee_name:
          title: Dealer Fee Name
          type: string
        applied_price:
          title: Applied Price
          type: number
        order_id:
          title: Order Id
          type: integer
        fee_frequency:
          title: Fee Frequency
          type: string
        fee_occurance:
          title: Fee Occurance
          type: string
        fee_first_due_date:
          title: Fee First Due Date
          type: string
    OrderFinancialInsuranceProductCreateModel:
      title: OrderFinancialInsuranceProductCreateModel
      required:
      - applied_price
      - financial_insurance_id
      type: object
      properties:
        applied_price:
          title: Applied Price
          type: number
        financial_insurance_id:
          title: Financial Insurance Id
          type: integer
        form_id:
          title: Form Id
          type: integer
        rate_id:
          title: Rate Id
          type: integer
        mileage:
          title: Mileage
          type: integer
        term:
          title: Term
          type: integer
        session_id:
          title: Session Id
          type: string
        identifier:
          title: Identifier
          type: string
        is_msp:
          title: Is Msp
          type: boolean
    QuickQuotationResponseModel:
      title: QuickQuotationResponseModel
      type: object
      properties:
        identifier:
          title: Identifier
          type: string
        name:
          title: Name
          type: string
        start_date:
          title: Start Date
          type: string
          format: date
        end_date:
          title: End Date
          type: string
          format: date
        updated_at:
          title: Updated At
          type: string
          format: date
        external_order_id:
          title: External Order Id
          type: string
        status:
          title: Status
          type: string
        created_by:
          title: Created By
          type: string
        selling_price:
          title: Selling Price
          type: number
        down_payment:
          title: Down Payment
          type: number
        estimated_monthly_payment:
          title: Estimated Monthly Payment
          type: string
        calculations_type:
          title: Calculations Type
          type: string
        sum_of_advance_rentals:
          title: Sum Of Advance Rentals
          type: number
        no_of_advance_payments:
          title: No Of Advance Payments
          type: integer
        no_of_regular_payments:
          title: No Of Regular Payments
          type: integer
        introducer_identifier:
          title: Introducer Identifier
          type: string
        introducer_name:
          title: Introducer Name
          type: string
        rental_frequency:
          title: Rental Frequency
          type: string
        deferral_amount:
          title: Deferral Amount
          type: number
        rv_balloon_value:
          title: Rv Balloon Value
          type: number
        balloon_collection:
          title: Balloon Collection
          type: string
        finance_type:
          title: Finance Type
          type: string
        product_type:
          title: Product Type
          type: string
        finance_amount:
          title: Finance Amount
          type: number
        gross_profit:
          title: Gross Profit
          type: number
        commission_type:
          title: Commission Type
          type: string
        commission_amount:
          title: Commission Amount
          type: number
        due_at_signing:
          title: Due At Signing
          type: number
        meta_data:
          title: Meta Data
          type: object
        comments:
          title: Comments
          type: string
        vat_treatment:
          title: Vat Treatment
          type: string
        tax_amount:
          title: Tax Amount
          type: number
        tax_amount_number:
          title: Tax Amount Number
          type: integer
        deferred_type:
          title: Deferred Type
          type: string
        reference_number:
          title: Reference Number
          type: string
        rate_type:
          title: Rate Type
          type: string
        margin:
          title: Margin
          type: number
        rental_mode:
          title: Rental Mode
          type: string
        sum_of_fees:
          title: Sum Of Fees
          type: number
        sum_of_periodic_interest:
          title: Sum Of Periodic Interest
          type: number
        sum_of_rentals:
          title: Sum Of Rentals
          type: number
        total_payables:
          title: Total Payables
          type: number
        running_id:
          title: Running Id
          type: string
        broker_id:
          title: Broker Id
          type: integer
        non_vatable_amount:
          title: Non Vatable Amount
          type: number
        order_fees:
          title: Order Fees
          type: array
          items:
            $ref: '#/components/schemas/QuickQuoteFeeModel'
        order_payments:
          title: Order Payments
          type: array
          items:
            $ref: '#/components/schemas/QuickQuotePaymentModel'
        assets:
          title: Assets
          type: array
          items:
            $ref: '#/components/schemas/QuickAssetModel'
        order_stakeholders:
          title: Order Stakeholders
          type: array
          items:
            $ref: '#/components/schemas/OrderStakeholderBaseModel'
        created_at:
          title: Created At
          type: string
          format: date
        date_submitted:
          title: Date Submitted
          type: string
          format: date
        customer:
          $ref: '#/components/schemas/QuickQuoteCustomerModel'
    OrderStakeholderBaseModel:
      title: OrderStakeholderBaseModel
      type: object
      properties:
        identifier:
          title: Identifier
          type: string
        order_identifier:
          title: Order Identifier
          type: string
        stakeholder_reference_id:
          title: Stakeholder Reference Id
          type: string
        name:
          title: Name
          type: string
        email:
          title: Email
          type: string
        role:
          title: Role
          type: string
        position:
          title: Position
          type: string
        contact_number:
          title: Contact Number
          type: string
        address_id:
          title: Address Id
          type: string
    PaymentType:
      title: PaymentType
      enum:
      - Lease
      - Finance
      type: string
      description: An enumeration.
    OrderAssetModel:
      title: OrderAssetModel
      type: object
      properties:
        make:
          title: Make
          type: string
        identifier:
          title: Identifier
          type: string
        model:
          title: Model
          type: string
        trim:
          title: Trim
          type: string
        year_manufacturer:
          title: Year Manufacturer
          type: string
        msrp:
          title: Msrp
          type: number
        mileage:
          title: Mileage
          type: integer
        exterior_color:
          title: Exterior Color
          type: string
        condition:
          title: Condition
          type: array
          items:
            type: string
        classification:
          title: Classification
          type: string
        engine_cylinder:
          title: Engine Cylinder
          type: string
        power_type:
          title: Power Type
          type: string
        power_figure:
          title: Power Figure
          type: string
        engine_displacement:
          title: Engine Displacement
          type: string
        fuel_type:
          title: Fuel Type
          type: string
        quantity:
          title: Quantity
          type: string
        unit_price:
          title: Unit Price
          type: string
        unit_tax:
          title: Unit Tax
          type: string
        total:
          title: Total
          type: string
        vin:
          title: Vin
          type: string
        asset_type:
          title: Asset Type
          type: string
        rv_balloon_amount:
          title: Rv Balloon Amount
          type: number
    QuickAssetModel:
      title: QuickAssetModel
      type: object
      properties:
        id:
          title: Id
          type: integer
        identifier:
          title: Identifier
          type: string
        vin:
          title: Vin
          type: string
        make:
          title: Make
          type: string
        model:
          title: Model
          type: string
        trim:
          title: Trim
          type: string
        year:
          title: Year
          type: string
        stock_number:
          title: Stock Number
          type: string
        asset_image:
          title: Asset Image
          type: array
          items:
            type: string
        asset_type:
          title: Asset Type
          type: string
        rv_balloon_amount:
          title: Rv Balloon Amount
          type: number
    AddressTypes:
      title: AddressTypes
      enum:
      - Mailing
      - Invoice
      - Office
      - Garaging
      - DealerAddress
      - DrivingLicense
      - Billing
      - InsuranceAddress
      - Residential
      - Employment
      type: string
      description: An enumeration.
    OrderQuotationModel:
      title: OrderQuotationModel
      type: object
      properties:
        id:
          title: Id
          type: integer
        dealer_id:
          title: Dealer Id
          type: integer
        lender_id:
          title: Lender Id
          type: integer
        broker_id:
          title: Broker Id
          type: integer
        company_id:
          title: Company Id
          type: integer
        name:
          title: Name
          type: string
        contract_term:
          title: Contract Term
          type: integer
        allowed_usage:
          title: Allowed Usage
          type: integer
        credit_rating:
          title: Credit Rating
          type: string
        apr:
          title: Apr
          type: number
        estimated_monthly_payment:
          title: Estimated Monthly Payment
          type: number
        annual_usage:
          title: Annual Usage
          type: number
          default: 0
        due_at_signing:
          title: Due At Signing
          type: number
        is_payment_updated:
          title: Is Payment Updated
          type: boolean
          default: false
        selling_price:
          title: Selling Price
          type: number
        down_payment:
          title: Down Payment
          type: number
        down_payment_lease:
          title: Down Payment Lease
          type: number
        tax_amount:
          title: Tax Amount
          type: number
        tax_amount_number:
          title: Tax Amount Number
          type: number
        deferred_type:
          title: Deferred Type
          type: string
        rv_balloon_percentage:
          title: Rv Balloon Percentage
          type: number
        rv_balloon_value:
          title: Rv Balloon Value
          type: number
        balloon_collection:
          title: Balloon Collection
          type: string
        fp_id:
          title: Fp Id
          type: integer
        vehicle_id:
          title: Vehicle Id
          type: integer
        msrp:
          title: Msrp
          type: number
        schedule_option:
          title: Schedule Option
          type: string
        asset_usage:
          title: Asset Usage
          type: string
        calcuation_method:
          title: Calcuation Method
          type: string
        order_stage:
          title: Order Stage
          type: string
        finance_type:
          title: Finance Type
          type: string
        order_fees:
          title: Order Fees
          type: array
          items:
            $ref: '#/components/schemas/OrderFeeCreateModel'
        order_options:
          title: Order Options
          type: array
          items:
            anyOf:
            - $ref: '#/components/schemas/OrderOptionCreateModel'
            - $ref: '#/components/schemas/Option'
        order_fnI:
          title: Order Fni
          type: array
          items:
            anyOf:
            - $ref: '#/components/schemas/OrderFinancialInsuranceProductCreateModel'
            - $ref: '#/components/schemas/FinancialInsurance'
        order_tradein:
          $ref: '#/components/schemas/OrderTradeInCreateModel'
        appointment_details:
          $ref: '#/components/schemas/libdms__models__CreateAppointmentModel'
        finance_amount:
          title: Finance Amount
          type: number
        order_asset:
          $ref: '#/components/schemas/OrderAssetModel'
        insurance:
          $ref: '#/components/schemas/InsuranceInformationWithAddressesModel'
        payment_recieved:
          title: Payment Recieved
          type: boolean
        base_rate:
          title: Base Rate
          type: number
        rate_type:
          title: Rate Type
          type: string
        commission_type:
          title: Commission Type
          type: string
        margin:
          title: Margin
          type: number
        applicable_rate:
          title: Applicable Rate
          type: number
        invoice_status:
          $ref: '#/components/schemas/InvoiceStatus'
        rental_mode:
          title: Rental Mode
          type: string
        rental_frequency:
          title: Rental Frequency
          type: string
        running_id:
          title: Running Id
          type: string
        order_currency:
          title: Order Currency
          type: string
        commission_amount:
          title: Commission Amount
          type: number
        received_security_deposit:
          title: Received Security Deposit
          type: integer
        net_finance_amount:
          title: Net Finance Amount
          type: number
        rebate:
          title: Rebate
          type: number
        capitalized_cost_reduction:
          title: Capitalized Cost Reduction
          type: number
        monthly_deprecation:
          title: Monthly Deprecation
          type: number
        tax_on_capitalized_cost_reduction:
          title: Tax On Capitalized Cost Reduction
          type: number
        monthly_sales_use_tax:
          title: Monthly Sales Use Tax
          type: number
        sum_of_fees:
          title: Sum Of Fees
          type: number
        sum_of_periodic_interest:
          title: Sum Of Periodic Interest
          type: number
        sum_of_rentals:
          title: Sum Of Rentals
          type: number
        total_payables:
          title: Total Payables
          type: number
        non_vatable_amount:
          title: Non Vatable Amount
          type: number
        individualized_agreement:
          title: Individualized Agreement
          type: string
        base_residual_type:
          title: Base Residual Type
          type: integer
        excess_mileage_rate:
          title: Excess Mileage Rate
          type: number
        asset_rv_amount:
          title: Asset Rv Amount
          type: number
    FinancialInsurance:
      title: FinancialInsurance
      type: object
      properties:
        applied_price:
          title: Applied Price
          type: integer
        financial_insurance_id:
          title: Financial Insurance Id
          type: integer
        identifier:
          title: Identifier
          type: string
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    OrderQuotationCreateModel:
      title: OrderQuotationCreateModel
      required:
      - reference_id
      type: object
      properties:
        id:
          title: Id
          type: integer
        dealer_id:
          title: Dealer Id
          type: integer
        lender_id:
          title: Lender Id
          type: integer
        broker_id:
          title: Broker Id
          type: integer
        company_id:
          title: Company Id
          type: integer
        name:
          title: Name
          type: string
        contract_term:
          title: Contract Term
          type: integer
        allowed_usage:
          title: Allowed Usage
          type: integer
        credit_rating:
          title: Credit Rating
          type: string
        apr:
          title: Apr
          type: number
        estimated_monthly_payment:
          title: Estimated Monthly Payment
          type: number
        annual_usage:
          title: Annual Usage
          type: number
          default: 0
        due_at_signing:
          title: Due At Signing
          type: number
        is_payment_updated:
          title: Is Payment Updated
          type: boolean
          default: false
        selling_price:
          title: Selling Price
          type: number
        down_payment:
          title: Down Payment
          type: number
        down_payment_lease:
          title: Down Payment Lease
          type: number
        tax_amount:
          title: Tax Amount
          type: number
        tax_amount_number:
          title: Tax Amount Number
          type: number
        deferred_type:
          title: Deferred Type
          type: string
        rv_balloon_percentage:
          title: Rv Balloon Percentage
          type: number
        rv_balloon_value:
          title: Rv Balloon Value
          type: number
        balloon_collection:
          title: Balloon Collection
          type: string
        fp_id:
          title: Fp Id
          type: integer
        vehicle_id:
          title: Vehicle Id
          type: integer
        msrp:
          title: Msrp
          type: number
        schedule_option:
          title: Schedule Option
          type: string
        asset_usage:
          title: Asset Usage
          type: string
        calcuation_method:
          title: Calcuation Method
          type: string
        order_stage:
          title: Order Stage
          type: string
        finance_type:
          title: Finance Type
          type: string
        order_fees:
          title: Order Fees
          type: array
          items:
            $ref: '#/components/schemas/OrderFeeCreateModel'
        order_options:
          title: Order Options
          type: array
          items:
            anyOf:
            - $ref: '#/components/schemas/OrderOptionCreateModel'
            - $ref: '#/components/schemas/Option'
        order_fnI:
          title: Order Fni
          type: array
          items:
            anyOf:
            - $ref: '#/components/schemas/OrderFinancialInsuranceProductCreateModel'
            - $ref: '#/components/schemas/FinancialInsurance'
        order_tradein:
          $ref: '#/components/schemas/OrderTradeInCreateModel'
        appointment_details:
          $ref: '#/components/schemas/libdms__models__CreateAppointmentModel'
        finance_amount:
          title: Finance Amount
          type: number
        order_asset:
          $ref: '#/components/schemas/OrderAssetModel'
        insurance:
          $ref: '#/components/schemas/InsuranceInformationWithAddressesModel'
        payment_recieved:
          title: Payment Recieved
          type: boolean
        base_rate:
          title: Base Rate
          type: number
        rate_type:
          title: Rate Type
          type: string
        commission_type:
          title: Commission Type
          type: string
        margin:
          title: Margin
          type: number
        applicable_rate:
          title: Applicable Rate
          type: number
        invoice_status:
          $ref: '#/components/schemas/InvoiceStatus'
        rental_mode:
          title: Rental Mode
          type: string
        rental_frequency:
          title: Rental Frequency
          type: string
        running_id:
          title: Running Id
          type: string
        order_currency:
          title: Order Currency
          type: string
        commission_amount:
          title: Commission Amount
          type: number
        received_security_deposit:
          title: Received Security Deposit
          type: integer
        net_finance_amount:
          title: Net Finance Amount
          type: number
        rebate:
          title: Rebate
          type: number
        capitalized_cost_reduction:
          title: Capitalized Cost Reduction
          type: number
        monthly_deprecation:
          title: Monthly Deprecation
          type: number
        tax_on_capitalized_cost_reduction:
          title: Tax On Capitalized Cost Reduction
          type: number
        monthly_sales_use_tax:
          title: Monthly Sales Use Tax
          type: number
        sum_of_fees:
          title: Sum Of Fees
          type: number
        sum_of_periodic_interest:
          title: Sum Of Periodic Interest
          type: number
        sum_of_rentals:
          title: Sum Of Rentals
          type: number
        total_payables:
          title: Total Payables
          type: number
        non_vatable_amount:
          title: Non Vatable Amount
          type: number
        individualized_agreement:
          title: Individualized Agreement
          type: string
        base_residual_type:
          title: Base Residual Type
          type: integer
        excess_mileage_rate:
          title: Excess Mileage Rate
          type: number
        asset_rv_amount:
          title: Asset Rv Amount
          type: number
        reference_id:
          title: Reference Id
          type: string
        is_payment_estimator:
          title: Is Payment Estimator
          type: boolean
    TradeInType:
      title: TradeInType
      enum:
      - Manual Estimate
      - Make Model
      - Vin
      - License Plate
      type: string
      description: An enumeration.
    libdms__models__CreateAppointmentModel:
      title: CreateAppointmentModel
      type: object
      properties:
        id:
          title: Id
          type: integer
        order_id:
          title: Order Id
          type: integer
        dealer_id:
          title: Dealer Id
          type: integer
        customer_id:
          title: Customer Id
          type: integer
        appointment_date:
          title: Appointment Date
          type: string
          format: date-time
        appointment_type:
          title: Appointment Type
          type: string
        appointment_status:
          title: Appointment Status
          type: string
        comments:
          title: Comments
          type: string
        address_id:
          title: Address Id
          type: integer
        dealer_code:
          title: Dealer Code
          type: string
        address_data:
          $ref: '#/components/schemas/CustomerAddressWithId'
        created_by:
          title: Created By
          type: string
        updated_by:
          title: Updated By
          type: string
        time_zone:
          title: Time Zone
          type: string
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: /signup/verify-otp
externalDocs:
  url: https://developer.appexnow.com/docs/lane/overview
  description: Product Documentation
