openapi: 3.0.2
info:
  version: 1.3.43
  title: Lane Reviews API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: Lane offers a feature-rich, end-to-end order management system for asset leasing, loans and credit companies. Our platform covers all aspects, from conducting end-to-end sales to performing dealer and partner-related tasks and marketing-related activities.
servers:
- url: https://dms-api.netsolapp.io
tags:
- name: Reviews
paths:
  /dms/customer/document/review:
    get:
      tags:
      - Reviews
      summary: Get customer document reviews
      operationId: get_customer_document_reviews_by_identifier_dms_customer_document_review_get
      parameters:
      - required: true
        schema:
          title: Document Identifier
          type: string
        name: document_identifier
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get Customer Document Reviews By Identifier Dms Customer Document Review Get
                type: array
                items:
                  $ref: '#/components/schemas/CustomerDocumentReviewResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    post:
      tags:
      - Reviews
      summary: Add customer document review
      operationId: add_customer_document_review_dms_customer_document_review_post
      parameters:
      - required: true
        schema:
          title: Document Identifier
          type: string
        name: document_identifier
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerDocumentReviewModel'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerDocumentReviewResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
components:
  schemas:
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
    CustomerDocumentReviewResponseModel:
      title: CustomerDocumentReviewResponseModel
      type: object
      properties:
        reviewed_by:
          title: Reviewed By
          type: string
        review_date_time:
          title: Review Date Time
          type: string
          description: 'format: YYYY-MM-DD hh:mm:ss'
          format: date-time
        review_status:
          title: Review Status
          type: string
        review_notes:
          title: Review Notes
          type: string
        reason:
          title: Reason
          type: array
          items:
            type: string
        other_reason:
          title: Other Reason
          type: string
        identifier:
          title: Identifier
          type: string
        document_identifier:
          title: Document Identifier
          type: string
    CustomerDocumentReviewModel:
      title: CustomerDocumentReviewModel
      required:
      - review_notes
      - review_status
      - reviewed_by
      type: object
      properties:
        review_notes:
          title: Review Notes
          type: string
        review_status:
          $ref: '#/components/schemas/DocumentUploadStatus'
        reviewed_by:
          title: Reviewed By
          type: string
        reason:
          title: Reason
          type: array
          items:
            type: string
        other_reason:
          title: Other Reason
          type: string
        identifier:
          title: Identifier
          minLength: 1
          type: string
    DocumentUploadStatus:
      title: DocumentUploadStatus
      enum:
      - Draft
      - InProgress
      - Approved
      - SoftReject
      - Reject
      type: string
      description: An enumeration.
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: /signup/verify-otp
externalDocs:
  url: https://developer.appexnow.com/docs/lane/overview
  description: Product Documentation
