openapi: 3.2.0
info:
  version: 1.3.43
  title: Lane Order API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: Lane offers a feature-rich, end-to-end order management system for asset leasing, loans and credit companies. Our platform covers all aspects, from conducting end-to-end sales to performing dealer and partner-related tasks and marketing-related activities.
servers:
- url: https://dms-api.netsolapp.io
tags:
- name: Order
paths:
  /dms/order/expiry/{order_stage}/{dealer_id}:
    get:
      tags:
      - Order
      summary: Order expiry date
      description: Get order expiry date
      operationId: get_order_expiry_dms_order_expiry__order_stage___dealer_id__get
      parameters:
      - required: true
        schema:
          title: Order Stage
          type: integer
        name: order_stage
        in: path
      - required: true
        schema:
          title: Dealer Id
          type: integer
        name: dealer_id
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/order/order_information_for_submitted_order:
    get:
      tags:
      - Order
      summary: Get order by order status
      operationId: get_order_details_dms_order_order_information_for_submitted_order_get
      parameters:
      - required: true
        schema:
          title: Page Number
          type: integer
        name: page_number
        in: query
      - required: true
        schema:
          title: Page Size
          minimum: 1
          type: integer
        name: page_size
        in: query
      - required: true
        schema:
          title: Order Status
          type: string
        name: order_status
        in: query
      - required: false
        schema:
          title: Reference Number
          type: string
        name: reference_number
        in: query
      - required: false
        schema:
          title: Order Fee
          type: boolean
        name: order_fee
        in: query
      - required: false
        schema:
          title: Order Option
          type: boolean
        name: order_option
        in: query
      - required: false
        schema:
          title: Order Fni
          type: boolean
        name: order_fni
        in: query
      - required: false
        schema:
          title: Order Tradein
          type: boolean
        name: order_tradein
        in: query
      - required: false
        schema:
          title: Order Assets
          type: boolean
        name: order_assets
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderPaginationResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /dms/order/order_information/{reference_number}:
    get:
      tags:
      - Order
      summary: Get order by order status
      operationId: get_order_information_dms_order_order_information__reference_number__get
      parameters:
      - required: true
        schema:
          title: Reference Number
          type: string
        name: reference_number
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/order/order_insurance_documents/{reference_number}:
    get:
      tags:
      - Order
      summary: Get order insurance documents by order ID
      operationId: get_order_insurance_documents_dms_order_order_insurance_documents__reference_number__get
      parameters:
      - required: true
        schema:
          title: Reference Number
          type: string
        name: reference_number
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /dms/order/credit-decision:
    get:
      tags:
      - Order
      summary: Get credit decision
      operationId: get_credit_decision_dms_order_credit_decision_get
      parameters:
      - required: true
        schema:
          title: Reference Number
          type: string
        name: reference_number
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    post:
      tags:
      - Order
      summary: Add credit decision
      operationId: create_credit_decision_dms_order_credit_decision_post
      parameters:
      - required: true
        schema:
          title: Reference Number
          type: string
        name: reference_number
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderCreditDecisionModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderCreditDecisionResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /dms/order/order-checklist:
    get:
      tags:
      - Order
      summary: Get Order checklist
      operationId: get_order_checklist_dms_order_order_checklist_get
      parameters:
      - required: true
        schema:
          title: Customer Reference Id
          type: string
        name: customer_reference_id
        in: query
      - required: true
        schema:
          title: Checklist Identifier
          type: string
        name: checklist_identifier
        in: query
      - required: false
        schema:
          title: Order Reference Id
          type: string
        name: order_reference_id
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get Order Checklist Dms Order Order Checklist Get
                type: array
                items:
                  $ref: '#/components/schemas/OrderChecklistResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    post:
      tags:
      - Order
      summary: Add Order checklist
      operationId: add_order_checklist_dms_order_order_checklist_post
      requestBody:
        content:
          application/json:
            schema:
              title: Items
              type: array
              items:
                $ref: '#/components/schemas/OrderChecklistModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Add Order Checklist Dms Order Order Checklist Post
                type: array
                items:
                  $ref: '#/components/schemas/OrderChecklistResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    delete:
      tags:
      - Order
      summary: Delete Order checklist
      operationId: delete_order_checklist_dms_order_order_checklist_delete
      parameters:
      - required: true
        schema:
          title: Customer Reference Id
          type: string
        name: customer_reference_id
        in: query
      - required: true
        schema:
          title: Order Reference Id
          type: string
        name: order_reference_id
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    patch:
      tags:
      - Order
      summary: Update Order checklist
      operationId: update_order_checklist_dms_order_order_checklist_patch
      parameters:
      - required: true
        schema:
          title: Order Reference Id
          type: string
        name: order_reference_id
        in: query
      requestBody:
        content:
          application/json:
            schema:
              title: Request
              type: array
              items:
                $ref: '#/components/schemas/OrderChecklistUpdateModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Update Order Checklist Dms Order Order Checklist Patch
                type: array
                items:
                  $ref: '#/components/schemas/OrderChecklistResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/order/order-checklist-update-history:
    get:
      tags:
      - Order
      summary: Get Order Checklist Update History
      operationId: get_order_checklist_update_history_dms_order_order_checklist_update_history_get
      parameters:
      - required: true
        schema:
          title: Customer Reference Id
          type: string
        name: customer_reference_id
        in: query
      - required: true
        schema:
          title: Event
          type: string
        name: event
        in: query
      - required: true
        schema:
          title: Order Reference Id
          type: string
        name: order_reference_id
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/order/update-credit-approver-decision/{reference_number}:
    patch:
      tags:
      - Order
      summary: Update decision status after receiving decision from credit approver
      description: Update an configured quotation
      operationId: update_credit_approver_decision_dms_order_update_credit_approver_decision__reference_number__patch
      parameters:
      - required: true
        schema:
          title: Reference Number
          type: string
        name: reference_number
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderQuotationModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/order/update-payment-status/{reference_number}:
    patch:
      tags:
      - Order
      summary: Update Payment Status
      operationId: update_payment_status_dms_order_update_payment_status__reference_number__patch
      parameters:
      - required: true
        schema:
          title: Reference Number
          type: string
        name: reference_number
        in: path
      - required: true
        schema:
          title: Payment Indicator
          type: boolean
        name: payment_indicator
        in: query
      - required: false
        schema:
          title: Order Status
          type: string
        name: order_status
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /dms/order/order-verify-document/{identifier}:
    post:
      tags:
      - Order
      summary: Verify Order Documents
      operationId: verify_order_document_dms_order_order_verify_document__identifier__post
      parameters:
      - required: true
        schema:
          title: Identifier
          type: string
        name: identifier
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/order/upload-signed-document/{identifier}:
    post:
      tags:
      - Order
      summary: Upload Signed Document
      operationId: upload_order_signed_document_dms_order_upload_signed_document__identifier__post
      parameters:
      - required: true
        schema:
          title: Identifier
          type: string
        name: identifier
        in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadFile'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/order/quick_quotation:
    post:
      tags:
      - Order
      summary: Save Single Quotation
      operationId: save_quotations_dms_order_quick_quotation_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuickQuotationModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuickQuotationResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    patch:
      tags:
      - Order
      summary: Update Quotation
      operationId: update_quotations_dms_order_quick_quotation_patch
      parameters:
      - required: true
        schema:
          title: Identifier
          type: string
        name: identifier
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateQuickOrderModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuickQuotationResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/order/workqueue:
    get:
      tags:
      - Order
      summary: Get all orders for workqueue
      description: Get all orders for workqueue.
      operationId: get_orders_workqueue_dms_order_workqueue_get
      parameters:
      - description: Accepts only string values
        required: false
        schema:
          title: statuses
          type: array
          items:
            type: string
          description: Accepts only string values
        name: statuses
        in: query
      - required: false
        schema:
          title: Dealer Id
          type: integer
        name: dealer_id
        in: query
      - required: false
        schema:
          title: Broker Id
          type: integer
        name: broker_id
        in: query
      - required: false
        schema:
          title: Customer Email
          type: string
        name: customer_email
        in: query
      - required: false
        schema:
          title: Customer Name
          type: string
        name: customer_name
        in: query
      - required: false
        schema:
          title: Lender Name
          type: string
        name: lender_name
        in: query
      - required: false
        schema:
          title: Dealer Name
          type: string
        name: dealer_name
        in: query
      - required: false
        schema:
          title: Contact Number
          type: string
        name: contact_number
        in: query
      - required: false
        schema:
          title: Vendor Name
          type: string
        name: vendor_name
        in: query
      - required: false
        schema:
          title: Introducer Name
          type: string
        name: introducer_name
        in: query
      - required: false
        schema:
          title: Vendor Email
          type: string
        name: vendor_email
        in: query
      - required: false
        schema:
          title: Reference Number
          type: string
        name: reference_number
        in: query
      - required: false
        schema:
          title: Name
          type: string
        name: name
        in: query
      - required: false
        schema:
          title: Finance Type
          type: string
        name: finance_type
        in: query
      - required: false
        schema:
          title: Product Type
          type: string
        name: product_type
        in: query
      - required: false
        schema:
          title: Finance Amount
          type: number
        name: finance_amount
        in: query
      - required: false
        schema:
          title: Updated At
          type: string
        name: updated_at
        in: query
      - required: false
        schema:
          title: Date Submitted
          type: string
        name: date_submitted
        in: query
      - required: false
        schema:
          title: Start Date
          type: string
        name: start_date
        in: query
      - required: false
        schema:
          title: End Date
          type: string
        name: end_date
        in: query
      - required: false
        schema:
          $ref: '#/components/schemas/SortByQuickQuotation'
        name: sort_by
        in: query
      - required: false
        schema:
          $ref: '#/components/schemas/SortEnum'
        name: sort_order
        in: query
      - required: false
        schema:
          $ref: '#/components/schemas/OrderStageTypes'
        name: order_stage
        in: query
      - required: false
        schema:
          title: Page Number
          type: integer
        name: page_number
        in: query
      - required: false
        schema:
          title: Page Size
          type: integer
        name: page_size
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderWorkqueueResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/an-order-statuses:
    get:
      tags:
      - Order
      summary: Get AN Order Statuses
      operationId: get_an_order_statuses_dms_an_order_statuses_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
  /dms/order/asset/{reference_number}:
    patch:
      tags:
      - Order
      summary: Updates an order asset record
      operationId: update_order_asset_dms_order_asset__reference_number__patch
      parameters:
      - required: true
        schema:
          title: Reference Number
          type: string
        name: reference_number
        in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderAssetUpdateModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/update-order-submission:
    post:
      tags:
      - Order
      summary: Update Order Submission Status
      description: Updates an order submission status by hubex response
      operationId: update_order_submission_dms_update_order_submission_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/order/approve-order-by-lender/{reference_number}/{lender_id}:
    patch:
      tags:
      - Order
      summary: Update Order Status and Lender Id
      description: Update the order status to approve and replace lender id
      operationId: approve_order_by_lender_dms_order_approve_order_by_lender__reference_number___lender_id__patch
      parameters:
      - required: true
        schema:
          title: Reference Number
          type: string
        name: reference_number
        in: path
      - required: true
        schema:
          title: Lender Id
          type: integer
        name: lender_id
        in: path
      - required: false
        schema:
          title: Order Status
          type: string
        name: order_status
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/order/get-customer-order-submissions/{customer_reference_id}/{submission_status}:
    post:
      tags:
      - Order
      summary: Get order lender submissions of customer by status and Lender ids
      description: Get order lender submission records of customer by status and lender ids
      operationId: get_customer_order_submissions_dms_order_get_customer_order_submissions__customer_reference_id___submission_status__post
      parameters:
      - required: true
        schema:
          title: Customer Reference Id
          type: string
        name: customer_reference_id
        in: path
      - required: true
        schema:
          title: Submission Status
          type: string
        name: submission_status
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/order/get-order-submission-by-id/{submission_id}:
    get:
      tags:
      - Order
      summary: Get single order submission by primary key
      description: Gets single order submission record against given id
      operationId: get_order_submission_by_id_dms_order_get_order_submission_by_id__submission_id__get
      parameters:
      - required: true
        schema:
          title: Submission Id
          type: integer
        name: submission_id
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /dms/order/re-submit/{identifier}:
    patch:
      tags:
      - Order
      summary: Update order and re-send deal to lender
      description: Update the order and resubmit deal to lenders with deffering existing submission records.
      operationId: resubmit_order_dms_order_re_submit__identifier__patch
      parameters:
      - required: true
        schema:
          title: Identifier
        name: identifier
        in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderQuotationModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/order/proposal:
    post:
      tags:
      - Order
      summary: Create new order proposal for broker
      operationId: save_proposal_dms_order_proposal_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProposalRequestModel'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProposalResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    patch:
      tags:
      - Order
      summary: Update order proposal for broker
      operationId: update_proposal_dms_order_proposal_patch
      parameters:
      - required: true
        schema:
          title: Identifier
          type: string
        name: identifier
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProposalRequestModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProposalResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/order/change-proposal-status:
    patch:
      tags:
      - Order
      summary: Update order proposal status
      operationId: update_proposal_status_dms_order_change_proposal_status_patch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProposalStatusRequestModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/order/proposal-dashboard-analytics:
    get:
      tags:
      - Order
      summary: Get order proposal analytics for broker dashboard
      operationId: get_proposal_dashboard_analytics_dms_order_proposal_dashboard_analytics_get
      parameters:
      - description: Accepts only string values
        required: false
        schema:
          title: statuses
          type: array
          items:
            type: string
          description: Accepts only string values
        name: statuses
        in: query
      - required: false
        schema:
          title: Dealer Id
          type: string
        name: dealer_id
        in: query
      - required: false
        schema:
          title: Broker Id
          type: string
        name: broker_id
        in: query
      - required: false
        schema:
          title: Name
          type: string
        name: name
        in: query
      - required: false
        schema:
          title: Product Type
          type: string
        name: product_type
        in: query
      - required: false
        schema:
          title: Finance Type
          type: string
        name: finance_type
        in: query
      - required: false
        schema:
          title: Customer Name
          type: string
        name: customer_name
        in: query
      - required: false
        schema:
          title: Lender Name
          type: string
        name: lender_name
        in: query
      - required: false
        schema:
          title: Dealer Name
          type: string
        name: dealer_name
        in: query
      - required: false
        schema:
          title: Introducer Name
          type: string
        name: introducer_name
        in: query
      - required: false
        schema:
          title: Date Submitted
          type: string
        name: date_submitted
        in: query
      - required: false
        schema:
          title: Start Date
          type: string
        name: start_date
        in: query
      - required: false
        schema:
          title: End Date
          type: string
        name: end_date
        in: query
      - required: false
        schema:
          title: Finance Amount
          type: number
        name: finance_amount
        in: query
      - required: false
        schema:
          title: Updated At
          type: string
        name: updated_at
        in: query
      - required: false
        schema:
          $ref: '#/components/schemas/SortByQuickQuotation'
        name: sort_by
        in: query
      - required: false
        schema:
          $ref: '#/components/schemas/SortEnum'
        name: sort_order
        in: query
      - required: false
        schema:
          title: Updated At From
          type: string
        name: updated_at_from
        in: query
      - required: false
        schema:
          title: Updated At To
          type: string
        name: updated_at_to
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get Proposal Dashboard Analytics Dms Order Proposal Dashboard Analytics Get
                type: array
                items:
                  $ref: '#/components/schemas/ProposalDashboardAnalyticsModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/order/generate-document/{event_name}:
    post:
      tags:
      - Order
      summary: Generate Document for respective event
      operationId: generate_documents_dms_order_generate_document__event_name__post
      parameters:
      - required: true
        schema:
          $ref: '#/components/schemas/Events'
        name: event_name
        in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentGenerationWithSignatoryModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/order/download_document_by_event/{event_name}:
    post:
      tags:
      - Order
      summary: Get generated document(s) key(s) against specific event
      operationId: get_document_key_by_event_dms_order_download_document_by_event__event_name__post
      parameters:
      - required: true
        schema:
          $ref: '#/components/schemas/Events'
        name: event_name
        in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateDocumentData'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/order/send-email/{event_name}:
    post:
      tags:
      - Order
      summary: send Email notification
      operationId: send_email_dms_order_send_email__event_name__post
      parameters:
      - required: true
        schema:
          $ref: '#/components/schemas/Events'
        name: event_name
        in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailNotificationRequestModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/order/stakeholder/:
    get:
      tags:
      - Order
      summary: Get order stakeholder
      operationId: get_order_stakeholder_dms_order_stakeholder__get
      parameters:
      - required: false
        schema:
          title: Identifier
          type: string
        name: identifier
        in: query
      - required: false
        schema:
          title: Order Identifier
          type: string
        name: order_identifier
        in: query
      - required: false
        schema:
          title: Stakeholder Reference Id
          type: string
        name: stakeholder_reference_id
        in: query
      - required: false
        schema:
          title: Name
          type: string
        name: name
        in: query
      - required: false
        schema:
          title: Role
          type: string
        name: role
        in: query
      - required: false
        schema:
          title: Email
          type: string
        name: email
        in: query
      - required: false
        schema:
          title: Position
          type: string
        name: position
        in: query
      - required: false
        schema:
          $ref: '#/components/schemas/SortByOrderStakeholder'
        name: sort_by
        in: query
      - required: false
        schema:
          $ref: '#/components/schemas/SortEnum'
        name: sort_order
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get Order Stakeholder Dms Order Stakeholder  Get
                type: array
                items:
                  $ref: '#/components/schemas/OrderStakeholderValidationModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - Order
      summary: Create new order stakeholder
      operationId: create_order_stakeholder_dms_order_stakeholder__post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderStakeholderValidationModel'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderStakeholderValidationModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - Order
      summary: Update order stakeholder
      operationId: delete_order_stakeholder_dms_order_stakeholder__delete
      parameters:
      - required: true
        schema:
          title: Identifier
          type: string
        name: identifier
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
      - Order
      summary: Update order stakeholder
      operationId: update_order_stakeholder_dms_order_stakeholder__patch
      parameters:
      - required: true
        schema:
          title: Identifier
          type: string
        name: identifier
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderStakeholderValidationModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderStakeholderValidationModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    CustomerPartnerAddress:
      title: CustomerPartnerAddress
      required:
      - address_type
      type: object
      properties:
        identifier:
          title: Identifier
          type: string
        address_line_1:
          title: Address Line 1
          type: string
        address_type:
          $ref: '#/components/schemas/AddressTypes'
    OrderFinancialInsuranceProductCreateModel:
      title: OrderFinancialInsuranceProductCreateModel
      required:
      - applied_price
      - financial_insurance_id
      type: object
      properties:
        applied_price:
          title: Applied Price
          type: number
        financial_insurance_id:
          title: Financial Insurance Id
          type: integer
        form_id:
          title: Form Id
          type: integer
        rate_id:
          title: Rate Id
          type: integer
        mileage:
          title: Mileage
          type: integer
        term:
          title: Term
          type: integer
        session_id:
          title: Session Id
          type: string
        identifier:
          title: Identifier
          type: string
        is_msp:
          title: Is Msp
          type: boolean
    InvoiceStatus:
      title: InvoiceStatus
      enum:
      - Active
      - Paused
      - Resumed
      type: string
      description: An enumeration.
    AssetInfo:
      title: AssetInfo
      type: object
      properties:
        cost:
          title: Cost
          type: string
          description: Asset Cost
        quantity:
          title: Quantity
          type: string
          description: Asset Quantity
        type:
          title: Type
          type: string
          description: Asset Type
        sub_type:
          title: Sub Type
          type: string
          description: Asset Sub Type
        condition:
          title: Condition
          type: string
          description: Asset Condition
        category:
          title: Category
          type: string
          description: Asset Category
        age:
          title: Age
          type: string
          description: Asset Age
        rv_balloon_amount:
          title: Rv Balloon Amount
          type: string
          description: Asset RV Balloon Amount
        total_cost:
          title: Total Cost
          type: string
          description: Asset Total Cost
        total_rv_balloon_amount:
          title: Total Rv Balloon Amount
          type: string
          description: Asset Total RV Balloon Amount
        supplier_name:
          title: Supplier Name
          type: string
          description: Asset Supplier Name
        description:
          title: Description
          type: string
          description: Asset Description
    CustomerProfileModelResponse:
      title: CustomerProfileModelResponse
      type: object
      properties:
        prefix:
          title: Prefix
          type: string
        first_name:
          title: First Name
          type: string
        middle_name:
          title: Middle Name
          type: string
        last_name:
          title: Last Name
          type: string
        suffix:
          title: Suffix
          type: string
        ssn:
          title: Ssn
          type: string
        mobile_number:
          title: Mobile Number
          type: string
        mobile_number_verified_status:
          title: Mobile Number Verified Status
          type: boolean
          default: false
        home_number:
          title: Home Number
          type: string
        home_number_verified_status:
          title: Home Number Verified Status
          type: boolean
          default: false
        customer_type:
          title: Customer Type
          type: string
        date_of_birth:
          title: Date Of Birth
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        meta_data:
          title: Meta Data
          type: object
        stripe_customer_id:
          title: Stripe Customer Id
          type: string
        preferred_contact:
          title: Preferred Contact
          type: string
        reference_id:
          title: Reference Id
          type: string
        external_id:
          title: External Id
          type: string
        identifier:
          title: Identifier
          type: string
        email:
          title: Email
          type: string
        created_by:
          title: Created By
          type: string
        created_at:
          title: Created At
          type: string
          format: date-time
        updated_at:
          title: Updated At
          type: string
          format: date-time
        updated_by:
          title: Updated By
          type: string
        deleted_at:
          title: Deleted At
          type: string
          format: date-time
        deleted_by:
          title: Deleted By
          type: string
        customer_addresses:
          title: Customer Addresses
          type: array
          items:
            $ref: '#/components/schemas/CustomerAddressPreResponseModel'
        income_info:
          $ref: '#/components/schemas/CustomerEmploymentInfoPreResponseModel'
        payments_info:
          title: Payments Info
          type: array
          items:
            $ref: '#/components/schemas/CustomerPaymentInfoResponseModel'
        license_info:
          $ref: '#/components/schemas/LicenseInfoCustomerResponseModel'
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
    OrderWorkqueueModel:
      title: OrderWorkqueueModel
      type: object
      properties:
        identifier:
          title: Identifier
          type: string
        reference_number:
          title: Reference Number
          type: string
        name:
          title: Name
          type: string
        created_by:
          title: Created By
          type: string
        updated_at:
          title: Updated At
          type: string
          format: date
        created_at:
          title: Created At
          type: string
          format: date
        date_submitted:
          title: Date Submitted
          type: string
          format: date
        start_date:
          title: Start Date
          type: string
          format: date
        end_date:
          title: End Date
          type: string
          format: date
        status:
          title: Status
          type: string
        external_order_id:
          title: External Order Id
          type: string
        selling_price:
          title: Selling Price
          type: number
        down_payment:
          title: Down Payment
          type: number
        calculations_type:
          title: Calculations Type
          type: string
        introducer_identifier:
          title: Introducer Identifier
          type: string
        introducer_name:
          title: Introducer Name
          type: string
        lender_name:
          title: Lender Name
          type: string
        dealer_name:
          title: Dealer Name
          type: string
        customer_name:
          title: Customer Name
          type: string
        finance_type:
          title: Finance Type
          type: string
        product_type:
          title: Product Type
          type: string
        finance_amount:
          title: Finance Amount
          type: number
        running_id:
          title: Running Id
          type: string
        customer_type:
          title: Customer Type
          type: string
    QuestionType:
      title: QuestionType
      enum:
      - YES_NO
      - MULTIPLE_OPTIONS
      description: An enumeration.
    VehicleCondition:
      title: VehicleCondition
      enum:
      - Fair
      - Good
      - Very Good
      - Excellent
      type: string
      description: An enumeration.
    CommentDiaryCategory:
      title: CommentDiaryCategory
      enum:
      - General
      - Underwriting
      - Change Requests
      type: string
      description: An enumeration.
    ProposalCustomerDetails:
      title: ProposalCustomerDetails
      type: object
      properties:
        identifier:
          title: Identifier
          type: string
        reference_id:
          title: Reference Id
          type: string
        customer_type:
          title: Customer Type
          type: string
        first_name:
          title: First Name
          type: string
        last_name:
          title: Last Name
          type: string
        email:
          title: Email
          type: string
        mobile_number:
          title: Mobile Number
          type: string
        company_registration_number:
          title: Company Registration Number
          type: string
        company_name:
          title: Company Name
          type: string
        trading_as:
          title: Trading As
          type: string
        year_business_established:
          title: Year Business Established
          type: string
        nature_of_business:
          title: Nature Of Business
          type: string
        sic_code:
          title: Sic Code
          type: string
        id_number:
          title: Id Number
          type: string
        address:
          $ref: '#/components/schemas/ProposalCustomerAddressModel'
        partners:
          title: Partners
          type: array
          items:
            $ref: '#/components/schemas/CustomerPartnerDetails'
        customer_documents:
          title: Customer Documents
          type: array
          items:
            $ref: '#/components/schemas/CustomerProposalDocuments'
    ProposalResponseModel:
      title: ProposalResponseModel
      type: object
      properties:
        name:
          title: Name
          type: string
        introducer_identifier:
          title: Introducer Identifier
          type: string
        introducer_name:
          title: Introducer Name
          type: string
        dealer_id:
          title: Dealer Id
          type: integer
        lender_id:
          title: Lender Id
          type: integer
        broker_id:
          title: Broker Id
          type: integer
        start_date:
          title: Start Date
          type: string
          format: date
        end_date:
          title: End Date
          type: string
          format: date
        status:
          title: Status
          type: string
        created_by:
          title: Created By
          type: string
        selling_price:
          title: Selling Price
          type: number
        down_payment:
          title: Down Payment
          type: number
        estimated_monthly_payment:
          title: Estimated Monthly Payment
          type: number
        sum_of_advance_rentals:
          title: Sum Of Advance Rentals
          type: number
        no_of_advance_payments:
          title: No Of Advance Payments
          type: integer
        no_of_regular_payments:
          title: No Of Regular Payments
          type: integer
        rental_frequency:
          title: Rental Frequency
          type: string
        deferral_amount:
          title: Deferral Amount
          type: number
        rv_balloon_value:
          title: Rv Balloon Value
          type: number
        balloon_collection:
          title: Balloon Collection
          type: string
        calculations_type:
          title: Calculations Type
          type: string
        program_type:
          title: Program Type
          type: string
        product_type:
          title: Product Type
          type: string
        finance_type:
          title: Finance Type
          type: string
        finance_amount:
          title: Finance Amount
          type: number
        gross_profit:
          title: Gross Profit
          type: number
        due_at_signing:
          title: Due At Signing
          type: number
        comments:
          title: Comments
          type: string
        meta_data:
          title: Meta Data
          type: object
        commission_amount:
          title: Commission Amount
          type: number
        vat_treatment:
          title: Vat Treatment
          type: string
        tax_amount:
          title: Tax Amount
          type: number
        tax_amount_number:
          title: Tax Amount Number
          type: integer
        deferred_type:
          title: Deferred Type
          type: string
        reference_number:
          title: Reference Number
          type: string
        rental_mode:
          title: Rental Mode
          type: string
        rate_type:
          title: Rate Type
          type: string
        margin:
          title: Margin
          type: number
        commission_type:
          title: Commission Type
          type: string
        running_id:
          title: Running Id
          type: string
        non_vatable_amount:
          title: Non Vatable Amount
          type: number
        identifier:
          title: Identifier
          type: string
        customer:
          $ref: '#/components/schemas/ProposalCustomerDetails'
        order_assets:
          title: Order Assets
          type: array
          items:
            $ref: '#/components/schemas/ProposalAssetsModel'
        order_fees:
          title: Order Fees
          type: array
          items:
            $ref: '#/components/schemas/QuickQuoteFeeModel'
        order_payments:
          title: Order Payments
          type: array
          items:
            $ref: '#/components/schemas/QuickQuotePaymentModel'
        order_stakeholders:
          title: Order Stakeholders
          type: array
          items:
            $ref: '#/components/schemas/OrderStakeholderBaseModel'
        order_comments:
          title: Order Comments
          type: array
          items:
            $ref: '#/components/schemas/OrderCommentsModel'
    OrderProposalStatus:
      title: OrderProposalStatus
      enum:
      - Draft
      - New
      - Submitted
      - Approved
      - Conditioned
      - Conditional Approval
      - Additional Info Required
      - Declined
      - Withdrawn
      - Documents Sent
      - Documents Received
      - Sent for Payout
      - Paid Out
      - Awaiting Compliance
      - Complied
      - Awaiting More
      - Fully Received
      - Deferred
      type: string
      description: An enumeration.
    OrderAssetUpdateModel:
      title: OrderAssetUpdateModel
      type: object
      properties:
        order_id:
          title: Order Id
          type: string
          description: Order Reference Id
        mileage:
          title: Mileage
          type: number
        engine_cylinder:
          title: Engine Cylinder
          type: string
        vehicle_uses:
          title: Vehicle Uses
          type: string
        transmission_type:
          title: Transmission Type
          type: string
        odometer_disclaimer:
          title: Odometer Disclaimer
          type: string
    OrderChecklistResponseModel:
      title: OrderChecklistResponseModel
      required:
      - id
      - customer_id
      - checklist_name
      - question_text
      - question_type
      - primary_answer
      - checklist_identifier
      type: object
      properties:
        id:
          title: Id
          type: integer
        customer_id:
          title: Customer Id
          type: integer
        order_reference_id:
          title: Order Reference Id
          type: string
        checklist_name:
          title: Checklist Name
          type: string
        event:
          title: Event
          type: string
        question_text:
          title: Question Text
          type: string
        question_type:
          $ref: '#/components/schemas/QuestionType'
        primary_answer:
          title: Primary Answer
          type: string
        secondary_answer:
          title: Secondary Answer
          type: string
        external_order_ref_number:
          title: External Order Ref Number
          type: string
        checklist_identifier:
          title: Checklist Identifier
          type: string
        description:
          title: Description
          type: string
        created_by:
          title: Created By
          type: string
        updated_by:
          title: Updated By
          type: string
        deleted_by:
          title: Deleted By
          type: string
        created_at:
          title: Created At
          type: string
          format: date-time
        updated_at:
          title: Updated At
          type: string
          format: date-time
        changed_by:
          title: Changed By
          type: string
        changed_at:
          title: Changed At
          type: string
          format: date-time
    OrderStakeholderBaseModel:
      title: OrderStakeholderBaseModel
      type: object
      properties:
        identifier:
          title: Identifier
          type: string
        order_identifier:
          title: Order Identifier
          type: string
        stakeholder_reference_id:
          title: Stakeholder Reference Id
          type: string
        name:
          title: Name
          type: string
        email:
          title: Email
          type: string
        role:
          title: Role
          type: string
        position:
          title: Position
          type: string
        contact_number:
          title: Contact Number
          type: string
        address_id:
          title: Address Id
          type: string
    InsuranceInformationWithAddressesModel:
      title: InsuranceInformationWithAddressesModel
      required:
      - created_by
      type: object
      properties:
        order_reference_id:
          title: Order Reference Id
          type: string
        reference_id:
          title: Reference Id
          type: string
        insurer_name:
          title: Insurer Name
          type: string
        agent_phone:
          title: Agent Phone
          type: string
        subscription_id:
          title: Subscription Id
          type: string
        agent_name:
          title: Agent Name
          type: string
        policy_number:
          title: Policy Number
          type: string
        start_date:
          title: Start Date
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        expiration_date:
          title: Expiration Date
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        deductible_comprehensive:
          title: Deductible Comprehensive
          type: number
        deductible_collision:
          title: Deductible Collision
          type: number
        created_by:
          title: Created By
          type: string
        identifier:
          title: Identifier
          type: string
        is_verified:
          title: Is Verified
          type: boolean
          default: false
        insurance_documents:
          title: Insurance Documents
          type: array
          items:
            $ref: '#/components/schemas/InsuranceDocumentsModel'
        insurer_address:
          $ref: '#/components/schemas/CustomerAddressWithoutAddressTypeModel'
    libdms__models__CreateAppointmentModel:
      title: CreateAppointmentModel
      type: object
      properties:
        id:
          title: Id
          type: integer
        order_id:
          title: Order Id
          type: integer
        dealer_id:
          title: Dealer Id
          type: integer
        customer_id:
          title: Customer Id
          type: integer
        appointment_date:
          title: Appointment Date
          type: string
          format: date-time
        appointment_type:
          title: Appointment Type
          type: string
        appointment_status:
          title: Appointment Status
          type: string
        comments:
          title: Comments
          type: string
        address_id:
          title: Address Id
          type: integer
        dealer_code:
          title: Dealer Code
          type: string
        address_data:
          $ref: '#/components/schemas/CustomerAddressWithId'
        created_by:
          title: Created By
          type: string
        updated_by:
          title: Updated By
          type: string
        time_zone:
          title: Time Zone
          type: string
    FinancialInsurance:
      title: FinancialInsurance
      type: object
      properties:
        applied_price:
          title: Applied Price
          type: integer
        financial_insurance_id:
          title: Financial Insurance Id
          type: integer
        identifier:
          title: Identifier
          type: string
    CustomerEmploymentInfoPreResponseModel:
      title: CustomerEmploymentInfoPreResponseModel
      type: object
      properties:
        employment_type:
          title: Employment Type
          type: string
          description: Employment type
        name:
          title: Name
          type: string
          description: Name
        phone:
          title: Phone
          type: string
          description: Phone
        employed_since:
          title: Employed Since
          type: string
          description: Employed since
          format: date
        occupation:
          title: Occupation
          type: string
          description: Occupation
        annual_employment_income:
          title: Annual Employment Income
          type: number
          description: Annual employment income
        annual_other_income:
          title: Annual Other Income
          type: number
          description: Annual other income
        source_of_other_income:
          title: Source Of Other Income
          type: string
          description: Annual other income
        created_at:
          title: Created At
          type: string
          format: date-time
        created_by:
          title: Created By
          type: string
        updated_at:
          title: Updated At
          type: string
          format: date-time
        updated_by:
          title: Updated By
          type: string
        deleted_at:
          title: Deleted At
          type: string
          format: date-time
        deleted_by:
          title: Deleted By
          type: string
    InsuranceDocumentsModel:
      title: InsuranceDocumentsModel
      required:
      - content_type
      - name
      - file_size
      type: object
      properties:
        document:
          title: Document
          type: string
        content_type:
          title: Content Type
          minLength: 1
          type: string
          description: 'format: application/pdf, image/png '
        name:
          title: Name
          minLength: 1
          type: string
        file_size:
          title: File Size
          minLength: 1
          type: string
        created_by:
          title: Created By
          type: string
        doucment_reference_id:
          title: Doucment Reference Id
          type: string
    CustomerAddressWithoutAddressTypeModel:
      title: CustomerAddressWithoutAddressTypeModel
      type: object
      properties:
        address_line_1:
          title: Address Line 1
          type: string
          description: Address line one
        address_line_2:
          title: Address Line 2
          type: string
          description: Address line two
        state_name:
          title: State Name
          type: string
          description: Address state name
        zip_code:
          title: Zip Code
          type: string
          description: Zip code
        county:
          title: County
          type: string
          description: Address county
        city:
          title: City
          type: string
          description: Address city
        contact_number:
          title: Contact Number
          type: string
          description: Contact number
        verified:
          title: Verified
          type: boolean
          description: Is Address verified
        move_in_date:
          title: Move In Date
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        is_garaging:
          title: Is Garaging
          type: boolean
          description: Garaging flag
          default: false
        identifier:
          title: Identifier
          minLength: 1
          type: string
    OrderStakeholderAddressModel:
      title: OrderStakeholderAddressModel
      type: object
      properties:
        address_line_1:
          title: Address Line 1
          type: string
          description: Address line one
        address_line_2:
          title: Address Line 2
          type: string
          description: Address line two
        state_name:
          title: State Name
          type: string
          description: Address state name
        zip_code:
          title: Zip Code
          type: string
          description: Zip code
        county:
          title: County
          type: string
          description: Address county
        city:
          title: City
          type: string
          description: Address city
        contact_number:
          title: Contact Number
          type: string
          description: Contact number
        verified:
          title: Verified
          type: boolean
          description: Is Address verified
        move_in_date:
          title: Move In Date
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        is_garaging:
          title: Is Garaging
          type: boolean
          description: Garaging flag
          default: false
        identifier:
          title: Identifier
          type: string
        address_type:
          $ref: '#/components/schemas/AddressTypes'
    OrderFeeCreateModel:
      title: OrderFeeCreateModel
      required:
      - dealer_fee_id
      - applied_price
      type: object
      properties:
        dealer_fee_id:
          title: Dealer Fee Id
          type: integer
        applied_price:
          title: Applied Price
          type: number
        identifier:
          title: Identifier
          type: string
        vendor:
          title: Vendor
          type: string
        fee_type:
          title: Fee Type
          type: string
    OrderStakeholderValidationModel:
      title: OrderStakeholderValidationModel
      type: object
      properties:
        identifier:
          title: Identifier
          type: string
        order_identifier:
          title: Order Identifier
          type: string
        stakeholder_reference_id:
          title: Stakeholder Reference Id
          type: string
        name:
          title: Name
          type: string
        email:
          title: Email
          type: string
        role:
          title: Role
          type: string
        position:
          title: Position
          type: string
        contact_number:
          title: Contact Number
          type: string
        address_id:
          title: Address Id
          type: string
        stakeholder_address:
          $ref: '#/components/schemas/OrderStakeholderAddressModel'
    TradeInCheckList:
      title: TradeInCheckList
      type: object
      properties:
        question:
          title: Question
          type: string
        answer:
          title: Answer
          type: string
        trade_in_id:
          title: Trade In Id
          type: integer
    QuickQuotationResponseModel:
      title: QuickQuotationResponseModel
      type: object
      properties:
        identifier:
          title: Identifier
          type: string
        name:
          title: Name
          type: string
        start_date:
          title: Start Date
          type: string
          format: date
        end_date:
          title: End Date
          type: string
          format: date
        updated_at:
          title: Updated At
          type: string
          format: date
        external_order_id:
          title: External Order Id
          type: string
        status:
          title: Status
          type: string
        created_by:
          title: Created By
          type: string
        selling_price:
          title: Selling Price
          type: number
        down_payment:
          title: Down Payment
          type: number
        estimated_monthly_payment:
          title: Estimated Monthly Payment
          type: string
        calculations_type:
          title: Calculations Type
          type: string
        sum_of_advance_rentals:
          title: Sum Of Advance Rentals
          type: number
        no_of_advance_payments:
          title: No Of Advance Payments
          type: integer
        no_of_regular_payments:
          title: No Of Regular Payments
          type: integer
        introducer_identifier:
          title: Introducer Identifier
          type: string
        introducer_name:
          title: Introducer Name
          type: string
        rental_frequency:
          title: Rental Frequency
          type: string
        deferral_amount:
          title: Deferral Amount
          type: number
        rv_balloon_value:
          title: Rv Balloon Value
          type: number
        balloon_collection:
          title: Balloon Collection
          type: string
        finance_type:
          title: Finance Type
          type: string
        product_type:
          title: Product Type
          type: string
        finance_amount:
          title: Finance Amount
          type: number
        gross_profit:
          title: Gross Profit
          type: number
        commission_type:
          title: Commission Type
          type: string
        commission_amount:
          title: Commission Amount
          type: number
        due_at_signing:
          title: Due At Signing
          type: number
        meta_data:
          title: Meta Data
          type: object
        comments:
          title: Comments
          type: string
        vat_treatment:
          title: Vat Treatment
          type: string
        tax_amount:
          title: Tax Amount
          type: number
        tax_amount_number:
          title: Tax Amount Number
          type: integer
        deferred_type:
          title: Deferred Type
          type: string
        reference_number:
          title: Reference Number
          type: string
        rate_type:
          title: Rate Type
          type: string
        margin:
          title: Margin
          type: number
        rental_mode:
          title: Rental Mode
          type: string
        sum_of_fees:
          title: Sum Of Fees
          type: number
        sum_of_periodic_interest:
          title: Sum Of Periodic Interest
          type: number
        sum_of_rentals:
          title: Sum Of Rentals
          type: number
        total_payables:
          title: Total Payables
          type: number
        running_id:
          title: Running Id
          type: string
        broker_id:
          title: Broker Id
          type: integer
        non_vatable_amount:
          title: Non Vatable Amount
          type: number
        order_fees:
          title: Order Fees
          type: array
          items:
            $ref: '#/components/schemas/QuickQuoteFeeModel'
        order_payments:
          title: Order Payments
          type: array
          items:
            $ref: '#/components/schemas/QuickQuotePaymentModel'
        assets:
          title: Assets
          type: array
          items:
            $ref: '#/components/schemas/QuickAssetModel'
        order_stakeholders:
          title: Order Stakeholders
          type: array
          items:
            $ref: '#/components/schemas/OrderStakeholderBaseModel'
        created_at:
          title: Created At
          type: string
          format: date
        date_submitted:
          title: Date Submitted
          type: string
          format: date
        customer:
          $ref: '#/components/schemas/QuickQuoteCustomerModel'
    OrderInformationModel:
      title: OrderInformationModel
      required:
      - order_info
      - customer_info
      type: object
      properties:
        order_info:
          $ref: '#/components/schemas/OrderQuotationResponseModel'
        customer_info:
          $ref: '#/components/schemas/CustomerProfileModelResponse'
    UpdateProposalStatusRequestModel:
      title: UpdateProposalStatusRequestModel
      required:
      - identifier
      - current_status
      - next_status
      type: object
      properties:
        identifier:
          title: Identifier
          type: string
        current_status:
          $ref: '#/components/schemas/OrderProposalStatus'
        next_status:
          $ref: '#/components/schemas/OrderProposalStatus'
        created_by:
          title: Created By
          type: string
        created_at:
          title: Created At
          type: string
        updated_at:
          title: Updated At
          type: string
        comment_data:
          $ref: '#/components/schemas/OrderCommentsModel'
    PaymentType:
      title: PaymentType
      enum:
      - Lease
      - Finance
      type: string
      description: An enumeration.
    OrderTradeInCreateModel:
      title: OrderTradeInCreateModel
      type: object
      properties:
        year:
          title: Year
          type: integer
        make:
          title: Make
          type: string
        model:
          title: Model
          type: string
        trim:
          title: Trim
          type: string
        mileage:
          title: Mileage
          type: integer
        vin:
          title: Vin
          type: string
        identifier:
          title: Identifier
          type: string
        condition:
          $ref: '#/components/schemas/VehicleCondition'
        trade_in_amount:
          title: Trade In Amount
          type: number
        is_customer_titled:
          title: Is Customer Titled
          type: boolean
        loan_lease_balance:
          title: Loan Lease Balance
          type: boolean
        lender_contract_number:
          title: Lender Contract Number
          type: string
        lender_name:
          title: Lender Name
          type: string
        lender_address:
          title: Lender Address
          type: string
        lender_contact_number:
          title: Lender Contact Number
          type: string
        payment_type:
          $ref: '#/components/schemas/PaymentType'
        payoff_amount:
          title: Payoff Amount
          type: number
        lender_id:
          title: Lender Id
          type: integer
          description: DealerTradeIn lender id
        asset_image:
          title: Asset Image
          type: array
          items:
            type: string
        trade_in_type:
          $ref: '#/components/schemas/TradeInType'
        question_answers:
          title: Question Answers
          type: array
          items:
            $ref: '#/components/schemas/TradeInCheckList'
    CustomerAddressPreResponseModel:
      title: CustomerAddressPreResponseModel
      required:
      - address_type
      type: object
      properties:
        address_line_1:
          title: Address Line 1
          type: string
          description: Address line one
        address_line_2:
          title: Address Line 2
          type: string
          description: Address line two
        state_name:
          title: State Name
          type: string
          description: Address state name
        zip_code:
          title: Zip Code
          type: string
          description: Zip code
        county:
          title: County
          type: string
          description: Address county
        city:
          title: City
          type: string
          description: Address city
        contact_number:
          title: Contact Number
          type: string
          description: Contact number
        verified:
          title: Verified
          type: boolean
          description: Is Address verified
        move_in_date:
          title: Move In Date
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        is_garaging:
          title: Is Garaging
          type: boolean
          description: Garaging flag
          default: false
        address_type:
          $ref: '#/components/schemas/AddressTypes'
        identifier:
          title: Identifier
          type: string
        created_at:
          title: Created At
          type: string
          format: date-time
        created_by:
          title: Created By
          type: string
        updated_at:
          title: Updated At
          type: string
          format: date-time
        updated_by:
          title: Updated By
          type: string
        deleted_at:
          title: Deleted At
          type: string
          format: date-time
        deleted_by:
          title: Deleted By
          type: string
    OrderPaginationResponse:
      title: OrderPaginationResponse
      type: object
      properties:
        result:
          title: Result
          type: array
          items:
            $ref: '#/components/schemas/OrderInformationModel'
        page_number:
          title: Page Number
          type: integer
        page_size:
          title: Page Size
          type: integer
        total_pages:
          title: Total Pages
          type: integer
        total_results:
          title: Total Results
          type: integer
    OrderChecklistModel:
      title: OrderChecklistModel
      required:
      - customer_reference_id
      - order_reference_id
      - checklist_name
      - event
      - question_text
      - question_type
      - primary_answer
      - checklist_identifier
      - created_by
      type: object
      properties:
        customer_reference_id:
          title: Customer Reference Id
          type: string
          description: Customer reference number
        order_reference_id:
          title: Order Reference Id
          type: string
          description: Order reference number
        checklist_name:
          title: Checklist Name
          type: string
          description: Checklist name
        event:
          title: Event
          type: string
          description: Event
        question_text:
          title: Question Text
          type: string
          description: Question text
        question_type:
          allOf:
          - $ref: '#/components/schemas/QuestionType'
          description: Question type [YES_NO or MULTIPLE_OPTIONS]
        primary_answer:
          title: Primary Answer
          type: string
          description: Primary answer
        secondary_answer:
          title: Secondary Answer
          type: string
          description: Secondary answer
        external_order_ref_number:
          title: External Order Ref Number
          type: string
          description: External order reference number
        checklist_identifier:
          title: Checklist Identifier
          type: string
          description: Checklist identifier
        description:
          title: Description
          type: string
          description: Checklist description
        created_by:
          title: Created By
          type: string
    ProposalAssetsModel:
      title: ProposalAssetsModel
      type: object
      properties:
        id:
          title: Id
          type: integer
        identifier:
          title: Identifier
          type: string
        category:
          title: Category
          type: string
        asset_type:
          title: Asset Type
          type: string
        asset_sub_type:
          title: Asset Sub Type
          type: string
        supplier_name:
          title: Supplier Name
          type: string
        description:
          title: Description
          type: string
        unit_price:
          title: Unit Price
          type: string
        quantity:
          title: Quantity
          type: string
        total:
          title: Total
          type: string
        age:
          title: Age
          type: number
        condition:
          title: Condition
          type: array
          items:
            type: string
        rv_balloon_amount:
          title: Rv Balloon Amount
          type: number
    PartnerInfo:
      title: PartnerInfo
      type: object
      properties:
        full_name:
          title: Full Name
          type: string
          description: Partner Full Name
        email:
          title: Email
          type: string
          description: Partner Email
        contact_number:
          title: Contact Number
          type: string
          description: Partner Contact Number
        address:
          title: Address
          type: string
          description: Partner Address
    Events:
      title: Events
      enum:
      - Customer Verification
      - Customer Sign up completion
      - Send Invitation Email
      - Send Order Link
      - Credit Application Submission
      - Credit Application Resubmission
      - Credit Application Approved
      - Credit Application Conditioned
      - Order Cancellation
      - Order Declined
      - Order Withdrawn
      - Payment Successful
      - Payment Decline
      - Order Completion
      - Lead Creation
      - Asset Inspection Requested
      - Asset Inspection Completed
      - Driver License Verification Successful
      - Driver License Verification Failed
      - Credit Decision Rejected
      - Customer Vehicle Pickup/Delivery
      - Customer Order Created
      - Customer Order Placed
      - Car not Available
      - Lead generation
      - Order TimeSlots Proposed
      - Customer Order Availability Confirmed
      - Generate Compliance Documents
      - Email Quotation
      - Email Compliance Documents
      - Download Quotation
      - Download Proposal
      - Email Proposal
      - Email Proposal to Customer
      - Customer Order Scheduled
      - Customer Order Reschedule
      - Trade in offer rejected
      - Trade in offer accepted
      - Trade in offer updated
      - Availability Confirmed with special price
      type: string
      description: An enumeration.
    ProposalDashboardAnalyticsModel:
      title: ProposalDashboardAnalyticsModel
      type: object
      properties:
        identifier:
          title: Identifier
          type: string
        updated_at:
          title: Updated At
          type: string
          format: date
        status:
          title: Status
          type: string
        name:
          title: Name
          type: string
        product_type:
          title: Product Type
          type: string
        finance_type:
          title: Finance Type
          type: string
        customer_name:
          title: Customer Name
          type: string
        introducer_name:
          title: Introducer Name
          type: string
        lender_name:
          title: Lender Name
          type: string
        dealer_name:
          title: Dealer Name
          type: string
        date_submitted:
          title: Date Submitted
          type: string
          format: date
        finance_amount:
          title: Finance Amount
          type: string
        start_date:
          title: Start Date
          type: string
          format: date
        end_date:
          title: End Date
          type: string
          format: date
        age_in_seconds:
          title: Age In Seconds
          type: string
        company_name:
          title: Company Name
          type: string
        first_name:
          title: First Name
          type: string
        middle_name:
          title: Middle Name
          type: string
        last_name:
          title: Last Name
          type: string
        customer_type:
          title: Customer Type
          type: string
        running_id:
          title: Running Id
          type: string
    UploadFile:
      title: UploadFile
      required:
      - file
      - file_name
      - content_type
      type: object
      properties:
        file:
          title: File
          type: string
        file_name:
          title: File Name
          type: string
        content_type:
          title: Content Type
          type: string
    QuickOrderModel:
      title: QuickOrderModel
      type: object
      properties:
        name:
          title: Name
          type: string
        identifier:
          title: Identifier
          type: string
        start_date:
          title: Start Date
          type: string
          format: date
        end_date:
          title: End Date
          type: string
          format: date
        customer_reference_id:
          title: Customer Reference Id
          type: string
        external_order_id:
          title: External Order Id
          type: string
        order_status:
          title: Order Status
          type: string
        created_by:
          title: Created By
          type: string
        selling_price:
          title: Selling Price
          type: number
        down_payment:
          title: Down Payment
          type: number
        estimated_monthly_payment:
          title: Estimated Monthly Payment
          type: number
        sum_of_advance_rentals:
          title: Sum Of Advance Rentals
          type: number
        calculations_type:
          title: Calculations Type
          type: string
        no_of_advance_payments:
          title: No Of Advance Payments
          type: integer
        no_of_regular_payments:
          title: No Of Regular Payments
          type: integer
        introducer_identifier:
          title: Introducer Identifier
          type: string
        introducer_name:
          title: Introducer Name
          type: string
        rental_frequency:
          title: Rental Frequency
          type: string
        deferral_amount:
          title: Deferral Amount
          type: number
        rv_balloon_value:
          title: Rv Balloon Value
          type: number
        balloon_collection:
          title: Balloon Collection
          type: string
        finance_type:
          title: Finance Type
          type: string
        product_type:
          title: Product Type
          type: string
        program_type:
          title: Program Type
          type: string
        finance_amount:
          title: Finance Amount
          type: number
        gross_profit:
          title: Gross Profit
          type: number
        commission_amount:
          title: Commission Amount
          type: number
        due_at_signing:
          title: Due At Signing
          type: number
        meta_data:
          title: Meta Data
          type: object
        comments:
          title: Comments
          type: string
        dealer_id:
          title: Dealer Id
          type: string
        broker_id:
          title: Broker Id
          type: string
        vat_treatment:
          title: Vat Treatment
          type: string
        tax_amount:
          title: Tax Amount
          type: number
        tax_amount_number:
          title: Tax Amount Number
          type: integer
        deferred_type:
          title: Deferred Type
          type: string
        reference_number:
          title: Reference Number
          type: string
        rental_mode:
          title: Rental Mode
          type: string
        rate_type:
          title: Rate Type
          type: string
        margin:
          title: Margin
          type: number
        commission_type:
          title: Commission Type
          type: string
        sum_of_fees:
          title: Sum Of Fees
          type: number
        sum_of_periodic_interest:
          title: Sum Of Periodic Interest
          type: number
        sum_of_rentals:
          title: Sum Of Rentals
          type: number
        total_payables:
          title: Total Payables
          type: number
        running_id:
          title: Running Id
          type: string
        non_vatable_amount:
          title: Non Vatable Amount
          type: number
        order_fees:
          title: Order Fees
          type: array
          items:
            $ref: '#/components/schemas/QuickQuoteFeeModel'
        order_payments:
          title: Order Payments
          type: array
          items:
            $ref: '#/components/schemas/QuickQuotePaymentModel'
        assets:
          title: Assets
          type: array
          items:
            $ref: '#/components/schemas/QuickAssetModel'
    OrderWorkqueueResponseModel:
      title: OrderWorkqueueResponseModel
      required:
      - results
      - total_results
      type: object
      properties:
        results:
          title: Results
          type: array
          items:
            $ref: '#/components/schemas/OrderWorkqueueModel'
        total_results:
          title: Total Results
          type: integer
    SortEnum:
      title: SortEnum
      enum:
      - asc
      - desc
      type: string
      description: An enumeration.
    CustomerAddressWithId:
      title: CustomerAddressWithId
      required:
      - address_type
      type: object
      properties:
        address_line_1:
          title: Address Line 1
          type: string
          description: Address line one
        address_line_2:
          title: Address Line 2
          type: string
          description: Address line two
        state_name:
          title: State Name
          type: string
          description: Address state name
        zip_code:
          title: Zip Code
          type: string
          description: Zip code
        county:
          title: County
          type: string
          description: Address county
        city:
          title: City
          type: string
          description: Address city
        contact_number:
          title: Contact Number
          type: string
          description: Contact number
        verified:
          title: Verified
          type: boolean
          description: Is Address verified
        move_in_date:
          title: Move In Date
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        is_garaging:
          title: Is Garaging
          type: boolean
          description: Garaging flag
          default: false
        address_type:
          $ref: '#/components/schemas/AddressTypes'
        identifier:
          title: Identifier
          minLength: 1
          type: string
        id:
          title: Id
          type: integer
    OrderCommentsModel:
      title: OrderCommentsModel
      type: object
      properties:
        identifier:
          title: Identifier
          type: string
        order_reference_id:
          title: Order Reference Id
          type: string
        customer_id:
          title: Customer Id
          type: string
        category:
          $ref: '#/components/schemas/CommentDiaryCategory'
        comment:
          title: Comment
          type: string
        created_by:
          title: Created By
          type: string
        created_at:
          title: Created At
          type: string
          format: date-time
        updated_by:
          title: Updated By
          type: string
        updated_at:
          title: Updated At
          type: string
          format: date-time
    CustomerProposalDocuments:
      title: CustomerProposalDocuments
      type: object
      properties:
        customer_reference_id:
          title: Customer Reference Id
          type: string
        external_reference_id:
          title: External Reference Id
          type: string
        document_reference_id:
          title: Document Reference Id
          type: string
        document_type:
          title: Document Type
          type: string
        content_type:
          title: Content Type
          type: string
        comment:
          title: Comment
          type: string
        category:
          title: Category
          type: string
        document:
          title: Document
          type: string
        document_name:
          title: Document Name
          type: string
        document_size:
          title: Document Size
          type: string
        document_url:
          title: Document Url
          type: string
        reason_by_system:
          title: Reason By System
          type: string
        reason_for_customer:
          title: Reason For Customer
          type: string
        document_status:
          title: Document Status
          type: string
        document_upload_indicator:
          title: Document Upload Indicator
          type: boolean
          default: false
        expires_at:
          title: Expires At
          type: string
          description: 'format: YYYY-MM-DD hh:mm:ss'
          format: date-time
        created_at:
          title: Created At
          type: string
          description: 'format: YYYY-MM-DD hh:mm:ss'
          format: date-time
        updated_at:
          title: Updated At
          type: string
          description: 'format: YYYY-MM-DD hh:mm:ss'
          format: date-time
        deleted_at:
          title: Deleted At
          type: string
          description: 'format: YYYY-MM-DD hh:mm:ss'
          format: date-time
        updated_by:
          title: Updated By
          type: string
        created_by:
          title: Created By
          type: string
        deleted_by:
          title: Deleted By
          type: string
        uploaded_by:
          title: Uploaded By
          type: string
        uploaded_at:
          title: Uploaded At
          type: string
          format: date-time
        is_deleted:
          title: Is Deleted
          type: boolean
          default: false
        identifier:
          title: Identifier
          type: string
        stipulation_code:
          title: Stipulation Code
          type: string
        is_mandatory:
          title: Is Mandatory
          type: boolean
          default: false
    OrderQuotationResponseModel:
      title: OrderQuotationResponseModel
      required:
      - status
      - reference_number
      - order_asset_number
      - identifier
      type: object
      properties:
        id:
          title: Id
          type: integer
        dealer_id:
          title: Dealer Id
          type: integer
        lender_id:
          title: Lender Id
          type: integer
        broker_id:
          title: Broker Id
          type: integer
        company_id:
          title: Company Id
          type: integer
        name:
          title: Name
          type: string
        contract_term:
          title: Contract Term
          type: integer
        allowed_usage:
          title: Allowed Usage
          type: integer
        credit_rating:
          title: Credit Rating
          type: string
        apr:
          title: Apr
          type: number
        estimated_monthly_payment:
          title: Estimated Monthly Payment
          type: number
        annual_usage:
          title: Annual Usage
          type: number
          default: 0
        due_at_signing:
          title: Due At Signing
          type: number
        is_payment_updated:
          title: Is Payment Updated
          type: boolean
          default: false
        selling_price:
          title: Selling Price
          type: number
        down_payment:
          title: Down Payment
          type: number
        down_payment_lease:
          title: Down Payment Lease
          type: number
        tax_amount:
          title: Tax Amount
          type: number
        tax_amount_number:
          title: Tax Amount Number
          type: number
        deferred_type:
          title: Deferred Type
          type: string
        rv_balloon_percentage:
          title: Rv Balloon Percentage
          type: number
        rv_balloon_value:
          title: Rv Balloon Value
          type: number
        balloon_collection:
          title: Balloon Collection
          type: string
        fp_id:
          title: Fp Id
          type: integer
        vehicle_id:
          title: Vehicle Id
          type: integer
        msrp:
          title: Msrp
          type: number
        schedule_option:
          title: Schedule Option
          type: string
        asset_usage:
          title: Asset Usage
          type: string
        calcuation_method:
          title: Calcuation Method
          type: string
        order_stage:
          title: Order Stage
          type: string
        finance_type:
          title: Finance Type
          type: string
        order_fees:
          title: Order Fees
          type: array
          items:
            $ref: '#/components/schemas/OrderFeeCreateModel'
        order_options:
          title: Order Options
          type: array
          items:
            anyOf:
            - $ref: '#/components/schemas/OrderOptionCreateModel'
            - $ref: '#/components/schemas/Option'
        order_fnI:
          title: Order Fni
          type: array
          items:
            anyOf:
            - $ref: '#/components/schemas/OrderFinancialInsuranceProductCreateModel'
            - $ref: '#/components/schemas/FinancialInsurance'
        order_tradein:
          $ref: '#/components/schemas/OrderTradeInCreateModel'
        appointment_details:
          $ref: '#/components/schemas/libdms__models__CreateAppointmentModel'
        finance_amount:
          title: Finance Amount
          type: number
        order_asset:
          $ref: '#/components/schemas/OrderAssetModel'
        insurance:
          $ref: '#/components/schemas/InsuranceInformationWithAddressesModel'
        payment_recieved:
          title: Payment Recieved
          type: boolean
        base_rate:
          title: Base Rate
          type: number
        rate_type:
          title: Rate Type
          type: string
        commission_type:
          title: Commission Type
          type: string
        margin:
          title: Margin
          type: number
        applicable_rate:
          title: Applicable Rate
          type: number
        invoice_status:
          $ref: '#/components/schemas/InvoiceStatus'
        rental_mode:
[...]
