openapi: 3.0.2
info:
  version: 1.3.43
  title: Lane Workqueue  Management API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: Lane offers a feature-rich, end-to-end order management system for asset leasing, loans and credit companies. Our platform covers all aspects, from conducting end-to-end sales to performing dealer and partner-related tasks and marketing-related activities.
servers:
- url: https://dms-api.netsolapp.io
tags:
- name: Workqueue  Management
paths:
  /dms/configure/workqueue:
    post:
      tags:
      - Workqueue  Management
      summary: Creates workqueue after Order creation
      description: Creates workqueue after Order creation
      operationId: create_appointment_dms_configure_workqueue_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkqueueModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/configure/workqueue/create_application/{workqueue_id}:
    patch:
      tags:
      - Workqueue  Management
      summary: Creates workqueue after Order stage change to application
      description: Creates workqueue after Order stage change to application
      operationId: update_expiry_by_id_dms_configure_workqueue_create_application__workqueue_id__patch
      parameters:
      - required: true
        schema:
          title: Workqueue Id
          type: integer
        name: workqueue_id
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
components:
  schemas:
    WorkqueueModel:
      title: WorkqueueModel
      required:
      - order_id
      - dealer_id
      - request_type
      type: object
      properties:
        order_id:
          title: Order Id
          type: integer
        dealer_id:
          title: Dealer Id
          type: integer
        request_type:
          title: Request Type
          type: string
        expired_at:
          title: Expired At
          type: string
          format: date-time
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: /signup/verify-otp
externalDocs:
  url: https://developer.appexnow.com/docs/lane/overview
  description: Product Documentation
