openapi: 3.0.2
info:
  version: 1.3.43
  title: Lane Trade API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: Lane offers a feature-rich, end-to-end order management system for asset leasing, loans and credit companies. Our platform covers all aspects, from conducting end-to-end sales to performing dealer and partner-related tasks and marketing-related activities.
servers:
- url: https://dms-api.netsolapp.io
tags:
- name: Trade
paths:
  /dms/get-trade-in-year/:
    post:
      tags:
      - Trade
      summary: Get all the year from KBB
      description: This method will get all the year from KBB
      operationId: get_trade_in_year_dms_get_trade_in_year__post
      parameters:
      - description: Vehicle valuation service to use
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/VehicleValuationProviders'
          description: Vehicle valuation service to use
        name: x-service-provider
        in: header
      - description: Dealer code from the header
        required: false
        schema:
          title: X-Dealer-Code
          type: string
          description: Dealer code from the header
        name: x-dealer-code
        in: header
      - description: Company ID from the dealer
        required: false
        schema:
          title: Company-Id
          type: string
          description: Company ID from the dealer
        name: company-id
        in: header
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TradeInYear'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/get-trade-in-make/:
    post:
      tags:
      - Trade
      summary: Get all the make from KBB
      description: This method will get all the make from KBB
      operationId: get_trade_in_make_dms_get_trade_in_make__post
      parameters:
      - description: Vehicle valuation service to use
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/VehicleValuationProviders'
          description: Vehicle valuation service to use
        name: x-service-provider
        in: header
      - description: Dealer code from the header
        required: false
        schema:
          title: X-Dealer-Code
          type: string
          description: Dealer code from the header
        name: x-dealer-code
        in: header
      - description: Company ID from the dealer
        required: false
        schema:
          title: Company-Id
          type: string
          description: Company ID from the dealer
        name: company-id
        in: header
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TradeInMake'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/get-trade-in-model/:
    post:
      tags:
      - Trade
      summary: Get all the models from KBB
      description: This method will get all the models from KBB
      operationId: get_trade_in_model_dms_get_trade_in_model__post
      parameters:
      - description: Vehicle valuation service to use
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/VehicleValuationProviders'
          description: Vehicle valuation service to use
        name: x-service-provider
        in: header
      - description: Dealer code from the header
        required: false
        schema:
          title: X-Dealer-Code
          type: string
          description: Dealer code from the header
        name: x-dealer-code
        in: header
      - description: Company ID from the dealer
        required: false
        schema:
          title: Company-Id
          type: string
          description: Company ID from the dealer
        name: company-id
        in: header
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TradeInModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/get-trade-in-trim/:
    post:
      tags:
      - Trade
      summary: Get all the trims from KBB
      description: This method will get all the trims from KBB
      operationId: get_trade_in_trim_dms_get_trade_in_trim__post
      parameters:
      - description: Vehicle valuation service to use
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/VehicleValuationProviders'
          description: Vehicle valuation service to use
        name: x-service-provider
        in: header
      - description: Dealer code from the header
        required: false
        schema:
          title: X-Dealer-Code
          type: string
          description: Dealer code from the header
        name: x-dealer-code
        in: header
      - description: Company ID from the dealer
        required: false
        schema:
          title: Company-Id
          type: string
          description: Company ID from the dealer
        name: company-id
        in: header
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TradeInTrim'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/get-trade-in-vehicle_value/:
    post:
      tags:
      - Trade
      summary: Get vehicle estimation from KBB
      description: This method will provide vehicle estimation from KBB
      operationId: get_trade_in_vehicle_value_dms_get_trade_in_vehicle_value__post
      parameters:
      - description: Vehicle valuation service to use
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/VehicleValuationProviders'
          description: Vehicle valuation service to use
        name: x-service-provider
        in: header
      - description: Dealer code from the header
        required: false
        schema:
          title: X-Dealer-Code
          type: string
          description: Dealer code from the header
        name: x-dealer-code
        in: header
      - description: Company ID from the dealer
        required: false
        schema:
          title: Company-Id
          type: string
          description: Company ID from the dealer
        name: company-id
        in: header
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TradeInVehicleValue'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/get-trade-in-vehicle_detail/:
    post:
      tags:
      - Trade
      summary: Get vehicle details from KBB
      description: This will give vehicle details from KBB
      operationId: get_trade_in_vehicle_detail_dms_get_trade_in_vehicle_detail__post
      parameters:
      - description: Vehicle valuation service to use
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/VehicleValuationProviders'
          description: Vehicle valuation service to use
        name: x-service-provider
        in: header
      - description: Dealer code from the header
        required: false
        schema:
          title: X-Dealer-Code
          type: string
          description: Dealer code from the header
        name: x-dealer-code
        in: header
      - description: Company ID from the dealer
        required: false
        schema:
          title: Company-Id
          type: string
          description: Company ID from the dealer
        name: company-id
        in: header
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TradeInVehicleDetail'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/set-trade-in-inspection-status/{order_id}:
    patch:
      tags:
      - Trade
      summary: Set Trade-in inspection status
      description: This method will set Trade-in inspection status
      operationId: set_trade_in_inspection_status_dms_set_trade_in_inspection_status__order_id__patch
      parameters:
      - required: true
        schema:
          title: Order Id
          type: integer
        name: order_id
        in: path
      - required: true
        schema:
          $ref: '#/components/schemas/TradeInInspectionStatus'
        name: inspection_status
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
components:
  schemas:
    TradeInVehicleValue:
      title: TradeInVehicleValue
      type: object
      properties:
        vehicle_id:
          title: Vehicle Id
          type: integer
          default: 0
        odometer:
          title: Odometer
          type: integer
          default: 0
        zip_code:
          title: Zip Code
          type: string
          default: ''
        vehicle_option_id:
          title: Vehicle Option Id
          type: array
          items:
            $ref: '#/components/schemas/VehicleOption'
          default: []
        start_year:
          title: Start Year
          type: integer
          default: 0
        end_year:
          title: End Year
          type: integer
          default: 0
        model_id:
          title: Model Id
          type: integer
          default: 0
    TradeInYear:
      title: TradeInYear
      type: object
      properties:
        make_id:
          title: Make Id
          type: integer
          default: 0
        make_name:
          title: Make Name
          type: string
          default: ''
        model_id:
          title: Model Id
          type: integer
          default: 0
        model_name:
          title: Model Name
          type: string
          default: ''
        platform_vehicle_type:
          $ref: '#/components/schemas/PlateformVehicleType'
    TradeInInspectionStatus:
      title: TradeInInspectionStatus
      enum:
      - Pending
      - Completed
      description: An enumeration.
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
    VehicleValuationProviders:
      title: VehicleValuationProviders
      enum:
      - KBB
      - JDPower
      type: string
      description: An enumeration.
    TradeInMake:
      title: TradeInMake
      type: object
      properties:
        make_id:
          title: Make Id
          type: integer
          default: 0
        year_id:
          title: Year Id
          type: integer
          default: 0
        start_year:
          title: Start Year
          type: integer
          default: 0
        end_year:
          title: End Year
          type: integer
          default: 0
        category_id:
          title: Category Id
          type: integer
          default: 0
        platform_vehicle_type:
          $ref: '#/components/schemas/PlateformVehicleType'
    TradeInModel:
      title: TradeInModel
      type: object
      properties:
        make_id:
          title: Make Id
          type: integer
          default: 0
        year_id:
          title: Year Id
          type: integer
          default: 0
        start_year:
          title: Start Year
          type: integer
          default: 0
        end_year:
          title: End Year
          type: integer
          default: 0
        category_id:
          title: Category Id
          type: integer
          default: 0
        model_id:
          title: Model Id
          type: integer
          default: 0
        make_name:
          title: Make Name
          type: string
          default: ''
        platform_vehicle_type:
          $ref: '#/components/schemas/PlateformVehicleType'
    TradeInVehicleDetail:
      title: TradeInVehicleDetail
      type: object
      properties:
        platform_vehicle_type:
          $ref: '#/components/schemas/PlateformVehicleType'
        vehicle_id:
          title: Vehicle Id
          type: integer
          default: 0
        year_id:
          title: Year Id
          type: integer
          default: 0
        make_id:
          title: Make Id
          type: integer
          default: 0
        model_year_id:
          title: Model Year Id
          type: integer
          default: 0
        model_id:
          title: Model Id
          type: integer
          default: 0
        trim_id:
          title: Trim Id
          type: integer
          default: 0
        make_name:
          title: Make Name
          type: string
          default: ''
        model_name:
          title: Model Name
          type: string
          default: ''
    TradeInTrim:
      title: TradeInTrim
      type: object
      properties:
        trim_id:
          title: Trim Id
          type: integer
          default: 0
        year_id:
          title: Year Id
          type: integer
          default: 0
        make_id:
          title: Make Id
          type: integer
          default: 0
        model_id:
          title: Model Id
          type: integer
          default: 0
        model_year_id:
          title: Model Year Id
          type: string
          default: ''
        platform_vehicle_type:
          $ref: '#/components/schemas/PlateformVehicleType'
    VehicleOption:
      title: VehicleOption
      required:
      - vehicleOptionId
      type: object
      properties:
        vehicleOptionId:
          title: Vehicleoptionid
          type: integer
    PlateformVehicleType:
      title: PlateformVehicleType
      enum:
      - Car
      - NewCar
      - UsedCar
      - MotorBike
      type: string
      description: An enumeration.
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: /signup/verify-otp
externalDocs:
  url: https://developer.appexnow.com/docs/lane/overview
  description: Product Documentation
