openapi: 3.0.2
info:
  version: 1.3.43
  title: Lane Distance API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: Lane offers a feature-rich, end-to-end order management system for asset leasing, loans and credit companies. Our platform covers all aspects, from conducting end-to-end sales to performing dealer and partner-related tasks and marketing-related activities.
servers:
- url: https://dms-api.netsolapp.io
tags:
- name: Distance
paths:
  /dms/dealer/all-dealer-distance:
    get:
      tags:
      - Distance
      summary: Get All Dealer Distance
      description: Get All Dealer Distance
      operationId: dealer_distance_dms_dealer_all_dealer_distance_get
      parameters:
      - required: true
        schema:
          title: Company Id
          type: integer
        name: company_id
        in: query
      - required: true
        schema:
          title: Radius
          type: integer
        name: radius
        in: query
      - required: true
        schema:
          title: Zip Code
          type: string
        name: zip_code
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DealerResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
components:
  schemas:
    DealerResponse:
      title: DealerResponse
      type: object
      properties:
        result:
          title: Result
          type: array
          items:
            $ref: '#/components/schemas/DealerResponseModel'
    DealerResponseModel:
      title: DealerResponseModel
      required:
      - dealer_name
      - dealer_id
      - dealer_code
      - dealer_address_1
      - dealer_address_2
      - dealer_city
      - dealer_county
      - dealer_state_name
      - dealer_zip_code
      - dealer_distance
      - dealer_active
      type: object
      properties:
        dealer_name:
          title: Dealer Name
          type: string
          description: Dealer Name
        dealer_id:
          title: Dealer Id
          type: string
          description: Dealer ID
        dealer_code:
          title: Dealer Code
          type: string
          description: Dealer Code
        dealer_address_1:
          title: Dealer Address 1
          type: string
          description: Dealer Address 1
        dealer_address_2:
          title: Dealer Address 2
          type: string
          description: Dealer Address 2
        dealer_city:
          title: Dealer City
          type: string
          description: Dealer City
        dealer_county:
          title: Dealer County
          type: string
          description: Dealer Country
        dealer_state_name:
          title: Dealer State Name
          type: string
          description: Dealer State Code
        dealer_zip_code:
          title: Dealer Zip Code
          type: string
          description: Dealer Zip Code
        dealer_distance:
          title: Dealer Distance
          type: number
          description: Dealer Distance
        dealer_active:
          title: Dealer Active
          type: boolean
          description: Dealer Active Status
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: /signup/verify-otp
externalDocs:
  url: https://developer.appexnow.com/docs/lane/overview
  description: Product Documentation
