openapi: 3.0.2
info:
  version: 1.3.43
  title: Lane Order API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: Lane offers a feature-rich, end-to-end order management system for asset leasing, loans and credit companies. Our platform covers all aspects, from conducting end-to-end sales to performing dealer and partner-related tasks and marketing-related activities.
servers:
- url: https://dms-api.netsolapp.io
tags:
- name: Order
paths:
  /dms/customer/insurance-information-by-order:
    get:
      tags:
      - Order
      summary: Get customer insurance information by order reference number
      description: Get customer insurance information by order reference number
      operationId: get_insurance_information_by_order_reference_number_dms_customer_insurance_information_by_order_get
      parameters:
      - required: true
        schema:
          title: Order Reference Id
          type: string
        name: order_reference_id
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsuranceInformationResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/send-order-link:
    post:
      tags:
      - Order
      summary: send order link
      description: send order link
      operationId: send_order_link_dms_customer_send_order_link_post
      parameters:
      - required: true
        schema:
          title: Reference Number
          type: string
        name: reference_number
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/order/expiry/{order_stage}/{dealer_id}:
    get:
      tags:
      - Order
      summary: Order expiry date
      description: Get order expiry date
      operationId: get_order_expiry_dms_order_expiry__order_stage___dealer_id__get
      parameters:
      - required: true
        schema:
          title: Order Stage
          type: integer
        name: order_stage
        in: path
      - required: true
        schema:
          title: Dealer Id
          type: integer
        name: dealer_id
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/configure/order-fees:
    post:
      tags:
      - Order
      summary: Creates fee record for order
      description: Creates fee record for order
      operationId: add_order_fee_dms_configure_order_fees_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderFeeModel'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderFeeModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/configure/order-fees/{identifier}:
    get:
      tags:
      - Order
      summary: Get all order fees for order
      description: Get all order fees for order
      operationId: get_order_fee_by_id_dms_configure_order_fees__identifier__get
      parameters:
      - required: true
        schema:
          title: Identifier
          type: string
        name: identifier
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get Order Fee By Id Dms Configure Order Fees  Identifier  Get
                type: array
                items:
                  $ref: '#/components/schemas/OrderFeeModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    delete:
      tags:
      - Order
      summary: Delete all orders fees filtered on identifier
      description: Delete all orders fees filtered on identifier
      operationId: delete_order_fees_dms_configure_order_fees__identifier__delete
      parameters:
      - required: true
        schema:
          title: Identifier
          type: string
        name: identifier
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderFeeModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    patch:
      tags:
      - Order
      summary: Update fee record for order
      description: Update fee record for order
      operationId: update_order_fee_dms_configure_order_fees__identifier__patch
      parameters:
      - required: true
        schema:
          title: Identifier
          type: string
        name: identifier
        in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderFeeModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderFeeModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/configure/order-options:
    post:
      tags:
      - Order
      summary: Create a new order option record
      description: Create a new order option record
      operationId: add_order_option_dms_configure_order_options_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderOptionModel'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderOptionModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/configure/order-options/{identifier}:
    get:
      tags:
      - Order
      summary: Get order option details
      description: Get order all options against an identifier
      operationId: get_order_options_by_identifier_dms_configure_order_options__identifier__get
      parameters:
      - required: true
        schema:
          title: Identifier
          type: string
        name: identifier
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get Order Options By Identifier Dms Configure Order Options  Identifier  Get
                type: array
                items:
                  $ref: '#/components/schemas/OrderOptionModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    delete:
      tags:
      - Order
      summary: Delete order option record
      description: Delete all order option records against identifier
      operationId: delete_order_option_dms_configure_order_options__identifier__delete
      parameters:
      - required: true
        schema:
          title: Identifier
          type: string
        name: identifier
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderOptionModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    patch:
      tags:
      - Order
      summary: Update an order option record
      description: Update an order option record
      operationId: update_order_option_dms_configure_order_options__identifier__patch
      parameters:
      - required: true
        schema:
          title: Identifier
          type: string
        name: identifier
        in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderOptionModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderOptionModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/configure/order-fni:
    post:
      tags:
      - Order
      summary: Create finance insurance product record for order
      description: Create finance insurance product record for order
      operationId: add_order_fni_dms_configure_order_fni_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderFinancialInsuranceProductModel'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderFIPResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/configure/order-fni/{identifier}:
    get:
      tags:
      - Order
      summary: Get orders finance insurance product filtered on identifier
      description: Get orders finance insurance product filtered on identifier
      operationId: get_order_fni_by_identifier_dms_configure_order_fni__identifier__get
      parameters:
      - required: true
        schema:
          title: Identifier
          type: string
        name: identifier
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get Order Fni By Identifier Dms Configure Order Fni  Identifier  Get
                type: array
                items:
                  $ref: '#/components/schemas/OrderFinancialInsuranceProductModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    delete:
      tags:
      - Order
      summary: Delete all orders finance insurance product filtered on identifier
      description: Delete all orders finance insurance product filtered on identifier
      operationId: delete_order_fni_dms_configure_order_fni__identifier__delete
      parameters:
      - required: true
        schema:
          title: Identifier
          type: string
        name: identifier
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderFinancialInsuranceProductModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    patch:
      tags:
      - Order
      summary: Update finance insurance product record for order
      description: Update finance insurance product record for order
      operationId: update_order_fni_dms_configure_order_fni__identifier__patch
      parameters:
      - required: true
        schema:
          title: Identifier
          type: string
        name: identifier
        in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderFinancialInsuranceProductModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderFinancialInsuranceProductModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/configure/order/tradein:
    post:
      tags:
      - Order
      summary: Creates an order tradein info setup record
      description: Creates an order tradein info setup record
      operationId: add_order_tradein_dms_configure_order_tradein_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderTradeInModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderTradeInResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/configure/order/tradein/{identifier}:
    get:
      tags:
      - Order
      summary: Get a order tradein info setup record
      description: Get a order tradein info setup record identifier
      operationId: get_order_tradein_dms_configure_order_tradein__identifier__get
      parameters:
      - required: true
        schema:
          title: Identifier
          type: string
        name: identifier
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderTradeInModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    delete:
      tags:
      - Order
      summary: Delete order tradein info setup record
      description: Delete order tradein info setup record identifier
      operationId: delete_order_tradein_dms_configure_order_tradein__identifier__delete
      parameters:
      - required: true
        schema:
          title: Identifier
          type: string
        name: identifier
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderTradeInModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    patch:
      tags:
      - Order
      summary: Updates a order tradei info setup record
      description: Updates a order tradei info setup record by identifier
      operationId: update_order_tradein_dms_configure_order_tradein__identifier__patch
      parameters:
      - required: true
        schema:
          title: Identifier
          type: string
        name: identifier
        in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderTradeInModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderTradeInModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/configure/order/filter:
    get:
      tags:
      - Order
      summary: Search orders based on filters
      description: Search orders based on filters
      operationId: get_filter_order_dms_configure_order_filter_get
      parameters:
      - required: true
        schema:
          title: Page Number
          type: string
        name: page_number
        in: query
      - required: true
        schema:
          title: Page Size
          type: string
        name: page_size
        in: query
      - required: false
        schema:
          title: Order Status
          type: string
        name: order_status
        in: query
      - required: false
        schema:
          title: Order Id
          type: string
        name: order_id
        in: query
      - required: false
        schema:
          title: Ref Number
          type: string
        name: ref_number
        in: query
      - required: false
        schema:
          title: Finance Type
          type: string
        name: finance_type
        in: query
      - required: false
        schema:
          title: Amount
          type: string
        name: amount
        in: query
      - required: false
        schema:
          title: Created At
          type: string
        name: created_at
        in: query
      - required: false
        schema:
          title: Expiry Date
          type: string
        name: expiry_date
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/configure/order-status/:
    post:
      tags:
      - Order
      summary: Get orders record filtered on order status
      description: Get orders record filtered on order status
      operationId: get_orders_by_status_dms_configure_order_status__post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetOrderStatusModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/configure/order/update-status/{reference_number}:
    patch:
      tags:
      - Order
      summary: Update order status record by order reference number
      description: Update order status record by order reference number
      operationId: update_order_status_by_reference_number_dms_configure_order_update_status__reference_number__patch
      parameters:
      - required: true
        schema:
          title: Reference Number
          type: string
        name: reference_number
        in: path
      - required: false
        schema:
          title: Is Inventory Check
          type: boolean
          default: false
        name: is_inventory_check
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderStatusRequestModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/configure/order-to-quotation/{identifier}/{reference_number}:
    patch:
      tags:
      - Order
      summary: Convert specific Order to Quotation
      description: Update order record from application to quotation
      operationId: convert_order_to_quotation_dms_configure_order_to_quotation__identifier___reference_number__patch
      parameters:
      - required: true
        schema:
          title: Identifier
        name: identifier
        in: path
      - required: true
        schema:
          title: Reference Number
        name: reference_number
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/configure/order/status/:
    post:
      tags:
      - Order
      summary: Update order status history record by order reference number
      description: Update order status history record by order reference number
      operationId: get_orders_status_history_dms_configure_order_status__post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderStatusHistoryModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /dms/configure/order/status-by-dealer:
    get:
      tags:
      - Order
      summary: Get order status by dealer
      description: Get order status by dealer
      operationId: get_order_status_by_delaer_id_and_reference_number_dms_configure_order_status_by_dealer_get
      parameters:
      - required: true
        schema:
          title: Dealer Id
          type: integer
        name: dealer_id
        in: query
      - required: true
        schema:
          title: Reference Number
          type: string
        name: reference_number
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/order/order_information_for_submitted_order:
    get:
      tags:
      - Order
      summary: Get order by order status
      description: Get order by order status
      operationId: get_order_details_dms_order_order_information_for_submitted_order_get
      parameters:
      - required: true
        schema:
          title: Page Number
          type: integer
        name: page_number
        in: query
      - required: true
        schema:
          title: Page Size
          minimum: 1
          type: integer
        name: page_size
        in: query
      - required: true
        schema:
          title: Order Status
          type: string
        name: order_status
        in: query
      - required: false
        schema:
          title: Reference Number
          type: string
        name: reference_number
        in: query
      - required: false
        schema:
          title: Order Fee
          type: boolean
        name: order_fee
        in: query
      - required: false
        schema:
          title: Order Option
          type: boolean
        name: order_option
        in: query
      - required: false
        schema:
          title: Order Fni
          type: boolean
        name: order_fni
        in: query
      - required: false
        schema:
          title: Order Tradein
          type: boolean
        name: order_tradein
        in: query
      - required: false
        schema:
          title: Order Assets
          type: boolean
        name: order_assets
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderPaginationResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /dms/order/order_information/{reference_number}:
    get:
      tags:
      - Order
      summary: Get order by order status
      description: Get order by order status
      operationId: get_order_information_dms_order_order_information__reference_number__get
      parameters:
      - required: true
        schema:
          title: Reference Number
          type: string
        name: reference_number
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/order/order_insurance_documents/{reference_number}:
    get:
      tags:
      - Order
      summary: Get order insurance documents by order ID
      description: Get order insurance documents by order ID
      operationId: get_order_insurance_documents_dms_order_order_insurance_documents__reference_number__get
      parameters:
      - required: true
        schema:
          title: Reference Number
          type: string
        name: reference_number
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /dms/order/credit-decision:
    get:
      tags:
      - Order
      summary: Get credit decision
      description: Get credit decision
      operationId: get_credit_decision_dms_order_credit_decision_get
      parameters:
      - required: true
        schema:
          title: Reference Number
          type: string
        name: reference_number
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    post:
      tags:
      - Order
      summary: Add credit decision
      description: Add credit decision
      operationId: create_credit_decision_dms_order_credit_decision_post
      parameters:
      - required: true
        schema:
          title: Reference Number
          type: string
        name: reference_number
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderCreditDecisionModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderCreditDecisionResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /dms/order/order-checklist:
    get:
      tags:
      - Order
      summary: Get Order checklist
      description: Get Order checklist
      operationId: get_order_checklist_dms_order_order_checklist_get
      parameters:
      - required: true
        schema:
          title: Customer Reference Id
          type: string
        name: customer_reference_id
        in: query
      - required: true
        schema:
          title: Checklist Identifier
          type: string
        name: checklist_identifier
        in: query
      - required: false
        schema:
          title: Order Reference Id
          type: string
        name: order_reference_id
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get Order Checklist Dms Order Order Checklist Get
                type: array
                items:
                  $ref: '#/components/schemas/OrderChecklistResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    post:
      tags:
      - Order
      summary: Add Order checklist
      description: Add Order checklist
      operationId: add_order_checklist_dms_order_order_checklist_post
      requestBody:
        content:
          application/json:
            schema:
              title: Items
              type: array
              items:
                $ref: '#/components/schemas/OrderChecklistModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Add Order Checklist Dms Order Order Checklist Post
                type: array
                items:
                  $ref: '#/components/schemas/OrderChecklistResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    delete:
      tags:
      - Order
      summary: Delete Order checklist
      description: Delete Order checklist
      operationId: delete_order_checklist_dms_order_order_checklist_delete
      parameters:
      - required: true
        schema:
          title: Customer Reference Id
          type: string
        name: customer_reference_id
        in: query
      - required: true
        schema:
          title: Order Reference Id
          type: string
        name: order_reference_id
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    patch:
      tags:
      - Order
      summary: Update Order checklist
      description: Update Order checklist
      operationId: update_order_checklist_dms_order_order_checklist_patch
      parameters:
      - required: true
        schema:
          title: Order Reference Id
          type: string
        name: order_reference_id
        in: query
      requestBody:
        content:
          application/json:
            schema:
              title: Request
              type: array
              items:
                $ref: '#/components/schemas/OrderChecklistUpdateModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Update Order Checklist Dms Order Order Checklist Patch
                type: array
                items:
                  $ref: '#/components/schemas/OrderChecklistResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/order/order-checklist-update-history:
    get:
      tags:
      - Order
      summary: Get Order Checklist Update History
      operationId: get_order_checklist_update_history_dms_order_order_checklist_update_history_get
      parameters:
      - required: true
        schema:
          title: Customer Reference Id
          type: string
        name: customer_reference_id
        in: query
      - required: true
        schema:
          title: Event
          type: string
        name: event
        in: query
      - required: true
        schema:
          title: Order Reference Id
          type: string
        name: order_reference_id
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/order/update-credit-approver-decision/{reference_number}:
    patch:
      tags:
      - Order
      summary: Update decision status after receiving decision from credit approver
      description: Update an configured quotation
      operationId: update_credit_approver_decision_dms_order_update_credit_approver_decision__reference_number__patch
      parameters:
      - required: true
        schema:
          title: Reference Number
          type: string
        name: reference_number
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderQuotationModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/order/update-payment-status/{reference_number}:
    patch:
      tags:
      - Order
      summary: Update Payment Status
      operationId: update_payment_status_dms_order_update_payment_status__reference_number__patch
      parameters:
      - required: true
        schema:
          title: Reference Number
          type: string
        name: reference_number
        in: path
      - required: true
        schema:
          title: Payment Indicator
          type: boolean
        name: payment_indicator
        in: query
      - required: false
        schema:
          title: Order Status
          type: string
        name: order_status
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /dms/order/order-verify-document/{identifier}:
    post:
      tags:
      - Order
      summary: Verify Order Documents
      description: Verify Order Documents
      operationId: verify_order_document_dms_order_order_verify_document__identifier__post
      parameters:
      - required: true
        schema:
          title: Identifier
          type: string
        name: identifier
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/order/upload-signed-document/{identifier}:
    post:
      tags:
      - Order
      summary: Upload Signed Document
      description: Upload Signed Document
      operationId: upload_order_signed_document_dms_order_upload_signed_document__identifier__post
      parameters:
      - required: true
        schema:
          title: Identifier
          type: string
        name: identifier
        in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadFile'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/configure/quotation-to-order/{identifier}:
    patch:
      tags:
      - Order
      summary: Convert specific Quotation to Application
      description: Convert specific Quotation stage to Application and save all financial data
      operationId: convert_quotation_to_order_dms_configure_quotation_to_order__identifier__patch
      parameters:
      - required: true
        schema:
          title: Identifier
        name: identifier
        in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderQuotationUpdateModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderQuotationUpdateModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/order/quick_quotation:
    post:
      tags:
      - Order
      summary: Save Single Quotation
      description: Save Single Quotation
      operationId: save_quotations_dms_order_quick_quotation_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuickQuotationModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuickQuotationResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    patch:
      tags:
      - Order
      summary: Update Quotation
      description: Update Quotation
      operationId: update_quotations_dms_order_quick_quotation_patch
      parameters:
      - required: true
        schema:
          title: Identifier
          type: string
        name: identifier
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateQuickOrderModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuickQuotationResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/order/workqueue:
    get:
      tags:
      - Order
      summary: Get all orders for workqueue.
      description: Get all orders for workqueue.
      operationId: get_orders_workqueue_dms_order_workqueue_get
      parameters:
      - description: Accepts only string values
        required: false
        schema:
          title: statuses
          type: array
          items:
            type: string
          description: Accepts only string values
        name: statuses
        in: query
      - required: false
        schema:
          title: Dealer Id
          type: integer
        name: dealer_id
        in: query
      - required: false
        schema:
          title: Broker Id
          type: integer
        name: broker_id
        in: query
      - required: false
        schema:
          title: Customer Email
          type: string
        name: customer_email
        in: query
      - required: false
        schema:
          title: Customer Name
          type: string
        name: customer_name
        in: query
      - required: false
        schema:
          title: Lender Name
          type: string
        name: lender_name
        in: query
      - required: false
        schema:
          title: Dealer Name
          type: string
        name: dealer_name
        in: query
      - required: false
        schema:
          title: Contact Number
          type: string
        name: contact_number
        in: query
      - required: false
        schema:
          title: Vendor Name
          type: string
        name: vendor_name
        in: query
      - required: false
        schema:
          title: Introducer Name
          type: string
        name: introducer_name
        in: query
      - required: false
        schema:
          title: Vendor Email
          type: string
        name: vendor_email
        in: query
      - required: false
        schema:
          title: Reference Number
          type: string
        name: reference_number
        in: query
      - required: false
        schema:
          title: Name
          type: string
        name: name
        in: query
      - required: false
        schema:
          title: Finance Type
          type: string
        name: finance_type
        in: query
      - required: false
        schema:
          title: Product Type
          type: string
        name: product_type
        in: query
      - required: false
        schema:
          title: Finance Amount
          type: number
        name: finance_amount
        in: query
      - required: false
        schema:
          title: Updated At
          type: string
        name: updated_at
        in: query
      - required: false
        schema:
          title: Date Submitted
          type: string
        name: date_submitted
        in: query
      - required: false
        schema:
          title: Start Date
          type: string
        name: start_date
        in: query
      - required: false
        schema:
          title: End Date
          type: string
        name: end_date
        in: query
      - required: false
        schema:
          $ref: '#/components/schemas/SortByQuickQuotation'
        name: sort_by
        in: query
      - required: false
        schema:
          $ref: '#/components/schemas/SortEnum'
        name: sort_order
        in: query
      - required: false
        schema:
          $ref: '#/components/schemas/OrderStageTypes'
        name: order_stage
        in: query
      - required: false
        schema:
          title: Page Number
          type: integer
        name: page_number
        in: query
      - required: false
        schema:
          title: Page Size
          type: integer
        name: page_size
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderWorkqueueResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/an-order-statuses:
    get:
      tags:
      - Order
      summary: Get AN Order Statuses
      description: Get AN Order Statuses
      operationId: get_an_order_statuses_dms_an_order_statuses_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
  /dms/order/asset/{reference_number}:
    patch:
      tags:
      - Order
      summary: Updates an order asset record
      description: Updates an order asset record
      operationId: update_order_asset_dms_order_asset__reference_number__patch
      parameters:
      - required: true
        schema:
          title: Reference Number
          type: string
        name: reference_number
        in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderAssetUpdateModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/update-order-submission:
    post:
      tags:
      - Order
      summary: Update Order Submission Status
      description: Updates an order submission status by hubex response
      operationId: update_order_submission_dms_update_order_submission_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/order/approve-order-by-lender/{reference_number}/{lender_id}:
    patch:
      tags:
      - Order
      summary: Update Order Status and Lender Id
      description: Update the order status to approve and replace lender id
      operationId: approve_order_by_lender_dms_order_approve_order_by_lender__reference_number___lender_id__patch
      parameters:
      - required: true
        schema:
          title: Reference Number
          type: string
        name: reference_number
        in: path
      - required: true
        schema:
          title: Lender Id
          type: integer
        name: lender_id
        in: path
      - required: false
        schema:
          title: Order Status
          type: string
        name: order_status
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/order/get-customer-order-submissions/{customer_reference_id}/{submission_status}:
    post:
      tags:
      - Order
      summary: Get order lender submissions of customer by status and Lender ids
      description: Get order lender submission records of customer by status and lender ids
      operationId: get_customer_order_submissions_dms_order_get_customer_order_submissions__customer_reference_id___submission_status__post
      parameters:
      - required: true
        schema:
          title: Customer Reference Id
          type: string
        name: customer_reference_id
        in: path
      - required: true
        schema:
          title: Submission Status
          type: string
        name: submission_status
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/order/get-order-submission-by-id/{submission_id}:
    get:
      tags:
      - Order
      summary: Get single order submission by primary key
      description: Gets single order submission record against given id
      operationId: get_order_submission_by_id_dms_order_get_order_submission_by_id__submission_id__get
      parameters:
      - required: true
        schema:
          title: Submission Id
          type: integer
        name: submission_id
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /dms/order/re-submit/{identifier}:
    patch:
      tags:
      - Order
      summary: Update order and re-send deal to lender
      description: Update the order and resubmit deal to lenders with deffering existing submission records.
      operationId: resubmit_order_dms_order_re_submit__identifier__patch
      parameters:
      - required: true
        schema:
          title: Identifier
        name: identifier
        in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderQuotationModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/order/proposal:
    post:
      tags:
      - Order
      summary: Create new order proposal for broker
      operationId: save_proposal_dms_order_proposal_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProposalRequestModel'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProposalResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    patch:
      tags:
      - Order
      summary: Update order proposal for broker
      operationId: update_proposal_dms_order_proposal_patch
      parameters:
      - required: true
        schema:
          title: Identifier
          type: string
        name: identifier
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProposalRequestModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProposalResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/order/change-proposal-status:
    patch:
      tags:
      - Order
      summary: Update order proposal status
      operationId: update_proposal_status_dms_order_change_proposal_status_patch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProposalStatusRequestModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/order/proposal-dashboard-analytics:
    get:
      tags:
      - Order
      summary: Get order proposal analytics for broker dashboard
      operationId: get_proposal_dashboard_analytics_dms_order_proposal_dashboard_analytics_get
      parameters:
      - description: Accepts only string values
        required: false
        schema:
          title: statuses
          type: array
          items:
            type: string
          description: Accepts only string values
        name: statuses
        in: query
      - required: false
        schema:
          title: Dealer Id
          type: string
        name: dealer_id
        in: query
      - required: false
        schema:
          title: Broker Id
          type: string
        name: broker_id
        in: query
      - required: false
        schema:
          title: Name
          type: string
        name: name
        in: query
      - required: false
        schema:
          title: Product Type
          type: string
        name: product_type
        in: query
      - required: false
        schema:
          title: Finance Type
          type: string
        name: finance_type
        in: query
      - required: false
        schema:
          title: Customer Name
          type: string
        name: customer_name
        in: query
      - required: false
        schema:
          title: Lender Name
          type: string
        name: lender_name
        in: query
      - required: false
        schema:
          title: Dealer Name
          type: string
        name: dealer_name
        in: query
      - required: false
        schema:
          title: Introducer Name
          type: string
        name: introducer_name
        in: query
      - required: false
        schema:
          title: Date Submitted
          type: string
        name: date_submitted
        in: query
      - required: false
        schema:
          title: Start Date
          type: string
        name: start_date
        in: query
      - required: false
        schema:
          title: End Date
          type: string
        name: end_date
        in: query
      - required: false
        schema:
          title: Finance Amount
          type: number
        name: finance_amount
        in: query
      - required: false
        schema:
          title: Updated At
          type: string
        name: updated_at
        in: query
      - required: false
        schema:
          $ref: '#/components/schemas/SortByQuickQuotation'
        name: sort_by
        in: query
      - required: false
        schema:
          $ref: '#/components/schemas/SortEnum'
        name: sort_order
        in: query
      - required: false
        schema:
          title: Updated At From
          type: string
        name: updated_at_from
        in: query
      - required: false
        schema:
          title: Updated At To
          type: string
        name: updated_at_to
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get Proposal Dashboard Analytics Dms Order Proposal Dashboard Analytics Get
                type: array
                items:
                  $ref: '#/components/schemas/ProposalDashboardAnalyticsModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/order/generate-document/{event_name}:
    post:
      tags:
      - Order
      summary: Generate Document for respective event
      operationId: generate_documents_dms_order_generate_document__event_name__post
      parameters:
      - required: true
        schema:
          $ref: '#/components/schemas/Events'
        name: event_name
        in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentGenerationWithSignatoryModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/order/download_document_by_event/{event_name}:
    post:
      tags:
      - Order
      summary: Get generated document(s) key(s) against specific event
      operationId: get_document_key_by_event_dms_order_download_document_by_event__event_name__post
      parameters:
      - required: true
        schema:
          $ref: '#/components/schemas/Events'
        name: event_name
        in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateDocumentData'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/order/send-email/{event_name}:
    post:
      tags:
      - Order
      summary: send Email notification
      operationId: send_email_dms_order_send_email__event_name__post
      parameters:
      - required: true
        schema:
          $ref: '#/components/schemas/Events'
        name: event_name
        in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailNotificationRequestModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/order/stakeholder/:
    get:
      tags:
      - Order
      summary: Get order stakeholder
      operationId: get_order_stakeholder_dms_order_stakeholder__get
      parameters:
      - required: false
        schema:
          title: Identifier
          type: string
        name: identifier
        in: query
      - required: false
        schema:
          title: Order Identifier
          type: string
        name: order_identifier
        in: query
      - required: false
        schema:
          title: Stakeholder Reference Id
          type: string
        name: stakeholder_reference_id
        in: query
      - required: false
        schema:
          title: Name
          type: string
        name: name
        in: query
      - required: false
        schema:
          title: Role
          type: string
        name: role
        in: query
      - required: false
        schema:
          title: Email
          type: string
        name: email
        in: query
      - required: false
        schema:
          title: Position
          type: string
        name: position
        in: query
      - required: false
        schema:
          $ref: '#/components/schemas/SortByOrderStakeholder'
        name: sort_by
        in: query
      - required: false
        schema:
          $ref: '#/components/schemas/SortEnum'
        name: sort_order
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get Order Stakeholder Dms Order Stakeholder  Get
                type: array
                items:
                  $ref: '#/components/schemas/OrderStakeholderValidationModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - Order
      summary: Create new order stakeholder
      operationId: create_order_stakeholder_dms_order_stakeholder__post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderStakeholderValidationModel'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderStakeholderValidationModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - Order
      summary: Update order stakeholder
      operationId: delete_order_stakeholder_dms_order_stakeholder__delete
      parameters:
      - required: true
        schema:
          title: Identifier
          type: string
        name: identifier
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
      - Order
      summary: Update order stakeholder
      operationId: update_order_stakeholder_dms_order_stakeholder__patch
      parameters:
      - required: true
        schema:
          title: Identifier
          type: string
        name: identifier
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderStakeholderValidationModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderStakeholderValidationModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /dms/quote/calculate-order:
    post:
      tags:
      - Order
      summary: Calculate Quotation
      description: Calculate Quotation
      operationId: calculate_order2_dms_quote_calculate_order_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProgramEvaluationForCalculationModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/submit-order:
    post:
      tags:
      - Order
      summary: Mock Credit Approver API & Fraud Check
      description: Mock Request
      operationId: get_submit_order_dms_submit_order_post
      parameters:
      - required: true
        schema:
          title: Reference Number
          type: string
        name: reference_number
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/submitOrderRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/dealer/check-actively-order:
    get:
      tags:
      - Order
      summary: Check Dealer actively order
      description: Check Dealer actively order
      operationId: check_dealer_order_dms_dealer_check_actively_order_get
      parameters:
      - required: true
        schema:
          title: Dealer Id
          type: string
        name: dealer_id
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
components:
  schemas:
    CustomerAddressWithoutAddressTypeModel:
      title: CustomerAddressWithoutAddressTypeModel
      type: object
      properties:
        address_line_1:
          title: Address Line 1
          type: string
          description: Address line one
        address_line_2:
          title: Address Line 2
          type: string
          description: Address line two
        state_name:
          title: State Name
          type: string
          description: Address state name
        zip_code:
          title: Zip Code
          type: string
          description: Zip code
        county:
          title: County
          type: string
          description: Address county
        city:
          title: City
          type: string
          description: Address city
        contact_number:
          title: Contact Number
          type: string
          description: Contact number
        verified:
          title: Verified
          type: boolean
          description: Is Address verified
        move_in_date:
          title: Move In Date
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        is_garaging:
          title: Is Garaging
          type: boolean
          description: Garaging flag
          default: false
        identifier:
          title: Identifier
          minLength: 1
          type: string
    Events:
      title: Events
      enum:
      - Customer Verification
      - Customer Sign up completion
      - Send Invitation Email
      - Send Order Link
      - Credit Application Submission
      - Credit Application Resubmission
      - Credit Application Approved
      - Credit Application Conditioned
      - Order Cancellation
      - Order Declined
      - Order Withdrawn
      - Payment Successful
      - Payment Decline
      - Order Completion
      - Lead Creation
      - Asset Inspection Requested
      - Asset Inspection Completed
      - Driver License Verification Successful
      - Driver License Verification Failed
      - Credit Decision Rejected
      - Customer Vehicle Pickup/Delivery
      - Customer Order Created
      - Customer Order Placed
      - Car not Available
      - Lead generation
      - Order TimeSlots Proposed
      - Customer Order Availability Confirmed
      - Generate Compliance Documents
      - Email Quotation
      - Email Compliance Documents
      - Download Quotation
      - Download Proposal
      - Email Proposal
      - Email Proposal to Customer
      - Customer Order Scheduled
      - Customer Order Reschedule
      - Trade in offer rejected
      - Trade in offer accepted
      - Trade in offer updated
      - Availability Confirmed with special price
      type: string
      description: An enumeration.
    FeeInfo:
      title: FeeInfo
      type: object
      properties:
        amount:
          title: Amount
          type: string
          description: Fee Amount
        frequency:
          title: Frequency
          type: string
          description: FeeFfrequency
        name:
          title: Name
          type: string
          description: Fee Name
        occurence:
          title: Occurence
          type: string
          description: Fee Occurence
    OrderFIPResponseModel:
      title: OrderFIPResponseModel
      required:
      - applied_price
      - dealer_id
      - financial_insurance_id
      - order_id
      - lender_id
      type: object
      properties:
        identifier:
          title: Identifier
          type: string
        applied_price:
          title: Applied Price
          type: number
        dealer_id:
          title: Dealer Id
          type: integer
        financial_insurance_id:
          title: Financial Insurance Id
          type: integer
        order_id:
          title: Order Id
          type: integer
        lender_id:
          title: Lender Id
          type: integer
    QuickQuotationModel:
      title: QuickQuotationModel
      type: object
      properties:
        quote_identifiers:
          $ref: '#/components/schemas/QuickQuoteCustomerModel'
        quote_details:
          $ref: '#/components/schemas/QuickOrderModel'
    ProposalCustomerDetails:
      title: ProposalCustomerDetails
      type: object
      properties:
        identifier:
          title: Identifier
          type: string
        reference_id:
          title: Reference Id
          type: string
        customer_type:
          title: Customer Type
          type: string
        first_name:
          title: First Name
          type: string
        last_name:
          title: Last Name
          type: string
        email:
          title: Email
          type: string
        mobile_number:
          title: Mobile Number
          type: string
        company_registration_number:
          title: Company Registration Number
          type: string
        company_name:
          title: Company Name
          type: string
        trading_as:
          title: Trading As
          type: string
        year_business_established:
          title: Year Business Established
          type: string
        nature_of_business:
          title: Nature Of Business
          type: string
        sic_code:
          title: Sic Code
          type: string
        id_number:
          title: Id Number
          type: string
        address:
          $ref: '#/components/schemas/ProposalCustomerAddressModel'
        partners:
          title: Partners
          type: array
          items:
            $ref: '#/components/schemas/CustomerPartnerDetails'
        customer_documents:
          title: Customer Documents
          type: array
          items:
            $ref: '#/components/schemas/CustomerProposalDocuments'
    OrderOptionCreateModel:
      title: OrderOptionCreateModel
      required:
      - option_id
      - applied_price
      - rv_balloon_percentage
      type: object
      properties:
        option_id:
          title: Option Id
          type: integer
        identifier:
          title: Identifier
          type: string
        applied_price:
          title: Applied Price
          type: number
        rv_balloon_percentage:
          title: Rv Balloon Percentage
          type: number
        rv_balloon_value:
          title: Rv Balloon Value
          type: number
    InvoiceStatus:
      title: InvoiceStatus
      enum:
      - Active
      - Paused
      - Resumed
      type: string
      description: An enumeration.
    VehicleCondition:
      title: VehicleCondition
      enum:
      - Fair
      - Good
      - Very Good
      - Excellent
      type: string
      description: An enumeration.
    CommentDiaryCategory:
      title: CommentDiaryCategory
      enum:
      - General
      - Underwriting
      - Change Requests
      type: string
      description: An enumeration.
    SubsidyRequestModel:
      title: SubsidyRequestModel
      type: object
      properties:
        subsidy_calculation_method:
          title: Subsidy Calculation Method
          type: string
        financier_rate:
          title: Financier Rate
          type: number
        manufacturer_subsidy_rate:
          title: Manufacturer Subsidy Rate
          type: number
        dealer_subsidy_rate:
          title: Dealer Subsidy Rate
          type: number
    ProposalAssetsModel:
      title: ProposalAssetsModel
      type: object
      properties:
        id:
          title: Id
          type: integer
        identifier:
          title: Identifier
          type: string
        category:
          title: Category
          type: string
        asset_type:
          title: Asset Type
          type: string
        asset_sub_type:
          title: Asset Sub Type
          type: string
        supplier_name:
          title: Supplier Name
          type: string
        description:
          title: Description
          type: string
        unit_price:
          title: Unit Price
          type: string
        quantity:
          title: Quantity
          type: string
        total:
          title: Total
          type: string
        age:
          title: Age
          type: number
        condition:
          title: Condition
          type: array
          items:
            type: string
        rv_balloon_amount:
          title: Rv Balloon Amount
          type: number
    OrderStakeholderAddressModel:
      title: OrderStakeholderAddressModel
      type: object
      properties:
        address_line_1:
          title: Address Line 1
          type: string
          description: Address line one
        address_line_2:
          title: Address Line 2
          type: string
          description: Address line two
        state_name:
          title: State Name
          type: string
          description: Address state name
        zip_code:
          title: Zip Code
          type: string
          description: Zip code
        county:
          title: County
          type: string
          description: Address county
        city:
          title: City
          type: string
          description: Address city
        contact_number:
          title: Contact Number
          type: string
          description: Contact number
        verified:
          title: Verified
          type: boolean
          description: Is Address verified
        move_in_date:
          title: Move In Date
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        is_garaging:
          title: Is Garaging
          type: boolean
          description: Garaging flag
          default: false
        identifier:
          title: Identifier
          type: string
        address_type:
          $ref: '#/components/schemas/AddressTypes'
    Option:
      title: Option
      required:
      - option_id
      - applied_price
      - rv_balloon_percentage
      - rv_balloon_value
      type: object
      properties:
        option_id:
          title: Option Id
          type: integer
        identifier:
          title: Identifier
          type: string
        applied_price:
          title: Applied Price
          type: number
        rv_balloon_percentage:
          title: Rv Balloon Percentage
          type: number
        rv_balloon_value:
          title: Rv Balloon Value
          type: number
    GetOrderStatusModel:
      title: GetOrderStatusModel
      required:
      - order_status
      type: object
      properties:
        order_status:
          title: Order Status
          type: string
    OrderStageTypes:
      title: OrderStageTypes
      enum:
      - Quotation
      - Application
      type: string
      description: An enumeration.
    CustomerPartnerAddress:
      title: CustomerPartnerAddress
      required:
      - address_type
      type: object
      properties:
        identifier:
          title: Identifier
          type: string
        address_line_1:
          title: Address Line 1
          type: string
        address_type:
          $ref: '#/components/schemas/AddressTypes'
    UpdateProposalStatusRequestModel:
      title: UpdateProposalStatusRequestModel
      required:
      - identifier
      - current_status
      - next_status
      type: object
      properties:
        identifier:
          title: Identifier
          type: string
        current_status:
          $ref: '#/components/schemas/OrderProposalStatus'
        next_status:
          $ref: '#/components/schemas/OrderProposalStatus'
        created_by:
          title: Created By
          type: string
        created_at:
          title: Created At
          type: string
        updated_at:
          title: Updated At
          type: string
        comment_data:
          $ref: '#/components/schemas/OrderCommentsModel'
    OrderProposalStatus:
      title: OrderProposalStatus
      enum:
      - Draft
      - New
      - Submitted
      - Approved
      - Conditioned
      - Conditional Approval
      - Additional Info Required
      - Declined
      - Withdrawn
      - Documents Sent
      - Documents Received
      - Sent for Payout
      - Paid Out
      - Awaiting Compliance
      - Complied
      - Awaiting More
      - Fully Received
      - Deferred
      type: string
      description: An enumeration.
    FinancialInsurance:
      title: FinancialInsurance
      type: object
      properties:
        applied_price:
          title: Applied Price
          type: integer
        financial_insurance_id:
          title: Financial Insurance Id
          type: integer
        identifier:
          title: Identifier
          type: string
    OrderOptionModel:
      title: OrderOptionModel
      required:
      - order_id
      - option_id
      - applied_price
      - dealer_id
      - lender_id
      - rv_balloon_percentage
      - rv_balloon_value
      type: object
      properties:
        identifier:
          title: Identifier
          type: string
        order_id:
          title: Order Id
          type: integer
        option_id:
          title: Option Id
          type: integer
        applied_price:
          title: Applied Price
          type: number
        dealer_id:
          title: Dealer Id
          type: integer
        lender_id:
          title: Lender Id
          type: integer
        rv_balloon_percentage:
          title: Rv Balloon Percentage
          type: number
        rv_balloon_value:
          title: Rv Balloon Value
          type: number
    PaymentDetails:
      title: PaymentDetails
      type: object
      properties:
        payment_from:
          title: Payment From
          type: string
          description: Payment From
        payment_to:
          title: Payment To
          type: string
          description: Payment To
        amount:
          title: Amount
          type: string
          description: Payment Amount
        payment_type:
          title: Payment Type
          type: string
          description: Rate Type
    StructureRentalModel:
      title: StructureRentalModel
      type: object
      properties:
        start_term:
          title: Start Term
          type: string
        end_term:
          title: End Term
          type: string
        rental_type:
          title: Rental Type
          type: string
        amount:
          title: Amount
          type: string
    CustomerPaymentInfoResponseModel:
      title: CustomerPaymentInfoResponseModel
      type: object
      properties:
        type:
          title: Type
          type: string
        stripe_payment_method_id:
          title: Stripe Payment Method Id
          type: string
        access_token:
          title: Access Token
          type: string
        account_id:
          title: Account Id
          type: string
        Bank_name:
          title: Bank Name
          type: string
        last4:
          title: Last4
          type: integer
        default:
          title: Default
          type: boolean
        created_at:
          title: Created At
          type: string
          format: date-time
        created_by:
          title: Created By
          type: string
        updated_at:
          title: Updated At
          type: string
          format: date-time
        updated_by:
          title: Updated By
          type: string
        deleted_at:
          title: Deleted At
          type: string
          format: date-time
        deleted_by:
          title: Deleted By
          type: string
    OptionsRequestModel:
      title: OptionsRequestModel
      type: object
      properties:
        option_name:
          title: Option Name
          type: string
        option_amount:
          title: Option Amount
          type: number
        rv_amount_on_option:
          title: Rv Amount On Option
          type: number
        amount_handling:
          title: Amount Handling
          type: string
    OrderAssetUpdateModel:
      title: OrderAssetUpdateModel
      type: object
      properties:
        order_id:
          title: Order Id
          type: string
          description: Order Reference Id
        mileage:
          title: Mileage
          type: number
        engine_cylinder:
          title: Engine Cylinder
          type: string
        vehicle_uses:
          title: Vehicle Uses
          type: string
        transmission_type:
          title: Transmission Type
          type: string
        odometer_disclaimer:
          title: Odometer Disclaimer
          type: string
    libdms__models__CreateAppointmentModel:
      title: CreateAppointmentModel
      type: object
      properties:
        id:
          title: Id
          type: integer
        order_id:
          title: Order Id
          type: integer
        dealer_id:
          title: Dealer Id
          type: integer
        customer_id:
          title: Customer Id
          type: integer
        appointment_date:
          title: Appointment Date
          type: string
          format: date-time
        appointment_type:
          title: Appointment Type
          type: string
        appointment_status:
          title: Appointment Status
          type: string
        comments:
          title: Comments
          type: string
        address_id:
          title: Address Id
          type: integer
        dealer_code:
          title: Dealer Code
          type: string
        address_data:
          $ref: '#/components/schemas/CustomerAddressWithId'
        created_by:
          title: Created By
          type: string
        updated_by:
          title: Updated By
          type: string
        time_zone:
          title: Time Zone
          type: string
    InsuranceInformationWithAddressesModel:
      title: InsuranceInformationWithAddressesModel
      required:
      - created_by
      type: object
      properties:
        order_reference_id:
          title: Order Reference Id
          type: string
        reference_id:
          title: Reference Id
          type: string
        insurer_name:
          title: Insurer Name
          type: string
        agent_phone:
          title: Agent Phone
          type: string
        subscription_id:
          title: Subscription Id
          type: string
        agent_name:
          title: Agent Name
          type: string
        policy_number:
          title: Policy Number
          type: string
        start_date:
          title: Start Date
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        expiration_date:
          title: Expiration Date
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        deductible_comprehensive:
          title: Deductible Comprehensive
          type: number
        deductible_collision:
          title: Deductible Collision
          type: number
        created_by:
          title: Created By
          type: string
        identifier:
          title: Identifier
          type: string
        is_verified:
          title: Is Verified
          type: boolean
          default: false
        insurance_documents:
          title: Insurance Documents
          type: array
          items:
            $ref: '#/components/schemas/InsuranceDocumentsModel'
        insurer_address:
          $ref: '#/components/schemas/CustomerAddressWithoutAddressTypeModel'
    OrderStatusHistoryModel:
      title: OrderStatusHistoryModel
      required:
      - order_reference_number
      type: object
      properties:
        order_reference_number:
          title: Order Reference Number
          type: string
    OrderQuotationResponseModel:
      title: OrderQuotationResponseModel
      required:
      - status
      - reference_number
      - order_asset_number
      - identifier
      type: object
      properties:
        id:
          title: Id
          type: integer
        dealer_id:
          title: Dealer Id
          type: integer
        lender_id:
          title: Lender Id
          type: integer
        broker_id:
          title: Broker Id
          type: integer
        company_id:
          title: Company Id
          type: integer
        name:
          title: Name
          type: string
        contract_term:
          title: Contract Term
          type: integer
        allowed_usage:
          title: Allowed Usage
          type: integer
        credit_rating:
          title: Credit Rating
          type: string
        apr:
          title: Apr
          type: number
        estimated_monthly_payment:
          title: Estimated Monthly Payment
          type: number
        annual_usage:
          title: Annual Usage
          type: number
          default: 0
        due_at_signing:
          title: Due At Signing
          type: number
        is_payment_updated:
          title: Is Payment Updated
          type: boolean
          default: false
        selling_price:
          title: Selling Price
          type: number
        down_payment:
          title: Down Payment
          type: number
        down_payment_lease:
          title: Down Payment Lease
          type: number
        tax_amount:
          title: Tax Amount
          type: number
        tax_amount_number:
          title: Tax Amount Number
          type: number
        deferred_type:
          title: Deferred Type
          type: string
        rv_balloon_percentage:
          title: Rv Balloon Percentage
          type: number
        rv_balloon_value:
          title: Rv Balloon Value
          type: number
        balloon_collection:
          title: Balloon Collection
          type: string
        fp_id:
          title: Fp Id
          type: integer
        vehicle_id:
          title: Vehicle Id
          type: integer
        msrp:
          title: Msrp
          type: number
        schedule_option:
          title: Schedule Option
          type: string
        asset_usage:
          title: Asset Usage
          type: string
        calcuation_method:
          title: Calcuation Method
          type: string
        order_stage:
          title: Order Stage
          type: string
        finance_type:
          title: Finance Type
          type: string
        order_fees:
          title: Order Fees
          type: array
          items:
            $ref: '#/components/schemas/OrderFeeCreateModel'
        order_options:
          title: Order Options
          type: array
          items:
            anyOf:
            - $ref: '#/components/schemas/OrderOptionCreateModel'
            - $ref: '#/components/schemas/Option'
        order_fnI:
          title: Order Fni
          type: array
          items:
            anyOf:
            - $ref: '#/components/schemas/OrderFinancialInsuranceProductCreateModel'
            - $ref: '#/components/schemas/FinancialInsurance'
        order_tradein:
          $ref: '#/components/schemas/OrderTradeInCreateModel'
        appointment_details:
          $ref: '#/components/schemas/libdms__models__CreateAppointmentModel'
        finance_amount:
          title: Finance Amount
          type: number
        order_asset:
          $ref: '#/components/schemas/OrderAssetModel'
        insurance:
          $ref: '#/components/schemas/InsuranceInformationWithAddressesModel'
        payment_recieved:
          title: Payment Recieved
          type: boolean
        base_rate:
          title: Base Rate
          type: number
        rate_type:
          title: Rate Type
          type: string
        commission_type:
          title: Commission Type
          type: string
        margin:
          title: Margin
          type: number
        applicable_rate:
          title: Applicable Rate
          type: number
        invoice_status:
          $ref: '#/components/schemas/InvoiceStatus'
        rental_mode:
          title: Rental Mode
          type: string
        rental_frequency:
          title: Rental Frequency
          type: string
        running_id:
          title: Running Id
          type: string
        order_currency:
          title: Order Currency
          type: string
        commission_amount:
          title: Commission Amount
          type: number
        received_security_deposit:
          title: Received Security Deposit
          type: integer
        net_finance_amount:
          title: Net Finance Amount
          type: number
        rebate:
          title: Rebate
          type: number
        capitalized_cost_reduction:
          title: Capitalized Cost Reduction
          type: number
        monthly_deprecation:
          title: Monthly Deprecation
          type: number
        tax_on_capitalized_cost_reduction:
          title: Tax On Capitalized Cost Reduction
          type: number
        monthly_sales_use_tax:
          title: Monthly Sales Use Tax
          type: number
        sum_of_fees:
          title: Sum Of Fees
          type: number
        sum_of_periodic_interest:
          title: Sum Of Periodic Interest
          type: number
        sum_of_rentals:
          title: Sum Of Rentals
          type: number
        total_payables:
          title: Total Payables
          type: number
        non_vatable_amount:
          title: Non Vatable Amount
          type: number
        individualized_agreement:
          title: Individualized Agreement
          type: string
        base_residual_type:
          title: Base Residual Type
          type: integer
        excess_mileage_rate:
          title: Excess Mileage Rate
          type: number
        asset_rv_amount:
          title: Asset Rv Amount
          type: number
        customer_id:
          title: Customer Id
          type: integer
        status:
          title: Status
          type: string
        reference_number:
          title: Reference Number
          type: string
        order_asset_number:
          title: Order Asset Number
          type: string
        identifier:
          title: Identifier
          type: string
    InsuranceDetailStatus:
      title: InsuranceDetailStatus
      enum:
      - Verified
      - Unverified
      - Expired
      type: string
      description: An enumeration.
    InsuranceRequestModel:
      title: InsuranceRequestModel
      type: object
      properties:
        insurance_name:
          title: Insurance Name
          type: string
        insurance_amount:
          title: Insurance Amount
          type: number
        amount_handling:
          title: Amount Handling
          type: string
    OrderChecklistUpdateModel:
      title: OrderChecklistUpdateModel
      type: object
      properties:
        customer_reference_id:
          title: Customer Reference Id
          type: string
          description: Customer reference id
        checklist_identifier:
          title: Checklist Identifier
          type: string
          description: Checklist identifier
        checklist_name:
          title: Checklist Name
          type: string
          description: Checklist name
        event:
          title: Event
          type: string
          description: Event
        question_text:
          title: Question Text
          type: string
          description: Question text
        question_type:
          allOf:
          - $ref: '#/components/schemas/QuestionType'
          description: Question type [YES_NO or MULTIPLE_OPTIONS]
        primary_answer:
          title: Primary Answer
          type: string
          description: Primary answer
        secondary_answer:
          title: Secondary Answer
          type: string
          description: Secondary answer
        external_order_ref_number:
          title: External Order Ref Number
          type: string
          description: External order reference number
        description:
          title: Description
          type: string
          description: Checklist description
        updated_by:
          title: Updated By
          type: string
        updated_at:
          title: Updated At
          type: string
        changed_by:
          title: Changed By
          type: string
        changed_at:
          title: Changed At
          type: string
          format: date-time
    ProposalDashboardAnalyticsModel:
      title: ProposalDashboardAnalyticsModel
      type: object
      properties:
        identifier:
          title: Identifier
          type: string
        updated_at:
          title: Updated At
          type: string
          format: date
        status:
          title: Status
          type: string
        name:
          title: Name
          type: string
        product_type:
          title: Product Type
          type: string
        finance_type:
          title: Finance Type
          type: string
        customer_name:
          title: Customer Name
          type: string
        introducer_name:
          title: Introducer Name
          type: string
        lender_name:
          title: Lender Name
          type: string
        dealer_name:
          title: Dealer Name
          type: string
        date_submitted:
          title: Date Submitted
          type: string
          format: date
        finance_amount:
          title: Finance Amount
          type: string
        start_date:
          title: Start Date
          type: string
          format: date
        end_date:
          title: End Date
          type: string
          format: date
        age_in_seconds:
          title: Age In Seconds
          type: string
        company_name:
          title: Company Name
          type: string
        first_name:
          title: First Name
          type: string
        middle_name:
          title: Middle Name
          type: string
        last_name:
          title: Last Name
          type: string
        customer_type:
          title: Customer Type
          type: string
        running_id:
          title: Running Id
          type: string
    OrderFeeCreateModel:
      title: OrderFeeCreateModel
      required:
      - dealer_fee_id
      - applied_price
      type: object
      properties:
        dealer_fee_id:
          title: Dealer Fee Id
          type: integer
        applied_price:
          title: Applied Price
          type: number
        identifier:
          title: Identifier
          type: string
        vendor:
          title: Vendor
          type: string
        fee_type:
          title: Fee Type
          type: string
    QuickQuotePaymentModel:
      title: QuickQuotePaymentModel
      type: object
      properties:
        identifier:
[...]
