openapi: 3.0.2
info:
  version: 1.3.43
  title: Lane Name API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: Lane offers a feature-rich, end-to-end order management system for asset leasing, loans and credit companies. Our platform covers all aspects, from conducting end-to-end sales to performing dealer and partner-related tasks and marketing-related activities.
servers:
- url: https://dms-api.netsolapp.io
tags:
- name: Name
paths:
  /dms/configure/disclaimer-by-name/{name}:
    get:
      tags:
      - Name
      summary: Get Disclaimer by Name
      operationId: get_disclaimer_by_name_dms_configure_disclaimer_by_name__name__get
      parameters:
      - required: true
        schema:
          title: Name
          type: string
        name: name
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get Disclaimer By Name Dms Configure Disclaimer By Name  Name  Get
                type: array
                items:
                  $ref: '#/components/schemas/DisclaimerResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/configure/disclaimer/{name}:
    patch:
      tags:
      - Name
      summary: Update Disclaimer details
      operationId: update_disclaimer_by_identifier_dms_configure_disclaimer__name__patch
      parameters:
      - required: true
        schema:
          title: Name
          type: string
        name: name
        in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisclaimerUpdateParamsModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisclaimerResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/dealer/option-model-name:
    get:
      tags:
      - Name
      summary: Get All Dealer Options By Model Name
      operationId: get_all_dealer_options_by_model_name_dms_dealer_option_model_name_get
      parameters:
      - required: true
        schema:
          title: Dealer Code
          type: string
        name: dealer_code
        in: query
      - required: true
        schema:
          title: Model Name
          type: string
        name: model_name
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
components:
  schemas:
    DisclaimerUpdateParamsModel:
      title: DisclaimerUpdateParamsModel
      type: object
      properties:
        status:
          title: Status
          type: string
        description:
          title: Description
          type: string
        meta_data:
          title: Meta Data
          type: object
        updated_by:
          title: Updated By
          type: string
    DisclaimerResponseModel:
      title: DisclaimerResponseModel
      type: object
      properties:
        version:
          title: Version
          type: string
        name:
          title: Name
          type: string
        identifier:
          title: Identifier
          type: string
        description:
          title: Description
          type: string
        type:
          title: Type
          type: string
        applicable_for:
          title: Applicable For
          type: string
        required_by:
          title: Required By
          type: string
        status:
          title: Status
          type: string
        change_type:
          title: Change Type
          type: string
        created_at:
          title: Created At
          type: string
          format: date-time
        created_by:
          title: Created By
          type: string
        updated_at:
          title: Updated At
          type: string
          format: date-time
        updated_by:
          title: Updated By
          type: string
        effectiveDate:
          title: Effectivedate
          type: string
          format: date-time
        meta_data:
          title: Meta Data
          type: object
        disclaimer_accord:
          title: Disclaimer Accord
          type: boolean
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: /signup/verify-otp
externalDocs:
  url: https://developer.appexnow.com/docs/lane/overview
  description: Product Documentation
