openapi: 3.0.2
info:
  version: 1.3.43
  title: Lane Appointment  Management API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: Lane offers a feature-rich, end-to-end order management system for asset leasing, loans and credit companies. Our platform covers all aspects, from conducting end-to-end sales to performing dealer and partner-related tasks and marketing-related activities.
servers:
- url: https://dms-api.netsolapp.io
tags:
- name: Appointment  Management
paths:
  /dms/configure/appointment/{appointment_id}:
    get:
      tags:
      - Appointment  Management
      summary: Get Appointment by id
      description: Get Appointment by id
      operationId: get_appointment_dms_configure_appointment__appointment_id__get
      parameters:
      - required: true
        schema:
          title: Appointment Id
          type: integer
        name: appointment_id
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    patch:
      tags:
      - Appointment  Management
      summary: Delete created appointment
      description: Delete created appointment
      operationId: delete_appointment_dms_configure_appointment__appointment_id__patch
      parameters:
      - required: true
        schema:
          title: Appointment Id
          type: integer
        name: appointment_id
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/configure/appointments:
    post:
      tags:
      - Appointment  Management
      summary: Get paginated list of Appointments
      description: Get paginated list of Appointments
      operationId: filter_appointments_dms_configure_appointments_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppointmentFilterModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
components:
  schemas:
    AppointmentFilterModel:
      title: AppointmentFilterModel
      required:
      - page_number
      - page_size
      type: object
      properties:
        page_number:
          title: Page Number
          type: integer
        page_size:
          title: Page Size
          exclusiveMinimum: 0
          type: integer
        year:
          title: Year
          type: integer
        make:
          title: Make
          type: string
        model:
          title: Model
          type: string
        trim:
          title: Trim
          type: string
        order_id:
          title: Order Id
          type: string
        order_status:
          title: Order Status
          type: string
        vin:
          title: Vin
          type: string
        stock:
          title: Stock
          type: string
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: /signup/verify-otp
externalDocs:
  url: https://developer.appexnow.com/docs/lane/overview
  description: Product Documentation
