openapi: 3.0.2
info:
  version: 1.3.43
  title: Lane Payment API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: Lane offers a feature-rich, end-to-end order management system for asset leasing, loans and credit companies. Our platform covers all aspects, from conducting end-to-end sales to performing dealer and partner-related tasks and marketing-related activities.
servers:
- url: https://dms-api.netsolapp.io
tags:
- name: Payment
paths:
  /dms/order/update-payment-status/{reference_number}:
    patch:
      tags:
      - Payment
      summary: Update Payment Status
      operationId: update_payment_status_dms_order_update_payment_status__reference_number__patch
      parameters:
      - required: true
        schema:
          title: Reference Number
          type: string
        name: reference_number
        in: path
      - required: true
        schema:
          title: Payment Indicator
          type: boolean
        name: payment_indicator
        in: query
      - required: false
        schema:
          title: Order Status
          type: string
        name: order_status
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /dms/get-payment-methods/{reference_number}:
    get:
      tags:
      - Payment
      summary: Get Payment Methods & Get Paid Amount
      description: Get Payment Methods & Get Paid Amount
      operationId: get_payment_methods_dms_get_payment_methods__reference_number__get
      parameters:
      - required: true
        schema:
          title: Reference Number
          type: string
        name: reference_number
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/create-payment/:
    post:
      tags:
      - Payment
      summary: Create payment for new Order
      description: Create payment for new Order
      operationId: create_customer_order_dms_create_payment__post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePayment'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePaymentResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/update-payment/:
    post:
      tags:
      - Payment
      summary: Update Order Payment
      description: This end point will be used to handle webhook.
      operationId: update_payment_status_dms_update_payment__post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
components:
  schemas:
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
    PaymentOption:
      title: PaymentOption
      type: object
      properties:
        redirect_url:
          title: Redirect Url
          type: string
        payment_method:
          title: Payment Method
          type: string
        card:
          title: Card
          type: object
    CreatePaymentResponse:
      title: CreatePaymentResponse
      type: object
      properties:
        id:
          title: Id
          type: string
          description: Unique identifier for the object.
        amount:
          title: Amount
          type: number
          description: Amount intended to be collected by this PaymentIntent.
        amount_capturable:
          title: Amount Capturable
          type: integer
          description: Amount that can be captured from this PaymentIntent.
        amount_details:
          title: Amount Details
          type: object
          description: Details about items included in the amount.
        amount_received:
          title: Amount Received
          type: integer
          description: Amount that was collected by this PaymentIntent.
        application_fee_amount:
          title: Application Fee Amount
          type: integer
          description: The amount of the application fee (if any) that will be requested to be applied to the payment and transferred to the application owners account.
        client_secret:
          title: Client Secret
          type: string
          description: The client secret of this PaymentIntent
        capture_method:
          title: Capture Method
          type: string
          description: Controls when the funds will be captured from the customers account. Possible values *automatic* and *manual*.
        currency:
          title: Currency
          type: string
          description: Three-letter ISO currency code, in lowercase.
        customer:
          title: Customer
          type: string
          description: ID of the Customer this PaymentIntent belongs to, if one exists.
        metadata:
          title: Metadata
          type: object
          description: Set of key-value pairs that you can attach to an object.
        payment_method:
          title: Payment Method
          type: string
          description: ID of the payment method used in this PaymentIntent.
        payment_method_type:
          title: Payment Method Type
          type: string
          description: Payment method type of the payment, e.g. *card*, *us_bank_account*
        status:
          title: Status
          type: string
          description: Status of this PaymentIntent.
        payment_option:
          title: Payment Option
          allOf:
          - $ref: '#/components/schemas/PaymentOption'
          description: Detailed representation of the payment method.
        order_id:
          title: Order Id
          type: string
          description: The merchant order Id.
    CreatePayment:
      title: CreatePayment
      required:
      - email
      - amount
      - reference_number
      type: object
      properties:
        email:
          title: Email
          type: string
        name:
          title: Name
          type: string
        amount:
          title: Amount
          type: number
        reference_number:
          title: Reference Number
          type: string
        token:
          title: Token
          type: string
        account_id:
          title: Account Id
          type: string
        payment_method_id:
          title: Payment Method Id
          type: string
        payment_method_type:
          allOf:
          - $ref: '#/components/schemas/PaymentMethodType'
          default: card
    PaymentMethodType:
      title: PaymentMethodType
      enum:
      - card
      - ach_debit
      - cheque
      type: string
      description: An enumeration.
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: /signup/verify-otp
externalDocs:
  url: https://developer.appexnow.com/docs/lane/overview
  description: Product Documentation
