openapi: 3.0.2
info:
  version: 1.3.43
  title: Lane Calculate API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: Lane offers a feature-rich, end-to-end order management system for asset leasing, loans and credit companies. Our platform covers all aspects, from conducting end-to-end sales to performing dealer and partner-related tasks and marketing-related activities.
servers:
- url: https://dms-api.netsolapp.io
tags:
- name: Calculate
paths:
  /dms/quote/calculate-order:
    post:
      tags:
      - Calculate
      summary: Calculate Quotation
      description: Calculate Quotation
      operationId: calculate_order2_dms_quote_calculate_order_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProgramEvaluationForCalculationModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/quote/calculate-nfa:
    post:
      tags:
      - Calculate
      summary: Calculate NFA [Net Financed Amount]
      description: Calculate NFA [Net Financed Amount]
      operationId: calculate_nfa_dms_quote_calculate_nfa_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NFACalculationParams'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalculateNFAResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
components:
  schemas:
    NFACalculationParams:
      title: NFACalculationParams
      required:
      - per_unit_selling_price
      - dealer_id
      - options
      - fees
      - fni_products
      - taxes
      - insurance
      type: object
      properties:
        per_unit_selling_price:
          title: Per Unit Selling Price
          type: number
          description: Per Unit Asset Selling Price
        dealer_id:
          title: Dealer Id
          type: integer
          description: System Generated Dealer Id
        quantity:
          title: Quantity
          type: integer
          description: Quantity of Financed Equipment/Assets
        down_payment:
          title: Down Payment
          type: number
          description: Asset Total Down payment
        options:
          title: Options
          type: array
          items:
            $ref: '#/components/schemas/OptionsRequestModel'
          description: Options applied on asset
        fees:
          title: Fees
          type: array
          items:
            $ref: '#/components/schemas/FeeRequestModel'
          description: Fees
        fni_products:
          title: Fni Products
          type: array
          items:
            $ref: '#/components/schemas/FinanceAndInsuranceRequestModel'
          description: F&I Products
        trade_in_amount:
          title: Trade In Amount
          type: number
          description: Trade-in amount
        taxes:
          title: Taxes
          type: array
          items:
            $ref: '#/components/schemas/TaxesRequestModel'
          description: Taxes
        insurance:
          title: Insurance
          type: array
          items:
            $ref: '#/components/schemas/InsuranceRequestModel'
          description: Insurance
    FinanceAndInsuranceRequestModel:
      title: FinanceAndInsuranceRequestModel
      type: object
      properties:
        fni_product_name:
          title: Fni Product Name
          type: string
        fni_product_amount:
          title: Fni Product Amount
          type: number
        amount_handling:
          title: Amount Handling
          type: string
        is_taxable:
          title: Is Taxable
          type: boolean
          default: false
    FeeRequestModel:
      title: FeeRequestModel
      type: object
      properties:
        fee_name:
          title: Fee Name
          type: string
        fee_amount:
          title: Fee Amount
          type: number
        fee_handling:
          title: Fee Handling
          type: string
        is_taxable:
          title: Is Taxable
          type: boolean
        tax_in_capital:
          title: Tax In Capital
          type: boolean
          default: true
        vendor:
          title: Vendor
          type: string
    SubsidyRequestModel:
      title: SubsidyRequestModel
      type: object
      properties:
        subsidy_calculation_method:
          title: Subsidy Calculation Method
          type: string
        financier_rate:
          title: Financier Rate
          type: number
        manufacturer_subsidy_rate:
          title: Manufacturer Subsidy Rate
          type: number
        dealer_subsidy_rate:
          title: Dealer Subsidy Rate
          type: number
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
    StructureRentalModel:
      title: StructureRentalModel
      type: object
      properties:
        start_term:
          title: Start Term
          type: string
        end_term:
          title: End Term
          type: string
        rental_type:
          title: Rental Type
          type: string
        amount:
          title: Amount
          type: string
    CalculateNFAResponseModel:
      title: CalculateNFAResponseModel
      required:
      - net_financed_amount
      type: object
      properties:
        net_financed_amount:
          title: Net Financed Amount
          type: number
          description: Net Financed amount calculated
    OptionsRequestModel:
      title: OptionsRequestModel
      type: object
      properties:
        option_name:
          title: Option Name
          type: string
        option_amount:
          title: Option Amount
          type: number
        rv_amount_on_option:
          title: Rv Amount On Option
          type: number
        amount_handling:
          title: Amount Handling
          type: string
    TaxesRequestModel:
      title: TaxesRequestModel
      type: object
      properties:
        tax_name:
          title: Tax Name
          type: string
        tax_amount:
          title: Tax Amount
          type: number
        amount_handling:
          title: Amount Handling
          type: string
    InsuranceRequestModel:
      title: InsuranceRequestModel
      type: object
      properties:
        insurance_name:
          title: Insurance Name
          type: string
        insurance_amount:
          title: Insurance Amount
          type: number
        amount_handling:
          title: Amount Handling
          type: string
    ProgramEvaluationForCalculationModel:
      title: ProgramEvaluationForCalculationModel
      required:
      - terms
      - per_unit_selling_price
      - dealer_id
      type: object
      properties:
        terms:
          title: Terms
          type: string
          description: Terms
        per_unit_selling_price:
          title: Per Unit Selling Price
          type: number
          description: Per Unit Asset Selling Price
        dealer_id:
          title: Dealer Id
          type: integer
          description: Dealer Id
        quantity:
          title: Quantity
          type: integer
          description: Quantity of Financed Equipment/Assets
        asset_make_name:
          title: Asset Make Name
          type: string
          description: Asset make name
        asset_model_name:
          title: Asset Model Name
          type: string
          description: Asset model name
        asset_trim_name:
          title: Asset Trim Name
          type: string
          description: Asset trim name
        make_name:
          title: Make Name
          type: string
          description: Make Name
        model_name:
          title: Model Name
          type: string
          description: Model Name
        trim_name:
          title: Trim Name
          type: string
          description: Trim Name
        asset_condition:
          title: Asset Condition
          type: string
          description: Asset Condition
        credit_rating_id:
          title: Credit Rating Id
          type: string
          description: System Generated Credit Rating Id
        finance_type:
          title: Finance Type
          type: string
          description: Finance Type
        asset_classification:
          title: Asset Classification
          type: string
          description: Asset Classification (e.g. Vehicle, Equipment etc.)
        annual_usage:
          title: Annual Usage
          type: integer
          description: Annual Usage
        is_rv_guaranteed:
          title: Is Rv Guaranteed
          type: string
          description: Is RV Guaranteed
        down_payment:
          title: Down Payment
          type: number
          description: Asset Total Down payment
        down_payment_paid_by_dealer:
          title: Down Payment Paid By Dealer
          type: number
          description: Asset Down payment paid by Dealer
        down_payment_paid_by_oem:
          title: Down Payment Paid By Oem
          type: number
          description: Asset Down payment paid by OEM
        options:
          title: Options
          type: array
          items:
            $ref: '#/components/schemas/OptionsRequestModel'
          description: Options applied on asset
        fees:
          title: Fees
          type: array
          items:
            $ref: '#/components/schemas/FeeRequestModel'
          description: Fees
        fni_products:
          title: Fni Products
          type: array
          items:
            $ref: '#/components/schemas/FinanceAndInsuranceRequestModel'
          description: F&I Products
        trade_in_amount:
          title: Trade In Amount
          type: number
          description: Trade-in amount
        taxes:
          title: Taxes
          type: array
          items:
            $ref: '#/components/schemas/TaxesRequestModel'
          description: Trade-in amount
        insurance:
          title: Insurance
          type: array
          items:
            $ref: '#/components/schemas/InsuranceRequestModel'
          description: Taxes
        rental_frequency:
          title: Rental Frequency
          type: string
          description: Rental Frequency
        subsidy:
          title: Subsidy
          allOf:
          - $ref: '#/components/schemas/SubsidyRequestModel'
          description: Subsidy Parameters
        interest_rate:
          title: Interest Rate
          type: number
          description: Interest Rate
        rental_mode:
          title: Rental Mode
          type: string
          description: Payment Mode
        residual_value:
          title: Residual Value
          type: number
          description: RV Value
        start_term:
          title: Start Term
          type: integer
          description: Start Term
        end_term:
          title: End Term
          type: integer
          description: End Term
        rental_amount:
          title: Rental Amount
          type: number
          description: Payment Amount
        is_renewal:
          title: Is Renewal
          type: boolean
          description: If Quotation for Renewal or New Quotation
        program_id:
          title: Program Id
          type: integer
          description: Previous Program ID
        structure_rentals:
          title: Structure Rentals
          type: array
          items:
            $ref: '#/components/schemas/StructureRentalModel'
          description: Array of Structured Rentals
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: /signup/verify-otp
externalDocs:
  url: https://developer.appexnow.com/docs/lane/overview
  description: Product Documentation
