openapi: 3.0.2
info:
  version: 1.3.43
  title: Lane Signatures API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: Lane offers a feature-rich, end-to-end order management system for asset leasing, loans and credit companies. Our platform covers all aspects, from conducting end-to-end sales to performing dealer and partner-related tasks and marketing-related activities.
servers:
- url: https://dms-api.netsolapp.io
tags:
- name: Signatures
paths:
  /dms/customer/signature:
    get:
      tags:
      - Signatures
      summary: Gets a customer signature record by customer signature id
      description: Gets a customer signature record by customer signature id
      operationId: findone_customer_signature_dms_customer_signature_get
      parameters:
      - required: true
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerSignatureResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    post:
      tags:
      - Signatures
      summary: 'Creates customer signature '
      description: 'Creates customer signature '
      operationId: add_customer_signature_dms_customer_signature_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerSignatureModel'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerSignatureResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    delete:
      tags:
      - Signatures
      summary: Deprecate signature delete enpoint. Use [delete-signature] instead
      description: Delete single customer signature  record
      operationId: delete_customer_signature_deprecated_dms_customer_signature_delete
      parameters:
      - required: true
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteRequestModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      deprecated: true
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    patch:
      tags:
      - Signatures
      summary: 'Updates customer signature '
      description: 'Updates customer signature '
      operationId: update_customer_signature_dms_customer_signature_patch
      parameters:
      - required: false
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      - required: false
        schema:
          title: Dealer Id
          type: string
        name: dealer_id
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerSignatureUpdateModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerSignatureResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/signature/by-dealer-id:
    get:
      tags:
      - Signatures
      summary: Gets a customer signature record by dealer id
      description: Gets a customer signature record by dealer id
      operationId: findone_customer_signature_by_dealer_dms_customer_signature_by_dealer_id_get
      parameters:
      - required: true
        schema:
          title: Dealer Id
          type: string
        name: dealer_id
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerSignatureResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/document/signature-document:
    post:
      tags:
      - Signatures
      summary: Customer Document Signature
      operationId: signature_document_dms_customer_document_signature_document_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignatureCustomerDocument'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
components:
  schemas:
    CustomerSignatureResponseModel:
      title: CustomerSignatureResponseModel
      type: object
      properties:
        signature_image:
          title: Signature Image
          type: string
        initial_image:
          title: Initial Image
          type: string
        ip:
          title: Ip
          type: string
        reference_id:
          title: Reference Id
          type: string
        dealer_id:
          title: Dealer Id
          type: integer
        created_at:
          title: Created At
          type: string
          format: date-time
        updated_at:
          title: Updated At
          type: string
          format: date-time
        updated_by:
          title: Updated By
          type: string
        deleted_at:
          title: Deleted At
          type: string
          format: date-time
        deleted_by:
          title: Deleted By
          type: string
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
    CustomerSignatureUpdateModel:
      title: CustomerSignatureUpdateModel
      type: object
      properties:
        signature_image:
          title: Signature Image
          type: string
        initial_image:
          title: Initial Image
          type: string
        ip:
          title: Ip
          type: string
        updated_by:
          title: Updated By
          type: string
    SignatureCustomerDocument:
      title: SignatureCustomerDocument
      required:
      - document_url
      - document_name
      - customer_id
      - identifier
      type: object
      properties:
        document_url:
          title: Document Url
          type: string
        document_name:
          title: Document Name
          type: string
        customer_id:
          title: Customer Id
          type: string
        identifier:
          title: Identifier
          type: string
    CustomerSignatureModel:
      title: CustomerSignatureModel
      type: object
      properties:
        signature_image:
          title: Signature Image
          type: string
        initial_image:
          title: Initial Image
          type: string
        ip:
          title: Ip
          type: string
        reference_id:
          title: Reference Id
          type: string
        dealer_id:
          title: Dealer Id
          type: integer
    ResponseModel:
      title: ResponseModel
      required:
      - success
      type: object
      properties:
        success:
          title: Success
          type: boolean
    DeleteRequestModel:
      title: DeleteRequestModel
      required:
      - deleted_by
      type: object
      properties:
        deleted_by:
          title: Deleted By
          type: string
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: /signup/verify-otp
externalDocs:
  url: https://developer.appexnow.com/docs/lane/overview
  description: Product Documentation
