openapi: 3.0.2
info:
  version: 1.3.43
  title: Lane Keys API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: Lane offers a feature-rich, end-to-end order management system for asset leasing, loans and credit companies. Our platform covers all aspects, from conducting end-to-end sales to performing dealer and partner-related tasks and marketing-related activities.
servers:
- url: https://dms-api.netsolapp.io
tags:
- name: Keys
paths:
  /dms/configure/document-pre-signed-url/{key}:
    get:
      tags:
      - Keys
      summary: Get document package by identifier
      operationId: get_document_pre_signed_url_dms_configure_document_pre_signed_url__key__get
      parameters:
      - required: true
        schema:
          title: Key
          type: string
        name: key
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/external-keys/all:
    get:
      tags:
      - Keys
      summary: Get Keys
      description: Get All External Keys
      operationId: get_external_subscription_key_dms_external_keys_all_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalKeys'
components:
  schemas:
    ExternalKeys:
      title: ExternalKeys
      type: object
      properties:
        external_subscription_key:
          title: External Subscription Key
          type: string
        SSO_client_id:
          title: Sso Client Id
          type: string
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: /signup/verify-otp
externalDocs:
  url: https://developer.appexnow.com/docs/lane/overview
  description: Product Documentation
