openapi: 3.0.2
info:
  version: 1.3.43
  title: Lane Information API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: Lane offers a feature-rich, end-to-end order management system for asset leasing, loans and credit companies. Our platform covers all aspects, from conducting end-to-end sales to performing dealer and partner-related tasks and marketing-related activities.
servers:
- url: https://dms-api.netsolapp.io
tags:
- name: Information
paths:
  /dms/customer/license-info:
    get:
      tags:
      - Information
      summary: Get license info record by reference id
      description: Get license info record by reference id
      operationId: findone_license_info_dms_customer_license_info_get
      parameters:
      - required: true
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      - required: false
        schema:
          title: Is Presigned Url Required
          type: boolean
          default: false
        name: is_presigned_url_required
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    post:
      tags:
      - Information
      summary: Creates license information
      description: Create license information against customer
      operationId: add_license_info_dms_customer_license_info_post
      parameters:
      - required: false
        schema:
          title: Dealer Code
          type: string
        name: dealer_code
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LisenceInfoWithAdress'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicenseInfoResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    delete:
      tags:
      - Information
      summary: Delete single license information record
      description: Delete customer license information record of customer record ID
      operationId: delete_license_by_reference_id_dms_customer_license_info_delete
      parameters:
      - required: true
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    patch:
      tags:
      - Information
      summary: Updates License Info Record
      description: Updates a  license info setup record by license id
      operationId: update_license_info_dms_customer_license_info_patch
      parameters:
      - required: true
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      - required: false
        schema:
          title: Is Presigned Url Required
          type: boolean
          default: false
        name: is_presigned_url_required
        in: query
      - required: false
        schema:
          title: Dealer Code
          type: string
        name: dealer_code
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LisenceInfoUpdateModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicenseInfoUpdateResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/license-info-history:
    get:
      tags:
      - Information
      summary: Get all customer license information history
      description: Get all customer license information history
      operationId: get_license_information_history_dms_customer_license_info_history_get
      parameters:
      - required: true
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      - required: true
        schema:
          title: Page Number
          type: integer
        name: page_number
        in: query
      - required: true
        schema:
          title: Page Size
          minimum: 1
          type: integer
        name: page_size
        in: query
      - description: 'Format: YYYY-MM-DD'
        required: false
        schema:
          title: From Date
          type: string
          description: 'Format: YYYY-MM-DD'
        name: from_date
        in: query
      - description: 'Format: YYYY-MM-DD'
        required: false
        schema:
          title: To Date
          type: string
          description: 'Format: YYYY-MM-DD'
        name: to_date
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicenseInfoPaginationResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/employment-info:
    get:
      tags:
      - Information
      summary: Get single employment information record
      description: Get employment information by customer ID
      operationId: findone_employment_info_dms_customer_employment_info_get
      parameters:
      - required: true
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmploymentInfoResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    post:
      tags:
      - Information
      summary: Creates employment information
      description: Create employment information against customer
      operationId: add_customer_employment_info_dms_customer_employment_info_post
      parameters:
      - required: false
        schema:
          title: Dealer Code
          type: string
        name: dealer_code
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmploymentInfoCreateModelEmpTypeMendatory'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmploymentInfoResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    delete:
      tags:
      - Information
      summary: Delete single employment information record
      description: Delete employment information record of customer employment record ID
      operationId: delete_employment_info_by_id_dms_customer_employment_info_delete
      parameters:
      - required: true
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    patch:
      tags:
      - Information
      summary: Updates employment information
      description: Update employment information against customer
      operationId: update_customer_employment_info_dms_customer_employment_info_patch
      parameters:
      - required: true
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      - required: false
        schema:
          title: Dealer Code
          type: string
        name: dealer_code
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmploymentInfoUpdateModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmploymentInfoResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/payment-information:
    get:
      tags:
      - Information
      summary: Get customer payment information
      description: Get customer payment information
      operationId: get_customer_payment_info_by_dms_customer_payment_information_get
      parameters:
      - required: true
        schema:
          title: Reference Id
          minLength: 1
          type: string
        name: reference_id
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get Customer Payment Info By Dms Customer Payment Information Get
                type: array
                items:
                  $ref: '#/components/schemas/CustomerPaymentInformationResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    post:
      tags:
      - Information
      summary: Create customer payment information
      description: Create customer payment information
      operationId: add_customer_payment_info_dms_customer_payment_information_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerPaymentModelTypeMandatory'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerPaymentInformationResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    delete:
      tags:
      - Information
      summary: Delete customer payment information
      description: Delete all customer payment information
      operationId: delete_customer_payment_info_by_id_dms_customer_payment_information_delete
      parameters:
      - required: true
        schema:
          title: Reference Id
          minLength: 1
          type: string
        name: reference_id
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    patch:
      tags:
      - Information
      summary: Update customer payment information
      description: Update customer payment information
      operationId: update_customer_payment_dms_customer_payment_information_patch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerPaymentModelTypeMandatory'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerPaymentInformationResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/insurance-information:
    get:
      tags:
      - Information
      summary: Get customer insurance information by customer reference id and order reference number
      description: Get customer insurance information by customer reference id and order reference number
      operationId: get_insurance_info_by_order_and_customer_reference_number_dms_customer_insurance_information_get
      parameters:
      - description: provide valid reference_id
        required: true
        schema:
          title: Reference Id
          minLength: 1
          type: string
          description: provide valid reference_id
        name: reference_id
        in: query
      - description: provide valid order_reference_id
        required: true
        schema:
          title: Order Reference Id
          minLength: 1
          type: string
          description: provide valid order_reference_id
        name: order_reference_id
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsuranceInformationResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    post:
      tags:
      - Information
      summary: Create customer insurance information
      description: Create customer insurance information
      operationId: create_insurance_information_dms_customer_insurance_information_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InsuranceInformationWithAddressesModel'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsuranceInformationResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    delete:
      tags:
      - Information
      summary: Delete single customer insurance information
      description: Delete single customer insurance information
      operationId: delete_insurance_information_dms_customer_insurance_information_delete
      parameters:
      - required: true
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      deprecated: true
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    patch:
      tags:
      - Information
      summary: Updates customer insurance information
      description: Updates customer insurance information
      operationId: update_insurance_information_dms_customer_insurance_information_patch
      parameters:
      - required: true
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      - required: false
        schema:
          title: Order Reference Id
          type: string
        name: order_reference_id
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InsuranceInformationUpdateModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsuranceInformationResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/update-insurance-information:
    patch:
      tags:
      - Information
      summary: Updates customer insurance information
      description: Updates customer insurance information
      operationId: update_insurance_dms_customer_update_insurance_information_patch
      parameters:
      - required: true
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      - required: false
        schema:
          title: Order Reference Id
          type: string
        name: order_reference_id
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InsuranceInformationUpdateModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsuranceInformationResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/insurance-information-history:
    get:
      tags:
      - Information
      summary: Get customer insurance information history
      description: Get customer insurance information history
      operationId: get_insurance_information_history_dms_customer_insurance_information_history_get
      parameters:
      - required: true
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      - required: true
        schema:
          title: Page Number
          type: integer
        name: page_number
        in: query
      - required: true
        schema:
          title: Page Size
          minimum: 1
          type: integer
        name: page_size
        in: query
      - description: 'Format: YYYY-MM-DD'
        required: false
        schema:
          title: From Date
          type: string
          description: 'Format: YYYY-MM-DD'
          format: date
        name: from_date
        in: query
      - description: 'Format: YYYY-MM-DD'
        required: false
        schema:
          title: To Date
          type: string
          description: 'Format: YYYY-MM-DD'
          format: date
        name: to_date
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsuranceInfoPaginationResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      deprecated: true
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/insurance-information-by-customer:
    get:
      tags:
      - Information
      summary: Get customer insurance information by customer reference id
      description: Get customer insurance information by customer reference id
      operationId: get_insurance_information_by_reference_id_dms_customer_insurance_information_by_customer_get
      parameters:
      - required: true
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsuranceInformationResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/insurance-information-by-order:
    get:
      tags:
      - Information
      summary: Get customer insurance information by order reference number
      description: Get customer insurance information by order reference number
      operationId: get_insurance_information_by_order_reference_number_dms_customer_insurance_information_by_order_get
      parameters:
      - required: true
        schema:
          title: Order Reference Id
          type: string
        name: order_reference_id
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsuranceInformationResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/insurance-information/document-history:
    get:
      tags:
      - Information
      summary: Get customer insurance information document history
      description: Get customer insurance information document history
      operationId: get_insurance_documents_dms_customer_insurance_information_document_history_get
      parameters:
      - description: provide valid reference_id
        required: true
        schema:
          title: Reference Id
          minLength: 1
          type: string
          description: provide valid reference_id
        name: reference_id
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get Insurance Documents Dms Customer Insurance Information Document History Get
                type: array
                items:
                  $ref: '#/components/schemas/InsuranceDocumentsResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/delete-insurance-information:
    patch:
      tags:
      - Information
      summary: Delete single customer insurance information
      description: Delete single customer insurance information
      operationId: delete_insurance_info_dms_customer_delete_insurance_information_patch
      parameters:
      - required: true
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteRequestModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/insurance-information/add-document:
    post:
      tags:
      - Information
      summary: Add insurance document
      description: Add insurance document
      operationId: add_insurance_document_dms_customer_insurance_information_add_document_post
      parameters:
      - required: true
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InsuranceDocumentsModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Add Insurance Document Dms Customer Insurance Information Add Document Post
                type: array
                items:
                  $ref: '#/components/schemas/InsuranceDocumentsResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/insurance-information/remove-document:
    delete:
      tags:
      - Information
      summary: 'Delete insurance document '
      description: 'Delete insurance document '
      operationId: remove_insurance_document_depreceted_dms_customer_insurance_information_remove_document_delete
      parameters:
      - required: true
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      - required: true
        schema:
          title: Identifier
          type: string
        name: identifier
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      deprecated: true
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/insurance-information/remove-insurance-document:
    patch:
      tags:
      - Information
      summary: 'Delete insurance document '
      description: 'Delete insurance document '
      operationId: remove_insurance_document_dms_customer_insurance_information_remove_insurance_document_patch
      parameters:
      - required: true
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      - required: true
        schema:
          title: Identifier
          type: string
        name: identifier
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteRequestModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
components:
  schemas:
    CustomerAddressWithoutAddressTypeModel:
      title: CustomerAddressWithoutAddressTypeModel
      type: object
      properties:
        address_line_1:
          title: Address Line 1
          type: string
          description: Address line one
        address_line_2:
          title: Address Line 2
          type: string
          description: Address line two
        state_name:
          title: State Name
          type: string
          description: Address state name
        zip_code:
          title: Zip Code
          type: string
          description: Zip code
        county:
          title: County
          type: string
          description: Address county
        city:
          title: City
          type: string
          description: Address city
        contact_number:
          title: Contact Number
          type: string
          description: Contact number
        verified:
          title: Verified
          type: boolean
          description: Is Address verified
        move_in_date:
          title: Move In Date
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        is_garaging:
          title: Is Garaging
          type: boolean
          description: Garaging flag
          default: false
        identifier:
          title: Identifier
          minLength: 1
          type: string
    InsuranceInformationWithAddressesModel:
      title: InsuranceInformationWithAddressesModel
      required:
      - created_by
      type: object
      properties:
        order_reference_id:
          title: Order Reference Id
          type: string
        reference_id:
          title: Reference Id
          type: string
        insurer_name:
          title: Insurer Name
          type: string
        agent_phone:
          title: Agent Phone
          type: string
        subscription_id:
          title: Subscription Id
          type: string
        agent_name:
          title: Agent Name
          type: string
        policy_number:
          title: Policy Number
          type: string
        start_date:
          title: Start Date
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        expiration_date:
          title: Expiration Date
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        deductible_comprehensive:
          title: Deductible Comprehensive
          type: number
        deductible_collision:
          title: Deductible Collision
          type: number
        created_by:
          title: Created By
          type: string
        identifier:
          title: Identifier
          type: string
        is_verified:
          title: Is Verified
          type: boolean
          default: false
        insurance_documents:
          title: Insurance Documents
          type: array
          items:
            $ref: '#/components/schemas/InsuranceDocumentsModel'
        insurer_address:
          $ref: '#/components/schemas/CustomerAddressWithoutAddressTypeModel'
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
    LisenceInfoWithAdress:
      title: LisenceInfoWithAdress
      type: object
      properties:
        first_name:
          title: First Name
          type: string
          description: First name
        last_name:
          title: Last Name
          type: string
          description: Last name
        date_of_birth:
          title: Date Of Birth
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        is_pdf_417:
          title: Is Pdf 417
          type: boolean
        license_number:
          title: License Number
          type: string
          description: license number
        issue_date:
          title: Issue Date
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        expiry_date:
          title: Expiry Date
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        front_image:
          title: Front Image
          type: string
          description: license front image
        back_image:
          title: Back Image
          type: string
          description: license back image
        status:
          title: Status
          type: string
        call_type:
          $ref: '#/components/schemas/CallType'
        selfie_image:
          title: Selfie Image
          type: string
        cropped_front_image:
          title: Cropped Front Image
          type: string
        cropped_back_image:
          title: Cropped Back Image
          type: string
        cropped_selfie_image:
          title: Cropped Selfie Image
          type: string
        is_selfie_verified:
          title: Is Selfie Verified
          type: boolean
        created_by:
          title: Created By
          type: string
        reference_id:
          title: Reference Id
          type: string
        identifier:
          title: Identifier
          minLength: 1
          type: string
        mitek_response:
          title: Mitek Response
          type: string
        address:
          $ref: '#/components/schemas/CustomerAddressWithoutAddressTypeModel'
    CustomerPaymentInformationResponseModel:
      title: CustomerPaymentInformationResponseModel
      required:
      - reference_id
      type: object
      properties:
        type:
          title: Type
          type: string
        stripe_payment_method_id:
          title: Stripe Payment Method Id
          type: string
        access_token:
          title: Access Token
          type: string
        account_id:
          title: Account Id
          type: string
        Bank_name:
          title: Bank Name
          type: string
        last4:
          title: Last4
          type: integer
        default:
          title: Default
          type: boolean
        reference_id:
          title: Reference Id
          type: string
          description: Reference Id
        created_at:
          title: Created At
          type: string
          format: date-time
        created_by:
          title: Created By
          type: string
        updated_at:
          title: Updated At
          type: string
          format: date-time
        updated_by:
          title: Updated By
          type: string
        deleted_at:
          title: Deleted At
          type: string
          format: date-time
        deleted_by:
          title: Deleted By
          type: string
    InsuranceInformationUpdateModel:
      title: InsuranceInformationUpdateModel
      required:
      - updated_by
      type: object
      properties:
        order_reference_id:
          title: Order Reference Id
          type: string
        insurer_name:
          title: Insurer Name
          type: string
        agent_phone:
          title: Agent Phone
          type: string
        subscription_id:
          title: Subscription Id
          type: string
        agent_name:
          title: Agent Name
          type: string
        status:
          $ref: '#/components/schemas/InsuranceDetailStatus'
        policy_number:
          title: Policy Number
          type: string
        start_date:
          title: Start Date
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        expiration_date:
          title: Expiration Date
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        deductible_comprehensive:
          title: Deductible Comprehensive
          type: number
        deductible_collision:
          title: Deductible Collision
          type: number
        is_verified:
          title: Is Verified
          type: boolean
          default: false
        updated_by:
          title: Updated By
          type: string
        insurer_address:
          $ref: '#/components/schemas/AddressBasicModel'
        insurance_documents:
          title: Insurance Documents
          type: array
          items:
            $ref: '#/components/schemas/InsuranceDocumentsModel'
    InsuranceDetailStatus:
      title: InsuranceDetailStatus
      enum:
      - Verified
      - Unverified
      - Expired
      type: string
      description: An enumeration.
    CustomerUpdateAddressModel:
      title: CustomerUpdateAddressModel
      required:
      - address_type
      type: object
      properties:
        address_line_1:
          title: Address Line 1
          type: string
          description: Address line one
        address_line_2:
          title: Address Line 2
          type: string
          description: Address line two
        state_name:
          title: State Name
          type: string
          description: Address state name
        zip_code:
          title: Zip Code
          type: string
          description: Zip code
        county:
          title: County
          type: string
          description: Address county
        city:
          title: City
          type: string
          description: Address city
        contact_number:
          title: Contact Number
          type: string
          description: Contact number
        verified:
          title: Verified
          type: boolean
          description: Is Address verified
        move_in_date:
          title: Move In Date
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        is_garaging:
          title: Is Garaging
          type: boolean
          description: Garaging flag
          default: false
        address_type:
          $ref: '#/components/schemas/AddressTypes'
    InsuranceInfoPaginationResponse:
      title: InsuranceInfoPaginationResponse
      type: object
      properties:
        result:
          title: Result
          type: array
          items:
            $ref: '#/components/schemas/InsuranceInformationResponseModel'
        page_number:
          title: Page Number
          type: integer
        page_size:
          title: Page Size
          type: integer
        total_pages:
          title: Total Pages
          type: integer
        total_results:
          title: Total Results
          type: integer
    InsuranceDocumentsModel:
      title: InsuranceDocumentsModel
      required:
      - content_type
      - name
      - file_size
      type: object
      properties:
        document:
          title: Document
          type: string
        content_type:
          title: Content Type
          minLength: 1
          type: string
          description: 'format: application/pdf, image/png '
        name:
          title: Name
          minLength: 1
          type: string
        file_size:
          title: File Size
          minLength: 1
          type: string
        created_by:
          title: Created By
          type: string
        doucment_reference_id:
          title: Doucment Reference Id
          type: string
    AddressResponseModel:
      title: AddressResponseModel
      required:
      - address_type
      type: object
      properties:
        address_line_1:
          title: Address Line 1
          type: string
          description: Address line one
        address_line_2:
          title: Address Line 2
          type: string
          description: Address line two
        state_name:
          title: State Name
          type: string
          description: Address state name
        zip_code:
          title: Zip Code
          type: string
          description: Zip code
        county:
          title: County
          type: string
          description: Address county
        city:
          title: City
          type: string
          description: Address city
        contact_number:
          title: Contact Number
          type: string
          description: Contact number
        verified:
          title: Verified
          type: boolean
          description: Is Address verified
        move_in_date:
          title: Move In Date
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        is_garaging:
          title: Is Garaging
          type: boolean
          description: Garaging flag
          default: false
        address_type:
          $ref: '#/components/schemas/AddressTypes'
        identifier:
          title: Identifier
          type: string
        created_at:
          title: Created At
          type: string
          format: date-time
        created_by:
          title: Created By
          type: string
        updated_at:
          title: Updated At
          type: string
          format: date-time
        updated_by:
          title: Updated By
          type: string
        deleted_at:
          title: Deleted At
          type: string
          format: date-time
        deleted_by:
          title: Deleted By
          type: string
        reference_id:
          title: Reference Id
          type: string
        is_active:
          title: Is Active
          type: boolean
    EmploymentInfoCreateModelEmpTypeMendatory:
      title: EmploymentInfoCreateModelEmpTypeMendatory
      required:
      - employment_type
      - reference_id
      type: object
      properties:
        employment_type:
          title: Employment Type
          minLength: 1
          type: string
          description: Employment type
        name:
          title: Name
          type: string
          description: Name
        phone:
          title: Phone
          type: string
          description: Phone
        employed_since:
          title: Employed Since
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        occupation:
          title: Occupation
          type: string
          description: Occupation
        annual_employment_income:
          title: Annual Employment Income
          type: number
          description: Annual employment income
        annual_other_income:
          title: Annual Other Income
          type: number
          description: Annual other income
        source_of_other_income:
          title: Source Of Other Income
          type: string
          description: Annual other income
        reference_id:
          title: Reference Id
          minLength: 1
          type: string
          description: Reference ID for Employment
        address:
          $ref: '#/components/schemas/CustomerAddressModel'
    DeleteRequestModel:
      title: DeleteRequestModel
      required:
      - deleted_by
      type: object
      properties:
        deleted_by:
          title: Deleted By
          type: string
    LicenseInfoPaginationResponse:
      title: LicenseInfoPaginationResponse
      type: object
      properties:
        result:
          title: Result
          type: array
          items:
            $ref: '#/components/schemas/LicenseInfoResponseModel'
        page_number:
          title: Page Number
          type: integer
        page_size:
          title: Page Size
          type: integer
        total_pages:
          title: Total Pages
          type: integer
        total_results:
          title: Total Results
          type: integer
    InsuranceDocumentsResponseModel:
      title: InsuranceDocumentsResponseModel
      type: object
      properties:
        document_uri:
          title: Document Uri
          type: string
        content_type:
          title: Content Type
          type: string
        name:
          title: Name
          type: string
        file_size:
          title: File Size
          type: string
        identifier:
          title: Identifier
          type: string
        is_active:
          title: Is Active
          type: boolean
        created_by:
          title: Created By
          type: string
        created_at:
          title: Created At
          type: string
          format: date
        deleted_at:
          title: Deleted At
          type: string
          format: date
        deleted_by:
          title: Deleted By
          type: string
    LicenseInfoUpdateResponseModel:
      title: LicenseInfoUpdateResponseModel
      type: object
      properties:
        first_name:
          title: First Name
          type: string
          description: First name
        last_name:
          title: Last Name
          type: string
          description: Last name
        date_of_birth:
          title: Date Of Birth
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        is_pdf_417:
          title: Is Pdf 417
          type: boolean
        license_number:
          title: License Number
          type: string
          description: license number
        issue_date:
          title: Issue Date
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        expiry_date:
          title: Expiry Date
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        front_image:
          title: Front Image
          type: string
          description: license front image
        back_image:
          title: Back Image
          type: string
          description: license back image
        status:
          title: Status
          type: string
        call_type:
          $ref: '#/components/schemas/CallType'
        selfie_image:
          title: Selfie Image
          type: string
        cropped_front_image:
          title: Cropped Front Image
          type: string
        cropped_back_image:
          title: Cropped Back Image
          type: string
        cropped_selfie_image:
          title: Cropped Selfie Image
          type: string
        is_selfie_verified:
          title: Is Selfie Verified
          type: boolean
        created_by:
          title: Created By
          type: string
        is_active:
          title: Is Active
          type: boolean
        identifier:
          title: Identifier
          type: string
        created_at:
          title: Created At
          type: string
          format: date-time
        updated_at:
          title: Updated At
          type: string
          format: date-time
        updated_by:
          title: Updated By
          type: string
        deleted_at:
          title: Deleted At
          type: string
          format: date-time
        deleted_by:
          title: Deleted By
          type: string
        address:
          $ref: '#/components/schemas/AddressBasicModel'
    CustomerAddressModel:
      title: CustomerAddressModel
      required:
      - address_type
      type: object
      properties:
        address_line_1:
          title: Address Line 1
          type: string
          description: Address line one
        address_line_2:
          title: Address Line 2
          type: string
          description: Address line two
        state_name:
          title: State Name
          type: string
          description: Address state name
        zip_code:
          title: Zip Code
          type: string
          description: Zip code
        county:
          title: County
          type: string
          description: Address county
        city:
          title: City
          type: string
          description: Address city
        contact_number:
          title: Contact Number
          type: string
          description: Contact number
        verified:
          title: Verified
          type: boolean
          description: Is Address verified
        move_in_date:
          title: Move In Date
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        is_garaging:
          title: Is Garaging
          type: boolean
          description: Garaging flag
          default: false
        address_type:
          $ref: '#/components/schemas/AddressTypes'
        identifier:
          title: Identifier
          minLength: 1
          type: string
    CallType:
      title: CallType
      enum:
      - manual
      - auto
      type: string
      description: An enumeration.
    ResponseModel:
      title: ResponseModel
      required:
      - success
      type: object
      properties:
        success:
          title: Success
          type: boolean
    CustomerPaymentModelTypeMandatory:
      title: CustomerPaymentModelTypeMandatory
      required:
      - type
      - reference_id
      type: object
      properties:
        type:
          title: Type
          minLength: 1
          type: string
        stripe_payment_method_id:
          title: Stripe Payment Method Id
          type: string
        access_token:
          title: Access Token
          type: string
        account_id:
          title: Account Id
          type: string
        Bank_name:
          title: Bank Name
          type: string
        last4:
          title: Last4
          type: integer
        default:
          title: Default
          type: boolean
        reference_id:
          title: Reference Id
          minLength: 1
          type: string
    EmploymentInfoUpdateModel:
      title: EmploymentInfoUpdateModel
      type: object
      properties:
        employment_type:
          title: Employment Type
          type: string
          description: Employment type
        name:
          title: Name
          type: string
          description: Name
        phone:
          title: Phone
          type: string
          description: Phone
        employed_since:
          title: Employed Since
          type: string
          description: Employed since
          format: date
        occupation:
          title: Occupation
          type: string
          description: Occupation
        annual_employment_income:
          title: Annual Employment Income
          type: number
          description: Annual employment income
        annual_other_income:
          title: Annual Other Income
          type: number
          description: Annual other income
        source_of_other_income:
          title: Source Of Other Income
          type: string
          description: Annual other income
        address:
          $ref: '#/components/schemas/CustomerUpdateAddressModel'
    AddressTypes:
      title: AddressTypes
      enum:
      - Mailing
      - Invoice
      - Office
      - Garaging
      - DealerAddress
      - DrivingLicense
      - Billing
      - InsuranceAddress
      - Residential
      - Employment
      type: string
      description: An enumeration.
    LicenseInfoResponseModel:
      title: LicenseInfoResponseModel
      type: object
      properties:
        first_name:
          title: First Name
          type: string
          description: First name
        last_name:
          title: Last Name
          type: string
          description: Last name
        date_of_birth:
          title: Date Of Birth
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        is_pdf_417:
          title: Is Pdf 417
          type: boolean
        license_number:
          title: License Number
          type: string
          description: license number
        issue_date:
          title: Issue Date
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        expiry_date:
          title: Expiry Date
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        front_image:
          title: Front Image
          type: string
          description: license front image
        back_image:
          title: Back Image
          type: string
          description: license back image
        status:
          title: Status
          type: string
        call_type:
          $ref: '#/components/schemas/CallType'
        selfie_image:
          title: Selfie Image
          type: string
        cropped_front_image:
          title: Cropped Front Image
          type: string
        cropped_back_image:
          title: Cropped Back Image
          type: string
        cropped_selfie_image:
          title: Cropped Selfie Image
          type: string
        is_selfie_verified:
          title: Is Selfie Verified
          type: boolean
        created_by:
          title: Created By
          type: string
        reference_id:
          title: Reference Id
          type: string
        is_active:
          title: Is Active
          type: boolean
        identifier:
          title: Identifier
          type: string
        created_at:
          title: Created At
          type: string
          format: date-time
        updated_at:
          title: Updated At
          type: string
          format: date-time
        updated_by:
          title: Updated By
          type: string
        deleted_at:
          title: Deleted At
          type: string
          format: date-time
        deleted_by:
          title: Deleted By
          type: string
        address:
          $ref: '#/components/schemas/AddressBasicModel'
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    InsuranceInformationResponseModel:
      title: InsuranceInformationResponseModel
      type: object
      properties:
        order_reference_id:
          title: Order Reference Id
          type: string
        reference_id:
          title: Reference Id
          type: string
        insurer_name:
          title: Insurer Name
          type: string
        agent_phone:
          title: Agent Phone
          type: string
        subscription_id:
          title: Subscription Id
          type: string
        agent_name:
          title: Agent Name
          type: string
        policy_number:
          title: Policy Number
          type: string
        start_date:
          title: Start Date
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        expiration_date:
          title: Expiration Date
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        deductible_comprehensive:
          title: Deductible Comprehensive
          type: number
        deductible_collision:
          title: Deductible Collision
          type: number
        created_by:
          title: Created By
          type: string
        identifier:
          title: Identifier
          type: string
        is_verified:
          title: Is Verified
          type: boolean
          default: false
        insurance_documents:
          title: Insurance Documents
          type: array
          items:
            $ref: '#/components/schemas/InsuranceDocumentsResponseModel'
        insurer_address:
          $ref: '#/components/schemas/CustomerAddressWithoutAddressTypeModel'
        status:
          $ref: '#/components/schemas/InsuranceDetailStatus'
        is_active:
          title: Is Active
          type: boolean
        is_deleted:
          title: Is Deleted
          type: boolean
        created_at:
          title: Created At
          type: string
          format: date-time
        updated_at:
          title: Updated At
          type: string
          format: date-time
        updated_by:
          title: Updated By
          type: string
        deleted_at:
          title: Deleted At
          type: string
          format: date
        deleted_by:
          title: Deleted By
          type: string
    LisenceInfoUpdateModel:
      title: LisenceInfoUpdateModel
      type: object
      properties:
        first_name:
          title: First Name
          type: string
          description: First name
        last_name:
          title: Last Name
          type: string
          description: Last name
        date_of_birth:
          title: Date Of Birth
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        is_pdf_417:
          title: Is Pdf 417
          type: boolean
        license_number:
          title: License Number
          type: string
          description: license number
        issue_date:
          title: Issue Date
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        expiry_date:
          title: Expiry Date
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        front_image:
          title: Front Image
          type: string
          description: license front image
        back_image:
          title: Back Image
          type: string
          description: license back image
        status:
          title: Status
          type: string
        call_type:
          $ref: '#/components/schemas/CallType'
        selfie_image:
          title: Selfie Image
          type: string
        cropped_front_image:
          title: Cropped Front Image
          type: string
        cropped_back_image:
          title: Cropped Back Image
          type: string
        cropped_selfie_image:
          title: Cropped Selfie Image
          type: string
        is_selfie_verified:
          title: Is Selfie Verified
          type: boolean
        created_by:
          title: Created By
          type: string
        mitek_response:
          title: Mitek Response
          type: string
        updated_by:
          title: Updated By
          type: string
        address:
          $ref: '#/components/schemas/CustomerAddressWithoutAddressTypeModel'
    EmploymentInfoResponseModel:
      title: EmploymentInfoResponseModel
      type: object
      properties:
        employment_type:
          title: Employment Type
          type: string
          description: Employment type
        name:
          title: Name
          type: string
          description: Name
        phone:
          title: Phone
          type: string
          description: Phone
        employed_since:
          title: Employed Since
          type: string
          description: Employed since
          format: date
        occupation:
          title: Occupation
          type: string
          description: Occupation
        annual_employment_income:
          title: Annual Employment Income
          type: number
          description: Annual employment income
        annual_other_income:
          title: Annual Other Income
          type: number
          description: Annual other income
        source_of_other_income:
          title: Source Of Other Income
          type: string
          description: Annual other income
        created_at:
          title: Created At
          type: string
          format: date-time
        created_by:
          title: Created By
          type: string
        updated_at:
          title: Updated At
          type: string
          format: date-time
        updated_by:
          title: Updated By
          type: string
        deleted_at:
          title: Deleted At
          type: string
          format: date-time
        deleted_by:
          title: Deleted By
          type: string
        reference_id:
          title: Reference Id
          type: string
        address:
          $ref: '#/components/schemas/AddressResponseModel'
    AddressBasicModel:
      title: AddressBasicModel
      type: object
      properties:
        address_line_1:
          title: Address Line 1
          type: string
          description: Address line one
        address_line_2:
          title: Address Line 2
          type: string
          description: Address line two
        state_name:
          title: State Name
          type: string
          description: Address state name
        zip_code:
          title: Zip Code
          type: string
          description: Zip code
        county:
          title: County
          type: string
          description: Address county
        city:
          title: City
          type: string
          description: Address city
        contact_number:
          title: Contact Number
          type: string
          description: Contact number
        verified:
          title: Verified
          type: boolean
          description: Is Address verified
        move_in_date:
          title: Move In Date
          type: string
          description: 'format: YYYY-MM-DD'
          format: date
        is_garaging:
          title: Is Garaging
          type: boolean
          description: Garaging flag
          default: false
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: /signup/verify-otp
externalDocs:
  url: https://developer.appexnow.com/docs/lane/overview
  description: Product Documentation
