openapi: 3.0.2
info:
  version: 1.3.43
  title: Lane Inspection API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: Lane offers a feature-rich, end-to-end order management system for asset leasing, loans and credit companies. Our platform covers all aspects, from conducting end-to-end sales to performing dealer and partner-related tasks and marketing-related activities.
servers:
- url: https://dms-api.netsolapp.io
tags:
- name: Inspection
paths:
  /dms/set-trade-in-inspection-status/{order_id}:
    patch:
      tags:
      - Inspection
      summary: Set Trade-in inspection status
      description: This method will set Trade-in inspection status
      operationId: set_trade_in_inspection_status_dms_set_trade_in_inspection_status__order_id__patch
      parameters:
      - required: true
        schema:
          title: Order Id
          type: integer
        name: order_id
        in: path
      - required: true
        schema:
          $ref: '#/components/schemas/TradeInInspectionStatus'
        name: inspection_status
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
components:
  schemas:
    TradeInInspectionStatus:
      title: TradeInInspectionStatus
      enum:
      - Pending
      - Completed
      description: An enumeration.
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: /signup/verify-otp
externalDocs:
  url: https://developer.appexnow.com/docs/lane/overview
  description: Product Documentation
