openapi: 3.0.2
info:
  version: 1.3.43
  title: Lane Fees API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: Lane offers a feature-rich, end-to-end order management system for asset leasing, loans and credit companies. Our platform covers all aspects, from conducting end-to-end sales to performing dealer and partner-related tasks and marketing-related activities.
servers:
- url: https://dms-api.netsolapp.io
tags:
- name: Fees
paths:
  /dms/configure/order-fees:
    post:
      tags:
      - Fees
      summary: Creates fee record for order
      description: Creates fee record for order
      operationId: add_order_fee_dms_configure_order_fees_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderFeeModel'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderFeeModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/configure/order-fees/{identifier}:
    get:
      tags:
      - Fees
      summary: Get all order fees for order
      description: Get all order fees for order
      operationId: get_order_fee_by_id_dms_configure_order_fees__identifier__get
      parameters:
      - required: true
        schema:
          title: Identifier
          type: string
        name: identifier
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get Order Fee By Id Dms Configure Order Fees  Identifier  Get
                type: array
                items:
                  $ref: '#/components/schemas/OrderFeeModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    delete:
      tags:
      - Fees
      summary: Delete all orders fees filtered on identifier
      description: Delete all orders fees filtered on identifier
      operationId: delete_order_fees_dms_configure_order_fees__identifier__delete
      parameters:
      - required: true
        schema:
          title: Identifier
          type: string
        name: identifier
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderFeeModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    patch:
      tags:
      - Fees
      summary: Update fee record for order
      description: Update fee record for order
      operationId: update_order_fee_dms_configure_order_fees__identifier__patch
      parameters:
      - required: true
        schema:
          title: Identifier
          type: string
        name: identifier
        in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderFeeModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderFeeModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
components:
  schemas:
    OrderFeeModel:
      title: OrderFeeModel
      required:
      - dealer_fee_id
      - dealer_id
      - applied_price
      - order_id
      - lender_id
      type: object
      properties:
        identifier:
          title: Identifier
          type: string
        dealer_fee_id:
          title: Dealer Fee Id
          type: integer
        dealer_id:
          title: Dealer Id
          type: integer
        applied_price:
          title: Applied Price
          type: number
        order_id:
          title: Order Id
          type: integer
        lender_id:
          title: Lender Id
          type: integer
        vendor:
          title: Vendor
          type: string
        fee_type:
          title: Fee Type
          type: string
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: /signup/verify-otp
externalDocs:
  url: https://developer.appexnow.com/docs/lane/overview
  description: Product Documentation
