openapi: 3.0.2
info:
  version: 1.3.43
  title: Lane Vehicle API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: Lane offers a feature-rich, end-to-end order management system for asset leasing, loans and credit companies. Our platform covers all aspects, from conducting end-to-end sales to performing dealer and partner-related tasks and marketing-related activities.
servers:
- url: https://dms-api.netsolapp.io
tags:
- name: Vehicle
paths:
  /dms/vehicle-detail/{vin}:
    get:
      tags:
      - Vehicle
      summary: Get Vehicle Detail By Vin
      operationId: get_vehicle_detail_by_vin_dms_vehicle_detail__vin__get
      parameters:
      - required: true
        schema:
          title: Vin
          type: string
        name: vin
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/vehicle/{vin}:
    get:
      tags:
      - Vehicle
      summary: Get Vehicle By Vin
      operationId: get_vehicle_by_vin_dms_vehicle__vin__get
      parameters:
      - required: true
        schema:
          title: Vin
          type: string
        name: vin
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/vehicle:
    get:
      tags:
      - Vehicle
      summary: Get All Vehicles
      operationId: get_all_vehicles_dms_vehicle_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/get-vehicle-detail-by-vin/:
    post:
      tags:
      - Vehicle
      summary: Get vehicle details through VIN
      description: This method will provide vehicle details through VIN
      operationId: get_vehicle_details_by_vin_dms_get_vehicle_detail_by_vin__post
      parameters:
      - description: Vehicle valuation service to use
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/VehicleValuationProviders'
          description: Vehicle valuation service to use
        name: x-service-provider
        in: header
      - description: Dealer code from the header
        required: false
        schema:
          title: X-Dealer-Code
          type: string
          description: Dealer code from the header
        name: x-dealer-code
        in: header
      - description: Company ID from the dealer
        required: false
        schema:
          title: Company-Id
          type: string
          description: Company ID from the dealer
        name: company-id
        in: header
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TradeInDecodeVin'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
components:
  schemas:
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
    VehicleValuationProviders:
      title: VehicleValuationProviders
      enum:
      - KBB
      - JDPower
      type: string
      description: An enumeration.
    OptionFilterType:
      title: OptionFilterType
      enum:
      - All
      - DecodedOnly
      type: string
      description: An enumeration.
    PlateformVehicleType:
      title: PlateformVehicleType
      enum:
      - Car
      - NewCar
      - UsedCar
      - MotorBike
      type: string
      description: An enumeration.
    TradeInDecodeVin:
      title: TradeInDecodeVin
      type: object
      properties:
        platform_vehicle_type:
          $ref: '#/components/schemas/PlateformVehicleType'
        vin:
          title: Vin
          type: string
          default: ''
        option_filter:
          $ref: '#/components/schemas/OptionFilterType'
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: /signup/verify-otp
externalDocs:
  url: https://developer.appexnow.com/docs/lane/overview
  description: Product Documentation
