openapi: 3.0.2
info:
  version: 1.3.43
  title: Lane Metadata API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: Lane offers a feature-rich, end-to-end order management system for asset leasing, loans and credit companies. Our platform covers all aspects, from conducting end-to-end sales to performing dealer and partner-related tasks and marketing-related activities.
servers:
- url: https://dms-api.netsolapp.io
tags:
- name: Metadata
paths:
  /dms/configure/metadata:
    patch:
      tags:
      - Metadata
      summary: Add Meta Data
      operationId: add_meta_data_dms_configure_metadata_patch
      parameters:
      - required: true
        schema:
          title: Document Package Id
          type: string
        name: document_package_id
        in: query
      - required: true
        schema:
          title: Document Id
          type: string
        name: document_id
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentMetaData'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
components:
  schemas:
    DocumentMetaData:
      title: DocumentMetaData
      type: object
      properties:
        meta_data:
          title: Meta Data
          type: object
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
    ErrorDetailModel:
      title: ErrorDetailModel
      required:
      - detail
      type: object
      properties:
        detail:
          $ref: '#/components/schemas/ErrorModel'
    ErrorModel:
      title: ErrorModel
      type: object
      properties:
        code:
          title: Error code
          type: string
          description: Error code based on the validation, if any validation fail
        message:
          title: Error message
          type: string
          description: Error code based on the validation, if any validation fail
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: /signup/verify-otp
externalDocs:
  url: https://developer.appexnow.com/docs/lane/overview
  description: Product Documentation
