openapi: 3.0.2
info:
  version: 1.3.43
  title: Lane Comments API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: Lane offers a feature-rich, end-to-end order management system for asset leasing, loans and credit companies. Our platform covers all aspects, from conducting end-to-end sales to performing dealer and partner-related tasks and marketing-related activities.
servers:
- url: https://dms-api.netsolapp.io
tags:
- name: Comments
paths:
  /dms/customer/comment:
    post:
      tags:
      - Comments
      summary: Create customer comment diary
      description: Create customer comment diary
      operationId: add_comment_dms_customer_comment_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerCommentDiaryModel'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerCommentDiaryResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    patch:
      tags:
      - Comments
      summary: Update customer comment diary
      description: Update customer comment diary
      operationId: update_comment_dms_customer_comment_patch
      parameters:
      - required: true
        schema:
          title: Identifier
          type: string
        name: identifier
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerCommentDiaryUpdateModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerCommentDiaryResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/comments:
    get:
      tags:
      - Comments
      summary: Get customer comment diary
      description: Get customer comment diary
      operationId: get_all_comments_dms_customer_comments_get
      parameters:
      - required: false
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      - required: false
        schema:
          title: Page Number
          type: integer
        name: page_number
        in: query
      - required: false
        schema:
          title: Page Size
          minimum: 1
          type: integer
        name: page_size
        in: query
      - required: false
        schema:
          title: Order Reference Id
          type: string
        name: order_reference_id
        in: query
      - required: false
        schema:
          title: Comment
          type: string
        name: comment
        in: query
      - description: Accepts only string values
        required: false
        schema:
          title: Comment Category
          type: array
          items:
            type: string
          description: Accepts only string values
        name: category
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerCommentDiaryPaginatedResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
components:
  schemas:
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    CustomerCommentDiaryModel:
      title: CustomerCommentDiaryModel
      required:
      - category
      - comment
      type: object
      properties:
        order_reference_id:
          title: Order Reference Id
          type: string
        reference_id:
          title: Reference Id
          type: string
        category:
          title: Category
          minLength: 1
          type: string
        comment:
          title: Comment
          minLength: 1
          type: string
        identifier:
          title: Identifier
          minLength: 1
          type: string
        created_by:
          title: Created By
          type: string
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
    CustomerCommentDiaryPaginatedResponseModel:
      title: CustomerCommentDiaryPaginatedResponseModel
      type: object
      properties:
        result:
          title: Result
          type: array
          items:
            $ref: '#/components/schemas/CustomerCommentDiaryResponseModel'
        page_number:
          title: Page Number
          type: integer
        page_size:
          title: Page Size
          type: integer
        total_pages:
          title: Total Pages
          type: integer
        total_results:
          title: Total Results
          type: integer
    CustomerCommentDiaryUpdateModel:
      title: CustomerCommentDiaryUpdateModel
      type: object
      properties:
        order_reference_id:
          title: Order Reference Id
          type: string
        category:
          title: Category
          type: string
        comment:
          title: Comment
          type: string
        updated_by:
          title: Updated By
          type: string
    CustomerCommentDiaryResponseModel:
      title: CustomerCommentDiaryResponseModel
      type: object
      properties:
        order_reference_id:
          title: Order Reference Id
          type: string
        reference_id:
          title: Reference Id
          type: string
        category:
          title: Category
          type: string
        comment:
          title: Comment
          type: string
        identifier:
          title: Identifier
          type: string
        created_at:
          title: Created At
          type: string
          format: date-time
        updated_at:
          title: Updated At
          type: string
          format: date-time
        created_by:
          title: Created By
          type: string
        updated_by:
          title: Updated By
          type: string
        deleted_at:
          title: Deleted At
          type: string
          format: date-time
        deleted_by:
          title: Deleted By
          type: string
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: /signup/verify-otp
externalDocs:
  url: https://developer.appexnow.com/docs/lane/overview
  description: Product Documentation
