openapi: 3.0.2
info:
  version: 1.3.43
  title: Lane Status API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: Lane offers a feature-rich, end-to-end order management system for asset leasing, loans and credit companies. Our platform covers all aspects, from conducting end-to-end sales to performing dealer and partner-related tasks and marketing-related activities.
servers:
- url: https://dms-api.netsolapp.io
tags:
- name: Status
paths:
  /dms/customer/status-flag:
    get:
      tags:
      - Status
      summary: Get all customer status flag
      description: Get all customer status flag
      operationId: get_all_status_flag_dms_customer_status_flag_get
      parameters:
      - required: true
        schema:
          title: Reference Id
          type: string
        name: reference_id
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get All Status Flag Dms Customer Status Flag Get
                type: array
                items:
                  $ref: '#/components/schemas/CustomerStatusFlagResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    post:
      tags:
      - Status
      summary: Create customer status flag
      description: Create customer status flag
      operationId: add_status_flag_dms_customer_status_flag_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerStatusFlagModel'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerStatusFlagResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    delete:
      tags:
      - Status
      summary: Remove customer status flag
      description: Remove customer status flag
      operationId: delete_status_dms_customer_status_flag_delete
      parameters:
      - required: true
        schema:
          title: Identifier
          type: string
        name: identifier
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerDeleteModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      deprecated: true
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/remove-status-flag:
    patch:
      tags:
      - Status
      summary: Remove customer status flag
      description: Remove customer status flag
      operationId: delete_status_flag_dms_customer_remove_status_flag_patch
      parameters:
      - required: true
        schema:
          title: Identifier
          type: string
        name: identifier
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteRequestModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerDeleteModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/configure/order-status/:
    post:
      tags:
      - Status
      summary: Get orders record filtered on order status
      description: Get orders record filtered on order status
      operationId: get_orders_by_status_dms_configure_order_status__post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetOrderStatusModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/configure/order/update-status/{reference_number}:
    patch:
      tags:
      - Status
      summary: Update order status record by order reference number
      description: Update order status record by order reference number
      operationId: update_order_status_by_reference_number_dms_configure_order_update_status__reference_number__patch
      parameters:
      - required: true
        schema:
          title: Reference Number
          type: string
        name: reference_number
        in: path
      - required: false
        schema:
          title: Is Inventory Check
          type: boolean
          default: false
        name: is_inventory_check
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderStatusRequestModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/configure/order/status/:
    post:
      tags:
      - Status
      summary: Update order status history record by order reference number
      description: Update order status history record by order reference number
      operationId: get_orders_status_history_dms_configure_order_status__post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderStatusHistoryModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /dms/configure/order/status-by-dealer:
    get:
      tags:
      - Status
      summary: Get order status by dealer
      description: Get order status by dealer
      operationId: get_order_status_by_delaer_id_and_reference_number_dms_configure_order_status_by_dealer_get
      parameters:
      - required: true
        schema:
          title: Dealer Id
          type: integer
        name: dealer_id
        in: query
      - required: true
        schema:
          title: Reference Number
          type: string
        name: reference_number
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/order/update-payment-status/{reference_number}:
    patch:
      tags:
      - Status
      summary: Update Payment Status
      operationId: update_payment_status_dms_order_update_payment_status__reference_number__patch
      parameters:
      - required: true
        schema:
          title: Reference Number
          type: string
        name: reference_number
        in: path
      - required: true
        schema:
          title: Payment Indicator
          type: boolean
        name: payment_indicator
        in: query
      - required: false
        schema:
          title: Order Status
          type: string
        name: order_status
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /dms/order/change-proposal-status:
    patch:
      tags:
      - Status
      summary: Update order proposal status
      operationId: update_proposal_status_dms_order_change_proposal_status_patch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProposalStatusRequestModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/configure/disclaimer-status:
    patch:
      tags:
      - Status
      summary: Update Disclaimer status
      operationId: update_disclaimer_status_by_id_dms_configure_disclaimer_status_patch
      parameters:
      - required: true
        schema:
          title: Name
          type: string
        name: name
        in: query
      - required: true
        schema:
          title: Change Status
          type: string
        name: change_status
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Update Disclaimer Status By Id Dms Configure Disclaimer Status Patch
                type: boolean
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/document/status:
    get:
      tags:
      - Status
      summary: Get customer document by identifier
      operationId: get_customer_document_identifier_dms_customer_document_status_get
      parameters:
      - required: true
        schema:
          title: Document Identifier
          type: string
        name: document_identifier
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerDocumentResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    patch:
      tags:
      - Status
      summary: Update customer document status
      operationId: update_customer_document_status_dms_customer_document_status_patch
      parameters:
      - required: true
        schema:
          title: Document Identifier
          type: string
        name: document_identifier
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerDocumentStatus'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerDocumentResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/customer/document/uploading-status:
    get:
      tags:
      - Status
      summary: Get customer document upload status
      operationId: get_customer_document_upload_status_dms_customer_document_uploading_status_get
      parameters:
      - required: true
        schema:
          title: Document Identifier
          type: string
        name: document_identifier
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerDocumentUploadStatus'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
    patch:
      tags:
      - Status
      summary: Update customer document upload status
      operationId: update_customer_document_uploading_status_dms_customer_document_uploading_status_patch
      parameters:
      - required: true
        schema:
          title: Document Identifier
          type: string
        name: document_identifier
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerDocumentUploadStatus'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerDocumentResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/set-trade-in-inspection-status/{order_id}:
    patch:
      tags:
      - Status
      summary: Set Trade-in inspection status
      description: This method will set Trade-in inspection status
      operationId: set_trade_in_inspection_status_dms_set_trade_in_inspection_status__order_id__patch
      parameters:
      - required: true
        schema:
          title: Order Id
          type: integer
        name: order_id
        in: path
      - required: true
        schema:
          $ref: '#/components/schemas/TradeInInspectionStatus'
        name: inspection_status
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
  /dms/lead/change-status/{lead_id}:
    patch:
      tags:
      - Status
      summary: Update exisitng lead status
      description: This method will update exisitng lead status along with any other param update
      operationId: change_status_dms_lead_change_status__lead_id__patch
      parameters:
      - required: true
        schema:
          title: Lead Id
          type: integer
        name: lead_id
        in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeadModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
components:
  schemas:
    OrderStatusHistoryModel:
      title: OrderStatusHistoryModel
      required:
      - order_reference_number
      type: object
      properties:
        order_reference_number:
          title: Order Reference Number
          type: string
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
    OrderCommentsModel:
      title: OrderCommentsModel
      type: object
      properties:
        identifier:
          title: Identifier
          type: string
        order_reference_id:
          title: Order Reference Id
          type: string
        customer_id:
          title: Customer Id
          type: string
        category:
          $ref: '#/components/schemas/CommentDiaryCategory'
        comment:
          title: Comment
          type: string
        created_by:
          title: Created By
          type: string
        created_at:
          title: Created At
          type: string
          format: date-time
        updated_by:
          title: Updated By
          type: string
        updated_at:
          title: Updated At
          type: string
          format: date-time
    LeadModel:
      title: LeadModel
      type: object
      properties:
        id:
          title: Id
          type: integer
        slug:
          title: Slug
          type: string
        key_id:
          title: Key Id
          type: integer
        dealer_id:
          title: Dealer Id
          type: integer
        data:
          $ref: '#/components/schemas/LeadData'
        status:
          title: Status
          type: string
        reference_id:
          title: Reference Id
          type: string
    CommentDiaryCategory:
      title: CommentDiaryCategory
      enum:
      - General
      - Underwriting
      - Change Requests
      type: string
      description: An enumeration.
    CustomerDocumentUploadStatus:
      title: CustomerDocumentUploadStatus
      required:
      - document_upload_indicator
      type: object
      properties:
        document_upload_indicator:
          title: Document Upload Indicator
          type: boolean
    CustomerStatusFlagResponseModel:
      title: CustomerStatusFlagResponseModel
      type: object
      properties:
        reference_id:
          title: Reference Id
          type: string
        flag_name:
          title: Flag Name
          type: string
        category:
          title: Category
          type: string
        identifier:
          title: Identifier
          type: string
        created_by:
          title: Created By
          type: string
        updated_by:
          title: Updated By
          type: string
        is_active:
          title: Is Active
          type: boolean
        is_deleted:
          title: Is Deleted
          type: boolean
        created_at:
          title: Created At
          type: string
          format: date-time
        updated_at:
          title: Updated At
          type: string
          format: date-time
    OrderStatusRequestModel:
      title: OrderStatusRequestModel
      required:
      - status
      - user_id
      type: object
      properties:
        status:
          title: Status
          type: string
        user_id:
          title: User Id
          type: integer
        reason:
          title: Reason
          type: string
    CustomerDeleteModel:
      title: CustomerDeleteModel
      required:
      - success
      type: object
      properties:
        success:
          title: Success
          type: boolean
    StatusResponseModel:
      title: StatusResponseModel
      type: object
      properties:
        dealer_id:
          title: Dealer Id
          type: integer
        status:
          title: Status
          type: string
    DeleteRequestModel:
      title: DeleteRequestModel
      required:
      - deleted_by
      type: object
      properties:
        deleted_by:
          title: Deleted By
          type: string
    GetOrderStatusModel:
      title: GetOrderStatusModel
      required:
      - order_status
      type: object
      properties:
        order_status:
          title: Order Status
          type: string
    CustomerDocumentResponseModel:
      title: CustomerDocumentResponseModel
      type: object
      properties:
        customer_reference_id:
          title: Customer Reference Id
          type: string
        external_reference_id:
          title: External Reference Id
          type: string
        document_type:
          title: Document Type
          type: string
        comment:
          title: Comment
          type: string
        category:
          title: Category
          type: string
        document_name:
          title: Document Name
          type: string
        document_size:
          title: Document Size
          type: string
        document_url:
          title: Document Url
          type: string
        reason_by_system:
          title: Reason By System
          type: string
        reason_for_customer:
          title: Reason For Customer
          type: string
        document_status:
          title: Document Status
          type: string
        document_upload_indicator:
          title: Document Upload Indicator
          type: boolean
          default: false
        expires_at:
          title: Expires At
          type: string
          description: 'format: YYYY-MM-DD hh:mm:ss'
          format: date-time
        created_at:
          title: Created At
          type: string
          description: 'format: YYYY-MM-DD hh:mm:ss'
          format: date-time
        updated_at:
          title: Updated At
          type: string
          description: 'format: YYYY-MM-DD hh:mm:ss'
          format: date-time
        deleted_at:
          title: Deleted At
          type: string
          description: 'format: YYYY-MM-DD hh:mm:ss'
          format: date-time
        updated_by:
          title: Updated By
          type: string
        created_by:
          title: Created By
          type: string
        deleted_by:
          title: Deleted By
          type: string
        uploaded_by:
          title: Uploaded By
          type: string
        uploaded_at:
          title: Uploaded At
          type: string
          format: date-time
        is_deleted:
          title: Is Deleted
          type: boolean
          default: false
        identifier:
          title: Identifier
          type: string
        stipulation_code:
          title: Stipulation Code
          type: string
    UpdateProposalStatusRequestModel:
      title: UpdateProposalStatusRequestModel
      required:
      - identifier
      - current_status
      - next_status
      type: object
      properties:
        identifier:
          title: Identifier
          type: string
        current_status:
          $ref: '#/components/schemas/OrderProposalStatus'
        next_status:
          $ref: '#/components/schemas/OrderProposalStatus'
        created_by:
          title: Created By
          type: string
        created_at:
          title: Created At
          type: string
        updated_at:
          title: Updated At
          type: string
        comment_data:
          $ref: '#/components/schemas/OrderCommentsModel'
    OrderProposalStatus:
      title: OrderProposalStatus
      enum:
      - Draft
      - New
      - Submitted
      - Approved
      - Conditioned
      - Conditional Approval
      - Additional Info Required
      - Declined
      - Withdrawn
      - Documents Sent
      - Documents Received
      - Sent for Payout
      - Paid Out
      - Awaiting Compliance
      - Complied
      - Awaiting More
      - Fully Received
      - Deferred
      type: string
      description: An enumeration.
    LeadData:
      title: LeadData
      type: object
      properties:
        vehicle_details:
          title: Vehicle Details
          type: object
          description: Vehicle Details
        customer_details:
          title: Customer Details
          type: object
          description: Customer Details
        vehicle_search_criteria:
          title: Vehicle Search Criteria
          type: object
          description: Vehicle Search Criteria
    CustomerDocumentStatus:
      title: CustomerDocumentStatus
      required:
      - document_status
      type: object
      properties:
        document_status:
          $ref: '#/components/schemas/DocumentUploadStatus'
    TradeInInspectionStatus:
      title: TradeInInspectionStatus
      enum:
      - Pending
      - Completed
      description: An enumeration.
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    CustomerStatusFlagModel:
      title: CustomerStatusFlagModel
      required:
      - reference_id
      - flag_name
      - category
      - created_by
      type: object
      properties:
        reference_id:
          title: Reference Id
          type: string
        flag_name:
          title: Flag Name
          minLength: 1
          type: string
        category:
          title: Category
          minLength: 1
          type: string
        identifier:
          title: Identifier
          minLength: 1
          type: string
        created_by:
          title: Created By
          type: string
    DocumentUploadStatus:
      title: DocumentUploadStatus
      enum:
      - Draft
      - InProgress
      - Approved
      - SoftReject
      - Reject
      type: string
      description: An enumeration.
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: /signup/verify-otp
externalDocs:
  url: https://developer.appexnow.com/docs/lane/overview
  description: Product Documentation
