openapi: 3.2.0
info:
  version: 1.3.43
  title: Lane Insurance API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: Lane offers a feature-rich, end-to-end order management system for asset leasing, loans and credit companies. Our platform covers all aspects, from conducting end-to-end sales to performing dealer and partner-related tasks and marketing-related activities.
servers:
- url: https://dms-api.netsolapp.io
tags:
- name: Insurance
paths:
  /dms/insurance/add-insurance:
    post:
      tags:
      - Insurance
      summary: Add Insurance
      description: Storing Transaction id
      operationId: add_insurance_dms_insurance_add_insurance_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InsuranceProviderRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
components:
  schemas:
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
    InsuranceProviderRequest:
      title: InsuranceProviderRequest
      type: object
      properties:
        order_id:
          title: Order Id
          type: string
          description: Order Reference Id
        transactionId:
          title: Transactionid
          type: string
          description: Transaction Id
        carrierName:
          title: Carriername
          type: string
          description: Insurer Name
        policyExpirationDate:
          title: Policyexpirationdate
          type: string
          description: Expiration Date
          format: date
        policyDocumentUrl:
          title: Policydocumenturl
          type: string
          description: Policy Document Url
        insuranceCardUrl:
          title: Insurancecardurl
          type: string
          description: Insurance Card Url
        contactNumber:
          title: Contactnumber
          type: string
          description: Contact Number
        policyNumber:
          title: Policynumber
          type: string
          description: Policy Number
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: /signup/verify-otp
externalDocs:
  url: https://developer.appexnow.com/docs/lane/overview
  description: Product Documentation
