openapi: 3.0.2
info:
  version: 1.3.43
  title: Lane Tradein API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: Lane offers a feature-rich, end-to-end order management system for asset leasing, loans and credit companies. Our platform covers all aspects, from conducting end-to-end sales to performing dealer and partner-related tasks and marketing-related activities.
servers:
- url: https://dms-api.netsolapp.io
tags:
- name: Tradein
paths:
  /dms/get-tradein-options/:
    post:
      tags:
      - Tradein
      summary: Get trade in options linked with vehicles
      description: This method will get all the options related to vehicle
      operationId: get_trade_in_options_dms_get_tradein_options__post
      parameters:
      - description: Vehicle valuation service to use
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/VehicleValuationProviders'
          description: Vehicle valuation service to use
        name: x-service-provider
        in: header
      - description: Dealer code from the header
        required: false
        schema:
          title: X-Dealer-Code
          type: string
          description: Dealer code from the header
        name: x-dealer-code
        in: header
      - description: Company ID from the dealer
        required: false
        schema:
          title: Company-Id
          type: string
          description: Company ID from the dealer
        name: company-id
        in: header
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TradeInOptions'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
components:
  schemas:
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
    VehicleValuationProviders:
      title: VehicleValuationProviders
      enum:
      - KBB
      - JDPower
      type: string
      description: An enumeration.
    TradeInOptions:
      title: TradeInOptions
      required:
      - platform_vehicle_type
      type: object
      properties:
        platform_vehicle_type:
          title: Platform Vehicle Type
          type: string
        options_filter:
          $ref: '#/components/schemas/TradeInOptionsFilter'
    TradeInOptionsFilter:
      title: TradeInOptionsFilter
      type: object
      properties:
        vehicleId:
          title: Vehicleid
          type: integer
          default: 0
        yearId:
          title: Yearid
          type: integer
          default: 0
        makeId:
          title: Makeid
          type: integer
          default: 0
        modelId:
          title: Modelid
          type: integer
          default: 0
        trimId:
          title: Trimid
          type: integer
          default: 0
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: /signup/verify-otp
externalDocs:
  url: https://developer.appexnow.com/docs/lane/overview
  description: Product Documentation
