openapi: 3.0.2
info:
  version: 1.3.43
  title: Lane Get_event_associated_checklist API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: Lane offers a feature-rich, end-to-end order management system for asset leasing, loans and credit companies. Our platform covers all aspects, from conducting end-to-end sales to performing dealer and partner-related tasks and marketing-related activities.
servers:
- url: https://dms-api.netsolapp.io
tags:
- name: Get_event_associated_checklist
paths:
  /dms/get_event_associated_checklist/:
    post:
      tags:
      - Get_event_associated_checklist
      summary: This API helps to evaluate given criteria and retrieve configured checklist(s)
      description: "If criteria is not given then checklist(s) configured against the given event will be returned.\n    In case criteria is provided, specific checklist(s) that fulfills given criteria will be returned.\n    Criteria is open ended, but must follow this pattern.  ****\n    {\"event_name\": \"string\",\n     \"criteria\": {\n                    \"item1\": \"\",\n                    \"item2\": \"\"\n                }\n} ****"
      operationId: get_event_checklist_by_criteria_dms_get_event_associated_checklist__post
      requestBody:
        content:
          application/json:
            schema:
              title: Payload
              type: object
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
components:
  schemas:
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: /signup/verify-otp
externalDocs:
  url: https://developer.appexnow.com/docs/lane/overview
  description: Product Documentation
