openapi: 3.0.2
info:
  version: 1.3.43
  title: Lane API
  contact:
    email: support@netsolapp.io, support@appexnow.com
  x-logo:
    url: ../lane/docs/64x64.png
    altText: Lane
    backgroundColor: '#FFFFFF'
  description: >-
    Lane offers a feature-rich, end-to-end order management system for asset
    leasing, loans and credit companies. Our platform covers all aspects, from
    conducting end-to-end sales to performing dealer and partner-related tasks
    and marketing-related activities.
externalDocs:
  url: https://developer.appexnow.com/docs/lane/overview
  description: Product Documentation
servers:
  - url: https://dms-api.netsolapp.io
tags:
  - name: Customer Management
    description: >-
      Customer Management is a collection of APIs to manage Customer
      information. It includes but is not limited to personal information,
      License information, employment information, financial information,
      signatures, address(es) and insurance information. This collection
      facilitates to manage Customer information for any business and provides
      all relevant information for its operations.
  - name: Order Management
    description: Manage operations related to Orders.
  - name: Disclaimer Management
    description: Manage disclaimers for order and customers.
  - name: Workqueue Management
    description: Manage operations related to workqueue.
  - name: Order Calculations
    description: Manage operations related to order calculations.
  - name: Appointment Management
    description: Manage operations related to appointment management.
  - name: Customer Consent
    description: Manage operations related to customer consent.
  - name: Customer Document
    description: Manage customer documents for order and customers.
  - name: Document Package Management
    description: Manage operations related to Document package
  - name: Credit Approval
    description: Manage operations related to Credit Approval.
  - name: Customer Contract
    description: Manage operations related to Customer Contract
  - name: Stipulation Fulfillment
    description: Manage operations related to Stipulation Fulfillment
  - name: Order Events
    description: Manage operations related to Order Events
  - name: History
    description: Manage operations related to History
  - name: Request
    description: Manage operations related to Request
  - name: Stipulation
    description: Manage operations related to Stipulation
  - name: External Order Management
    description: Manage operations related to External Order Management
  - name: root
    description: API health and Version
  - name: AN Dealers
  - name: Theme Builder
  - name: External Keys
  - name: Change Log
    description: "# API Docs Version 1.3.43\r\n --- \r\n\r\n## What's New\r\n\r\n\r\n### `PATCH` /dms/update-dms-customer\r\n\r\n> Update Dms Customer\r\n\r\n\r\n### `GET` /dms/check-dms-customer\r\n\r\n> Get customer record\r\n\r\n\r\n### `GET` /dms/customer/signature/by-dealer-id\r\n\r\n> Gets a customer signature record by dealer id\r\n\r\n\r\n### `PATCH` /dms/customer/update-insurance-information\r\n\r\n> Updates customer insurance information\r\n\r\n\r\n### `POST` /dms/customer/all-customers-orders-dynamic-search\r\n\r\n> Get all customer records along with its orders  dynamic search\r\n\r\n\r\n### `POST` /dms/customer/send-order-link\r\n\r\n> send order link\r\n\r\n\r\n### `GET` /dms/customers/reference-id\r\n\r\n> Get reference id by email\r\n\r\n\r\n### `POST` /dms/send-notification-email-sqs\r\n\r\n> Send Email Notification Through SQS\r\n\r\n\r\n### `POST` /dms/send-notification-email\r\n\r\n> Send Email Notification\r\n\r\n\r\n### `GET` /dms/order/order_insurance_documents/{reference_number}\r\n\r\n> Get order insurance documents by order ID\r\n\r\n\r\n### `POST` /dms/configure/insurance\r\n\r\n> Add insurance\r\n\r\n\r\n### `GET` /dms/order/workqueue\r\n\r\n> Get all orders for workqueue.\r\n\r\n\r\n### `PATCH` /dms/order/asset/{reference_number}\r\n\r\n> Updates an order asset record\r\n\r\n\r\n### `POST` /dms/update-order-submission\r\n\r\n> Update Order Submission Status\r\n\r\n\r\n### `PATCH` /dms/order/approve-order-by-lender/{reference_number}/{lender_id}\r\n\r\n> Update Order Status and Lender Id\r\n\r\n\r\n### `POST` /dms/order/get-customer-order-submissions/{customer_reference_id}/{submission_status}\r\n\r\n> Get order lender submissions of customer by status and Lender ids\r\n\r\n\r\n### `GET` /dms/order/get-order-submission-by-id/{submission_id}\r\n\r\n> Get single order submission by primary key\r\n\r\n\r\n### `PATCH` /dms/order/re-submit/{identifier}\r\n\r\n> Update order and re-send deal to lender\r\n\r\n\r\n### `PATCH` /dms/configure/individualized-agreement\r\n\r\n> Creates an order individualized agreement info setup record\r\n\r\n\r\n### `PATCH` /dms/configure/update-financial-indicator/{reference_number}/{is_payment_updated}\r\n\r\n> Update Financial Indicator\r\n\r\n\r\n### `POST` /dms/order/proposal\r\n\r\n> Create new order proposal for broker\r\n\r\n\r\n### `PATCH` /dms/order/proposal\r\n\r\n> Update order proposal for broker\r\n\r\n\r\n### `PATCH` /dms/order/change-proposal-status\r\n\r\n> Update order proposal status\r\n\r\n\r\n### `GET` /dms/order/proposal-dashboard-analytics\r\n\r\n> Get order proposal analytics for broker dashboard\r\n\r\n\r\n### `POST` /dms/order/generate-document/{event_name}\r\n\r\n> Generate Document for respective event\r\n\r\n\r\n### `POST` /dms/order/download_document_by_event/{event_name}\r\n\r\n> Get generated document(s) key(s) against specific event\r\n\r\n\r\n### `POST` /dms/order/send-email/{event_name}\r\n\r\n> send Email notification\r\n\r\n\r\n### `GET` /dms/order/stakeholder/\r\n\r\n> Get order stakeholder\r\n\r\n\r\n### `POST` /dms/order/stakeholder/\r\n\r\n> Create new order stakeholder\r\n\r\n\r\n### `DELETE` /dms/order/stakeholder/\r\n\r\n> Update order stakeholder\r\n\r\n\r\n### `PATCH` /dms/order/stakeholder/\r\n\r\n> Update order stakeholder\r\n\r\n\r\n### `POST` /dms/configure/multiple-disclaimers\r\n\r\n> Create multiple disclaimers\r\n\r\n\r\n### `POST` /dms/quote/calculation/monthlyImpact\r\n\r\n> Calculate Monthly Impact\r\n\r\n\r\n### `GET` /dms/customer/document/download-stream\r\n\r\n> Get customer document stream by artifect_id\r\n\r\n\r\n### `GET` /dms/get-an-signed-url\r\n\r\n> Get AN Signed URL to Upload\r\n\r\n\r\n### `POST` /dms/configure/by-role/{document_package_identifier}/{document_identifier}/{signature_id}/{signer_role}\r\n\r\n> Sign document\r\n\r\n\r\n### `GET` /dms/configure/document-pre-signed-url/{key}\r\n\r\n> Get document package by identifier\r\n\r\n\r\n### `GET` /dms/configure/document-notification-bookmarks\r\n\r\n> Get bookmarks of documents and notifications\r\n\r\n\r\n### `POST` /dms/contract-document\r\n\r\n> Handle contract document\r\n\r\n\r\n### `GET` /dms/company/by-tenant-id/{tenant_id}\r\n\r\n> Find Company By Tenant Id\r\n\r\n\r\n### `GET` /dms/integration/company\r\n\r\n> Get All Company Integration\r\n\r\n\r\n### `GET` /dms/integration/by_provider_name/{dealer_code}/{integration_type}/{provider_name}\r\n\r\n> Get Integration By Provider Name\r\n\r\n\r\n### `GET` /dms/integration/configuration/{dealer_code}/{integration_type}/{provider_name}\r\n\r\n> Get Hubex Configuration By Provider Name\r\n\r\n\r\n### `GET` /dms/dealer/option-model-name\r\n\r\n> Get All Dealer Options By Model Name\r\n\r\n\r\n### `GET` /dms/get-payment-methods/{reference_number}\r\n\r\n> Get Payment Methods & Get Paid Amount\r\n\r\n\r\n### `POST` /dms/plaid-link-token/\r\n\r\n> Create Link Token\r\n\r\n\r\n### `POST` /dms/create-payment/\r\n\r\n> Create payment for new Order\r\n\r\n\r\n### `POST` /dms/update-payment/\r\n\r\n> Update Order Payment\r\n\r\n\r\n### `POST` /dms/add-payment-details/\r\n\r\n> Add Payment Details from dealer side\r\n\r\n\r\n### `PUT` /dms/remove-payment-details/{order_payment_detail_id}\r\n\r\n> Remove the order payment detail\r\n\r\n\r\n### `GET` /dms/dealer/get-associated-dealers\r\n\r\n> Get All Dealer Distance\r\n\r\n\r\n### `GET` /dms/dealer/check-actively-order\r\n\r\n> Check Dealer actively order\r\n\r\n\r\n### `POST` /dms/get-trade-in-year/\r\n\r\n> Get all the year from KBB\r\n\r\n\r\n### `POST` /dms/get-trade-in-make/\r\n\r\n> Get all the make from KBB\r\n\r\n\r\n### `POST` /dms/get-trade-in-model/\r\n\r\n> Get all the models from KBB\r\n\r\n\r\n### `POST` /dms/get-trade-in-trim/\r\n\r\n> Get all the trims from KBB\r\n\r\n\r\n### `POST` /dms/get-trade-in-vehicle_value/\r\n\r\n> Get vehicle estimation from KBB\r\n\r\n\r\n### `POST` /dms/get-trade-in-vehicle_detail/\r\n\r\n> Get vehicle details from KBB\r\n\r\n\r\n### `POST` /dms/get-vehicle-detail-by-vin/\r\n\r\n> Get vehicle details through VIN\r\n\r\n\r\n### `PATCH` /dms/set-trade-in-inspection-status/{order_id}\r\n\r\n> Set Trade-in inspection status\r\n\r\n\r\n### `GET` /dms/get-trade_in_history/{order_id}\r\n\r\n> Get trade in history\r\n\r\n\r\n### `POST` /dms/get-tradein-options/\r\n\r\n> Get trade in options linked with vehicles\r\n\r\n\r\n### `POST` /dms/event_analytic\r\n\r\n> Create Event\r\n\r\n\r\n### `GET` /dms/lead/{dealer_id}\r\n\r\n> Get dealer's lead\r\n\r\n\r\n### `PATCH` /dms/lead\r\n\r\n> Update exisitng Draft/Active lead otherwise create new Lead\r\n\r\n\r\n### `PATCH` /dms/lead/change-status/{lead_id}\r\n\r\n> Update exisitng lead status\r\n\r\n\r\n### `POST` /dms/insurance/add-insurance\r\n\r\n> Add Insurance\r\n\r\n\r\n## What's Deleted\r\n\r\n\r\n### `GET` /dms/lender/by-tenant-id/{tenant_id}\r\n\r\n> Find Lender By Tenant Id\r\n\r\n\r\n### `GET` /dms/integration/lender\r\n\r\n> Get All Lender Integration\r\n\r\n\r\n### `GET` /dms/integration/by_provider_name/{provider_name}\r\n\r\n> Get Integration By Provider Name\r\n\r\n\r\n### `GET` /dms/dealer/option-trim-code\r\n\r\n> Get All Dealer Options By Trim Code\r\n\r\n\r\n## What's Changed\r\n\r\n\r\n### `POST` /dms/customer/all-customers-dynamic-search\r\n\r\n\r\n#### Parameters:\r\n\r\nChanged: `sort_by` in `query`\r\n\r\n#### Request:\r\n\r\nChanged content type : `application/json`\r\n\r\nChanged items (object):\r\n\r\n* Changed property `field` (string)\r\n    > An enumeration.\r\n\r\n\r\n    Added enum values:\r\n\r\n    * `stock_number`\r\n    * `dealer_id`\r\n#### Return Type:\r\n\r\nChanged response : **200 OK**\r\n> Successful Response\r\n\r\n\r\n* Changed content type : `application/json`\r\n\r\n### `PATCH` /dms/check-customer-by-email\r\n\r\n\r\n#### Return Type:\r\n\r\nChanged response : **200 OK**\r\n> Successful Response\r\n\r\n\r\n* Changed content type : `application/json`\r\n\r\n    * Added property `preferred_contact` (string)\r\n\r\n    * Added property `external_id` (string)\r\n\r\n### `GET` /dms/customer/license-info\r\n\r\n\r\n#### Parameters:\r\n\r\nAdded: `is_presigned_url_required` in `query`\r\n\r\n### `POST` /dms/customer/license-info\r\n\r\n\r\n#### Parameters:\r\n\r\nAdded: `dealer_code` in `query`\r\n\r\n### `PATCH` /dms/customer/license-info\r\n\r\n\r\n#### Parameters:\r\n\r\nAdded: `is_presigned_url_required` in `query`\r\n\r\nAdded: `dealer_code` in `query`\r\n\r\n### `POST` /dms/customer/personal-finance\r\n\r\n\r\n#### Parameters:\r\n\r\nAdded: `dealer_code` in `query`\r\n\r\n### `PATCH` /dms/customer/personal-finance\r\n\r\n\r\n#### Parameters:\r\n\r\nAdded: `dealer_code` in `query`\r\n\r\n### `GET` /dms/customer/signature\r\n\r\n\r\n#### Return Type:\r\n\r\nChanged response : **200 OK**\r\n> Successful Response\r\n\r\n\r\n* Changed content type : `application/json`\r\n\r\n    * Added property `dealer_id` (integer)\r\n\r\n### `POST` /dms/customer/signature\r\n\r\n\r\n#### Request:\r\n\r\nChanged content type : `application/json`\r\n\r\n* Added property `dealer_id` (integer)\r\n\r\n#### Return Type:\r\n\r\nChanged response : **201 Created**\r\n> Successful Response\r\n\r\n\r\n* Changed content type : `application/json`\r\n\r\n    * Added property `dealer_id` (integer)\r\n\r\n### `PATCH` /dms/customer/signature\r\n\r\n\r\n#### Parameters:\r\n\r\nAdded: `dealer_id` in `query`\r\n\r\nChanged: `reference_id` in `query`\r\n\r\n#### Return Type:\r\n\r\nChanged response : **200 OK**\r\n> Successful Response\r\n\r\n\r\n* Changed content type : `application/json`\r\n\r\n    * Added property `dealer_id` (integer)\r\n\r\n### `GET` /dms/address/history\r\n\r\n\r\n#### Parameters:\r\n\r\nChanged: `address_type` in `query`\r\n\r\n### `PATCH` /dms/customer/insurance-information\r\n\r\n\r\n#### Request:\r\n\r\nChanged content type : `application/json`\r\n\r\n* Added property `insurance_documents` (array)\r\n\r\n    Items (object):\r\n\r\n    * Property `document` (string)\r\n\r\n    * Property `content_type` (string)\r\n        > format: application/pdf, image/png\r\n\r\n\r\n    * Property `name` (string)\r\n\r\n    * Property `file_size` (string)\r\n\r\n    * Property `created_by` (string)\r\n\r\n    * Property `doucment_reference_id` (string)\r\n\r\n### `POST` /dms/customer/comment\r\n\r\n\r\n#### Request:\r\n\r\nChanged content type : `application/json`\r\n\r\nNew optional properties:\r\n- `reference_id`\r\n\r\n### `GET` /dms/customer/comments\r\n\r\n\r\n#### Parameters:\r\n\r\nChanged: `reference_id` in `query`\r\n\r\nChanged: `page_number` in `query`\r\n\r\nChanged: `page_size` in `query`\r\n\r\n### `POST` /dms/customer/license-verification\r\n\r\n\r\n#### Request:\r\n\r\nChanged content type : `application/json`\r\n\r\n* Added property `dealer_code` (string)\r\n\r\n### `POST` /dms/customer/fraud-check\r\n\r\n\r\n#### Request:\r\n\r\nChanged content type : `application/json`\r\n\r\nNew required properties:\r\n- `dealer_code`\r\n\r\n* Added property `dealer_code` (string)\r\n\r\n### `POST` /dms/configure/order-fees\r\n\r\n\r\n#### Request:\r\n\r\nChanged content type : `application/json`\r\n\r\n* Added property `vendor` (string)\r\n\r\n* Added property `fee_type` (string)\r\n\r\n#### Return Type:\r\n\r\nChanged response : **201 Created**\r\n> Successful Response\r\n\r\n\r\n* Changed content type : `application/json`\r\n\r\n    * Added property `vendor` (string)\r\n\r\n    * Added property `fee_type` (string)\r\n\r\n### `GET` /dms/configure/order-fees/{identifier}\r\n\r\n\r\n#### Return Type:\r\n\r\nChanged response : **200 OK**\r\n> Successful Response\r\n\r\n\r\n* Changed content type : `application/json`\r\n\r\n    Changed items (object):\r\n\r\n    * Added property `vendor` (string)\r\n\r\n    * Added property `fee_type` (string)\r\n\r\n### `DELETE` /dms/configure/order-fees/{identifier}\r\n\r\n\r\n#### Return Type:\r\n\r\nChanged response : **200 OK**\r\n> Successful Response\r\n\r\n\r\n* Changed content type : `application/json`\r\n\r\n    * Added property `vendor` (string)\r\n\r\n    * Added property `fee_type` (string)\r\n\r\n### `PATCH` /dms/configure/order-fees/{identifier}\r\n\r\n\r\n#### Request:\r\n\r\nChanged content type : `application/json`\r\n\r\n* Added property `vendor` (string)\r\n\r\n* Added property `fee_type` (string)\r\n\r\n#### Return Type:\r\n\r\nChanged response : **200 OK**\r\n> Successful Response\r\n\r\n\r\n* Changed content type : `application/json`\r\n\r\n    * Added property `vendor` (string)\r\n\r\n    * Added property `fee_type` (string)\r\n\r\n### `POST` /dms/configure/order-fni\r\n\r\n\r\n#### Request:\r\n\r\nChanged content type : `application/json`\r\n\r\nNew required properties:\r\n- `form_id`\r\n- `mileage`\r\n- `rate_id`\r\n- `term`\r\n\r\n* Added property `mileage` (integer)\r\n\r\n* Added property `term` (integer)\r\n\r\n* Added property `is_msp` (boolean)\r\n\r\n* Added property `form_id` (integer)\r\n\r\n* Added property `rate_id` (integer)\r\n\r\n### `GET` /dms/configure/order-fni/{identifier}\r\n\r\n\r\n#### Return Type:\r\n\r\nChanged response : **200 OK**\r\n> Successful Response\r\n\r\n\r\n* Changed content type : `application/json`\r\n\r\n    Changed items (object):\r\n\r\n    New required properties:\r\n    - `form_id`\r\n    - `mileage`\r\n    - `rate_id`\r\n    - `term`\r\n\r\n    * Added property `mileage` (integer)\r\n\r\n    * Added property `term` (integer)\r\n\r\n    * Added property `is_msp` (boolean)\r\n\r\n    * Added property `form_id` (integer)\r\n\r\n    * Added property `rate_id` (integer)\r\n\r\n### `DELETE` /dms/configure/order-fni/{identifier}\r\n\r\n\r\n#### Return Type:\r\n\r\nChanged response : **200 OK**\r\n> Successful Response\r\n\r\n\r\n* Changed content type : `application/json`\r\n\r\n    New required properties:\r\n    - `form_id`\r\n    - `mileage`\r\n    - `rate_id`\r\n    - `term`\r\n\r\n    * Added property `mileage` (integer)\r\n\r\n    * Added property `term` (integer)\r\n\r\n    * Added property `is_msp` (boolean)\r\n\r\n    * Added property `form_id` (integer)\r\n\r\n    * Added property `rate_id` (integer)\r\n\r\n### `PATCH` /dms/configure/order-fni/{identifier}\r\n\r\n\r\n#### Request:\r\n\r\nChanged content type : `application/json`\r\n\r\nNew required properties:\r\n- `form_id`\r\n- `mileage`\r\n- `rate_id`\r\n- `term`\r\n\r\n* Added property `mileage` (integer)\r\n\r\n* Added property `term` (integer)\r\n\r\n* Added property `is_msp` (boolean)\r\n\r\n* Added property `form_id` (integer)\r\n\r\n* Added property `rate_id` (integer)\r\n\r\n#### Return Type:\r\n\r\nChanged response : **200 OK**\r\n> Successful Response\r\n\r\n\r\n* Changed content type : `application/json`\r\n\r\n    New required properties:\r\n    - `form_id`\r\n    - `mileage`\r\n    - `rate_id`\r\n    - `term`\r\n\r\n    * Added property `mileage` (integer)\r\n\r\n    * Added property `term` (integer)\r\n\r\n    * Added property `is_msp` (boolean)\r\n\r\n    * Added property `form_id` (integer)\r\n\r\n    * Added property `rate_id` (integer)\r\n\r\n### `PATCH` /dms/configure/order/update-status/{reference_number}\r\n\r\n\r\n#### Parameters:\r\n\r\nAdded: `is_inventory_check` in `query`\r\n\r\n### `GET` /dms/configure/assets-by-trim-code/{trim_code}\r\n\r\n\r\n### `GET` /dms/configure/quick-quotation-by-identifier/{identifier}\r\n\r\n\r\n#### Return Type:\r\n\r\nChanged response : **200 OK**\r\n> Successful Response\r\n\r\n\r\n* Changed content type : `application/json`\r\n\r\n    * Added property `name` (string)\r\n\r\n    * Added property `end_date` (string)\r\n\r\n    * Added property `updated_at` (string)\r\n\r\n    * Added property `estimated_monthly_payment` (string)\r\n\r\n    * Added property `calculations_type` (string)\r\n\r\n    * Added property `sum_of_advance_rentals` (number)\r\n\r\n    * Added property `balloon_collection` (string)\r\n\r\n    * Added property `product_type` (string)\r\n\r\n    * Added property `commission_type` (string)\r\n\r\n    * Added property `tax_amount` (number)\r\n\r\n    * Added property `tax_amount_number` (integer)\r\n\r\n    * Added property `deferred_type` (string)\r\n\r\n    * Added property `rate_type` (string)\r\n\r\n    * Added property `margin` (number)\r\n\r\n    * Added property `rental_mode` (string)\r\n\r\n    * Added property `sum_of_fees` (number)\r\n\r\n    * Added property `sum_of_periodic_interest` (number)\r\n\r\n    * Added property `sum_of_rentals` (number)\r\n\r\n    * Added property `total_payables` (number)\r\n\r\n    * Added property `running_id` (string)\r\n\r\n    * Added property `broker_id` (integer)\r\n\r\n    * Added property `non_vatable_amount` (number)\r\n\r\n    * Added property `order_stakeholders` (array)\r\n\r\n        Items (object):\r\n\r\n        * Property `identifier` (string)\r\n\r\n        * Property `order_identifier` (string)\r\n\r\n        * Property `stakeholder_reference_id` (string)\r\n\r\n        * Property `name` (string)\r\n\r\n        * Property `email` (string)\r\n\r\n        * Property `role` (string)\r\n\r\n        * Property `position` (string)\r\n\r\n        * Property `contact_number` (string)\r\n\r\n        * Property `address_id` (string)\r\n\r\n    * Added property `date_submitted` (string)\r\n\r\n    * Changed property `order_fees` (array)\r\n\r\n        Changed items (object):\r\n\r\n        * Added property `id` (integer)\r\n\r\n        * Added property `fee_frequency` (string)\r\n\r\n        * Added property `fee_occurance` (string)\r\n\r\n        * Added property `fee_first_due_date` (string)\r\n\r\n    * Changed property `assets` (array)\r\n\r\n        Changed items (object):\r\n\r\n        * Added property `id` (integer)\r\n\r\n        * Added property `identifier` (string)\r\n\r\n        * Added property `rv_balloon_amount` (number)\r\n\r\n    * Changed property `customer` (object)\r\n\r\n        * Added property `company_name` (string)\r\n\r\n        * Added property `customer_type` (string)\r\n\r\n### `GET` /dms/configure/quick-quotation-by-vendor\r\n\r\n\r\n#### Parameters:\r\n\r\nAdded: `statuses` in `query`\r\n> Accepts only string values\r\n\r\n\r\nAdded: `dealer_id` in `query`\r\n\r\nAdded: `broker_id` in `query`\r\n\r\nAdded: `lender_name` in `query`\r\n\r\nAdded: `dealer_name` in `query`\r\n\r\nAdded: `introducer_name` in `query`\r\n\r\nAdded: `name` in `query`\r\n\r\nAdded: `finance_type` in `query`\r\n\r\nAdded: `product_type` in `query`\r\n\r\nAdded: `finance_amount` in `query`\r\n\r\nAdded: `updated_at` in `query`\r\n\r\nAdded: `date_submitted` in `query`\r\n\r\nAdded: `start_date` in `query`\r\n\r\nAdded: `end_date` in `query`\r\n\r\nAdded: `sort_by` in `query`\r\n\r\nAdded: `sort_order` in `query`\r\n\r\nAdded: `order_stage` in `query`\r\n\r\n#### Return Type:\r\n\r\nChanged response : **200 OK**\r\n> Successful Response\r\n\r\n\r\n* Changed content type : `application/json`\r\n\r\n    Changed items (object):\r\n\r\n    * Added property `name` (string)\r\n\r\n    * Added property `end_date` (string)\r\n\r\n    * Added property `updated_at` (string)\r\n\r\n    * Added property `estimated_monthly_payment` (string)\r\n\r\n    * Added property `calculations_type` (string)\r\n\r\n    * Added property `sum_of_advance_rentals` (number)\r\n\r\n    * Added property `balloon_collection` (string)\r\n\r\n    * Added property `product_type` (string)\r\n\r\n    * Added property `commission_type` (string)\r\n\r\n    * Added property `tax_amount` (number)\r\n\r\n    * Added property `tax_amount_number` (integer)\r\n\r\n    * Added property `deferred_type` (string)\r\n\r\n    * Added property `rate_type` (string)\r\n\r\n    * Added property `margin` (number)\r\n\r\n    * Added property `rental_mode` (string)\r\n\r\n    * Added property `sum_of_fees` (number)\r\n\r\n    * Added property `sum_of_periodic_interest` (number)\r\n\r\n    * Added property `sum_of_rentals` (number)\r\n\r\n    * Added property `total_payables` (number)\r\n\r\n    * Added property `running_id` (string)\r\n\r\n    * Added property `broker_id` (integer)\r\n\r\n    * Added property `non_vatable_amount` (number)\r\n\r\n    * Added property `order_stakeholders` (array)\r\n\r\n    * Added property `date_submitted` (string)\r\n\r\n    * Changed property `order_fees` (array)\r\n\r\n        Changed items (object):\r\n\r\n        * Added property `id` (integer)\r\n\r\n        * Added property `fee_frequency` (string)\r\n\r\n        * Added property `fee_occurance` (string)\r\n\r\n        * Added property `fee_first_due_date` (string)\r\n\r\n    * Changed property `assets` (array)\r\n\r\n        Changed items (object):\r\n\r\n        * Added property `id` (integer)\r\n\r\n        * Added property `identifier` (string)\r\n\r\n        * Added property `rv_balloon_amount` (number)\r\n\r\n    * Changed property `customer` (object)\r\n\r\n        * Added property `company_name` (string)\r\n\r\n        * Added property `customer_type` (string)\r\n\r\n### `GET` /dms/get-setup-data\r\n\r\n\r\n#### Parameters:\r\n\r\nAdded: `company_id` in `query`\r\n\r\nDeleted: `lender_id` in `query`\r\n\r\n### `GET` /dms/configure/disclaimer-agreement\r\n\r\n\r\n#### Parameters:\r\n\r\nAdded: `order_reference_id` in `query`\r\n\r\n### `GET` /dms/configure/workqueue/search\r\n\r\n\r\n#### Parameters:\r\n\r\nAdded: `latest_order` in `query`\r\n\r\n### `POST` /dms/quote/calculation\r\n\r\n\r\n#### Request:\r\n\r\nChanged content type : `application/json`\r\n\r\n* Changed property `fees` (array)\r\n    > Fees\r\n\r\n\r\n    Changed items (object):\r\n\r\n    * Added property `fee_handling` (string)\r\n\r\n    * Added property `is_taxable` (boolean)\r\n\r\n    * Added property `tax_in_capital` (boolean)\r\n\r\n    * Added property `vendor` (string)\r\n\r\n    * Deleted property `amount_handling` (string)\r\n\r\n* Changed property `fni_products` (array)\r\n    > F&I Products\r\n\r\n\r\n    Changed items (object):\r\n\r\n    * Added property `is_taxable` (boolean)\r\n\r\n### `POST` /dms/quote/calculate-order\r\n\r\n\r\n#### Request:\r\n\r\nChanged content type : `application/json`\r\n\r\n* Changed property `fees` (array)\r\n    > Fees\r\n\r\n\r\n    Changed items (object):\r\n\r\n    * Added property `fee_handling` (string)\r\n\r\n    * Added property `is_taxable` (boolean)\r\n\r\n    * Added property `tax_in_capital` (boolean)\r\n\r\n    * Added property `vendor` (string)\r\n\r\n    * Deleted property `amount_handling` (string)\r\n\r\n* Changed property `fni_products` (array)\r\n    > F&I Products\r\n\r\n\r\n    Changed items (object):\r\n\r\n    * Added property `is_taxable` (boolean)\r\n\r\n### `POST` /dms/quote/calculate-nfa\r\n\r\n\r\n#### Request:\r\n\r\nChanged content type : `application/json`\r\n\r\n* Changed property `fees` (array)\r\n    > Fees\r\n\r\n\r\n    Changed items (object):\r\n\r\n    * Added property `fee_handling` (string)\r\n\r\n    * Added property `is_taxable` (boolean)\r\n\r\n    * Added property `tax_in_capital` (boolean)\r\n\r\n    * Added property `vendor` (string)\r\n\r\n    * Deleted property `amount_handling` (string)\r\n\r\n* Changed property `fni_products` (array)\r\n    > F&I Products\r\n\r\n\r\n    Changed items (object):\r\n\r\n    * Added property `is_taxable` (boolean)\r\n\r\n#### Return Type:\r\n\r\nChanged response : **200 OK**\r\n> Successful Response\r\n\r\n\r\n* Changed content type : `application/json`\r\n\r\n    New required properties:\r\n    - `net_financed_amount`\r\n\r\n    New optional properties:\r\n    - `financed_amount`\r\n\r\n    * Added property `net_financed_amount` (number)\r\n        > Net Financed amount calculated\r\n\r\n\r\n    * Deleted property `financed_amount` (integer)\r\n        > Financed amount calculated\r\n\r\n\r\n### `POST` /dms/quote/calculation/V2\r\n\r\n\r\n#### Request:\r\n\r\nChanged content type : `application/json`\r\n\r\nNew required properties:\r\n- `finance_type`\r\n\r\nNew optional properties:\r\n- `base_rate`\r\n- `calculation_method`\r\n- `financed_amount`\r\n- `rental_mode`\r\n\r\n* Added property `annual_usage` (integer)\r\n    > Allowed Usage\r\n\r\n\r\n* Added property `lender_id` (integer)\r\n    > Lender Id\r\n\r\n\r\n* Added property `net_financed_amount` (number)\r\n    > Asset Financed amount\r\n\r\n\r\n* Added property `vehicle` (object)\r\n    > Vehicle\r\n\r\n\r\n    * Property `vin` (string)\r\n        > VIN\r\n\r\n\r\n    * Property `is_new` (boolean)\r\n        > Is New\r\n\r\n\r\n    * Property `odometer_mileage` (integer)\r\n        > Odometer\r\n\r\n\r\n    * Property `msrp` (number)\r\n        > MSRP\r\n\r\n\r\n    * Property `year` (integer)\r\n        > Year\r\n\r\n\r\n    * Property `transmission_type` (string)\r\n        > Transmission Type\r\n\r\n\r\n* Added property `customer_address` (object)\r\n    > Customer Address\r\n\r\n\r\n    * Property `street_address` (string)\r\n        > Street Address\r\n\r\n\r\n    * Property `city` (string)\r\n        > City\r\n\r\n\r\n    * Property `state` (string)\r\n        > State\r\n\r\n\r\n    * Property `zip_code` (string)\r\n        > Zip Code\r\n\r\n\r\n* Added property `dealer_address` (object)\r\n    > Dealer Address\r\n\r\n\r\n* Added property `trade_in_amount` (number)\r\n    > Trade-in amount\r\n\r\n\r\n* Added property `finance_type` (string)\r\n    > Finance Type\r\n\r\n\r\n* Added property `markup_rate` (number)\r\n    > Markup Rate\r\n\r\n\r\n* Added property `trade_ins` (array)\r\n    > Trade Ins\r\n\r\n\r\n    Items (object):\r\n\r\n    * Property `trade_in_type` (string)\r\n        > Trade In Type\r\n\r\n\r\n    * Property `vin` (string)\r\n        > VIN\r\n\r\n\r\n    * Property `offer_amount` (number)\r\n        > Offer Amount\r\n\r\n\r\n    * Property `pay_off_amount` (number)\r\n        > Pay Off Amount\r\n\r\n\r\n    * Property `allowance_amount` (number)\r\n        > Actual Cash Value\r\n\r\n\r\n* Added property `rebate` (object)\r\n    > Rebate Model\r\n\r\n\r\n    * Property `name` (string)\r\n        > Description of the rebate\r\n\r\n\r\n    * Property `price` (number)\r\n        > Price of the rebate\r\n\r\n\r\n* Added property `tax_on_selling_price` (number)\r\n    > Selling Price Tax Calculation\r\n\r\n\r\n* Deleted property `financed_amount` (number)\r\n    > Asset Financed amount\r\n\r\n\r\n* Changed property `fees` (array)\r\n    > Fees\r\n\r\n\r\n    Changed items (object):\r\n\r\n    * Added property `fee_handling` (string)\r\n\r\n    * Added property `is_taxable` (boolean)\r\n\r\n    * Added property `tax_in_capital` (boolean)\r\n\r\n    * Added property `vendor` (string)\r\n\r\n    * Deleted property `amount_handling` (string)\r\n\r\n* Changed property `fni_products` (array)\r\n    > F&I Products\r\n\r\n\r\n    Changed items (object):\r\n\r\n    * Added property `is_taxable` (boolean)\r\n\r\n#### Return Type:\r\n\r\nChanged response : **200 OK**\r\n> Successful Response\r\n\r\n\r\n* Changed content type : `application/json`\r\n\r\n    * Added property `add_ons_total` (number)\r\n\r\n    * Added property `adjusted_capitalized_cost` (number)\r\n\r\n    * Added property `base_monthly_payment` (number)\r\n\r\n    * Added property `tax_on_capitalized_cost_reduction` (number)\r\n\r\n    * Added property `monthly_deprecation` (number)\r\n\r\n    * Added property `capitalized_cost_reduction` (number)\r\n\r\n    * Added property `fees_total` (number)\r\n\r\n    * Added property `fni_total` (number)\r\n\r\n    * Added property `fni_products` (array)\r\n\r\n        Items (object):\r\n\r\n        * Property `price` (number)\r\n\r\n        * Property `name` (string)\r\n\r\n        * Property `monthly_impact` (number)\r\n\r\n    * Added property `gross_capitalized_cost` (number)\r\n\r\n    * Added property `monthly_payment` (number)\r\n\r\n    * Added property `monthly_sales_use_tax` (number)\r\n\r\n    * Added property `rebate_promotions` (number)\r\n\r\n    * Added property `tax_amount` (number)\r\n\r\n### `POST` /dms/quote/calculation/multi-assets\r\n\r\n\r\n#### Request:\r\n\r\nChanged content type : `application/json`\r\n\r\nChanged items (object):\r\n\r\n* Changed property `fees` (array)\r\n    > Fees\r\n\r\n\r\n    Changed items (object):\r\n\r\n    * Added property `fee_handling` (string)\r\n\r\n    * Added property `is_taxable` (boolean)\r\n\r\n    * Added property `tax_in_capital` (boolean)\r\n\r\n    * Added property `vendor` (string)\r\n\r\n    * Deleted property `amount_handling` (string)\r\n\r\n* Changed property `fni_products` (array)\r\n    > F&I Products\r\n\r\n\r\n    Changed items (object):\r\n\r\n    * Added property `is_taxable` (boolean)\r\n\r\n### `POST` /dms/quote/calculation/quantity\r\n\r\n\r\n#### Request:\r\n\r\nChanged content type : `application/json`\r\n\r\n* Changed property `fees` (array)\r\n    > Fees\r\n\r\n\r\n    Changed items (object):\r\n\r\n    * Added property `fee_handling` (string)\r\n\r\n    * Added property `is_taxable` (boolean)\r\n\r\n    * Added property `tax_in_capital` (boolean)\r\n\r\n    * Added property `vendor` (string)\r\n\r\n    * Deleted property `amount_handling` (string)\r\n\r\n* Changed property `fni_products` (array)\r\n    > F&I Products\r\n\r\n\r\n    Changed items (object):\r\n\r\n    * Added property `is_taxable` (boolean)\r\n\r\n### `GET` /dms/customer/document/status\r\n\r\n\r\n#### Return Type:\r\n\r\nChanged response : **200 OK**\r\n> Successful Response\r\n\r\n\r\n* Changed content type : `application/json`\r\n\r\n    * Added property `customer_reference_id` (string)\r\n\r\n    * Added property `external_reference_id` (string)\r\n\r\n    * Added property `document_type` (string)\r\n\r\n    * Added property `comment` (string)\r\n\r\n    * Added property `category` (string)\r\n\r\n    * Added property `document_name` (string)\r\n\r\n    * Added property `document_size` (string)\r\n\r\n    * Added property `document_url` (string)\r\n\r\n    * Added property `reason_by_system` (string)\r\n\r\n    * Added property `reason_for_customer` (string)\r\n\r\n    * Added property `document_status` (string)\r\n\r\n    * Added property `document_upload_indicator` (boolean)\r\n\r\n    * Added property `expires_at` (string)\r\n        > format: YYYY-MM-DD hh:mm:ss\r\n\r\n\r\n    * Added property `created_at` (string)\r\n        > format: YYYY-MM-DD hh:mm:ss\r\n\r\n\r\n    * Added property `updated_at` (string)\r\n        > format: YYYY-MM-DD hh:mm:ss\r\n\r\n\r\n    * Added property `deleted_at` (string)\r\n        > format: YYYY-MM-DD hh:mm:ss\r\n\r\n\r\n    * Added property `updated_by` (string)\r\n\r\n    * Added property `created_by` (string)\r\n\r\n    * Added property `deleted_by` (string)\r\n\r\n    * Added property `uploaded_by` (string)\r\n\r\n    * Added property `uploaded_at` (string)\r\n\r\n    * Added property `is_deleted` (boolean)\r\n\r\n    * Added property `identifier` (string)\r\n\r\n    * Added property `stipulation_code` (string)\r\n\r\n    * Deleted property `result` (array)\r\n\r\n    * Deleted property `page_number` (integer)\r\n\r\n    * Deleted property `page_size` (integer)\r\n\r\n    * Deleted property `total_pages` (integer)\r\n\r\n    * Deleted property `total_results` (integer)\r\n\r\n### `GET` /dms/configure/document-package/document\r\n\r\n\r\n#### Return Type:\r\n\r\nChanged response : **200 OK**\r\n> Successful\r\n\r\n\r\n* Changed content type : `application/json`\r\n\r\n    * Changed property `signatures` (array)\r\n\r\n        Changed items (object):\r\n\r\n        * Added property `x_bound` (integer)\r\n\r\n        * Added property `y_bound` (integer)\r\n\r\n### `POST` /dms/configure/{document_package_id}/{document_id}/{signature_id}\r\n\r\n\r\n#### Return Type:\r\n\r\nChanged response : **200 OK**\r\n> Successful Response\r\n\r\n\r\n* Changed content type : `application/json`\r\n\r\n    * Changed property `signatures` (array)\r\n\r\n        Changed items (object):\r\n\r\n        * Added property `x_bound` (integer)\r\n\r\n        * Added property `y_bound` (integer)\r\n\r\n### `POST` /dms/submit-order\r\n\r\n\r\n#### Request:\r\n\r\nNew content type : `application/json`\r\n\r\n### `GET` /dms/stipulation/stipulation-by-lender\r\n\r\n\r\n#### Parameters:\r\n\r\nAdded: `company_id` in `query`\r\n\r\nDeleted: `lender_id` in `query`\r\n\r\n### `POST` /dms/affordability-check/\r\n\r\n\r\n#### Request:\r\n\r\nChanged content type : `application/json`\r\n\r\nNew required properties:\r\n- `company_code`\r\n- `dealer_code`\r\n- `lender_code`\r\n\r\nNew optional properties:\r\n- `dealer_id`\r\n\r\n* Added property `dealer_code` (string)\r\n\r\n* Added property `company_code` (string)\r\n    > Company code\r\n\r\n\r\n* Added property `lender_code` (string)\r\n\r\n* Deleted property `dealer_id` (integer)\r\n\r\n### `POST` /dms/affordability-check/monthly-payment-calculation/V2/\r\n\r\n\r\n#### Request:\r\n\r\nChanged content type : `application/json`\r\n\r\nNew required properties:\r\n- `company_id`\r\n\r\nNew optional properties:\r\n- `lender_id`\r\n\r\n* Added property `company_id` (integer)\r\n\r\n* Deleted property `lender_id` (integer)\r\n\r\n### `GET` /dms/inventory/filter\r\n\r\n\r\n#### Parameters:\r\n\r\nAdded: `vin` in `query`\r\n\r\nAdded: `mileage` in `query`\r\n\r\n### `GET` /dms/contract-term\r\n\r\n\r\n#### Parameters:\r\n\r\nAdded: `company_id` in `header`\r\n\r\nDeleted: `lender_id` in `header`\r\n\r\n### `GET` /dms/credit-ratings\r\n\r\n\r\n#### Parameters:\r\n\r\nAdded: `company_id` in `header`\r\n\r\nDeleted: `lender_id` in `header`\r\n\r\n### `GET` /dms/contract-allowed-annum-mileage\r\n\r\n\r\n#### Parameters:\r\n\r\nAdded: `company_id` in `header`\r\n\r\nDeleted: `lender_id` in `header`\r\n\r\n### `GET` /dms/asset-usage/active\r\n\r\n\r\n#### Parameters:\r\n\r\nAdded: `company_id` in `header`\r\n\r\nDeleted: `lender_id` in `header`\r\n\r\n### `POST` /dms/programs/all/\r\n\r\n\r\n#### Request:\r\n\r\nChanged content type : `application/json`\r\n\r\n* Added property `dealer_code` (string)\r\n    > Dealer Code\r\n\r\n\r\n* Added property `lender_code` (string)\r\n    > Lender Code\r\n\r\n\r\n* Added property `company_code` (string)\r\n    > Company Code\r\n\r\n\r\n* Added property `customer_type` (string)\r\n    > Customer Type for Chart\r\n\r\n\r\n* Added property `product_type` (string)\r\n    > Product Type For Chart\r\n\r\n\r\n* Added property `asset_category` (string)\r\n    > Asset Category For Chart\r\n\r\n\r\n* Added property `asset_type` (string)\r\n    > Asset Type For Chart\r\n\r\n\r\n* Added property `business_trading_age` (string)\r\n    > Business Trading Age For Chart\r\n\r\n\r\n* Added property `model_code` (string)\r\n    > Model Code\r\n\r\n\r\n* Added property `asset_condition` (string)\r\n    > Asset Condition\r\n\r\n\r\n* Added property `asset_classification` (string)\r\n    > Asset Classification (e.g. Vehicle, Equipment etc.)\r\n\r\n\r\n* Added property `is_rv_guaranteed` (string)\r\n    > Is RV Guaranteed\r\n\r\n\r\n* Added property `financed_amount` (string)\r\n    > Financed Amount\r\n\r\n\r\n* Added property `vin` (string)\r\n    > Vin Number\r\n\r\n\r\n* Added property `odometer` (integer)\r\n    > Odometer\r\n\r\n\r\n* Added property `selling_price` (integer)\r\n    > Selling Price\r\n\r\n\r\n* Added property `msrp` (integer)\r\n    > MSRF\r\n\r\n\r\n* Added property `is_new` (boolean)\r\n    > Is it new\r\n\r\n\r\n* Added property `total_score` (integer)\r\n    > Total Score\r\n\r\n\r\n* Added property `is_payment_estimator` (boolean)\r\n    > Is Payment Estimator\r\n\r\n\r\n* Added property `tier` (string)\r\n    > tier\r\n\r\n\r\n* Deleted property `dealer_id` (integer)\r\n    > System Generated Dealer Id\r\n\r\n\r\n* Deleted property `asset_make_id` (integer)\r\n    > System Generated Asset Make Id\r\n\r\n\r\n* Deleted property `asset_model_id` (integer)\r\n    > System Generated Asset Model Id\r\n\r\n\r\n* Deleted property `asset_model_detail_id` (integer)\r\n    > System Generated Asset Trim Id\r\n\r\n\r\n### `POST` /dms/get_event_associated_checklist/\r\n\r\n> This API helps to evaluate given criteria and retrieve configured checklist(s)\r\n\r\n\r\n### `GET` /dms/dealer/all-dealer-distance\r\n\r\n\r\n#### Parameters:\r\n\r\nAdded: `company_id` in `query`\r\n\r\nDeleted: `lender_id` in `query`\r\n\r\nChanged: `zip_code` in `query`\r\n\r\n#### Return Type:\r\n\r\nChanged response : **200 OK**\r\n> Successful Response\r\n\r\n\r\n* Changed content type : `application/json`\r\n\r\n    * Changed property `result` (array)\r\n\r\n        Changed items (object):\r\n\r\n        * Changed property `dealer_zip_code` (integer -> string)\r\n            > Dealer Zip Code\r\n\r\n\r\n### `POST` /dms/customer/\r\n\r\n\r\n#### Request:\r\n\r\nChanged content type : `application/json`\r\n\r\n* Added property `customer_license` (array)\r\n\r\n    Items (object):\r\n\r\n    * Property `first_name` (string)\r\n        > First name\r\n\r\n\r\n    * Property `last_name` (string)\r\n        > Last name\r\n\r\n\r\n    * Property `date_of_birth` (string)\r\n        > format: YYYY-MM-DD\r\n\r\n\r\n    * Property `is_pdf_417` (boolean)\r\n\r\n    * Property `license_number` (string)\r\n        > license number\r\n\r\n\r\n    * Property `issue_date` (string)\r\n        > format: YYYY-MM-DD\r\n\r\n\r\n    * Property `expiry_date` (string)\r\n        > format: YYYY-MM-DD\r\n\r\n\r\n    * Property `front_image` (string)\r\n        > license front image\r\n\r\n\r\n    * Property `back_image` (string)\r\n        > license back image\r\n\r\n\r\n    * Property `status` (string)\r\n\r\n    * Property `call_type` (string)\r\n        > An enumeration.\r\n\r\n\r\n        Enum values:\r\n\r\n        * `manual`\r\n        * `auto`\r\n    * Property `selfie_image` (string)\r\n\r\n    * Property `cropped_front_image` (string)\r\n\r\n    * Property `cropped_back_image` (string)\r\n\r\n    * Property `cropped_selfie_image` (string)\r\n\r\n    * Property `is_selfie_verified` (boolean)\r\n\r\n    * Property `created_by` (string)\r\n\r\n    * Property `reference_id` (string)\r\n\r\n    * Property `identifier` (string)\r\n\r\n    * Property `mitek_response` (string)\r\n\r\n    * Property `address` (object)\r\n\r\n        * Property `address_line_1` (string)\r\n            > Address line one\r\n\r\n\r\n        * Property `address_line_2` (string)\r\n            > Address line two\r\n\r\n\r\n        * Property `state_name` (string)\r\n            > Address state name\r\n\r\n\r\n        * Property `zip_code` (string)\r\n            > Zip code\r\n\r\n\r\n        * Property `county` (string)\r\n            > Address county\r\n\r\n\r\n        * Property `city` (string)\r\n            > Address city\r\n\r\n\r\n        * Property `contact_number` (string)\r\n            > Contact number\r\n\r\n\r\n        * Property `verified` (boolean)\r\n            > Is Address verified\r\n\r\n\r\n        * Property `move_in_date` (string)\r\n            > format: YYYY-MM-DD\r\n\r\n\r\n        * Property `is_garaging` (boolean)\r\n            > Garaging flag\r\n\r\n\r\n        * Property `identifier` (string)\r\n\r\n* Added property `customer_insurance` (array)\r\n\r\n    Items (object):\r\n\r\n    * Property `order_reference_id` (string)\r\n\r\n    * Property `reference_id` (string)\r\n\r\n    * Property `insurer_name` (string)\r\n\r\n    * Property `agent_phone` (string)\r\n\r\n    * Property `subscription_id` (string)\r\n\r\n    * Property `agent_name` (string)\r\n\r\n    * Property `policy_number` (string)\r\n\r\n    * Property `start_date` (string)\r\n        > format: YYYY-MM-DD\r\n\r\n\r\n    * Property `expiration_date` (string)\r\n        > format: YYYY-MM-DD\r\n\r\n\r\n    * Property `deductible_comprehensive` (number)\r\n\r\n    * Property `deductible_collision` (number)\r\n\r\n    * Property `created_by` (string)\r\n\r\n    * Property `identifier` (string)\r\n\r\n    * Property `is_verified` (boolean)\r\n\r\n    * Property `insurance_documents` (array)\r\n\r\n    * Property `insurer_address` (object)\r\n\r\n* Changed property `customer_profile` (object)\r\n\r\n    * Added property `preferred_contact` (string)\r\n\r\n    * Added property `external_id` (string)\r\n\r\n#### Return Type:\r\n\r\nChanged response : **201 Created**\r\n> Successful Response\r\n\r\n\r\n* Changed content type : `application/json`\r\n\r\n    * Added property `preferred_contact` (string)\r\n\r\n    * Added property `external_id` (string)\r\n\r\n### `GET` /dms/customer/customer-history\r\n\r\n\r\n#### Return Type:\r\n\r\nChanged response : **200 OK**\r\n> Successful Response\r\n\r\n\r\n* Changed content type : `application/json`\r\n\r\n    Changed items (object):\r\n\r\n    * Added property `preferred_contact` (string)\r\n\r\n    * Added property `external_id` (string)\r\n\r\n### `GET` /dms/customer\r\n\r\n\r\n#### Return Type:\r\n\r\nChanged response : **200 OK**\r\n> Successful Response\r\n\r\n\r\n* Changed content type : `application/json`\r\n\r\n    * Added property `preferred_contact` (string)\r\n\r\n    * Added property `external_id` (string)\r\n\r\n### `PATCH` /dms/customer\r\n\r\n\r\n#### Parameters:\r\n\r\nAdded: `dealer_code` in `query`\r\n\r\n#### Request:\r\n\r\nChanged content type : `application/json`\r\n\r\n* Changed property `customer_profile` (object)\r\n\r\n    * Added property `preferred_contact` (string)\r\n\r\n#### Return Type:\r\n\r\nChanged response : **200 OK**\r\n> Successful Response\r\n\r\n\r\n* Changed content type : `application/json`\r\n\r\n    * Added property `preferred_contact` (string)\r\n\r\n    * Added property `external_id` (string)\r\n\r\n### `GET` /dms/customer-by-email\r\n\r\n\r\n#### Return Type:\r\n\r\nChanged response : **200 OK**\r\n> Successful Response\r\n\r\n\r\n* Changed content type : `application/json`\r\n\r\n    * Added property `preferred_contact` (string)\r\n\r\n    * Added property `external_id` (string)\r\n\r\n### `POST` /dms/customer/employment-info\r\n\r\n\r\n#### Parameters:\r\n\r\nAdded: `dealer_code` in `query`\r\n\r\n### `PATCH` /dms/customer/employment-info\r\n\r\n\r\n#### Parameters:\r\n\r\nAdded: `dealer_code` in `query`\r\n\r\n### `PATCH` /dms/order/quick_quotation\r\n\r\n\r\n#### Request:\r\n\r\nChanged content type : `application/json`\r\n\r\n* Added property `name` (string)\r\n\r\n* Added property `identifier` (string)\r\n\r\n* Added property `start_date` (string)\r\n\r\n* Added property `end_date` (string)\r\n\r\n* Added property `customer_reference_id` (string)\r\n\r\n* Added property `external_order_id` (string)\r\n\r\n* Added property `created_by` (string)\r\n\r\n* Added property `selling_price` (number)\r\n\r\n* Added property `down_payment` (number)\r\n\r\n* Added property `estimated_monthly_payment` (number)\r\n\r\n* Added property `sum_of_advance_rentals` (number)\r\n\r\n* Added property `calculations_type` (string)\r\n\r\n* Added property `no_of_advance_payments` (integer)\r\n\r\n* Added property `no_of_regular_payments` (integer)\r\n\r\n* Added property `introducer_identifier` (string)\r\n\r\n* Added property `introducer_name` (string)\r\n\r\n* Added property `rental_frequency` (string)\r\n\r\n* Added property `deferral_amount` (number)\r\n\r\n* Added property `rv_balloon_value` (number)\r\n\r\n* Added property `balloon_collection` (string)\r\n\r\n* Added property `finance_type` (string)\r\n\r\n* Added property `product_type` (string)\r\n\r\n* Added property `program_type` (string)\r\n\r\n* Added property `finance_amount` (number)\r\n\r\n* Added property `gross_profit` (number)\r\n\r\n* Added property `commission_amount` (number)\r\n\r\n* Added property `due_at_signing` (number)\r\n\r\n* Added property `meta_data` (object)\r\n\r\n* Added property `comments` (string)\r\n\r\n* Added property `broker_id` (string)\r\n\r\n* Added property `vat_treatment` (string)\r\n\r\n* Added property `tax_amount` (number)\r\n\r\n* Added property `tax_amount_number` (integer)\r\n\r\n* Added property `deferred_type` (string)\r\n\r\n* Added property `reference_number` (string)\r\n\r\n* Added property `rental_mode` (string)\r\n\r\n* Added property `rate_type` (string)\r\n\r\n* Added property `margin` (number)\r\n\r\n* Added property `commission_type` (string)\r\n\r\n* Added property `sum_of_fees` (number)\r\n\r\n* Added property `sum_of_periodic_interest` (number)\r\n\r\n* Added property `sum_of_rentals` (number)\r\n\r\n* Added property `total_payables` (number)\r\n\r\n* Added property `running_id` (string)\r\n\r\n* Added property `non_vatable_amount` (number)\r\n\r\n* Added property `order_fees` (array)\r\n\r\n    Items (object):\r\n\r\n    * Property `id` (integer)\r\n\r\n    * Property `identifier` (string)\r\n\r\n    * Property `dealer_fee_name` (string)\r\n\r\n    * Property `applied_price` (number)\r\n\r\n    * Property `order_id` (integer)\r\n\r\n    * Property `fee_frequency` (string)\r\n\r\n    * Property `fee_occurance` (string)\r\n\r\n    * Property `fee_first_due_date` (string)\r\n\r\n* Added property `order_payments` (array)\r\n\r\n    Items (object):\r\n\r\n    * Property `identifier` (string)\r\n\r\n    * Property `payment_number_from` (integer)\r\n\r\n    * Property `payment_number_to` (integer)\r\n\r\n    * Property `amount` (number)\r\n\r\n    * Property `payment_type` (string)\r\n\r\n    * Property `order_id` (integer)\r\n\r\n* Added property `customer` (object)\r\n\r\n    * Property `company_name` (string)\r\n\r\n    * Property `first_name` (string)\r\n\r\n    * Property `last_name` (string)\r\n\r\n    * Property `mobile_number` (string)\r\n\r\n    * Property `customer_type` (string)\r\n\r\n    * Property `identifier` (string)\r\n\r\n    * Property `email` (string)\r\n\r\n    * Property `reference_id` (string)\r\n\r\n* Changed property `dealer_id` (integer -> string)\r\n\r\n* Changed property `assets` (array)\r\n\r\n    Changed items (object):\r\n\r\n    * Added property `id` (integer)\r\n\r\n    * Added property `identifier` (string)\r\n\r\n    * Added property `rv_balloon_amount` (number)\r\n\r\n#### Return Type:\r\n\r\nChanged response : **200 OK**\r\n> Successful Response\r\n\r\n\r\n* Changed content type : `application/json`\r\n\r\n    * Added property `name` (string)\r\n\r\n    * Added property `end_date` (string)\r\n\r\n    * Added property `updated_at` (string)\r\n\r\n    * Added property `estimated_monthly_payment` (string)\r\n\r\n    * Added property `calculations_type` (string)\r\n\r\n    * Added property `sum_of_advance_rentals` (number)\r\n\r\n    * Added property `balloon_collection` (string)\r\n\r\n    * Added property `product_type` (string)\r\n\r\n    * Added property `commission_type` (string)\r\n\r\n    * Added property `tax_amount` (number)\r\n\r\n    * Added property `tax_amount_number` (integer)\r\n\r\n    * Added property `deferred_type` (string)\r\n\r\n    * Added property `rate_type` (string)\r\n\r\n    * Added property `margin` (number)\r\n\r\n    * Added property `rental_mode` (string)\r\n\r\n    * Added property `sum_of_fees` (number)\r\n\r\n    * Added property `sum_of_periodic_interest` (number)\r\n\r\n    * Added property `sum_of_rentals` (number)\r\n\r\n    * Added property `total_payables` (number)\r\n\r\n    * Added property `running_id` (string)\r\n\r\n    * Added property `broker_id` (integer)\r\n\r\n    * Added property `non_vatable_amount` (number)\r\n\r\n    * Added property `order_stakeholders` (array)\r\n\r\n    * Added property `date_submitted` (string)\r\n\r\n    * Changed property `order_fees` (array)\r\n\r\n        Changed items (object):\r\n\r\n        * Added property `id` (integer)\r\n\r\n        * Added property `fee_frequency` (string)\r\n\r\n        * Added property `fee_occurance` (string)\r\n\r\n        * Added property `fee_first_due_date` (string)\r\n\r\n    * Changed property `assets` (array)\r\n\r\n        Changed items (object):\r\n\r\n        * Added property `id` (integer)\r\n\r\n        * Added property `identifier` (string)\r\n\r\n        * Added property `rv_balloon_amount` (number)\r\n\r\n    * Changed property `customer` (object)\r\n\r\n        * Added property `company_name` (string)\r\n\r\n        * Added property `customer_type` (string)\r\n\r\n### `POST` /dms/order/quick_quotation\r\n\r\n\r\n#### Request:\r\n\r\nChanged content type : `application/json`\r\n\r\n* Changed property `quote_identifiers` (object)\r\n\r\n    * Added property `company_name` (string)\r\n\r\n    * Added property `customer_type` (string)\r\n\r\n* Changed property `quote_details` (object)\r\n\r\n    * Added property `name` (string)\r\n\r\n    * Added property `end_date` (string)\r\n\r\n    * Added property `estimated_monthly_payment` (number)\r\n\r\n    * Added property `sum_of_advance_rentals` (number)\r\n\r\n    * Added property `calculations_type` (string)\r\n\r\n    * Added property `balloon_collection` (string)\r\n\r\n    * Added property `product_type` (string)\r\n\r\n    * Added property `program_type` (string)\r\n\r\n    * Added property `broker_id` (string)\r\n\r\n    * Added property `tax_amount` (number)\r\n\r\n    * Added property `tax_amount_number` (integer)\r\n\r\n    * Added property `deferred_type` (string)\r\n\r\n    * Added property `rental_mode` (string)\r\n\r\n    * Added property `rate_type` (string)\r\n\r\n    * Added property `margin` (number)\r\n\r\n    * Added property `commission_type` (string)\r\n\r\n    * Added property `sum_of_fees` (number)\r\n\r\n    * Added property `sum_of_periodic_interest` (number)\r\n\r\n    * Added property `sum_of_rentals` (number)\r\n\r\n    * Added property `total_payables` (number)\r\n\r\n    * Added property `running_id` (string)\r\n\r\n    * Added property `non_vatable_amount` (number)\r\n\r\n    * Changed property `order_fees` (array)\r\n\r\n        Changed items (object):\r\n\r\n        * Added property `id` (integer)\r\n\r\n        * Added property `fee_frequency` (string)\r\n\r\n        * Added property `fee_occurance` (string)\r\n\r\n        * Added property `fee_first_due_date` (string)\r\n\r\n    * Changed property `assets` (array)\r\n\r\n        Changed items (object):\r\n\r\n        * Added property `id` (integer)\r\n\r\n        * Added property `identifier` (string)\r\n\r\n        * Added property `rv_balloon_amount` (number)\r\n\r\n#### Return Type:\r\n\r\nChanged response : **200 OK**\r\n> Successful Response\r\n\r\n\r\n* Changed content type : `application/json`\r\n\r\n    * Added property `name` (string)\r\n\r\n    * Added property `end_date` (string)\r\n\r\n    * Added property `updated_at` (string)\r\n\r\n    * Added property `estimated_monthly_payment` (string)\r\n\r\n    * Added property `calculations_type` (string)\r\n\r\n    * Added property `sum_of_advance_rentals` (number)\r\n\r\n    * Added property `balloon_collection` (string)\r\n\r\n    * Added property `product_type` (string)\r\n\r\n    * Added property `commission_type` (string)\r\n\r\n    * Added property `tax_amount` (number)\r\n\r\n    * Added property `tax_amount_number` (integer)\r\n\r\n    * Added property `deferred_type` (string)\r\n\r\n    * Added property `rate_type` (string)\r\n\r\n    * Added property `margin` (number)\r\n\r\n    * Added property `rental_mode` (string)\r\n\r\n    * Added property `sum_of_fees` (number)\r\n\r\n    * Added property `sum_of_periodic_interest` (number)\r\n\r\n    * Added property `sum_of_rentals` (number)\r\n\r\n    * Added property `total_payables` (number)\r\n\r\n    * Added property `running_id` (string)\r\n\r\n    * Added property `broker_id` (integer)\r\n\r\n    * Added property `non_vatable_amount` (number)\r\n\r\n    * Added property `order_stakeholders` (array)\r\n\r\n    * Added property `date_submitted` (string)\r\n\r\n    * Changed property `order_fees` (array)\r\n\r\n        Changed items (object):\r\n\r\n        * Added property `id` (integer)\r\n\r\n        * Added property `fee_frequency` (string)\r\n\r\n        * Added property `fee_occurance` (string)\r\n\r\n        * Added property `fee_first_due_date` (string)\r\n\r\n    * Changed property `assets` (array)\r\n\r\n        Changed items (object):\r\n\r\n        * Added property `id` (integer)\r\n\r\n        * Added property `identifier` (string)\r\n\r\n        * Added property `rv_balloon_amount` (number)\r\n\r\n    * Changed property `customer` (object)\r\n\r\n        * Added property `company_name` (string)\r\n\r\n        * Added property `customer_type` (string)\r\n\r\n### `POST` /dms/configure/appointment\r\n\r\n\r\n#### Request:\r\n\r\nChanged content type : `application/json`\r\n\r\nNew optional properties:\r\n- `customer_id`\r\n\r\n* Added property `time_zone` (string)\r\n\r\n### `PATCH` /dms/configure/appointment\r\n\r\n\r\n#### Request:\r\n\r\nChanged content type : `application/json`\r\n\r\nNew optional properties:\r\n- `customer_id`\r\n\r\n* Added property `time_zone` (string)\r\n\r\n### `GET` /dms/configure/document-package\r\n\r\n\r\n#### Return Type:\r\n\r\nChanged response : **200 OK**\r\n> Successful\r\n\r\n\r\n* Changed content type : `application/json`\r\n\r\n    * Changed property `documents` (array)\r\n\r\n        Changed items (object):\r\n\r\n        * Changed property `signatures` (array)\r\n\r\n            Changed items (object):\r\n\r\n            * Added property `x_bound` (integer)\r\n\r\n            * Added property `y_bound` (integer)\r\n\r\n### `POST` /dms/configure/document-package\r\n\r\n\r\n#### Parameters:\r\n\r\nAdded: `is_product` in `query`\r\n\r\n#### Request:\r\n\r\nChanged content type : `application/json`\r\n\r\n* Changed property `documents` (array)\r\n\r\n    Changed items (object):\r\n\r\n    * Changed property `signatures` (array)\r\n\r\n        Changed items (object):\r\n\r\n        * Added property `x_bound` (integer)\r\n\r\n        * Added property `y_bound` (integer)\r\n\r\n#### Return Type:\r\n\r\nChanged response : **200 OK**\r\n> Successful Response\r\n\r\n\r\n* Changed content type : `application/json`\r\n\r\n    * Changed property `documents` (array)\r\n\r\n        Changed items (object):\r\n\r\n        * Changed property `signatures` (array)\r\n\r\n            Changed items (object):\r\n\r\n            * Added property `x_bound` (integer)\r\n\r\n            * Added property `y_bound` (integer)\r\n\r\n### `GET` /dms/configure/document-package-by-reference-id\r\n\r\n\r\n#### Return Type:\r\n\r\nChanged response : **200 OK**\r\n> Successful Response\r\n\r\n\r\n* Changed content type : `application/json`\r\n\r\n    * Changed property `documents` (array)\r\n\r\n        Changed items (object):\r\n\r\n        * Changed property `signatures` (array)\r\n\r\n            Changed items (object):\r\n\r\n            * Added property `x_bound` (integer)\r\n\r\n            * Added property `y_bound` (integer)\r\n\r\n### `GET` /dms/configure/all-document-packages-by-reference-id\r\n\r\n\r\n#### Parameters:\r\n\r\nChanged: `document_type` in `query`\r\n> Document Type\r\n\r\n\r\n#### Return Type:\r\n\r\nChanged response : **200 OK**\r\n> Successful Response\r\n\r\n\r\n* Changed content type : `application/json`\r\n\r\n    Changed items (object):\r\n\r\n    * Changed property `documents` (array)\r\n\r\n        Changed items (object):\r\n\r\n        * Changed property `signatures` (array)\r\n\r\n            Changed items (object):\r\n\r\n            * Added property `x_bound` (integer)\r\n\r\n            * Added property `y_bound` (integer)\r\n\r\n### `GET` /dms/customer/all-customers\r\n\r\n\r\n#### Parameters:\r\n\r\nChanged: `sort_by` in `query`\r\n\r\n#### Return Type:\r\n\r\nChanged response : **200 OK**\r\n> Successful Response\r\n\r\n\r\n* Changed content type : `application/json`\r\n\r\n    * Changed property `result` (array)\r\n\r\n        Changed items (object):\r\n\r\n        * Added property `preferred_contact` (string)\r\n\r\n        * Added property `external_id` (string)\r\n\r\n### `GET` /dms/configure/quotation\r\n\r\n\r\n#### Return Type:\r\n\r\nChanged response : **200 OK**\r\n> Successful Response\r\n\r\n\r\n* Changed content type : `application/json`\r\n\r\n    New optional properties:\r\n    - `allowed_usage`\r\n    - `annual_usage`\r\n    - `apr`\r\n    - `contract_term`\r\n    - `credit_rating`\r\n    - `customer_id`\r\n    - `dealer_id`\r\n    - `down_payment`\r\n    - `down_payment_lease`\r\n    - `due_at_signing`\r\n    - `estimated_monthly_payment`\r\n    - `lender_id`\r\n    - `rv_balloon_percentage`\r\n    - `rv_balloon_value`\r\n    - `selling_price`\r\n    - `vehicle_id`\r\n\r\n    * Added property `broker_id` (integer)\r\n\r\n    * Added property `company_id` (integer)\r\n\r\n    * Added property `name` (string)\r\n\r\n    * Added property `is_payment_updated` (boolean)\r\n\r\n    * Added property `tax_amount` (number)\r\n\r\n    * Added property `tax_amount_number` (number)\r\n\r\n    * Added property `deferred_type` (string)\r\n\r\n    * Added property `balloon_collection` (string)\r\n\r\n    * Added property `rate_type` (string)\r\n\r\n    * Added property `commission_type` (string)\r\n\r\n    * Added property `running_id` (string)\r\n\r\n    * Added property `order_currency` (string)\r\n\r\n    * Added property `commission_amount` (number)\r\n\r\n    * Added property `received_security_deposit` (integer)\r\n\r\n    * Added property `net_finance_amount` (number)\r\n\r\n    * Added property `rebate` (number)\r\n\r\n    * Added property `capitalized_cost_reduction` (number)\r\n\r\n    * Added property `monthly_deprecation` (number)\r\n\r\n    * Added property `tax_on_capitalized_cost_reduction` (number)\r\n\r\n    * Added property `monthly_sales_use_tax` (number)\r\n\r\n    * Added property `sum_of_fees` (number)\r\n\r\n    * Added property `sum_of_periodic_interest` (number)\r\n\r\n    * Added property `sum_of_rentals` (number)\r\n\r\n    * Added property `total_payables` (number)\r\n\r\n    * Added property `non_vatable_amount` (number)\r\n\r\n    * Added property `individualized_agreement` (string)\r\n\r\n    * Added property `base_residual_type` (integer)\r\n\r\n    * Added property `excess_mileage_rate` (number)\r\n\r\n    * Added property `asset_rv_amount` (number)\r\n\r\n    * Changed property `order_fnI` (array)\r\n\r\n        Changed items (object):\r\n\r\n        * Added property `mileage` (integer)\r\n\r\n        * Added property `term` (integer)\r\n\r\n        * Added property `is_msp` (boolean)\r\n\r\n    * Changed property `order_fees` (array)\r\n\r\n        Changed items (object):\r\n\r\n        * Added property `vendor` (string)\r\n\r\n        * Added property `fee_type` (string)\r\n\r\n    * Changed property `order_asset` (object)\r\n\r\n        * Added property `mileage` (integer)\r\n\r\n        * Added property `asset_type` (string)\r\n\r\n        * Added property `rv_balloon_amount` (number)\r\n\r\n        * Deleted property `milage` (boolean)\r\n\r\n    * Changed property `order_tradein` (object)\r\n\r\n        * Added property `trade_in_type` (string)\r\n            > An enumeration.\r\n\r\n\r\n            Enum values:\r\n\r\n            * `Manual Estimate`\r\n            * `Make Model`\r\n            * `Vin`\r\n            * `License Plate`\r\n        * Added property `question_answers` (array)\r\n\r\n            Items (object):\r\n\r\n            * Property `question` (string)\r\n\r\n            * Property `answer` (string)\r\n\r\n            * Property `trade_in_id` (integer)\r\n\r\n    * Changed property `appointment_details` (object)\r\n\r\n        * Added property `time_zone` (string)\r\n\r\n### `GET` /dms/configure/all-quotations\r\n\r\n\r\n#### Return Type:\r\n\r\nChanged response : **200 OK**\r\n> Successful Response\r\n\r\n\r\n* Changed content type : `application/json`\r\n\r\n    Changed items (object):\r\n\r\n    New optional properties:\r\n    - `allowed_usage`\r\n    - `annual_usage`\r\n    - `apr`\r\n    - `contract_term`\r\n    - `credit_rating`\r\n    - `customer_id`\r\n    - `dealer_id`\r\n    - `down_payment`\r\n    - `down_payment_lease`\r\n    - `due_at_signing`\r\n    - `estimated_monthly_payment`\r\n    - `lender_id`\r\n    - `rv_balloon_percentage`\r\n    - `rv_balloon_value`\r\n    - `selling_price`\r\n    - `vehicle_id`\r\n\r\n    * Added property `broker_id` (integer)\r\n\r\n    * Added property `company_id` (integer)\r\n\r\n    * Added property `name` (string)\r\n\r\n    * Added property `is_payment_updated` (boolean)\r\n\r\n    * Added property `tax_amount` (number)\r\n\r\n    * Added property `tax_amount_number` (number)\r\n\r\n    * Added property `deferred_type` (string)\r\n\r\n    * Added property `balloon_collection` (string)\r\n\r\n    * Added property `rate_type` (string)\r\n\r\n    * Added property `commission_type` (string)\r\n\r\n    * Added property `running_id` (string)\r\n\r\n    * Added property `order_currency` (string)\r\n\r\n    * Added property `commission_amount` (number)\r\n\r\n    * Added property `received_security_deposit` (integer)\r\n\r\n    * Added property `net_finance_amount` (number)\r\n\r\n    * Added property `rebate` (number)\r\n\r\n    * Added property `capitalized_cost_reduction` (number)\r\n\r\n    * Added property `monthly_deprecation` (number)\r\n\r\n    * Added property `tax_on_capitalized_cost_reduction` (number)\r\n\r\n    * Added property `monthly_sales_use_tax` (number)\r\n\r\n    * Added property `sum_of_fees` (number)\r\n\r\n    * Added property `sum_of_periodic_interest` (number)\r\n\r\n    * Added property `sum_of_rentals` (number)\r\n\r\n    * Added property `total_payables` (number)\r\n\r\n    * Added property `non_vatable_amount` (number)\r\n\r\n    * Added property `individualized_agreement` (string)\r\n\r\n    * Added property `base_residual_type` (integer)\r\n\r\n    * Added property `excess_mileage_rate` (number)\r\n\r\n    * Added property `asset_rv_amount` (number)\r\n\r\n    * Changed property `order_fnI` (array)\r\n\r\n        Changed items (object):\r\n\r\n        * Added property `mileage` (integer)\r\n\r\n        * Added property `term` (integer)\r\n\r\n        * Added property `is_msp` (boolean)\r\n\r\n    * Changed property `order_fees` (array)\r\n\r\n        Changed items (object):\r\n\r\n        * Added property `vendor` (string)\r\n\r\n        * Added property `fee_type` (string)\r\n\r\n    * Changed property `order_asset` (object)\r\n\r\n        * Added property `mileage` (integer)\r\n\r\n        * Added property `asset_type` (string)\r\n\r\n        * Added property `rv_balloon_amount` (number)\r\n\r\n        * Deleted property `milage` (boolean)\r\n\r\n    * Changed property `order_tradein` (object)\r\n\r\n        * Added property `trade_in_type` (string)\r\n            > An enumeration.\r\n\r\n\r\n        * Added property `question_answers` (array)\r\n\r\n    * Changed property `appointment_details` (object)\r\n\r\n        * Added property `time_zone` (string)\r\n\r\n### `PATCH` /dms/configure/quotation/{identifier}\r\n\r\n\r\n#### Request:\r\n\r\nChanged content type : `application/json`\r\n\r\nNew optional properties:\r\n- `allowed_usage`\r\n- `annual_usage`\r\n- `apr`\r\n- `contract_term`\r\n- `credit_rating`\r\n- `dealer_id`\r\n- `down_payment`\r\n- `down_payment_lease`\r\n- `due_at_signing`\r\n- `estimated_monthly_payment`\r\n- `lender_id`\r\n- `rv_balloon_percentage`\r\n- `rv_balloon_value`\r\n- `selling_price`\r\n- `vehicle_id`\r\n\r\n* Added property `broker_id` (integer)\r\n\r\n* Added property `company_id` (integer)\r\n\r\n* Added property `name` (string)\r\n\r\n* Added property `is_payment_updated` (boolean)\r\n\r\n* Added property `tax_amount` (number)\r\n\r\n* Added property `tax_amount_number` (number)\r\n\r\n* Added property `deferred_type` (string)\r\n\r\n* Added property `balloon_collection` (string)\r\n\r\n* Added property `rate_type` (string)\r\n\r\n* Added property `commission_type` (string)\r\n\r\n* Added property `running_id` (string)\r\n\r\n* Added property `order_currency` (string)\r\n\r\n* Added property `commission_amount` (number)\r\n\r\n* Added property `received_security_deposit` (integer)\r\n\r\n* Added property `net_finance_amount` (number)\r\n\r\n* Added property `rebate` (number)\r\n\r\n* Added property `capitalized_cost_reduction` (number)\r\n\r\n* Added property `monthly_deprecation` (number)\r\n\r\n* Added property `tax_on_capitalized_cost_reduction` (number)\r\n\r\n* Added property `monthly_sales_use_tax` (number)\r\n\r\n* Added property `sum_of_fees` (number)\r\n\r\n* Added property `sum_of_periodic_interest` (number)\r\n\r\n* Added property `sum_of_rentals` (number)\r\n\r\n* Added property `total_payables` (number)\r\n\r\n* Added property `non_vatable_amount` (number)\r\n\r\n* Added property `individualized_agreement` (string)\r\n\r\n* Added property `base_residual_type` (integer)\r\n\r\n* Added property `excess_mileage_rate` (number)\r\n\r\n* Added property `asset_rv_amount` (number)\r\n\r\n* Changed property `order_fnI` (array)\r\n\r\n    Changed items (object):\r\n\r\n    * Added property `mileage` (integer)\r\n\r\n    * Added property `term` (integer)\r\n\r\n    * Added property `is_msp` (boolean)\r\n\r\n* Changed property `order_fees` (array)\r\n\r\n    Changed items (object):\r\n\r\n    * Added property `vendor` (string)\r\n\r\n    * Added property `fee_type` (string)\r\n\r\n* Changed property `order_asset` (object)\r\n\r\n    * Added property `mileage` (integer)\r\n\r\n    * Added property `asset_type` (string)\r\n\r\n    * Added property `rv_balloon_amount` (number)\r\n\r\n    * Deleted property `milage` (boolean)\r\n\r\n* Changed property `order_tradein` (object)\r\n\r\n    * Added property `trade_in_type` (string)\r\n        > An enumeration.\r\n\r\n\r\n    * Added property `question_answers` (array)\r\n\r\n* Changed property `appointment_details` (object)\r\n\r\n    * Added property `time_zone` (string)\r\n\r\n#### Return Type:\r\n\r\nChanged response : **200 OK**\r\n> Successful Response\r\n\r\n\r\n* Changed content type : `application/json`\r\n\r\n    New optional properties:\r\n    - `allowed_usage`\r\n    - `annual_usage`\r\n    - `apr`\r\n    - `contract_term`\r\n    - `credit_rating`\r\n    - `dealer_id`\r\n    - `down_payment`\r\n    - `down_payment_lease`\r\n    - `due_at_signing`\r\n    - `estimated_monthly_payment`\r\n    - `lender_id`\r\n    - `rv_balloon_percentage`\r\n    - `rv_balloon_value`\r\n    - `selling_price`\r\n    - `vehicle_id`\r\n\r\n    * Added property `broker_id` (integer)\r\n\r\n    * Added property `company_id` (integer)\r\n\r\n    * Added property `name` (string)\r\n\r\n    * Added property `is_payment_updated` (boolean)\r\n\r\n    * Added property `tax_amount` (number)\r\n\r\n    * Added property `tax_amount_number` (number)\r\n\r\n    * Added property `deferred_type` (string)\r\n\r\n    * Added property `balloon_collection` (string)\r\n\r\n    * Added property `rate_type` (string)\r\n\r\n    * Added property `commission_type` (string)\r\n\r\n    * Added property `running_id` (string)\r\n\r\n    * Added property `order_currency` (string)\r\n\r\n    * Added property `commission_amount` (number)\r\n\r\n    * Added property `received_security_deposit` (integer)\r\n\r\n    * Added property `net_finance_amount` (number)\r\n\r\n    * Added property `rebate` (number)\r\n\r\n    * Added property `capitalized_cost_reduction` (number)\r\n\r\n    * Added property `monthly_deprecation` (number)\r\n\r\n    * Added property `tax_on_capitalized_cost_reduction` (number)\r\n\r\n    * Added property `monthly_sales_use_tax` (number)\r\n\r\n    * Added property `sum_of_fees` (number)\r\n\r\n    * Added property `sum_of_periodic_interest` (number)\r\n\r\n    * Added property `sum_of_rentals` (number)\r\n\r\n    * Added property `total_payables` (number)\r\n\r\n    * Added property `non_vatable_amount` (number)\r\n\r\n    * Added property `individualized_agreement` (string)\r\n\r\n    * Added property `base_residual_type` (integer)\r\n\r\n    * Added property `excess_mileage_rate` (number)\r\n\r\n    * Added property `asset_rv_amount` (number)\r\n\r\n    * Added property `changeVehicleStatus` (boolean)\r\n\r\n    * Changed property `order_fnI` (array)\r\n\r\n        Changed items (object):\r\n\r\n        * Added property `mileage` (integer)\r\n\r\n        * Added property `term` (integer)\r\n\r\n        * Added property `is_msp` (boolean)\r\n\r\n    * Changed property `order_fees` (array)\r\n\r\n        Changed items (object):\r\n\r\n        * Added property `vendor` (string)\r\n\r\n        * Added property `fee_type` (string)\r\n\r\n    * Changed property `order_asset` (object)\r\n\r\n        * Added property `mileage` (integer)\r\n\r\n        * Added property `asset_type` (string)\r\n\r\n        * Added property `rv_balloon_amount` (number)\r\n\r\n        * Deleted property `milage` (boolean)\r\n\r\n    * Changed property `order_tradein` (object)\r\n\r\n        * Added property `trade_in_type` (string)\r\n            > An enumeration.\r\n\r\n\r\n        * Added property `question_answers` (array)\r\n\r\n    * Changed property `appointment_details` (object)\r\n\r\n        * Added property `time_zone` (string)\r\n\r\n### `POST` /dms/configure/save-quotation\r\n\r\n\r\n#### Request:\r\n\r\nChanged content type : `application/json`\r\n\r\nChanged items (object):\r\n\r\nNew optional properties:\r\n- `allowed_usage`\r\n- `annual_usage`\r\n- `apr`\r\n- `contract_term`\r\n- `credit_rating`\r\n- `dealer_id`\r\n- `down_payment`\r\n- `down_payment_lease`\r\n- `due_at_signing`\r\n- `estimated_monthly_payment`\r\n- `lender_id`\r\n- `rv_balloon_percentage`\r\n- `rv_balloon_value`\r\n- `selling_price`\r\n- `vehicle_id`\r\n\r\n* Added property `broker_id` (integer)\r\n\r\n* Added property `company_id` (integer)\r\n\r\n* Added property `name` (string)\r\n\r\n* Added property `is_payment_updated` (boolean)\r\n\r\n* Added property `tax_amount` (number)\r\n\r\n* Added property `tax_amount_number` (number)\r\n\r\n* Added property `deferred_type` (string)\r\n\r\n* Added property `balloon_collection` (string)\r\n\r\n* Added property `rate_type` (string)\r\n\r\n* Added property `commission_type` (string)\r\n\r\n* Added property `running_id` (string)\r\n\r\n* Added property `order_currency` (string)\r\n\r\n* Added property `commission_amount` (number)\r\n\r\n* Added property `received_security_deposit` (integer)\r\n\r\n* Added property `net_finance_amount` (number)\r\n\r\n* Added property `rebate` (number)\r\n\r\n* Added property `capitalized_cost_reduction` (number)\r\n\r\n* Added property `monthly_deprecation` (number)\r\n\r\n* Added property `tax_on_capitalized_cost_reduction` (number)\r\n\r\n* Added property `monthly_sales_use_tax` (number)\r\n\r\n* Added property `sum_of_fees` (number)\r\n\r\n* Added property `sum_of_periodic_interest` (number)\r\n\r\n* Added property `sum_of_rentals` (number)\r\n\r\n* Added property `total_payables` (number)\r\n\r\n* Added property `non_vatable_amount` (number)\r\n\r\n* Added property `individualized_agreement` (string)\r\n\r\n* Added property `base_residual_type` (integer)\r\n\r\n* Added property `excess_mileage_rate` (number)\r\n\r\n* Added property `asset_rv_amount` (number)\r\n\r\n* Added property `is_payment_estimator` (boolean)\r\n\r\n* Changed property `order_fnI` (array)\r\n\r\n    Changed items (object):\r\n\r\n    * Added property `mileage` (integer)\r\n\r\n    * Added property `term` (integer)\r\n\r\n    * Added property `is_msp` (boolean)\r\n\r\n* Changed property `order_fees` (array)\r\n\r\n    Changed items (object):\r\n\r\n    * Added property `vendor` (string)\r\n\r\n    * Added property `fee_type` (string)\r\n\r\n* Changed property `order_asset` (object)\r\n\r\n    * Added property `mileage` (integer)\r\n\r\n    * Added property `asset_type` (string)\r\n\r\n    * Added property `rv_balloon_amount` (number)\r\n\r\n    * Deleted property `milage` (boolean)\r\n\r\n* Changed property `order_tradein` (object)\r\n\r\n    * Added property `trade_in_type` (string)\r\n        > An enumeration.\r\n\r\n\r\n    * Added property `question_answers` (array)\r\n\r\n* Changed property `appointment_details` (object)\r\n\r\n    * Added property `time_zone` (string)\r\n\r\n#### Return Type:\r\n\r\nChanged response : **201 Created**\r\n> Successful Response\r\n\r\n\r\n* Changed content type : `application/json`\r\n\r\n    Changed items (object):\r\n\r\n    New optional properties:\r\n    - `allowed_usage`\r\n    - `annual_usage`\r\n    - `apr`\r\n    - `contract_term`\r\n    - `credit_rating`\r\n    - `customer_id`\r\n    - `dealer_id`\r\n    - `down_payment`\r\n    - `down_payment_lease`\r\n    - `due_at_signing`\r\n    - `estimated_monthly_payment`\r\n    - `lender_id`\r\n    - `rv_balloon_percentage`\r\n    - `rv_balloon_value`\r\n    - `selling_price`\r\n    - `vehicle_id`\r\n\r\n    * Added property `broker_id` (integer)\r\n\r\n    * Added property `company_id` (integer)\r\n\r\n    * Added property `name` (string)\r\n\r\n    * Added property `is_payment_updated` (boolean)\r\n\r\n    * Added property `tax_amount` (number)\r\n\r\n    * Added property `tax_amount_number` (number)\r\n\r\n    * Added property `deferred_type` (string)\r\n\r\n    * Added property `balloon_collection` (string)\r\n\r\n    * Added property `rate_type` (string)\r\n\r\n    * Added property `commission_type` (string)\r\n\r\n    * Added property `running_id` (string)\r\n\r\n    * Added property `order_currency` (string)\r\n\r\n    * Added property `commission_amount` (number)\r\n\r\n    * Added property `received_security_deposit` (integer)\r\n\r\n    * Added property `net_finance_amount` (number)\r\n\r\n    * Added property `rebate` (number)\r\n\r\n    * Added property `capitalized_cost_reduction` (number)\r\n\r\n    * Added property `monthly_deprecation` (number)\r\n\r\n    * Added property `tax_on_capitalized_cost_reduction` (number)\r\n\r\n    * Added property `monthly_sales_use_tax` (number)\r\n\r\n    * Added property `sum_of_fees` (number)\r\n\r\n    * Added property `sum_of_periodic_interest` (number)\r\n\r\n    * Added property `sum_of_rentals` (number)\r\n\r\n    * Added property `total_payables` (number)\r\n\r\n    * Added property `non_vatable_amount` (number)\r\n\r\n    * Added property `individualized_agreement` (string)\r\n\r\n    * Added property `base_residual_type` (integer)\r\n\r\n    * Added property `excess_mileage_rate` (number)\r\n\r\n    * Added property `asset_rv_amount` (number)\r\n\r\n    * Changed property `order_fnI` (array)\r\n\r\n        Changed items (object):\r\n\r\n        * Added property `mileage` (integer)\r\n\r\n        * Added property `term` (integer)\r\n\r\n        * Added property `is_msp` (boolean)\r\n\r\n    * Changed property `order_fees` (array)\r\n\r\n        Changed items (object):\r\n\r\n        * Added property `vendor` (string)\r\n\r\n        * Added property `fee_type` (string)\r\n\r\n    * Changed property `order_asset` (object)\r\n\r\n        * Added property `mileage` (integer)\r\n\r\n        * Added property `asset_type` (string)\r\n\r\n        * Added property `rv_balloon_amount` (number)\r\n\r\n        * Deleted property `milage` (boolean)\r\n\r\n    * Changed property `order_tradein` (object)\r\n\r\n        * Added property `trade_in_type` (string)\r\n            > An enumeration.\r\n\r\n\r\n        * Added property `question_answers` (array)\r\n\r\n    * Changed property `appointment_details` (object)\r\n\r\n        * Added property `time_zone` (string)\r\n\r\n### `PATCH` /dms/order/update-credit-approver-decision/{reference_number}\r\n\r\n\r\n#### Return Type:\r\n\r\nChanged response : **200 OK**\r\n> Successful Response\r\n\r\n\r\n* Changed content type : `application/json`\r\n\r\n    New optional properties:\r\n    - `allowed_usage`\r\n    - `annual_usage`\r\n    - `apr`\r\n    - `contract_term`\r\n    - `credit_rating`\r\n    - `dealer_id`\r\n    - `down_payment`\r\n    - `down_payment_lease`\r\n    - `due_at_signing`\r\n    - `estimated_monthly_payment`\r\n    - `lender_id`\r\n    - `rv_balloon_percentage`\r\n    - `rv_balloon_value`\r\n    - `selling_price`\r\n    - `vehicle_id`\r\n\r\n    * Added property `broker_id` (integer)\r\n\r\n    * Added property `company_id` (integer)\r\n\r\n    * Added property `name` (string)\r\n\r\n    * Added property `is_payment_updated` (boolean)\r\n\r\n    * Added property `tax_amount` (number)\r\n\r\n    * Added property `tax_amount_number` (number)\r\n\r\n    * Added property `deferred_type` (string)\r\n\r\n    * Added property `balloon_collection` (string)\r\n\r\n    * Added property `rate_type` (string)\r\n\r\n    * Added property `commission_type` (string)\r\n\r\n    * Added property `running_id` (string)\r\n\r\n    * Added property `order_currency` (string)\r\n\r\n    * Added property `commission_amount` (number)\r\n\r\n    * Added property `received_security_deposit` (integer)\r\n\r\n    * Added property `net_finance_amount` (number)\r\n\r\n    * Added property `rebate` (number)\r\n\r\n    * Added property `capitalized_cost_reduction` (number)\r\n\r\n    * Added property `monthly_deprecation` (number)\r\n\r\n    * Added property `tax_on_capitalized_cost_reduction` (number)\r\n\r\n    * Added property `monthly_sales_use_tax` (number)\r\n\r\n    * Added property `sum_of_fees` (number)\r\n\r\n    * Added property `sum_of_periodic_interest` (number)\r\n\r\n    * Added property `sum_of_rentals` (number)\r\n\r\n    * Added property `total_payables` (number)\r\n\r\n    * Added property `non_vatable_amount` (number)\r\n\r\n    * Added property `individualized_agreement` (string)\r\n\r\n    * Added property `base_residual_type` (integer)\r\n\r\n    * Added property `excess_mileage_rate` (number)\r\n\r\n    * Added property `asset_rv_amount` (number)\r\n\r\n    * Changed property `order_fnI` (array)\r\n\r\n        Changed items (object):\r\n\r\n        * Added property `mileage` (integer)\r\n\r\n        * Added property `term` (integer)\r\n\r\n        * Added property `is_msp` (boolean)\r\n\r\n    * Changed property `order_fees` (array)\r\n\r\n        Changed items (object):\r\n\r\n        * Added property `vendor` (string)\r\n\r\n        * Added property `fee_type` (string)\r\n\r\n    * Changed property `order_asset` (object)\r\n\r\n        * Added property `mileage` (integer)\r\n\r\n        * Added property `asset_type` (string)\r\n\r\n        * Added property `rv_balloon_amount` (number)\r\n\r\n        * Deleted property `milage` (boolean)\r\n\r\n    * Changed property `order_tradein` (object)\r\n\r\n        * Added property `trade_in_type` (string)\r\n            > An enumeration.\r\n\r\n\r\n        * Added property `question_answers` (array)\r\n\r\n    * Changed property `appointment_details` (object)\r\n\r\n        * Added property `time_zone` (string)\r\n\r\n### `PATCH` /dms/configure/quotation-to-order/{identifier}\r\n\r\n\r\n#### Request:\r\n\r\nChanged content type : `application/json`\r\n\r\nNew optional properties:\r\n- `allowed_usage`\r\n- `annual_usage`\r\n- `apr`\r\n- `contract_term`\r\n- `credit_rating`\r\n- `dealer_id`\r\n- `down_payment`\r\n- `down_payment_lease`\r\n- `due_at_signing`\r\n- `estimated_monthly_payment`\r\n- `lender_id`\r\n- `rv_balloon_percentage`\r\n- `rv_balloon_value`\r\n- `selling_price`\r\n- `vehicle_id`\r\n\r\n* Added property `broker_id` (integer)\r\n\r\n* Added property `company_id` (integer)\r\n\r\n* Added property `name` (string)\r\n\r\n* Added property `is_payment_updated` (boolean)\r\n\r\n* Added property `tax_amount` (number)\r\n\r\n* Added property `tax_amount_number` (number)\r\n\r\n* Added property `deferred_type` (string)\r\n\r\n* Added property `balloon_collection` (string)\r\n\r\n* Added property `rate_type` (string)\r\n\r\n* Added property `commission_type` (string)\r\n\r\n* Added property `running_id` (string)\r\n\r\n* Added property `order_currency` (string)\r\n\r\n* Added property `commission_amount` (number)\r\n\r\n* Added property `received_security_deposit` (integer)\r\n\r\n* Added property `net_finance_amount` (number)\r\n\r\n* Added property `rebate` (number)\r\n\r\n* Added property `capitalized_cost_reduction` (number)\r\n\r\n* Added property `monthly_deprecation` (number)\r\n\r\n* Added property `tax_on_capitalized_cost_reduction` (number)\r\n\r\n* Added property `monthly_sales_use_tax` (number)\r\n\r\n* Added property `sum_of_fees` (number)\r\n\r\n* Added property `sum_of_periodic_interest` (number)\r\n\r\n* Added property `sum_of_rentals` (number)\r\n\r\n* Added property `total_payables` (number)\r\n\r\n* Added property `non_vatable_amount` (number)\r\n\r\n* Added property `individualized_agreement` (string)\r\n\r\n* Added property `base_residual_type` (integer)\r\n\r\n* Added property `excess_mileage_rate` (number)\r\n\r\n* Added property `asset_rv_amount` (number)\r\n\r\n* Added property `changeVehicleStatus` (boolean)\r\n\r\n* Changed property `order_fnI` (array)\r\n\r\n    Changed items (object):\r\n\r\n    * Added property `mileage` (integer)\r\n\r\n    * Added property `term` (integer)\r\n\r\n    * Added property `is_msp` (boolean)\r\n\r\n* Changed property `order_fees` (array)\r\n\r\n    Changed items (object):\r\n\r\n    * Added property `vendor` (string)\r\n\r\n    * Added property `fee_type` (string)\r\n\r\n* Changed property `order_asset` (object)\r\n\r\n    * Added property `mileage` (integer)\r\n\r\n    * Added property `asset_type` (string)\r\n\r\n    * Added property `rv_balloon_amount` (number)\r\n\r\n    * Deleted property `milage` (boolean)\r\n\r\n* Changed property `order_tradein` (object)\r\n\r\n    * Added property `trade_in_type` (string)\r\n        > An enumeration.\r\n\r\n\r\n    * Added property `question_answers` (array)\r\n\r\n* Changed property `appointment_details` (object)\r\n\r\n    * Added property `time_zone` (string)\r\n\r\n#### Return Type:\r\n\r\nChanged response : **200 OK**\r\n> Successful Response\r\n\r\n\r\n* Changed content type : `application/json`\r\n\r\n    New optional properties:\r\n    - `allowed_usage`\r\n    - `annual_usage`\r\n    - `apr`\r\n    - `contract_term`\r\n    - `credit_rating`\r\n    - `dealer_id`\r\n    - `down_payment`\r\n    - `down_payment_lease`\r\n    - `due_at_signing`\r\n    - `estimated_monthly_payment`\r\n    - `lender_id`\r\n    - `rv_balloon_percentage`\r\n    - `rv_balloon_value`\r\n    - `selling_price`\r\n    - `vehicle_id`\r\n\r\n    * Added property `broker_id` (integer)\r\n\r\n    * Added property `company_id` (integer)\r\n\r\n    * Added property `name` (string)\r\n\r\n    * Added property `is_payment_updated` (boolean)\r\n\r\n    * Added property `tax_amount` (number)\r\n\r\n    * Added property `tax_amount_number` (number)\r\n\r\n    * Added property `deferred_type` (string)\r\n\r\n    * Added property `balloon_collection` (string)\r\n\r\n    * Added property `rate_type` (string)\r\n\r\n    * Added property `commission_type` (string)\r\n\r\n    * Added property `running_id` (string)\r\n\r\n    * Added property `order_currency` (string)\r\n\r\n    * Added property `commission_amount` (number)\r\n\r\n    * Added property `received_security_deposit` (integer)\r\n\r\n    * Added property `net_finance_amount` (number)\r\n\r\n    * Added property `rebate` (number)\r\n\r\n    * Added property `capitalized_cost_reduction` (number)\r\n\r\n    * Added property `monthly_deprecation` (number)\r\n\r\n    * Added property `tax_on_capitalized_cost_reduction` (number)\r\n\r\n    * Added property `monthly_sales_use_tax` (number)\r\n\r\n    * Added property `sum_of_fees` (number)\r\n\r\n    * Added property `sum_of_periodic_interest` (number)\r\n\r\n    * Added property `sum_of_rentals` (number)\r\n\r\n    * Added property `total_payables` (number)\r\n\r\n    * Added property `non_vatable_amount` (number)\r\n\r\n    * Added property `individualized_agreement` (string)\r\n\r\n    * Added property `base_residual_type` (integer)\r\n\r\n    * Added property `excess_mileage_rate` (number)\r\n\r\n    * Added property `asset_rv_amount` (number)\r\n\r\n    * Added property `changeVehicleStatus` (boolean)\r\n\r\n    * Changed property `order_fnI` (array)\r\n\r\n        Changed items (object):\r\n\r\n        * Added property `mileage` (integer)\r\n\r\n        * Added property `term` (integer)\r\n\r\n        * Added property `is_msp` (boolean)\r\n\r\n    * Changed property `order_fees` (array)\r\n\r\n        Changed items (object):\r\n\r\n        * Added property `vendor` (string)\r\n\r\n        * Added property `fee_type` (string)\r\n\r\n    * Changed property `order_asset` (object)\r\n\r\n        * Added property `mileage` (integer)\r\n\r\n        * Added property `asset_type` (string)\r\n\r\n        * Added property `rv_balloon_amount` (number)\r\n\r\n        * Deleted property `milage` (boolean)\r\n\r\n    * Changed property `order_tradein` (object)\r\n\r\n        * Added property `trade_in_type` (string)\r\n            > An enumeration.\r\n\r\n\r\n        * Added property `question_answers` (array)\r\n\r\n    * Changed property `appointment_details` (object)\r\n\r\n        * Added property `time_zone` (string)\r\n\r\n### `GET` /dms/contract\r\n\r\n\r\n#### Return Type:\r\n\r\nChanged response : **200 OK**\r\n> Successful Response\r\n\r\n\r\n* Changed content type : `application/json`\r\n\r\n    * Changed property `customer` (object)\r\n\r\n        * Added property `preferred_contact` (string)\r\n\r\n        * Added property `external_id` (string)\r\n\r\n### `POST` /dms/contract\r\n\r\n\r\n#### Return Type:\r\n\r\nChanged response : **201 Created**\r\n> Successful Response\r\n\r\n\r\n* Changed content type : `application/json`\r\n\r\n    * Changed property `customer` (object)\r\n\r\n        * Added property `preferred_contact` (string)\r\n\r\n        * Added property `external_id` (string)\r\n\r\n### `PATCH` /dms/contract\r\n\r\n\r\n#### Return Type:\r\n\r\nChanged response : **200 OK**\r\n> Successful Response\r\n\r\n\r\n* Changed content type : `application/json`\r\n\r\n    * Changed property `customer` (object)\r\n\r\n        * Added property `preferred_contact` (string)\r\n\r\n        * Added property `external_id` (string)\r\n\r\n### `GET` /dms/order/order_information_for_submitted_order\r\n\r\n\r\n#### Return Type:\r\n\r\nChanged response : **200 OK**\r\n> Successful Response\r\n\r\n\r\n* Changed content type : `application/json`\r\n\r\n    * Changed property `result` (array)\r\n\r\n        Changed items (object):\r\n\r\n        * Changed property `order_info` (object)\r\n\r\n            New optional properties:\r\n            - `allowed_usage`\r\n            - `annual_usage`\r\n            - `apr`\r\n            - `contract_term`\r\n            - `credit_rating`\r\n            - `customer_id`\r\n            - `dealer_id`\r\n            - `down_payment`\r\n            - `down_payment_lease`\r\n            - `due_at_signing`\r\n            - `estimated_monthly_payment`\r\n            - `lender_id`\r\n            - `rv_balloon_percentage`\r\n            - `rv_balloon_value`\r\n            - `selling_price`\r\n            - `vehicle_id`\r\n\r\n            * Added property `broker_id` (integer)\r\n\r\n            * Added property `company_id` (integer)\r\n\r\n            * Added property `name` (string)\r\n\r\n            * Added property `is_payment_updated` (boolean)\r\n\r\n            * Added property `tax_amount` (number)\r\n\r\n            * Added property `tax_amount_number` (number)\r\n\r\n            * Added property `deferred_type` (string)\r\n\r\n            * Added property `balloon_collection` (string)\r\n\r\n            * Added property `rate_type` (string)\r\n\r\n            * Added property `commission_type` (string)\r\n\r\n            * Added property `running_id` (string)\r\n\r\n            * Added property `order_currency` (string)\r\n\r\n            * Added property `commission_amount` (number)\r\n\r\n            * Added property `received_security_deposit` (integer)\r\n\r\n            * Added property `net_finance_amount` (number)\r\n\r\n            * Added property `rebate` (number)\r\n\r\n            * Added property `capitalized_cost_reduction` (number)\r\n\r\n            * Added property `monthly_deprecation` (number)\r\n\r\n            * Added property `tax_on_capitalized_cost_reduction` (number)\r\n\r\n            * Added property `monthly_sales_use_tax` (number)\r\n\r\n            * Added property `sum_of_fees` (number)\r\n\r\n            * Added property `sum_of_periodic_interest` (number)\r\n\r\n            * Added property `sum_of_rentals` (number)\r\n\r\n            * Added property `total_payables` (number)\r\n\r\n            * Added property `non_vatable_amount` (number)\r\n\r\n            * Added property `individualized_agreement` (string)\r\n\r\n            * Added property `base_residual_type` (integer)\r\n\r\n            * Added property `excess_mileage_rate` (number)\r\n\r\n            * Added property `asset_rv_amount` (number)\r\n\r\n            * Changed property `order_fnI` (array)\r\n\r\n                Changed items (object):\r\n\r\n                * Added property `mileage` (integer)\r\n\r\n                * Added property `term` (integer)\r\n\r\n                * Added property `is_msp` (boolean)\r\n\r\n            * Changed property `order_fees` (array)\r\n\r\n                Changed items (object):\r\n\r\n                * Added property `vendor` (string)\r\n\r\n                * Added property `fee_type` (string)\r\n\r\n            * Changed property `order_asset` (object)\r\n\r\n                * Added property `mileage` (integer)\r\n\r\n                * Added property `asset_type` (string)\r\n\r\n                * Added property `rv_balloon_amount` (number)\r\n\r\n                * Deleted property `milage` (boolean)\r\n\r\n            * Changed property `order_tradein` (object)\r\n\r\n                * Added property `trade_in_type` (string)\r\n                    > An enumeration.\r\n\r\n\r\n                * Added property `question_answers` (array)\r\n\r\n            * Changed property `appointment_details` (object)\r\n\r\n                * Added property `time_zone` (string)\r\n\r\n        * Changed property `customer_info` (object)\r\n\r\n            * Added property `preferred_contact` (string)\r\n\r\n            * Added property `external_id` (string)\r\n\r\n### `POST` /dms/credit-request\r\n\r\n\r\n#### Request:\r\n\r\nChanged content type : `application/json`\r\n\r\nNew required properties:\r\n- `lender_ids`\r\n\r\n* Added property `lender_ids` (array)\r\n    > list of lender ids the order will be submitted to\r\n\r\n\r\n    Items (integer):\r\n\r\n* Changed property `result` (array)\r\n\r\n    Changed items (object):\r\n\r\n    * Changed property `order_info` (object)\r\n\r\n        New optional properties:\r\n        - `allowed_usage`\r\n        - `annual_usage`\r\n        - `apr`\r\n        - `contract_term`\r\n        - `credit_rating`\r\n        - `customer_id`\r\n        - `dealer_id`\r\n        - `down_payment`\r\n        - `down_payment_lease`\r\n        - `due_at_signing`\r\n        - `estimated_monthly_payment`\r\n        - `lender_id`\r\n        - `rv_balloon_percentage`\r\n        - `rv_balloon_value`\r\n        - `selling_price`\r\n        - `vehicle_id`\r\n\r\n        * Added property `broker_id` (integer)\r\n\r\n        * Added property `company_id` (integer)\r\n\r\n        * Added property `name` (string)\r\n\r\n        * Added property `is_payment_updated` (boolean)\r\n\r\n        * Added property `tax_amount` (number)\r\n\r\n        * Added property `tax_amount_number` (number)\r\n\r\n        * Added property `deferred_type` (string)\r\n\r\n        * Added property `balloon_collection` (string)\r\n\r\n        * Added property `rate_type` (string)\r\n\r\n        * Added property `commission_type` (string)\r\n\r\n        * Added property `running_id` (string)\r\n\r\n        * Added property `order_currency` (string)\r\n\r\n        * Added property `commission_amount` (number)\r\n\r\n        * Added property `received_security_deposit` (integer)\r\n\r\n        * Added property `net_finance_amount` (number)\r\n\r\n        * Added property `rebate` (number)\r\n\r\n        * Added property `capitalized_cost_reduction` (number)\r\n\r\n        * Added property `monthly_deprecation` (number)\r\n\r\n        * Added property `tax_on_capitalized_cost_reduction` (number)\r\n\r\n        * Added property `monthly_sales_use_tax` (number)\r\n\r\n        * Added property `sum_of_fees` (number)\r\n\r\n        * Added property `sum_of_periodic_interest` (number)\r\n\r\n        * Added property `sum_of_rentals` (number)\r\n\r\n        * Added property `total_payables` (number)\r\n\r\n        * Added property `non_vatable_amount` (number)\r\n\r\n        * Added property `individualized_agreement` (string)\r\n\r\n        * Added property `base_residual_type` (integer)\r\n\r\n        * Added property `excess_mileage_rate` (number)\r\n\r\n        * Added property `asset_rv_amount` (number)\r\n\r\n        * Changed property `order_fnI` (array)\r\n\r\n            Changed items (object):\r\n\r\n            * Added property `mileage` (integer)\r\n\r\n            * Added property `term` (integer)\r\n\r\n            * Added property `is_msp` (boolean)\r\n\r\n        * Changed property `order_fees` (array)\r\n\r\n            Changed items (object):\r\n\r\n            * Added property `vendor` (string)\r\n\r\n            * Added property `fee_type` (string)\r\n\r\n        * Changed property `order_asset` (object)\r\n\r\n            * Added property `mileage` (integer)\r\n\r\n            * Added property `asset_type` (string)\r\n\r\n            * Added property `rv_balloon_amount` (number)\r\n\r\n            * Deleted property `milage` (boolean)\r\n\r\n        * Changed property `order_tradein` (object)\r\n\r\n            * Added property `trade_in_type` (string)\r\n                > An enumeration.\r\n\r\n\r\n            * Added property `question_answers` (array)\r\n\r\n        * Changed property `appointment_details` (object)\r\n\r\n            * Added property `time_zone` (string)\r\n\r\n    * Changed property `customer_info` (object)\r\n\r\n        * Added property `preferred_contact` (string)\r\n\r\n        * Added property `external_id` (string)\r\n\r\n### `GET` /dms/contract/all\r\n\r\n\r\n#### Return Type:\r\n\r\nChanged response : **200 OK**\r\n> Successful Response\r\n\r\n\r\n* Changed content type : `application/json`\r\n\r\n    * Changed property `result` (array)\r\n\r\n        Changed items (object):\r\n\r\n        * Changed property `customer` (object)\r\n\r\n            * Added property `preferred_contact` (string)\r\n\r\n            * Added property `external_id` (string)\r\n\r\n# API Docs Version 1.3.42\r\n --- \r\n\r\n## What's New\r\n\r\n\r\n### `GET` /dms/get-reference-data/{dealer_code}\r\n\r\n> Get Reference Data By Dealer Code\r\n\r\n\r\n### `GET` /dms/get-inventory\r\n\r\n> Get Filtered Inventory\r\n\r\n\r\n### `GET` /dms/get-setup-data\r\n\r\n> Setup Data\r\n\r\n\r\n### `GET` /dms/an-order-statuses\r\n\r\n> Get AN Order Statuses\r\n\r\n\r\n### `PATCH` /dms/customer/documents/{customer_reference_id}\r\n\r\n> Update customer document by identifier\r\n\r\n\r\n### `GET` /dms/configure/all-document-packages-by-reference-id\r\n\r\n> Get document package by reference_id\r\n\r\n\r\n### `POST` /dms/submit-order\r\n\r\n> Mock Credit Approver API & Fraud Check\r\n\r\n\r\n### `POST` /dms/affordability-check/\r\n\r\n> Affordability Check\r\n\r\n\r\n### `POST` /dms/affordability-check/monthly-payment-calculation/V2/\r\n\r\n> Monthly Payment Calculation V2\r\n\r\n\r\n### `GET` /dms/currencies\r\n\r\n> Get All Currencies\r\n\r\n\r\n### `GET` /dms/lender/by-tenant-id/{tenant_id}\r\n\r\n> Find Lender By Tenant Id\r\n\r\n\r\n### `GET` /dms/dealer/find/by-tenant\r\n\r\n> Get Dealer By Tenant Id\r\n\r\n\r\n### `GET` /dms/inventory/reference-data-by-dealer-code/{dealer_code}\r\n\r\n> Get Inventory Reference Data\r\n\r\n\r\n### `GET` /dms/inventory/filter\r\n\r\n> Get Inventory Data\r\n\r\n\r\n### `GET` /dms/state\r\n\r\n> Get All States\r\n\r\n\r\n### `GET` /dms/contract-term\r\n\r\n> Get All Contract Terms\r\n\r\n\r\n### `GET` /dms/credit-ratings\r\n\r\n> Get All Credit Rating\r\n\r\n\r\n### `GET` /dms/integration/lender\r\n\r\n> Get All Lender Integration\r\n\r\n\r\n### `GET` /dms/dealer/preference-by-dealer-code/{dealer_code}\r\n\r\n> Get Dealer Preference By Dealer Code\r\n\r\n\r\n### `GET` /dms/integration/by_provider_name/{provider_name}\r\n\r\n> Get Integration By Provider Name\r\n\r\n\r\n### `GET` /dms/vehicle-detail/{vin}\r\n\r\n> Get Vehicle Detail By Vin\r\n\r\n\r\n### `GET` /dms/countries\r\n\r\n> Get All Countries\r\n\r\n\r\n### `GET` /dms/dealer/profile/{dealer_code}\r\n\r\n> Get Dealer Profile By Dealer Code\r\n\r\n\r\n### `GET` /dms/vehicle/{vin}\r\n\r\n> Get Vehicle By Vin\r\n\r\n\r\n### `GET` /dms/contract-allowed-annum-mileage\r\n\r\n> Get All Contract Allowed Mileages\r\n\r\n\r\n### `GET` /dms/dealer/fee/dealer-code/{dealer_code}\r\n\r\n> Get All Dealer Fee By Code\r\n\r\n\r\n### `GET` /dms/asset-usage/active\r\n\r\n> Get Active Asset Usages\r\n\r\n\r\n### `GET` /dms/vehicle\r\n\r\n> Get All Vehicles\r\n\r\n\r\n### `GET` /dms/financial-insurances/filter\r\n\r\n> Get Financial Insurance Product By Filter\r\n\r\n\r\n### `GET` /dms/dealer/option-trim-code\r\n\r\n> Get All Dealer Options By Trim Code\r\n\r\n\r\n### `POST` /dms/programs/all/\r\n\r\n> Get All Evaluated Programs\r\n\r\n\r\n### `POST` /dms/get_event_associated_checklist/\r\n\r\n> This API helps to evaluate given criteria and retrive configured checklist(s)\r\n\r\n\r\n### `GET` /dms/dealer/all-dealer-distance\r\n\r\n> Get All Dealer Distance\r\n\r\n\r\n### `PO
[...]
